[2016-01-14 05:45] tracernz commented on #438
I guess Jenkins doesn't have a name and email set in it's git config.

[2016-01-14 05:50] tracernz commented on #438
[code]

[2016-01-14 05:53] mlyle commented on #354
https://github.com/d-ronin/dRonin/wiki/Release-process

[2016-01-14 05:53] #354 closed

[2016-01-14 06:28] mlyle commented on #438
Updated Jenkins email.  Need to see if the build in #439 fixes this.

[2016-01-14 09:29] #437 closed

[2016-01-14 09:54] tracernz commented on #438
Fixed.

[2016-01-14 09:54] #438 closed

[2016-01-14 10:01] tracernz commented on #308
We should rename this page to OnlineHelp: ESC Refresh Rate or similar before our first release, doing it after will break old release help links. I removed the OP link and added a link to our Oneshot125 page for now. https://github.com/d-ronin/dRonin/wiki/OnlineHelp:-TurboPWM-ESC's

[2016-01-14 19:05] mlyle opened #443 "Nav: Home pos / alt should be set at arming, not powerup"

[2016-01-14 19:40] pug398 commented on #443
This would definitely be a good thing.

[2016-01-15 00:20] #205 closed

[2016-01-15 00:21] mlyle commented on #154
Ack.  Duplicated, closing in favor of #443

[2016-01-15 00:21] #154 closed

[2016-01-15 00:24] mlyle commented on #116
Done :)

[2016-01-15 00:24] #116 closed

[2016-01-15 00:28] #44 closed

[2016-01-15 00:29] tracernz commented on #205
The website looks great now. Thanks to all involved! :-D

[2016-01-15 00:38] #344 closed

[2016-01-15 00:39] #5 closed

[2016-01-15 00:41] dustin commented on #443
Are these one thing?

[2016-01-15 00:48] mlyle commented on #443
Basically they should be, yes.  Home pos is slightly harder than altitude but IMO we should solve both at once.

#65 is also closely related

[2016-01-15 00:58] mlyle commented on #299
Have not even seen this for awhile-- and never on Jenkins-- so maybe new packaging squashes it.

[2016-01-15 00:58] #299 closed

[2016-01-15 05:26] #427 closed

[2016-01-15 05:28] mlyle commented on #217
I'm happy enough with how things work, given that Jenkins integration is robust and works across all plats.

[2016-01-15 05:28] #217 closed

[2016-01-15 05:35] mlyle commented on #316
Relates to #207

[2016-01-15 05:50] tracernz opened #447 "GCS:Config: Rework arming settings tab"
Try to make it more intuitive and self-explanatory rather than requiring large amounts of text.

Relates to feedback in #446.

[2016-01-15 11:05] tracernz opened #448 "CC3D: Add ADC support"
Since we dropped the original CopterControl we can now support ADCs for the Battery module using the same lightweight ADC driver as the Naze32. There are at least a couple of suitable pins IIRC.

[2016-01-15 12:43] henn1001 opened #450 "Logging: Add logging to OpenLog for other targets"
I think @jihlein already added that option to the AQ32 and Quanton target in #16
Would be cool if this is added for other targets as well :)

I will have a look at this later.

- [x] AQ32
- [x] Brain
- [x] Colibri
- [ ] Discoveryf4
- [x] Flyingf3
- [x] Lux
- [x] Quatnon
- [x] Revolution
- [x] Sparky
- [x] Sparky2

[2016-01-15 13:03] jihlein commented on #450
If the targets are on PIOS_HAL, should just be a matter of adding OpenLog to HwXXXX.xml.  PRs are submitted to upgrade the remaining non PIOS_HAL targets FWIW.

[2016-01-15 14:35] tracernz opened #451 "GCS: Make wiring diagrams available on Hardware tab"
Should probably just be a button that launches a dialog in the same way the setup wizard currently does it. The code should be shared with the setup wizard wiring diagram.

Additionally, we could expand to include stuff the setup wizard doesn't do, like ADCs.

[2016-01-15 19:31] mlyle opened #452 "GCS: Safety: Vehicle setup wizard + test outputs"
Report from @dustin that he ran vehicle setup wizard while the test outputs box was left checked, and the motors spun up at the completion of the vehicle setup wizard.

Relates to #436, but we'd be looking for a more minimal fix here, I think.

[2016-01-15 19:33] dustin commented on #452
I'm not entirely sure how I ended up in that situation, but that's plausible.

I did manually run the motor testing before wizard, and found idle points and stuff.

I did run the wizard after that.  Once it got to the prompt for the radio wizard, the motors were all spinning.

I looked around in the system viewer and saw that it actually did have them all set to idle.  I then saw the test outputs

[2016-01-15 23:20] mlyle opened #454 "GCS: failed to launch on OSX?"
@fujin hit this in the field.  Can't be repro'd by @tgreer or @mlyle or @dustin .

Running el capitan, he gets a message like:

<img width="423" alt="screen shot 2016-01-16 at 12 09 14 pm" src="https://cloud.githubusercontent.com/assets/90903/12367927/3c42bdb2-bb9b-11e5-97a7-2602ee55f65b.png">

[code]

[2016-01-15 23:23] dustin commented on #454
I saw he was on 10.11.1.  I'm on 10.11.2.  I did xattr -c mine before I
ran, but I don't think @tgreer did.

On Fri, Jan 15, 2016 at 3:20 PM Michael Lyle <notifications@github.com>
wrote:

[2016-01-15 23:26] tgreer commented on #454
10.11.2 here. Didn't do xattr.

On 15 January 2016 at 23:23, Dustin Sallings <notifications@github.com>
wrote:

[2016-01-15 23:27] tracernz commented on #454
https://forums.plex.tv/discussion/186980/plex-media-server-will-damage-your-computer-you-should-move-it-to-the-trash

[2016-01-15 23:34] mlyle commented on #454
10.10.5 here, works fine.

[2016-01-15 23:38] tracernz commented on #454
10.11.2 fine. I think most likely scenario is that the DMG got corrupted.

[2016-01-15 23:39] dustin commented on #454
We verified the dmg sha1 and sha256

On Fri, Jan 15, 2016 at 3:38 PM Michael Corcoran <notifications@github.com>
wrote:

[2016-01-16 00:10] mlyle commented on #454
I wonder if there's a corrupt install of QT on the machine or something.

It would be helpful to get the results of running it from the command line with `export DYLD_PRINT_LIBRARIES=1`

[2016-01-16 11:00] legospacy opened #455 "AQ32 serial ports don't have MSP option"
I'm not familiar with this codebase, but I tried basically copying what #34 did, except for aq32 and just for Uart3, and it appears to work (not flight-tested though). Since the ports vary in what items they have, I'm not sure which ports it should be available on.

[2016-01-16 11:52] tracernz commented on #455
Yep, following #34 should be fine. MSP doesn't requiring inversion or anything special so any serial port is capable. A PR would be more than welcome when you're ready. :+1: We can review, test, and offer feedback on the PR. :smile:

[2016-01-16 11:58] tracernz commented on #368
I should probably do this and #219 in #442.

[2016-01-16 12:22] legospacy commented on #455
Awesome! I'll get on that.

[2016-01-16 15:57] droidicus commented on #368
I am fine with @tracernz doing this since he is already in these files.

[2016-01-17 00:25] mlyle commented on #455
Fixed by #456--- thanks again!

[2016-01-17 00:25] #455 closed

[2016-01-17 07:00] fujin opened #459 "X4R-SB latest OEM firmware is doing something funky with HPWM RSSI"
@tracernz @mluessi have been in discussions. I am able to reproduce on brand new x4r-sb on Shrike. (always shows zero)

[2016-01-17 07:01] mlyle commented on #459
Sticking in Renatus --- just for near term visibility

[2016-01-17 07:02] fujin commented on #459
thanks, @mlyle

[2016-01-17 13:34] tracernz opened #460 "Flight: Standardise and document hardware panic codes"
They are currently different per target which is just a mess.

[2016-01-17 18:18] droidicus opened #461 "GCS flash log download interrupted"
Frequently when downloading a flash log from my Sparky2 on Windows 10, the GCS will not complete the download, and it will become stuck with a half downloaded log. The Status still says "Downloading", and not "Download Complete". Restarting the GCS and the FC will let me attempt to re-download, at which point it may or may not succeed, potentially failing at a different point than the previous tim

[2016-01-17 18:37] droidicus opened #462 "GCS no longer displaying the file dialog box"
After using the GCS for a while (5-10 minutes usually), the GCS will no longer open a file dialog box when it is needed (log file save, UAVO import/export, firmware file selection, etc). Closing and restarting the GCS fixes the issue. On Windows 10, this happens frequently, but seemingly randomly.

[2016-01-17 18:58] mlyle commented on #462
Is this a duplicate of #236?

[2016-01-17 21:02] droidicus commented on #462
I don't believe so, I am not seeing a window in front or behind.

[2016-01-17 23:19] mlyle commented on #462
So you've moved the window around and looked for it and can't find it?

[2016-01-18 00:13] droidicus commented on #462
90% sure at least.

[2016-01-18 02:06] #452 closed

[2016-01-18 02:11] mlyle commented on #308
Renaming and deferring based on a lot of stuff done already.

[2016-01-18 02:12] droidicus commented on #462
Reproduced, no window is shown above or below. None on taskbar, nor shown in an alt-tab.

[2016-01-18 02:18] tracernz commented on #462
Can't repro on Lunix. The file dialogs do start opening underneath the main window after a while though, may be related.

[2016-01-18 02:37] mlyle opened #466 "Calculate outer loop kI for autotune"
Suggest something conservative like outer kI = outer kP / (2 * pi * tau * 13.333) .  introduces a zero at the inner loop bandwidth / 13.333.

[2016-01-18 04:04] droidicus commented on #462
Not to muddy the waters, but another possibly related issue... Sometimes I can successfully get to the dialog box, but it will not let me open or save a file. I can click the open/save button, highlight the filename and hit enter, etc. No dice.

[2016-01-18 07:19] mlyle commented on #454
@fujin a run with the above would be really appreciated as this is stop-ship if not unique to your system..

[2016-01-18 08:08] mlyle commented on #466
So, early flight testing has revealed a couple of issues:

1) ILimit is too low for aggressive quads with increased MaximumRate
2) Attitude errors during takeoff can cause some degree of wonkiness.

But in the air this is kinda awesome.

[2016-01-18 14:55] mluessi opened #470 "Add opt-in for usage statistic and sharing of private data"
The GCS currently silently publishes usage statistics, including private information like the IP address and flight controller serial number. IMO, this is not acceptable and we should require users to opt-in. The easiest solution would be to add a pop-up dialog asking users for permission with check boxes defaulting to true.

[2016-01-18 15:32] AlessioMorale commented on #443
In LP we used a different set of coordinates, called TakeOffLocation. The rationale being that homelocation is used as origin point the local coordinate system used by wp etc, so it is advisable to not change it on the fly.
TakeoffLocation is handled here: https://github.com/librepilot/LibrePilot/blob/next/flight/modules/ManualControl/takeofflocationhandler.c
It supports preset (saved) takeoffloca

[2016-01-18 17:54] dustin commented on #470
Mangling serial numbers is useful.  It's not possible to not share IP addresses, though.

[2016-01-18 17:58] mluessi commented on #470
Yeah, if you submit something to a server, you are sharing the IP anyways. The important thing is to ask user for permission.

[2016-01-18 19:21] mluessi commented on #470
I just noticed that the settings are also not saved, i.e., restarting the GCS enables sharing again if it was disabled.

[2016-01-18 19:59] mlyle commented on #443
This is good feedback.  Probably it should be configurable, because sometimes what's desired is nav relative to the takeoff position, and sometimes not.

[2016-01-18 21:12] mlyle opened #471 "Request for comment: change code pattern"
Very frequently with UAVOs, we do something like:

StabilizationDesiredGet(&stabDesired);
stabDesired.Throttle=...
stabDesired.Whatever=...
StabilizationDesiredSet(&stabDesired);

I think if we intend to set all fields, we should default or bracket initialize things instead of the initial get.  This way we're not tainted by past states, we don't contend the giant uavo lock, and we don't copy data

[2016-01-18 21:22] droidicus opened #472 "Corrupt flash log files"
Occasionally I will get a log file from the the flash download that is not parsable from the Matlab LogConvert.m script. The problem always occurs at the end of the file. Attached is a log that is demonstrating this issue. Attached is a zip containing a log file, and the matlab script that demonstrates this.

[autotuneLogsCorrupt.zip](https://github.com/d-ronin/dRonin/files/95006/autotuneLogsCorru

[2016-01-19 01:36] fujin commented on #454
[code]

@mlyle

[2016-01-19 02:09] tracernz commented on #454
Mine (on 10.11.2 as well): https://gist.github.com/tracernz/1f6a74489888210b15b9

[2016-01-19 02:16] tracernz commented on #454
Michaels-MacBook-Pro:~ mike$ otool -L /Applications/dRonin\ GCS.app/Contents/Plugins/platforms/libqcocoa.dylib > ~/Desktop/otool.txt
[code]

[2016-01-19 05:03] fujin commented on #454
reinstalled laptop. works ok now. /shrug

[2016-01-19 05:03] #454 closed

[2016-01-19 05:06] droidicus commented on #471
One issue I could see here is if new variables get added to the UAVO, then that code block would no longer be setting all fields, and some data could be lost. Could be nasty to track down too.

[2016-01-19 05:09] mlyle commented on #471
UAVOs are supposed to have one producer and one consumer at all times, and flight code isn't supposed to set settings objects in general (the big exception being the systemident object).

This would be for things like stabilizationdesired, etc.  Far better things go to defaults than something some other module that was driving the UAVO before set.

[2016-01-19 05:21] tracernz commented on #471
We could turn on GCC warnings to tell us about uninitialized fields.

[2016-01-19 21:16] #470 closed

[2016-01-19 22:12] mlyle opened #476 "Crashreporter doesn't work on OSX currently"
[code]

[2016-01-19 22:14] mlyle commented on #476
[code]

vs.

[code]

(AKA looks sane).

[2016-01-20 02:35] mluessi commented on #471
Another option could be to have the UAVO generator create set functions that just set all fields of the UAVO struct. The functions would be inlined (so be efficient) and force the programmer to set all fields.

[2016-01-20 02:39] droidicus commented on #471
@mluessi I was thinking about something like that as well, +1 from me

[2016-01-20 04:36] mlyle opened #477 "Build/release: Jenkins should be able to push up artifacts to a tag"
Avoiding me having to download them and upload them again.

[2016-01-20 05:25] tracernz opened #478 "PIOS: Move doxygen docs for public functions to headers"
It makes no sense to have them in the c files since nobody should be looking there (assuming the documentation is good).

[2016-01-20 05:26] tracernz opened #479 "PIOS: Move private stuff into private headers and public stuff into public headers"
Currently we have nearly the opposite in some cases and it doesn't make sense. Private headers should only ever be included by the implementation itself.

[2016-01-20 06:15] tracernz opened #480 "GCS:Uploader: Doesn't find firmware directory"

[2016-01-20 06:15] mlyle commented on #480
Dup #283

[2016-01-20 06:16] #480 closed, assigned to nobody

[2016-01-20 06:19] tracernz opened #481 "Linux: Deb package is missing firmware"
This dir is empty: https://github.com/d-ronin/dRonin/blob/next/package/linux/deb/_package.dirs#L5

[2016-01-20 15:33] pug398 commented on #459
@fujin On X4R you are taking rssi off the pad right below antenna?

[2016-01-20 18:54] fujin commented on #459
@pug398 sure are

[2016-01-20 19:44] pug398 commented on #459
I am getting nothing but a high level signal off that pad at the moment no pwm. I will try another X4R to see if I get same. It may be because I am also routing rssi through sbus. I wanted to put a lpf on the pwm rssi out to see if it looked suitable for ADC input.

[2016-01-20 20:24] dustin opened #482 "Fix VirtualBar documentation"
This is a mostly-heli feature, but the docs imply it has benefits for multirotors.  We should be clear about what this is and where you should use it.

[2016-01-21 02:07] #14 closed

[2016-01-21 02:07] #369 closed

[2016-01-21 02:09] #406 closed

[2016-01-21 04:16] tracernz opened #487 "Deprecate *SUM, move to SRXL"
Does anybody/would anybody use a driver? I wrote one last night but I'm not sure if anybody would use it. It needs a little cleanup and then I can submit a PR if it's wanted.

[2016-01-21 04:22] tracernz commented on #487
Supported by JR, Jeti, Multiplex, and possibly some other radios. I have tested framerates between 5 ms and 30 ms.

[2016-01-21 06:55] tracernz commented on #487
The diff: https://github.com/d-ronin/dRonin/compare/next...tracernz:srxl?expand=1

[2016-01-21 07:22] mlyle commented on #487
How much code size does it use?

[2016-01-21 07:27] tracernz commented on #487
next:

[code]

srxl:

[code]

624 bytes extra in .text. Leaves just under 3k free on sparky. My new MPU driver should free up a bit.

[2016-01-21 07:37] mlyle commented on #487
Fine with me, let's leave it off F1 and bring it elsewhere.

[2016-01-21 07:39] tracernz commented on #460
Should probably use [PIOS_HAL_Panic](https://github.com/d-ronin/dRonin/blob/next/flight/PiOS/inc/pios_hal.h#L43) for this and re-work it to

[code]

[2016-01-21 08:00] mlyle opened #488 "in-flight mag calibration"
Get the scales right, ignore biases from currents, etc.  Fit to a sphere while flying.

At first offline (requiring a commit) but ultimately while-nav-runs.

[2016-01-21 09:43] m-thread commented on #487
This looks good. I already did this in OP/LP quite some time ago. Could we not try to collaborate around this instead of inventing the wheel over and over again?

[2016-01-21 10:04] tracernz commented on #487
Yes we should. In this case I wrote the driver in a couple of hours for my own benefit, I wasn't even planning to do a PR. ;-) On that note, we should discuss the Jeti driver. :-D Are you on IRC at all?

[2016-01-21 10:09] tracernz commented on #487
Unfortunately I can't figure out how to see your PRs to see what's going on at LP. I'm too used to Github being so easy. :-P

[2016-01-21 19:58] dustin opened #493 "Add installation uuid"
We get usage data, but can't clearly correlate two sessions other than by heuristics.  Ideally we can uniquely identify when things are happening within a single install.

E.g., I can only count platforms by board (which is accurate if they only ever use one, and absent if they don't get a flight controller working).

[2016-01-22 01:27] pug398 commented on #459
The older X4RSB is outputting pwm rssi off the pad with same setting so I am 50/50 whether it is a change in newer OEM firmware. Need to check if newer one has been flashed with CPPM bind option.

[2016-01-22 16:14] raemin commented on #482
Just updated the wiki with the appropriate caveats.

This mode has its own PIDs and default values are way to agressive. The way I see it: duplicating the standard PIDs to vBar PID and delaying gyro deactivation makes this flightmode "kind of safe" to use. This is what I've written in the wiki with some basic instructions.

Documentation issue can be considered as solved.
This being said, is there

[2016-01-22 17:04] ekaszubski opened #495 "Push "Manual" flight mode into stabilization modes"
Manual flight mode is dangerous for most VTOL aircraft. In the cases where manual control is desirable (flybar helicopters, some fixed-wing aircraft, and many ground vehicles), it's often only desirable on a single stabilization axis (e.g. yaw on flybar helicopters equipped with a gyro).

Thus, we should:
- Remove manual flight mode completely?
- Add per-axis manual stabilization mode to allow for

[2016-01-22 17:25] tgreer commented on #495
I think this is a good idea. Manual is a terrible terrible thing, unless you REALLY know what you're doing.

[2016-01-22 18:24] mlyle commented on #495
I don't think it should be removed entirely.  There's existing fixed-wing setups that this breaks.  We already prohibit it entirely on multirotor.

[2016-01-22 18:27] ekaszubski commented on #495
@mlyle I went through all the references to manual flight mode; selecting any stabilized1/2/3 flight mode and setting all the stabilization axes to "manual" should result in identical functionality as selecting manual flight mode.

[2016-01-22 18:42] mlyle commented on #495
Sure.  But it breaks existing configurations.  By the same logic we could remove most of the flight modes because you can get equivalent behavior by using the stabilization banks.  But that confuses manypeople and in any event breaks people who have existing configuration.

[2016-01-22 18:58] ekaszubski commented on #495
IMO having a redundant flight mode that can also be specified per-axis via stabilization modes is more confusing (similar confusion led to a crash for me and I've been using the GCS for a while). If we keep the redundant flight modes, I think any unused stabilization banks should be hidden or grayed-out in the GCS.

As for breaking existing configurations, a minority of users will be affected. How

[2016-01-22 20:50] pug398 commented on #495
I would ask is there a supported vehicle type that uses "manual" as a primary flight mode or does just about everyone (for that vehicle type) have to go in to stabilize and set custom modes per axis?

[2016-01-22 20:59] tracernz commented on #495
The only vehicle type that doesn't use manual is multirotor so it might be wise to keep it around.

[2016-01-22 21:28] DTFUHF commented on #495
I'd say manual mode is required for airplanes, I'd never want to fly an
airplane with an autopilot that didn't have a manual mode I could switch to.
On Jan 22, 2016 12:59 PM, "Michael Corcoran" notifications@github.com
wrote:

[2016-01-22 22:08] ekaszubski commented on #495
To clarify, I'm not suggesting we remove full-manual functionality, I'm just saying we should push that functionality into stabilized1/2/3 banks (so make it a stabilization mode instead of a flight mode) so that it can be enabled on individual (or all) stabilization axes. Then you can just set stabilized3 to manual/manual/manual for roll/pitch/yaw and you get the same functionality as selecting ma

[2016-01-22 22:32] mlyle commented on #495
IMO it should just be like the other ones-- using 'manual' pushes each of the 3 axes into manual modes.

[2016-01-23 01:20] ekaszubski opened #501 "gcs: Add warning for cpheli when using manual mode"
Full manual flight mode for cpheli can be a valuable bench-testing tool but is almost always an invalid mode for flight.

GCS should present some kind of alarm/warning under the following conditions:
- vehicle type: cpheli
- any flight mode slot: manual

[2016-01-23 01:58] tracernz opened #502 "Lux: Check UART IRQ configs"
Appear to be mixed up: https://github.com/d-ronin/dRonin/blob/next/flight/targets/lux/board-info/board_hw_defs.c#L308

[2016-01-23 04:09] tracernz commented on #448
The ESD filters do something odd skewing the ADC measurements, this is not going to happen. :-(

[2016-01-23 04:09] #448 closed

[2016-01-23 15:21] mluessi opened #508 "Inverting throttle channel freezes radio wizard"
[Reported on FPVLAB by traxx2003](http://fpvlab.com/forums/showthread.php?30000-Brain-FPV-Flight-Controller-Open-Source-%28Tau-Labs%29-Full-Graphic-OSD/page165) on Brain with a Futaba R7008SB (SBUS) receiver. The wizard freezes when the throttle channel is inverted.

[2016-01-23 17:56] mluessi commented on #508
Was able to reproduce this bug using an X8R Rx and Brain. I assume it's not SBUS related.

[2016-01-23 22:05] ekaszubski opened #511 "gcs: Default selection for helicopter swashplate config crashes gcs on apply"
Steps to reproduce:
- Set vehicle type: helicopter
- Swashplate config defaults to "Custom - Advanced Settings"
- Click apply -> gcs crashes

Issue:
- This swashplate config has no sane defaults for the mixer under the Advanced Settings tab

Solution:
- Manually changing all mixer values to 0 under the Advanced Settings tab allows settings to be applied
- These values should default to something s

[2016-01-23 22:50] dustin opened #512 "Verify experimental outer I calculation"
I was moving the experimental section from javascript to go (so it just shows up in the API instead of being a UI feature) and noticed the oki looked wrong:

[code]

That clearly shouldn't be `ki =`, but that's what's been there.  I assume it's either `ki *` or just shouldn't be there, but don't want to make stuff up and change behavior.

[2016-01-23 22:54] mlyle commented on #512
It's supposed to be (1/(2_Math.PI_tau*10.0) \* .75) \* okp -- I assume the assignment there is vestigial.

[2016-01-23 22:55] #512 closed, assigned to mlyle

[2016-01-23 22:55] dustin commented on #512
OK, thanks.  That's what it is, then.  Done on the backend instead of the
frontend.

On Sat, Jan 23, 2016 at 2:54 PM Michael Lyle notifications@github.com
wrote:

[2016-01-23 23:11] ekaszubski opened #513 "gcs: curve2 source always shows "Throttle""
Regardless of actual curve2 source, the graph widget in gcs always says that the source of curve2 is "Throttle"

[2016-01-23 23:19] ekaszubski opened #514 "Add stick scaling and expo for Throttle"
- curve1 and curve2 should be used for control linearization and not for "control feel"
- Thus, we should allow users to set stick scaling and expo for Throttle just like we allow it for R/P/Y

[2016-01-23 23:35] ekaszubski opened #515 "Consolidate Throttle/Collective into "Thrust" or "Power" axis for stabilization pipeline"
Issues:
- If setup is cpheli, "thrust" is commanded via ManualControlCommand.Collective
- If setup is multirotor, "thrust" is commanded via ManualControlCommand.Throttle
- All stabilization methods for altitude have their climb rate set exclusively from ManualControlCommand.Throttle; thus, they will produce invalid behavior for cpheli setups since Collective is the expected control source, not Thr

[2016-01-23 23:45] ekaszubski commented on #401
@mlyle Any additional thoughts on this given recent discussions?

[2016-01-24 01:39] mlyle commented on #502
@readerror67 how is this supposed to be?  I did not use receiver port for serial..  Which is it?  UART 1 or 2?

[2016-01-24 02:57] ekaszubski commented on #511
Additional crash scenario:
- Select _any_ swashplate config
- Without selecting servos, hit apply -> gcs crashes

Issue:
- Mixer values for any swashplate configuration are invalid until throttle, rudder, and swashplate channels are set

Solution:
- Select the throttle, rudder, and swashplate channels
- Mixer channels should still default to sane values regardless of swashplate config
- Consider a

[2016-01-24 05:35] tracernz opened #518 "CC3D/DiscoveryF4: Compiling with ERASE_FLASH=YES broken"
Broken in 2013 by @solidgoldbomb in https://github.com/d-ronin/dRonin/commit/ac53e9d518c94c3d785eeed8466c1cd043c291f8#diff-c64214d8dc83380dce317d7c0aa66a18.
We should remove this on the Disco since F4 has partition manager so it's unnecessary. Need to write some new code to erase all the sectors on CC3D since it doesn't have a partition manager so there's no way to erase settings that cause a rebo

[2016-01-24 06:06] #511 closed, assigned to tracernz

[2016-01-24 06:11] mlyle commented on #518
ERASE_FLASH=YES for clarity

Would be nice to remove it from all F3/F4 targets.

I notice it looks like this on F3/F4:

[code]

Would this work?

[2016-01-24 06:15] #508 closed, assigned to mlyle

[2016-01-24 06:17] SystemsGuy opened #519 "GCS input wizard should clarify arming switch sense"
In the "Radio WIzard" "invert axis/switch" input screen, one has the option to invert the arm switch.  Unfortunately there is no way to see which setting results in "armed"...  Would be nice to know if you need to invert it or not by showing the status.

[2016-01-24 06:17] tracernz commented on #518
Yeah, that's probably the right thing. I'm guessing the code on CC3D was from before the new filesystem was implemented.

[2016-01-24 11:09] ekaszubski commented on #514
To clarify, this effectively depends on #515, so we'd be enabling scaling/expo on the Power/Thrust axis which will cover both multirotors (via throttle) and helicopters (via collective).

[2016-01-24 15:43] tracernz opened #527 "Sparky: Attempt to free some flash"
So new features can be added. Best candidates:

[code]

[2016-01-24 19:56] mlyle commented on #527
This is vibration analysis I think.

Why is this so much bigger than all the other serial rx protocol things?

Most of the rest is fairly necessary INS / etc stuff.

[2016-01-24 23:30] tracernz commented on #527
Yeah but we might be able to squash some of it down without removing it.

[2016-01-25 01:30] tracernz opened #529 "Windows CDC driver is out-of-date"
Needs Sparky2 and Lux VID/PID fixed/added.

[2016-01-25 01:54] mlyle opened #530 "OSD: Should be able to align horizon"
That is, the "virtual plane" and 0 datum for pitch/roll should be able to be moved downwards to compensate for camera tilt.

I suggest a cameratilt object in stabilizationsettings, which can be used for future enhancements in control reprojection.

[2016-01-25 02:51] droidicus opened #532 "CDC/VCP driver does not work on Windows 10"
It looks like in Windows 10, Microsoft has changed the way that USB modem interfaces work, and the current inf based driver install will no longer work:

https://msdn.microsoft.com/en-us/library/windows/hardware/dn707976(v=vs.85).aspx

I can verify on Windows 10 that a Sparky2 is showing up as a valid COM port in the device manager, but I cannot get VCP telemetry working on my setup. My guess is t

[2016-01-25 03:06] tracernz commented on #532
Can also confirm the same issue on Windows 10 using the Microsoft auto-installed driver.

[2016-01-25 06:40] tracernz commented on #532
Windows 10 driver in Windows/Inf/Usbser.inf for reference: https://gist.github.com/tracernz/26a5c4343cec83462fed

[2016-01-25 06:44] tracernz commented on #532
If I open the port in Putty it's spitting out data so looks like this is an issue with GCS or QSerialPort.

[2016-01-25 06:47] tracernz commented on #532
Ahhh, it works on my compiled-from-next GCS, but not with the release one...

[2016-01-25 06:59] tracernz commented on #532
Also working on the Hotfix artifact: http://jar.lyle.org:8080/job/dronin/102/Nodes=winx86/

[2016-01-25 07:55] tracernz commented on #515
Sounds like a good proposal, PR welcome.

[2016-01-25 08:03] tracernz opened #533 "GCS: Consider High-DPI improvements"
https://bitbucket.org/librepilot/librepilot/pull-requests/165/lp-216-enable-auto-scaling-on-high-dpi/diff

[2016-01-25 09:21] ekaszubski commented on #515
@tracernz @mlyle Preferences on new name for axis? Thrust, Power, something else? Thrust is my preference but it doesn't make a lot of sense for ground vehicles.

[2016-01-25 15:26] mlyle commented on #515
I like thrust.

[2016-01-25 15:28] mlyle commented on #532
@tracernz That sounds exceedingly odd :/

[2016-01-25 15:30] tracernz commented on #532
I think I figured it out. Pretty sure that was the first time I ever plugged a board into that Windows install, and then IIRC I rebooted to install Windows updates after testing the release but before testing next and the hotfix. @droidicus Try rebooting?

[2016-01-25 23:12] pug398 opened #535 "GCS:Radio Setup Wizard"
A couple of things noticed in Renatus. If it has been already corrected then just ignore. On the first page of wizard spelling of "screeen" needs correcting. On the "reversing" page could the contrast of the arming switch and flight mode switch be increased to match that of the previous pages? They are hardly visible on the reversing page (cosmetic). Again if already corrected then please forgive

[2016-01-25 23:57] mlyle commented on #535
Of course :) this is a good report-- never hesitate to open an issue.

Relates to #519

[2016-01-26 00:00] readerror67 opened #536 "GCS: Test Motor Outputs behavior"
One thing that I would like to see fixed, mostly just as a safety issue is the sliders in the motor output page.

If you enable the 'test motor output' option, the motors don't start spinning until you move the slider. The problem is if you slider is at the point in which the motors start spinning or slightly above, moving it to the minimum will cause the motor to spool up.

A simple solution woul

[2016-01-26 00:05] mlyle commented on #536
Not marking this bug/safety because I think it deserves some discussion.  I'm a bit skeptical about changes here, but would love to hear what others think.

[2016-01-26 00:11] jhitesma commented on #536
This has always bugged me.  But I'm not sure what the proper fix would be.  Seems to me that if you enable motors and the sliders are set at a value that should make the motors spin...then they should spin.

I kind of like the way *flight does it with the settings and the output tests being two very separate operations.  That does make setting the neutral interactively a bit harder (and in *flight

[2016-01-26 00:13] readerror67 commented on #536
Also, a 'master' slider would be ace, maybe a master min/max as well.
Properly set ESCs should have identical values anyways,

[2016-01-26 00:15] dustin commented on #536
A max slider would be quite grand.  It's too easy to accidentally slip and
send the things spinning madly.

On Mon, Jan 25, 2016 at 4:13 PM readerror67 notifications@github.com
wrote:

[2016-01-26 00:25] avs009 commented on #536
Hi, maybe a huge alarm when change spinner, is fine. i almost hurt myself when inverted pwm, and motors spin at max speed.

[2016-01-26 00:44] tracernz commented on #536
Minimal fix seems to be just reset the sliders to min upon checking the test box?

[2016-01-26 00:45] pug398 commented on #536
Esc even if done identical do not always start at the same point hence each one is adjustable. There are suppose to be no props on at this point. Although it does use the slider position as the start point each time so you have to always add the offset I have never seen one spin up by moving slider to the left. Is this case using something other than pwm out?

[2016-01-26 00:46] readerror67 commented on #536
@tracernz that may work, assuming they are restored to the original state afterwards.

[2016-01-26 00:47] tracernz commented on #536
Yeah, so their function is a bit weird since they're the neutral value sliders... It's not really so simple.

[2016-01-26 00:48] readerror67 commented on #536
@pug398 Moving the slider to the left does indeed start the motor. For example if the min is 125 and neutral is 133, if you move it to 130 (or anywhere in betweeen 133 and 125) the motors will spin.

[2016-01-26 00:49] pug398 commented on #536
So with syncpwm? It does not do it with pwm from what I can see.

[2016-01-26 00:50] readerror67 commented on #536
@tracernz good point, it seems we are currently re-purposing a settings page for testing which may not be as flexible or ideal.

Would having a motor test tab be a better option? Possible useful for calibration and basic checks without impacting/changing the current configuration of things.

[2016-01-26 00:51] tracernz commented on #536
It will occur any time if your neutral value is far enough above the point at which the motors spin because as soon as you grab the slider it will update the actuator command.

[2016-01-26 01:04] pug398 commented on #536
Ok I understand now. It has always been that way and sets the output to what the slider is set for. You have to first move the slider left or right to update the output.

[2016-01-26 07:01] tracernz opened #539 "Re-enable setup wizard firmware update capability"
This relied on the firmware images being compiled into GCS through a .qrc resource file. We have removed this but not replaced it with any alternative. We should teach GCS to find firmware images at the correct installer location depending on platform.

[2016-01-26 11:10] raemin commented on #87
As part of the documentation effort, the wiki should be updated with the appropriate object names as quoted references are deprecated:

Spectrum binding : "DSM bind"
Autotune : "RelayTuningSettings"

[2016-01-26 11:20] tgreer commented on #539
Yes. So many issues with new comers where they need to update the firmware first but it's not clear.

[2016-01-26 14:17] raemin opened #541 "Update wiki needs."
See
https://github.com/d-ronin/dRonin/wiki/OnlineHelp%3A-Index-of-pages-used-in-GCS
https://github.com/d-ronin/dRonin/wiki/Wiki-reorganisation-effort

I do not know if the pages referenced in the former link are still valid, but some of these helpfiles do seem to directly redirect the users to the Taulab website (see config/stabilization.ui). Please update the index with the actual pages required

[2016-01-26 18:27] mlyle commented on #539
Dup #283

[2016-01-26 18:27] #539 closed, assigned to nobody

[2016-01-26 19:13] #481 closed, assigned to nobody

[2016-01-26 19:42] #401 closed

[2016-01-27 02:44] droidicus commented on #532
@tracernz no joy, still doesn't work here :-/

[2016-01-27 12:39] ekaszubski commented on #536
@tracernz

This seems undesirable for servos as the min value is likely a high strain and/or high displacement value. IMO any fix like this should be conditional on output type and should be avoided for servos.

[2016-01-27 12:46] tracernz opened #545 "Revo: Connection diagram shows wrong PPM pin"
TauLabs/TauLabs#1775 added an 8 to the connection diagram not realising it was shared with the Revo which uses pin 5. If we are to keep the 8 on the diagram I think we need to split the CC3D and Revo into separate diagrams.

[2016-01-27 17:35] jhitesma commented on #536
Yeah, resetting them upon checking the box doesn't seem like a good option since that would mean having to reset neutral each time.

Still feels to me like this should be separated out as using one UI element for two different functions is really the big problem.

A separate "diagnostics" tab with the motor test functionality really seems like the best solution to me.  Would be nice to add a gyro

[2016-01-27 17:42] mlyle commented on #536
Yah, on the one hand that's true.  On the other hand, the most common use for this (outside of planes) is to find the neutral value-- so in that case the functions are the same.

[2016-01-27 20:09] henn1001 commented on #450
@jihlein i´ve got it working on sparky 2 but i have problems parsing the file
https://www.dropbox.com/s/ylvnz7pzrrxmkny/LOG00042.TXT?dl=0
the python script is throwing me different errors - have you had any luck with this?
Any tips?

[2016-01-27 20:53] mngrif opened #547 "Some UI elements are squished with the netbook stylesheet"
Some UI elements are squished with the netbook stylesheet. Screenshot is attached. Screen resolution is 1024x600 which is awfully tiny.

Thank you
![snapshot1](https://cloud.githubusercontent.com/assets/1446008/12627817/e7f26146-c50d-11e5-8920-1ec7acaa620f.png)
.

[2016-01-27 21:51] mlyle commented on #547
Thanks for the report!

That one indeed looks bad.  Any other really bad examples?  This one we should be able to just put a scrollbar on the panel.

[2016-01-27 22:09] ekaszubski commented on #495
Agreed, and this is how I implemented it. Ready for review: #496

[2016-01-27 23:23] mngrif commented on #547
After a thorough review of everything I can find to review, I found two more display issues.

Thank you!

![snapshot2](https://cloud.githubusercontent.com/assets/1446008/12631980/aa2a930a-c522-11e5-9d8c-fb8239430823.png)
![snapshot3](https://cloud.githubusercontent.com/assets/1446008/12632014/f656f26e-c522-11e5-86ab-f24c6e5d67fc.png)

[2016-01-28 02:37] jihlein commented on #450
@henn1001, honestly I've never had much luck with the python scripts.  What I did was download the Octave program (a freeware version of Matlab) and use the LogConvert.m file in the build/matlab folder.  It's worked fine for me.

Find Octave at: https://www.gnu.org/software/octave/download.html

Let me know if you have any questions and/or how it works for you.

[2016-01-28 03:58] mlyle opened #548 "OSD should project horizon lines indefinitely"
Not just limited to a narrow range of angles-- the ladder should go all the way around.

[2016-01-28 03:59] mlyle opened #549 "OSD AI should respect position and size passed into it"

[2016-01-28 04:07] tracernz opened #550 "UsageStats reports stale GCS version with dirty build"
Problem with build deps?

[2016-01-28 04:11] tracernz commented on #547
Should be a case of setting minimum sizes and checking for appropriate size policies on these widgets.

[2016-01-28 05:29] #518 closed, assigned to mlyle

[2016-01-28 13:03] henn1001 commented on #450
uhh i have matlab - i read something about that but i could not find the .m file in the source folder. I did not know i have to build them explicitly.

I´ll look into that, thanks!

[2016-01-28 15:18] henn1001 commented on #450
It´s getting parced with no errors - unfortunately every struct is empty :(

[2016-01-28 15:24] jihlein commented on #450
Can you post your code changes?

[2016-01-28 15:25] henn1001 commented on #450
https://github.com/henn1001/dRonin/commits/sparky2OpenLog

[2016-01-28 15:27] jihlein commented on #450
Cool, I'll take a look.

[2016-01-28 15:53] jihlein commented on #450
On a quick once over it looks correct.

The M file can parse both GCS logs and Overo logs.  Overo logs are generated by the flight controller logging, either the spi flash or open log.  Make sure the proper argument flags are set:

% To process Overo files call with
% LogConvert(path_to_file, true)

I don't recall if not setting that argument to true will result in empty structures.

I'll dig into

[2016-01-28 16:17] henn1001 commented on #450
Build from the same source/fork - yeah.

`LogConvert(path_to_file, true)`

Looks like this did the trick though  :)

[code]

![unbenannt](https://cloud.githubusercontent.com/assets/10023892/12650351/d380be58-c5e2-11e5-8933-74e0a55b2a30.PNG)

[2016-01-28 16:25] henn1001 commented on #450
^
This really needs better usability. Something similar to the Blackboxviewer chromeapp would be awesome.

[2016-01-28 17:37] CopterFail opened #554 "Revomini: Please add support for USART6, Flexi-IO."
See also https://github.com/d-ronin/dRonin/wiki/RevoMini pinout Flexi-IO in UART mode.

[2016-01-28 18:30] mlyle opened #555 "Python log tools should be willing to skip a few nulls or other characters to find signature"
OpenLog looks like it often gets a little bit of garbage-- usually a few nulls-- before the actual log data, and we only look for the signature at the very first byte.

[2016-01-28 18:53] mlyle commented on #555
@henn1001's experience in #450 is relevant to this ... chopping the first byte from his file it works fine in dumplog.py

[2016-01-28 21:53] #530 closed, assigned to mlyle

[2016-01-28 21:53] #548 closed, assigned to mlyle

[2016-01-28 21:53] #549 closed, assigned to mlyle

[2016-01-28 22:28] mlyle opened #559 "UAVO editor: clicking "save" should finish the editing of any present field"
Requires some signal plumbing, but will avoid the situation that's bit us all where we've tried to edit a UAVO and not saved.

[2016-01-29 00:10] ufoDziner opened #560 "Autotune: Save tune from autotune tab"
Would be great to be able to apply and save the autotune numbers directly from the autotune screen instead of having to go to stabilization settings.

[2016-01-29 00:16] henn1001 opened #561 "GCS: Unable to import Systemident values BUG"
I can export systemident values http://i.imgur.com/kauRhgI.png but i´m somehow unable to import them successfully.

Even after manually pasting them into the fields http://i.imgur.com/5jfnHqC.png and hitting send/save, reverts them back to 0.

[2016-01-29 00:17] ufoDziner opened #562 "Saved configs for tuning items"
It would be great to have the ability to load PIDs, and, battery settings (both capacity and voltage) quickly without having to import the entire uav file.  A browesable database on some kind of "summary" page would be fantastic.

[2016-01-29 00:17] mlyle commented on #561
This one is easy I think, GCS permissions on the systemident object.

[2016-01-29 00:20] mlyle commented on #561
Would you mind testing #563 please?

[2016-01-29 00:23] henn1001 commented on #561
Sure thing

[2016-01-29 00:45] mlyle opened #564 "Flight: sensors: Identify why there is AQ32-specific code"
For mag handling / fail detection.  Why is AQ32 different?

@jihlein any thoughts?

[2016-01-29 02:03] jihlein commented on #564
From memory since I can't get to the code now:

Onboard i2c handles baro and mag. If the port init or sensor fails, that ends in a panic since the board is showing a problem.

AQ32 has an external i2c port that's not shared with uart pins. If hooked to a mag that is not powered, I did not want the board to lock in a panic state that is not easily recoverable. So I used the i2c cwa block to indicat

[2016-01-29 02:19] mlyle commented on #564
@jihlein it'd be better if this was a mechanism shared between all external mags instead of being unique to AQ32.

[2016-01-29 02:31] jihlein commented on #564
Fully agree. I'll look into it. I know Quanton is setup this way.  Also Sparky ext mag is broken, I'll tackle that one first, something I've been meaning to do.

[2016-01-29 02:36] mlyle commented on #564
@jihlein Much appreciated!

[2016-01-29 03:12] mlyle commented on #502
Fixed by #526

[2016-01-29 03:12] #502 closed, assigned to nobody

[2016-01-29 07:02] dustin opened #567 "Inconsistent UUIDs in AT Reports"
@droidicus reported some of his tunes not deduplicating.  He showed the following tunes as examples:

http://dronin-autotown.appspot.com/at/tune/ahFzfmRyb25pbi1hdXRvdG93bnIYCxILVHVuZVJlc3VsdHMYgICAgPrDkgoM
http://dronin-autotown.appspot.com/at/tune/ahFzfmRyb25pbi1hdXRvdG93bnIYCxILVHVuZVJlc3VsdHMYgICAgMfhogsM

These have UUID af078a5411290a7bcc45be05afd69e18aa9aa5ca7ba5159fc7f98d5c3e9b3cdf and 9d81

[2016-01-29 07:26] mlyle opened #568 "RFM22B bind wizard should disable "telemetry" from board serial ports"
RevoMini defaults to 'telemetry' on mainport; this prevents rfm22b from working.

Alternatively change the revomini mainport default.

Credits to @pug398 for initial report.

[2016-01-29 07:28] dustin commented on #567
I tried a variety of zeros to see if that had something to do with it.

[code]

[2016-01-29 16:35] ekaszubski commented on #515
@tracernz @mlyle Looks like shortest path to selecting the "Thrust" source is:
- If SystemSettings.AirframeType == HeliCP --> use collective
- else --> use throttle

However, fixed-pitch helicopters still expect to use throttle; thus it seems like we should add a new AirframeType called "HeliFP" or something similar (above check would still select correct thrust source for this situation).

[2016-01-29 16:41] tracernz commented on #515
Do we even want to support fixed pitch? Surely nobody serious enough to fit an aftermarket controller is going to fly FP.

[2016-01-29 17:22] Ga1j1n commented on #568
I think I'm hitting this bug too, PPM works a-okay but no telemetry at all

[2016-01-29 17:25] dustin commented on #567
This timeline is very close to when we got rid of raw chip IDs in favor of UUIDs, such that it kind of spans the conversion.  I went digging a bit and found my sparky2 which has tunes covering this time period while still lining up OK, so I don't think it's that.

http://dronin-autotown.appspot.com/at/tune/ahFzfmRyb25pbi1hdXRvdG93bnIYCxILVHVuZVJlc3VsdHMYgICAgLvjjQkM

[2016-01-29 17:30] mlyle commented on #568
@Ga1j1n If you're hitting this bug, it's fixed by not trying to send telemetry to multiple places.  E.g. setting mainport to something other than 'telemetry' on the revomini.

[2016-01-29 17:38] ekaszubski commented on #515
@tracernz I mean I'm fine with not supporting FP, just trying to cover all the bases in the planning phase.

[2016-01-29 19:52] mlyle opened #570 "build/jenkins: pre-commit check for license template"
[code]

[2016-01-30 03:13] tracernz commented on #77
The current wizard that is part of the setup wizard:
https://www.youtube.com/watch?v=y9icaF9MmBU&feature=youtu.be

[2016-01-30 03:20] mlyle commented on #77
We could use a web service for translating the uavos

[2016-01-30 06:30] tracernz commented on #77
Seems plausible with the git hash from the firmware version info. @dustin :-P

[2016-01-30 06:34] dustin commented on #77
I'd like to do that, sure.  What kind of interface are you looking for?

[2016-01-30 06:37] tracernz commented on #77
Send up an XML containing all the settings UAVOs. Web service fetches the UAVO definitions using the githash, does the same with the upgrade target. Compare field definitions and translates values between versions. Some possible considerations:
- Hash field definitions, copy values directly across if field def hasn't changed
- If field has changed a little (e.g. default value), copy and flag for u

[2016-01-30 06:38] tracernz commented on #77
If the whole object hash is equal then not much point sending those ones back.

[2016-01-30 07:02] ufoDziner opened #574 "Basic and Advanced Stabilization order inconsistant"
The order of the large boxes that contain the sliders are in a different order on the Basic tab and Advanced tabs.

From top to bottom on Basic:
Rate Stabilization
Attitude Stabilization
Stick Scaling

From top to bottom on Advanced:
Rate Stabilization
Stick Scaling
Attitude Stabilization

Stick Scaling on the Basic page should be after Rate Stabilization.

[2016-01-30 07:13] mlyle commented on #77
XML?  That would require the GCS to be able to read it.

Alternatively we could send up the binary UAVOs and IDs.

[2016-01-30 07:20] tracernz commented on #77
Yah, will need to send some metadata with the binary UAVOs though, may as well embed them in XML or JSON.

[2016-01-30 08:01] dustin commented on #77
Just give me some examples of what you want.

On Fri, Jan 29, 2016 at 11:20 PM Michael Corcoran notifications@github.com
wrote:

[2016-01-30 17:36] jihlein commented on #564
@mlyle, how do you feel about I2C initialization never failing in a panic state, but setting the I2C WCA block color accordingly?  This way both internal and external I2C buses would behave the same way, and we'd loose one or two panic codes also.  Internal sensors would still end in a panic if they failed initialization, external ones would set the sensor block red.

[2016-01-30 17:39] mlyle commented on #564
I've not looked at the code in detail, but that sounds like a good approach to me.

[2016-01-30 18:33] henn1001 opened #575 "Batterymodule cell-count autodetection [WIP]"
Got some barebone code working in my local branch
https://github.com/henn1001/dRonin/commit/b02dc901fb70abdbf0ed9ac08c0fa52884c3096c
Good/bad idea?

The thresholds act now as a limit per cell.

Did some testing and it seems to work fine but need to test some more edge cases.

[2016-01-30 19:00] mlyle commented on #575
It looks good at first cut.

But it should be configurable / something you can turn on and off.

[2016-01-30 19:14] henn1001 commented on #575
Agree. I will probably repurpose the maxCellVoltage for that. 0=off and  > 0 = var for cell count calc

[2016-01-31 05:43] tracernz opened #577 "Naze: Support UART inverter (rev. 6)"
Pins https://github.com/multiwii/baseflight/blob/master/src/board.h#L216.

[2016-01-31 05:56] tracernz commented on #577
Seems to be this IC according to my beeper
![img_1582](https://cloud.githubusercontent.com/assets/9995998/12700531/3d292ed8-c84c-11e5-8122-0c948827fe97.png)

[2016-01-31 06:01] mlyle opened #578 "Stabilization / PR queue maintenance - Tanto -- mpl-kitchensink"
- [x] #139 pick 3734fe5 Merge remote-tracking branch 'pr/139' into mpl-kitchensink
- [x] ~~#248 pick 37b1819 Merge remote-tracking branch 'pr/248' into mpl-kitchensink~~ Withdrawn
- [x] #411 pick 2893404 Merge remote-tracking branch 'pr/411' into mpl-kitchensink
- [ ] #458 pick ff754d9 Merge remote-tracking branch 'pr/458' into mpl-kitchensink
- [x] ~~#496 pick d3f108e Merge remote-tracking branch

[2016-01-31 06:37] tracernz commented on #577
https://www.fairchildsemi.com/datasheets/NC/NC7ST86.pdf

[2016-01-31 06:43] #545 closed, assigned to nobody

[2016-01-31 08:38] tracernz commented on #70
Would be good to get this done for Tanto. I quite like the way Libre does this.

[2016-01-31 08:38] tracernz opened #579 "Naze: Connection Diagram"
WIP

[2016-01-31 08:40] tracernz opened #580 "Naze: GCS needs ability to reboot without disconnecting"
This would allow input configuration in the setup wizard among other things.

[2016-01-31 11:13] ekaszubski opened #582 "Firmware flashing fails for CC3D on any rev after #540 was merged"
System
- Ubuntu 15.10 x64
- CC3D HW Rev 2 BL Ver 4

Steps to reproduce
- Check out any rev after #540 was merged (fd93c056)
- Make gcs fw_coptercontrol
- Rescue, connect, select fw_coptercontrol.tlfw, flash
- Flashing immediately fails with "Firmware upload failed"

Additional info
- Haven't tested any other FCs
- Have tested pre- fd93c056 GCS with post- fd93c056 firmware, flashing works correctly

[2016-01-31 14:34] henn1001 commented on #105
So should this be an module on its own? Or add it to the exististing actuator logic? Should be fairly easy to add with the new GPIO code that was added for picoC https://github.com/d-ronin/dRonin/blob/next/flight/targets/quanton/board-info/pios_board.h#L251

Just define some pins that can be used and list them in a similar way as the pwm Outputs.

[2016-01-31 14:40] mluessi commented on #105
@henn1001 I think this should be lightweight and not depend on PicoC. For example the naze32 (and derivatives) have buzzer pins and it would be nice if dRonin would support this feature.

[2016-01-31 14:43] mluessi commented on #105
Maybe it could be done similar to the LED config. I.e., a struct that defines which pin is used for the buzzer and a `PIOS_INCLUDE_BUZZER` that enables the feature on a specific target. By default, the buzzer should go on on receiver failsafe, so the resources used would be very minimal (so it would work on naze32 etc.).

[2016-01-31 14:50] henn1001 commented on #105
Yeah - i meant without picoC. Those PIOS_GPIO defines can be used anywhere as far as i understood. Define some pins and then you can set them anywhere with:
`PIOS_GPIO_Off(PinNr)`
`PIOS_GPIO_ON(PinNr)`
`PIOS_GPIO_Toggle(PinNr)`

[2016-01-31 15:21] mluessi commented on #471
@mlyle WDYT? Lets figure this out and then go through the code and fix the offending places.

[2016-01-31 17:33] mlyle commented on #471
Yup, I think we should do it and your suggestion is a good one-- if we put it in the header so it was inlined, the redundant setters (the things we set ourselves jsut after) would be omitted too.

[2016-01-31 17:35] mlyle commented on #105
Just a question.. Would we work for non-PWM buzzers just with setting min and max to 0 and the period?

[2016-01-31 17:49] tracernz commented on #582
Can you try compiling with this line enabled: https://github.com/d-ronin/dRonin/pull/540/files#diff-f698c290bac8f66eed54b6ec8ec61803R32

[2016-01-31 18:11] ekaszubski commented on #582
@tracernz Compiling and trying now, had to fix this line https://github.com/d-ronin/dRonin/pull/540/files#diff-f698c290bac8f66eed54b6ec8ec61803R155 after enabling debug

[2016-01-31 18:12] Trex4Git commented on #105
Nice to see some further interest in this.

When i started working on this (https://github.com/TauLabs/TauLabs/pull/1628) i had the impression that there was no really interest in this.
That  was  the reason i choose the PicoC way, and not a "core" module.
I also activated GPIO Pins only on Qunaton, but  there was some discussion how it may be done on different targets.

[2016-01-31 18:15] ekaszubski commented on #582
@tracernz Can confirm the firmware flashing works with line 32 enabled and line 155 changed to:

`TL_DFU_QXTLOG_DEBUG(QString("DOWNLOAD PARTITION- SETTING DOWNLOAD CONFIG PARTITION=%0 SIZE: %1").arg(partition).arg(size));`

but does not work with line 32 disabled.

[2016-01-31 18:25] henn1001 commented on #105
@mlyle  More or less. https://github.com/d-ronin/dRonin/blob/next/flight/Modules/Actuator/actuator.c#L565 The code just toggles between min and max . So if 0 - 100% pwm value is selected it should just toggle between on and off / gpio behavior. But the functionality is a bit sparse - only lowBat and gps warnings.

I´m doing the same in my picoC script and it works fine.

[2016-01-31 18:29] droidicus opened #584 "Windows GCS build failure with -j"
I have been experiencing GCS build failures on windows recently after using 'make all_clean && make all -j', it will work fine with -j4, and in the case of my i7 processor I believe that -j is using 8 threads. Here is an example of the end of the build process:

[code]

Race condition maybe?

[2016-01-31 19:02] mlyle commented on #584
This means you ctrl-c'd a previous build while it was compiling / linking  `C:/tau/dRoninFork/build/ground/gcs/lib/dr/plugins/TauLabs/UAVObjectUtild.dll` Make on windows isn't always able to force the removal of that file.

[2016-01-31 19:03] mlyle commented on #582
Since clicking "flash" again makes this work, removing blocker tag (easy interim workaround).

[2016-01-31 19:06] mlyle commented on #584
(If I erroneously closed this, --- e.g. you're sure you did a full clean before like stated-- i'm sorry.  But every time I've seen this it's been because I've aborted a prior build).

[2016-01-31 20:42] droidicus commented on #584
@mlyle I have had that same problem with ctrl-c in the past as well, but I am 99% sure it is not that this time. Just to be sure I re-ran the tests, and observed the following, in the order of execution:
make all_clean && make all -j     -->     Failure
make all_clean && make all -j4   -->     Success
make all_clean && make all -j     -->     Failure

This time I saw the problem with GCSControld.d

[2016-01-31 20:44] #495 closed, assigned to nobody

[2016-01-31 21:26] mlyle commented on #584
I guess there's a build dep missing somewhere

[2016-02-01 02:32] tracernz commented on #582
@ekaszubski That's concerning. Seems like it's a very subtle timing/race condition type thing if disabling the debug output triggers it...

[2016-02-01 02:33] tracernz commented on #584
Also, j by itself is bad news, make will launch as many processes as it possibly can.

[2016-02-01 06:44] mlyle commented on #471
#139 should merge; then we can factor some of the initialization impl out as a next step towards this.

[2016-02-01 07:02] droidicus commented on #584
Not disagreeing, I was playing with build options trying to find the fastest build time possible, and was surprised when it failed. It is easy to work around, so I wouldn't put it at high priority, but I do think that it indicates a missing build dep.

[2016-02-01 07:24] tracernz commented on #584
Yeah, if the deps are correct it should still build, just slowly if you have too many threads. :P

[2016-02-01 09:18] ekaszubski commented on #582
@tracernz Yep, @mlyle had similar concerns. Looks like the workaround is really simple for now, though I never thought to try clicking flash twice until it was suggested to me (so may be a big issue for new users of GCS).

[2016-02-01 18:23] ukmook opened #587 "Telemetry over radio Safety Issue"
I use oplinkmini with a bluetooth module to allow my surface tablet to communicate with sparky 2 over 433mhz set at 25mw using bind wizard. After connecting the tablet and arming the front of the quad came up when applying throttle but the rear stayed down, motors stayed at idle, when checking in gcs the compass was spinning constantly at a high rate and also the artificial horizon moving in all d

[2016-02-01 19:06] mlyle commented on #587
@pug398 have you ever seen anything like this / have any idea what it could be?  You've been flying with telemetry on Sparky2 quite a bit, right?

I have not done any telemetry flights lately but have quite a bit of time on the bench.

[2016-02-01 19:53] pug398 commented on #587
I have had no issues with Sparky2 telemetry only over an oplink with bt. What air rate did you use in the RFmBind wizard (100k, 192k)? I have seen win10 usb conflict cause issue with gcs but none with OPLM+bt and GCS. I will try to test similar setup with sparky2 (renatus3) and Toshiba win10 tablet with bt.

[2016-02-01 20:49] ukmook commented on #587
I used 100k at 25mw 0-250. Have tried everything i can to make it work correctly. using an hc-06 bluetooth module at 57600, connected to main port on oplink, flexport powered by 5 volts, pigtail to 433mhz 3dr antenna. i can post video of setup working on taulabs master release if that would be of any help.

[2016-02-01 21:14] mlyle commented on #587
I can't reproduce here on dRonin :/ just briefly hovered sparky2 with telemetry up

[2016-02-01 22:00] pug398 commented on #587
This was just a power up and go test so bumped it to the top. Using win10 tablet with builtin bt connected to a oplm+bt on sparky2 (renatus3) 57k. Ran a pack down and never lost connection or had any issue. Switched in and out of different flight modes, did some PH and it worked ok. 100k, 100mw, telem only, 0, 250, sparky2 coordinator. I have run this setup for some time and have not had any major

[2016-02-01 22:05] ukmook commented on #587
Think after talking to mlyle we might have solved it by erasing the settings partition. Will Test and close if all fixed tomorrow. Thanks for looking into this pug.

[2016-02-01 22:08] mlyle commented on #587
@ukmook I know you were hesitant to open an issue, but thanks for doing so.  It helps visibility, and even though we're likely to close out this issue it still helps us know about the kinds of things people can run into so we can improve the software.

[2016-02-01 23:21] #561 closed, assigned to nobody

[2016-02-01 23:21] ukmook commented on #587
As requested adding uav xml and bin files, still having problems when connected over radio

[issue 587.zip](https://github.com/d-ronin/dRonin/files/113167/issue.587.zip)

[2016-02-01 23:22] mlyle commented on #587
@ukmook I will continue to skim this and play.. Do you have any idea what you did immediately before it broke?

[2016-02-01 23:24] ukmook commented on #587
I did six point calibration over radio, i have done this before with TL with no issues. then i rebooted the quad and the issues started occurring again.

[2016-02-02 00:05] Fvk1960 opened #588 "Sparky 2 receiver not working"
I use a walkere rx1002 with ppm encoder board as used for apm.
Sometimes the ppm channels RC INPUT are detected but most times not.
Checked wiring several times.
Setup is sparky2 , ppm. gps on mainport. external mag on flexport.battery monitor.

[2016-02-02 00:10] Fvk1960 commented on #588
Oh I am also using oneshot125 esc

[2016-02-02 00:22] mlyle commented on #588
@Fvk1960 Hmm.  PPM is fairly reliable from what I've seen.

Do you have a battery connected?  S2 doesn't power the radio from USB power.

[2016-02-02 01:33] jihlein commented on #564
Reference #557 and #589.

[2016-02-02 01:51] ekaszubski commented on #588
I have a rx1002 on hand if we need extra testing there, but I do _not_ have a PPM encoder board.

[2016-02-02 01:56] ekaszubski commented on #588
@mlyle If using the dedicated receiver port set to 3.3V, sparky2 will actually send out power to the receiver when only connected via USB (I have a spektrum satellite receiver wired up this way). Not sure what happens if you have the receiver port bridged the other way (VCC_UNREG).

[2016-02-02 01:59] mlyle commented on #588
VCC_UNREG and USB power are combined via diode OR.  RX1002 wants 4.8V or more.

[2016-02-02 04:49] #568 closed, assigned to mlyle

[2016-02-02 07:01] #265 closed

[2016-02-02 07:24] mlyle commented on #574
So I looked at this in a bit of detail.  I know it's not quite the same as the basic pane, but the intention here was to put the inner loop's stick scaling next to the inner loop, and the outer loop's stick scaling next to the outer loop.  To date, on the 'basic' pane the attitude limits haven't shown.

I'm tempted to just remove the stick scaling from the first page to make this consistent, or to

[2016-02-02 07:44] tracernz commented on #574
Just move it up imo. The reason it's there is because it's the first thing multiwii pilots look for, which happens to be the same group that like scaled gains.

[2016-02-02 07:46] mlyle commented on #547
@tracernz on the last one, can you repro-- seems like it'd be a linux stylesheet thing.

[2016-02-02 09:23] Fvk1960 commented on #588
On the board there is a jumper to select the powersource either 3.3v or 5v unreg from output connectors. Mine 5v is bridged to the dedicated receiver port (only port available no PCM inputs on sparky2). So receiver is powered from esc motor ports.
However the jumper was a 10k smd R15 while on document it says do not populatie R15/R17 because it is jumper pads. So i removed R15 to het receiver work

[2016-02-02 09:37] tracernz commented on #588
Yes.

[2016-02-02 17:10] #588 closed, assigned to nobody

[2016-02-02 17:27] mlyle commented on #529
Sparky2 is Freedom.  I can add Lux, but I really propose we just remove the driver.  It's a very narrow range of systems it works on and it creates many support headaches.  Since we expect/hope for Windows 10 to fix this for us there's not really any point in shipping this anymore.

[2016-02-02 17:29] mlyle commented on #316
Fixed by #531

[2016-02-02 17:29] #316 closed

[2016-02-02 17:29] mlyle commented on #309
Haven't repro'd this stuck-alarm-in-GCS issue, closing for now.

[2016-02-02 17:29] #309 closed

[2016-02-02 18:23] #126 closed

[2016-02-02 18:31] #379 closed

[2016-02-02 19:24] mlyle commented on #584
I thought about this -- maybe not.  If resources run out and a process doesn't start or is abnormally terminated and make doesn't notice, you might get something like this...

[2016-02-02 19:26] #578 closed, assigned to mlyle

[2016-02-02 20:15] Fvk1960 commented on #588
Like mentioned in the naze with cleanflight when connecting sonar you need to add 1k resistor.
So I also now added a 1K resistor to the ppm signal wire.
It now works just fine.
Is this reveiling information  ?

[2016-02-02 20:27] mlyle commented on #588
@fvk1960 if you had a 10k resistor across the jumper pad that powers the receiver, that is what was wrong.  10k impedance will not satisfactorily power anything.  It is meant to be a small blob of solder on that jumper.

[2016-02-02 20:31] mlyle opened #596 "Next: Re-stabilize after merging tool and lib changes"
- [x] Smoke test on F1
- [x] Smoke test on F3
- [x] Smoke test on F4
- [x] Smoke test OSD
- [x] Autotune/flight test on F1
- [x] Autotune/flight test on F3
- [x] Autotune/flight test on BrainFPV
- [x] PH test on F4
- [x] S.bus
- [x] PPM
- [ ] MSP OSD
- [x] DSM Satellite
- [x] RF Telemetry
- [x] Bootloader
- [x] Battery module
- [ ] TxPID
- [x] GCS Controller
- [x] Input wizard

[2016-02-02 21:46] mlyle opened #597 "Calibration over radio: can't save afterwards"
Tried current next with pipxtreme + sparky2, 100kbps, 100mW ; mag calibration proceeded fine over radio.  Subsequent attempts to "save" did not (could not save any object, even from other panes).  I wonder if some objects are left "turned up" in rate.  After turning attitude down from 100ms to 333ms, was able to save objects again.

On a fresh session not after 6 point cal, was able to save.  Then

[2016-02-02 21:49] mlyle opened #598 "Vehicle setup wizard over radio: level calibration times out"
Reported by @pug398, confirmed on Sparky2 on current next

Connects to #641

[2016-02-02 22:18] ukmook commented on #587
![screenshot 1](https://cloud.githubusercontent.com/assets/16736007/12767260/17f6ff22-ca00-11e5-97bf-9be458350946.png)
Have redone the whole setup using USB as requested, then after reboot the config screen comes up with unrecognised board. have saved a log file to the zip as well as Screen captures taken after the issue arises.
[TauLabs-2016-02-02_22-13-40.zip](https://github.com/d-ronin/dRonin/f

[2016-02-02 23:23] mlyle commented on #587
Identified some problems with bluetooth on pipxtreme/oplm that are being opened in another issue.

I believe the difficulties experienced here with flight performance relate to some of these pipxtreme bugs when used over bluetooth (saving objects back that were not successfully retrieved).

[2016-02-02 23:23] #587 closed, assigned to nobody

[2016-02-02 23:24] mlyle opened #600 "pipxtreme target port handling is completely broken"
Introduced by TauLabs/taulabs#1791 / support for TLM
1. Board hardware revision selected for TLM is used by OPLM.
2. Port configuration broken in various ways.
3. buffer sizes
4. WHo knows what else.

Identified in conjunction with @ukmook in #587

[2016-02-03 00:17] pug398 commented on #598
With pipx but xbee ok

[2016-02-03 03:47] mlyle commented on #149
Someone on IRC (I think @dustin) suggested a checkbox that says share, that defaults checked... that does so when you click close.

[2016-02-03 03:59] dustin commented on #149
I didn't suggest it, but I agree with it.  I think we're missing a lot of
shares there just because it's not even a thing that occurs to people is
possible.  And/or it's something they think they have to get perfect first.

This is also an area where a UUID for the installation would be useful, as
we could flag that and have messaging back to the install/board that says,
"Our mechanical turk has d

[2016-02-03 04:32] SystemsGuy opened #604 "Motors continue to run after "Motor Test" unchecked"
On Release-20160120: 20160119-2831e945 GCS, with a Brain, setup for x-quad, oneshot, PPM input, when using the "Test Outputs"" select box on the Output Tab, I am able to use the sliders to test the motors.  If, however, I "Uncheck" the Test Outputs", the motors continue to run.

[2016-02-03 04:35] SystemsGuy opened #605 "GCS : Brain : Connection diagram missing."
On GCS Release-20160120: 20160119-2831e945, when using the Vehicle Setup Wizard with a Brain, there is no connection diagram - if you click on the connection icon, you get a blank screen.
![dronin setup wizard_2016-02-02_22-18-50](https://cloud.githubusercontent.com/assets/2819484/12773041/3bcf8278-c9fd-11e5-82ea-15c45e91dd73.jpg)

![dronin gcs_2016-02-02_22-34-35](https://cloud.githubusercontent.

[2016-02-03 05:28] tracernz commented on #605
Yeah, not many boards have them.

[2016-02-03 05:28] mlyle commented on #605
Dup #230   (don't worry about reporting duplicates)

[2016-02-03 05:28] #605 closed, assigned to nobody

[2016-02-03 05:29] mlyle commented on #604
I have not seen this, --- need to look into it.

[2016-02-03 05:34] mlyle commented on #604
Can you please get a screenshot when this is happening?

One thing I thought of--- depends on motor calibration, but if the min value is high enough for motors to run, and the neutral is used to "get them started"... even after disabling output test they'll keep spinnin'

[2016-02-03 05:35] tracernz commented on #149
Usage stats should tell us if we're missing any..

[2016-02-03 05:37] tracernz commented on #588
Should be 0 ohm resistor/jumper or a blob of solder.

[2016-02-03 06:36] mlyle commented on #425
Closing; we'll keep a record of this but there's nothing actionable here and we've made substantial sbus improvements.

[2016-02-03 06:36] #425 closed

[2016-02-03 06:37] mlyle commented on #74
Netbook can't get this, but the other two could..

[2016-02-03 13:18] ukmook commented on #600
#587 I see Pug had Sparky2 Set as coordinator i have Oplink set as coordinator. Thought i should add this info.

[2016-02-03 17:08] mlyle commented on #600
@ukmook Yah, I think it's just the bluetooth layer itself was unreliable because of these issues.

[2016-02-03 18:29] mlyle opened #606 "Change "futaba sbus" to sbus in setup wizard"
Now 3 different people on IRC have tripped over this.

[2016-02-03 18:31] tracernz commented on #606
But it is Futaba even if some cloners reverse engineered it :/. Probably worth the misnaming for the usability win though I guess.

[2016-02-03 18:46] mlyle commented on #606
Yup.  It's also a good question as to whether we can legitimately use their brand names and quasi-logos and not be legally exposed.

[2016-02-04 05:52] #555 closed, assigned to mlyle

[2016-02-04 05:56] #527 closed, assigned to mlyle

[2016-02-04 06:34] tracernz commented on #547
I've seen blacked out things in the vehicle widget like that before but it's never repeatable from what I can tell.

[2016-02-04 06:35] #547 closed, assigned to mlyle

[2016-02-04 06:35] #574 closed, assigned to mlyle

[2016-02-04 07:20] #529 closed, assigned to mlyle

[2016-02-04 10:16] jpbarraca commented on #606
The same applies to Graupner and Spektrum. Also, if we remove the reference to the brand, sometimes people will struggle to associate the protocol with what they have. This can probably be solved by creating a wiki page.

[2016-02-04 10:16] mlyle opened #610 "Vibration test sucks."
- The way the configuration works in GCS is extremely fidgety; requires restart of GCS to pick up a new number of spectrogram bins / easy to provoke to crash.
- Only can seem to run it with 64 or fewer bins.  With more bins, data never shows up.
- One UAVO instance per output point.
- With that, what's one left with?  64 bins is not much spectral data.
- Why even do the FFT flight side to begin wi

[2016-02-04 11:11] #204 closed

[2016-02-04 11:36] henn1001 commented on #606
Just for reference - Librepilot does it like that:
![unbenannt](https://cloud.githubusercontent.com/assets/10023892/12813982/d9139e4a-cb3b-11e5-97d4-37be0d053f87.PNG)

[2016-02-04 16:32] jpbarraca commented on #610
From a user perspective:
- GCS support is bad due to the required restart. However that can be easily fixed.
- It's fidgety but works and is rather useful.
- With a Sparky 2.0 I'm also experiencing loss of data with more than 64 bins.

EDIT: unrelated ~~Do we have the bandwidth in the telemetry channel to report vibration data more often (1-5ms)?~~

[2016-02-04 16:39] jpbarraca commented on #598
In a Sparky2, the Automatic level detection from the Attitude tab also times out frequently if done over a Bluetooth radio. Probably related.

[2016-02-04 16:42] jpbarraca commented on #597
Also happens when configuring through a Bluetooth radio.

[2016-02-04 18:27] jpbarraca commented on #493
I made an attempt of implementing this in the pull request #612

[2016-02-04 18:37] jpbarraca commented on #476
I made GCS crash after the crashreporter was initialised and it was called correctly. Got the popup and and could save the report. Using githash b233e9ed

OS X El Capitan 10.11.3

[2016-02-04 18:40] mlyle commented on #476
@jpbarraca Thanks.

Unfortunately I think it works when you build it yourself, but not in packages.  I need to look into why.

[2016-02-04 19:08] mlyle opened #613 "KitchenSink test branch housekeeping"
- [x] ~~#612 07593a3 Merge remote-tracking branch 'pr/612' into mpl-kitchensink / GCS UUID~~ notready
- [ ] #576 aba7743 Merge remote-tracking branch 'pr/576' into mpl-kitchensink / cellcounting
- [x] ~~#524 63d0d81 Merge remote-tracking branch 'pr/524' into mpl-kitchensink / uploader & connect speed~~ notready
- [ ] #458 eb4d086 Merge remote-tracking branch 'pr/458' into mpl-kitchensink / openlog

[2016-02-04 19:41] jpbarraca opened #614 "SDL.framework missing making package_installer in OS X"
In OS X 10.11.3 make package_installer fails as the SDL.framework is not at /Library/Frameworks/

The log is

[code]

Add a make target to get this dependency?

[2016-02-05 02:09] #613 closed, assigned to nobody

[2016-02-05 10:15] jpbarraca commented on #614
PR in #615

[2016-02-05 10:17] jpbarraca commented on #476
Confirmed when simply compiling GCS and when using GCS from a locally built package.

[2016-02-05 21:04] #229 closed

[2016-02-05 21:05] #405 closed

[2016-02-06 00:42] #493 closed, assigned to nobody

[2016-02-06 00:52] #614 closed, assigned to nobody

[2016-02-06 04:15] droidicus commented on #323
Fixed in #342

[2016-02-06 04:16] mlyle commented on #323
#342 fixed #337 (pulse merge) ; a need for a jitter study and RTOS work remains, particularly during logging

[2016-02-06 20:34] mlyle commented on #564
Closed in #589

[2016-02-06 20:34] #564 closed, assigned to jihlein

[2016-02-06 20:45] droidicus commented on #584
After talking with @mlyle in IRC, I ran a test with 'make all_clean && make all -j9' and repeated it 10 times. I was not able to reproduce the issue while doing this, and so am closing this with the instruction of "friends don't let friends use -j".

[2016-02-06 20:45] #584 closed, assigned to nobody

[2016-02-06 22:40] dustin commented on #567
This is happening to all of mine today.  So that's pretty bad.  I've updated a sparky2 and a naze32 and both showed up as new boards in usage and got disconnected tunes.

Sparky2:
[newer](http://dronin-autotown.appspot.com/at/tune/ahFzfmRyb25pbi1hdXRvdG93bnIYCxILVHVuZVJlc3VsdHMYgICAgLOozgoM)
[older](http://dronin-autotown.appspot.com/at/tune/ahFzfmRyb25pbi1hdXRvdG93bnIYCxILVHVuZVJlc3VsdHMYgICAgLvj

[2016-02-06 23:11] droidicus commented on #596
Tested on F4/Sparky2, Autotune, SPORT, S.BUS, Battery (voltage only), Altitude-hold.

All lights green.

[2016-02-06 23:27] mlyle commented on #596
Nice, thank you very much :)

[2016-02-07 08:57] mlyle commented on #472
Matlab should be able to deal with this-- it's just truncation (trying to read past the end / get the last record which isn't fully there.)

[2016-02-07 17:23] droidicus opened #621 "Quantize dT based on sensor rate"
The dT used system wide for autotune, stabilization, attitude, etc should be centralized, and measurements quantized to the sensor rate. This will help to remove the jitter inherent in the RTOS timer currently used for these purposes. Will also lay the framework for some more advanced algorithms such as accumulator based autotune, and more.

Superset of #113

[2016-02-07 17:30] mluessi commented on #621
Instead of quantizing it, I wonder if it would be better / cleaner if the sensor drivers published the sampling rate, so it can be used elsewhere.

[2016-02-07 18:15] droidicus commented on #621
@mluessi I agree, I was actually surprised that the sensor drivers didn't make this available.

[2016-02-07 20:31] pug398 opened #622 "dronin next:Sparky2:bootloader does not connect when halted"
Does not appear to send a reset to fc so bootloader is not detected unless you manually reset fc.

[2016-02-08 02:21] mercsw opened #628 "dronin.org front page improvement"
When a newbie like me looks at your website, it is not obvious where i can read more about the product, I had to look around to find the wiki which does have a lot of helpful information.

My suggestion is to simply link to the wiki at https://github.com/d-ronin/dRonin/wiki on your current "About" link at the top of the page and then add a "Home" link that points to the content that is currently o

[2016-02-08 02:35] #628 closed, assigned to EricB-Arch

[2016-02-08 04:54] tracernz opened #629 "Flight: Failsafe flight mode causes config error"
Bad usability bug introduced in #473. The SystemHealth widget doesn't tell you why either. I don't see a quick fix unfortunately.

[2016-02-08 05:15] mlyle opened #630 "Serial telemetry does not work on LUX"
Suspect it's related to USB presence detect or lack thereof...

[2016-02-08 05:45] tracernz commented on #621
I will put this in with new MPU driver: https://github.com/tracernz/dronin/commit/1a513a8e60374c485891541801ba6e9cd467f383

[2016-02-08 06:41] mlyle commented on #621
I think if we're doing this, we need to measure and make sure we're actually getting samples at that rate.

[2016-02-08 09:40] tracernz commented on #621
We don't want to use real time data in our calculations though, it will just introduce additional noise. Just raise an alarm if the samples are consistently more than a certain percentage over nominal maybe?

[2016-02-08 10:34] henn1001 commented on #450
Ok i think this does it mostly for all the f3 and f4 targets :)
Discoveryf4 did not seem that polished/flyable so i left it out.

[2016-02-08 10:34] #450 closed

[2016-02-08 16:20] henn1001 opened #631 "GCS: UAV import deselect all button"
Sometimes i only want to import one set of uavs.
![unbenannt](https://cloud.githubusercontent.com/assets/10023892/12891374/ff369a60-ce87-11e5-92fa-42d7ed388665.PNG)

A select/deselect all button would be great for that :)

[2016-02-08 17:48] mlyle commented on #621
Yes, we definitely don't want to use it most places (-- well, we want to use it quantized to the interval in many places so we handle droppage better --) .. But we do want to notice if we think we'll be getting 333 samples per second and get 250.  Or 500.  And refuse to arm, etc.

[2016-02-09 03:52] #515 closed, assigned to ekaszubski

[2016-02-09 04:35] droidicus commented on #170
For now I believe it is rational to keep the 60 second autotune time, along with #457.

[2016-02-09 04:38] droidicus opened #634 "GCS: Autotune slider improvments"
It would be nice to have a default button for the Noise/Damping sliders to return to the 1.1/1.0 default condition. Also, it would be nice for the sliders to show more digits and have a input box that can be typed in for direct control.

[2016-02-09 04:55] EricB-Arch opened #635 "Flight: Merge Colibri and Quanton targets"
Talking with icee he mentioned dropping colibri as a target noting that colibri and quanton were pretty much the same and that at one point it was possible to load quanton fw on the colibri.

[2016-02-09 05:04] dustin commented on #634
I think there's a bug for more digits already.

On Mon, Feb 8, 2016, 20:38 droidicus notifications@github.com wrote:

[2016-02-09 05:11] #112 closed

[2016-02-09 05:11] #170 closed

[2016-02-09 05:28] mlyle commented on #596
Good enough

[2016-02-09 05:28] #596 closed, assigned to nobody

[2016-02-09 12:31] reubenfirmin commented on #437
Is Renatus in the ubuntu repos yet? The Jan 26th build of Dronin still does not install udev rules.

[2016-02-09 17:11] mlyle commented on #437
@reubenfirmin No, we're not in the ubuntu repos and haven't sought inclusion-- for a couple of reasons.  First, we don't exactly conform to the recommended filesystem layout in our .deb, and second we're likely to release too often for the upstreams to keep up in a useful way (e.g. Debian/Ubuntu doesn't really like picking up feature changes after releasing, instead trying to keep the same major v

[2016-02-09 19:00] pug398 opened #637 "GCS:Windows:Reset GCS Config broken in Import/Export GCS Settings"
next loads a incomplete config instead of deleting config and starting fresh

[2016-02-09 20:26] mlyle commented on #637
Ah, I had seen this and blamed the portable for this.

[2016-02-09 20:42] mlyle commented on #637
Introduced in #612

[2016-02-10 01:53] #637 closed, assigned to mlyle

[2016-02-10 02:18] mlyle opened #640 "Flight modes and stabilization modes should be inherited"
from a common object, using the UAVO parent mechanism.

[2016-02-10 02:19] mlyle commented on #640
This can be used to disallow failsafe-per-axis and other nonsensical things, because it can be a subset in manualcontrol.

[2016-02-10 04:24] mlyle opened #641 "Reasons why telemetry sucks"
- "Modal" acknowledgment / tying up the channel
- Prioritization through separate queues in a crude fashion
- ~~"Pausing" during session handshaking~~
- ~~Unambitious session handshaking rates~~
- ~~Throttled is not good; does not use real throttling mechanism in UAVO~~
- ~~Periodic is used instead of throttled, often, when I think we mean throttled~~
- No understanding of underlying queue depths

[2016-02-10 07:08] thunderdan opened #642 "power-up issue with a sparky2"
After setup for my fixed wing craft I observe a problem when I connect my flight battery without connecting USB.  I have no issue when I connect USB first, followed by battery second.  There is a problem if I just connect the battery only.

The problem looks like a glitching of the power rails.  The power LEDs blink abnormally.  The servos glitch and then end up at their extreme positions instead

[2016-02-10 07:14] thunderdan commented on #642
I added a video of the problem on youtube.  Link is http://youtu.be/LPm7VbA4zF0

[2016-02-10 07:19] droidicus commented on #634
LGTM

[2016-02-10 07:19] #634 closed, assigned to nobody

[2016-02-10 08:04] thunderdan commented on #642
Update:

I erased all settings from board, ran through setup again, and tried again and it worked as expected this time.  Maybe the default initialization of the board has the PWM outputs set to 1000 us and once the firmware/settings load then the netrual values are used (1500 us for my plane).

I'm not sure anyone should start to work on this unless I can reproduce the problem again.

[2016-02-10 16:08] reubenfirmin commented on #437
@mlyle Right, I installed from the PPA. Understood about not wanting to be in the official repos. But, correct, the PPA installed deb _did not_ add udev rules.

Thanks

[2016-02-10 16:20] dustin opened #643 "Report Mixer and Manual Control settings to autotown"
We were investigating a user's tune and realized two things:
- He had both ppm and dsm configured, but it was unclear which one he was actually using
- We can't tell what the outputs are configured to be (though we can at least guess here, it'd be nice to confirm)

[2016-02-10 16:39] mlyle commented on #437
@reubenfirmin -- we don't have a PPA as far as I'm aware, just the bare deb-- did you use our bare .deb or did someone put us in their PPA somewhere?

[2016-02-10 16:39] mlyle opened #644 "Reported: Linux deb package does not properly install udev rules"
https://github.com/d-ronin/dRonin/issues/437#issuecomment-182450317

[2016-02-10 16:57] reubenfirmin commented on #437
@mlyle Hm, my bad. But yeah, I must have used your bare .deb in that case (the 64 bit linux one.)

[2016-02-10 17:00] dustin opened #645 "Centralise Timer Bank Mapping"
I dug through board-specific C++ code to generate a board map I could use for figuring out how people's timers are configured:

https://github.com/d-ronin/autotown/blob/master/static/banks.json

Ideally, we generate the code from a table that can be used elsewhere (since more than just the GCS where this code lives might want to use that data).

[2016-02-10 17:35] mlyle opened #646 "Need to document how to fix Windows CC3D driver attachment"
Triple-verified correct procedure was tried.  Used an eraseflash firmware and then flashed back, to no success.  Windows 10 x64.

This is a placeholder for any similar results.

![screenshot](https://cloud.githubusercontent.com/assets/90903/12955797/8e43ab1a-cfd9-11e5-9f14-400df4c468c8.PNG)

[2016-02-10 18:43] #643 closed, assigned to mlyle

[2016-02-10 19:29] Robot-John commented on #228
I want this. Really bad. What can I do to help?

[2016-02-10 21:10] mlyle commented on #228
@Robot-John Cool! :)  I'm away for a couple of weeks but I'll be working on it when I get back.  We've already laid the groundwork with some of the clipping management stuff we've done.

One thing you could do is try out recent next, like http://jar.lyle.org:8080/job/dronin/152/  (click on the OS at the bottom).  More mileage on it will make us more confident to innovate.  And we have a big IRC co

[2016-02-10 21:38] dustin commented on #149
People don't seem to understand the share button.  I've seen some duplicates shares as well as untuned shares.  I get the feeling some people think it opts them in for sharing.

[2016-02-10 21:40] DTFUHF commented on #149
It'd be nice to have a link to the database as well!

On Wed, Feb 10, 2016 at 4:38 PM, Dustin Sallings notifications@github.com
wrote:

[2016-02-10 21:49] dustin commented on #149
Yes, it (usually) returns the URL to the tune it just wrote. If we make
this not require a specific action from the user, that could get more
complicated.

On Wed, Feb 10, 2016, 13:41 DTFUHF notifications@github.com wrote:

[2016-02-10 22:20] carbogit opened #648 "GCS crash when opening additional workspace"
adding an additional workspace through Tools/Options/GCS/Workspaces and then going to that new workspace via its tab at the bottom of the screen crashes the GCS (Win 7 64 bit, Renatus release).

[2016-02-10 22:57] mlyle commented on #554
Dup #261

[2016-02-10 22:57] #554 closed, assigned to nobody

[2016-02-10 23:08] mlyle commented on #559
Looks like the correct thing happens for numeric editing, etc.  It's pulldown menus that are the problem.

[2016-02-10 23:17] #600 closed, assigned to mlyle

[2016-02-10 23:19] tracernz commented on #645
They are in the GCS board plugins, and in the board_hw_defs.c. I'm curious what this is useful for outside of there?

[2016-02-10 23:21] tracernz commented on #645
Oh, and also in the schematics :P. It's a board-specific implementation detail so not many things should care about it.

[2016-02-10 23:25] dustin commented on #645
It's useful because the actuator config sets frequency by bank and the outputs are by channel.  I want to be able to tell whether someone has a particular channel's frequency set up incorrectly (or in the simple case, just what frequency they're using).

[2016-02-10 23:29] tracernz commented on #645
Hmm, we should try to represent the data in a different way so we don't need to deal with board specific stuff outside of places where it's not strictly necessary IMO.

[2016-02-11 00:06] tracernz commented on #648
Confirmed on Linux. Tries to de-reference a null pointer at https://github.com/d-ronin/dRonin/blob/f801a2c5342ed4cfbc138480b5e5afbcedfb970e/ground/gcs/src/plugins/coreplugin/uavgadgetmanager/uavgadgetmanager.cpp#L135

[2016-02-11 00:16] dustin commented on #645
It's not entirely obvious how one could do this.  The channels are banked and organized by timer.  The timer can only have one frequency.  The user has to choose the frequency for the bank and has to do channel assignments.  We either have to reflect that, or do a ton of magic to make it work so that we can pretend each channel has its own frequency.

And that's really what I'm getting at.  What c

[2016-02-11 03:30] mlyle commented on #472
Just to note, the "fixes #..." needs to be in the top comment (edited in after is OK) of the PR for autoclose to work.

[2016-02-11 03:30] #472 closed

[2016-02-11 03:32] mlyle commented on #641
Probably related / caused by this: #598, #461

[2016-02-11 03:48] #629 closed, assigned to mlyle

[2016-02-11 07:16] mlyle commented on #461
Looks like there is absolutely no attempt made to retry or anything, which isn't awesome.

[2016-02-11 07:20] mlyle commented on #648
Well, that's clever. :P

[2016-02-11 15:19] droidicus commented on #472
Ah, good to know!

[2016-02-11 18:40] mlyle commented on #535
8e2472a126 fixed 'screeen' ; #519 covers the remaining switch issue.

[2016-02-11 18:40] #535 closed, assigned to nobody

[2016-02-12 00:20] jpbarraca commented on #648
Confirmed on OS X

[2016-02-12 05:41] tracernz commented on #648
Well, it's cleverer on STM32 where 0x0 points at the base of flash :-P.

[2016-02-12 17:19] jpbarraca commented on #646
I have a CC3D and can test the process. The CC3D will be usable (can I flash it again) after this?

[2016-02-12 18:21] mlyle opened #657 "Windows build environment needs to tolerate other build tools better"
This has been a support headache, and I've encountered it myself now that I have anaconda on my Windows development machine.
- Should prepend to paths in bash_profile
- Should more thoroughly search for tools that may be missing (need to find new things introduced in QT5.5, etc)
- More thought in general

[2016-02-12 22:25] dustin commented on #567
I did an upgrade on Brain which did this as well.

New UUID:  9af89b69fb585bb43a10cbbd6249d2efb514cfcfce28fc2bc14551b15da031d0
[Example](http://dronin-autotown.appspot.com/at/tune/ahFzfmRyb25pbi1hdXRvdG93bnIYCxILVHVuZVJlc3VsdHMYgICAgKK-tAsM)

Previous UUID:  21d059c3b750e760c2c74465befd013b565e1f25df82edde73667d8354beb819
[Example](http://dronin-autotown.appspot.com/at/tune/ahFzfmRyb25pbi1hdXRvdG9

[2016-02-12 22:25] mlyle commented on #646
@jpbarraca yes.  On the other hand this is something that only happened once so you're not likely to repro it.

I talked to the user yesterday; he solved the issue with this procedure:

https://librepilot.atlassian.net/wiki/display/LPDOC/Troubleshooting

[2016-02-12 22:32] dustin commented on #567
Note (because @mlyle asked):  Both of those UUIDs in the previous comment show up in the board export (usage data).  The GCS consistently reported that UUID in both AT and Usage.

I have confirmed that the same UUID is reported in the serial (4e... in example above) in each of the following revisions of my uav export:

[code]

[2016-02-12 23:44] jpbarraca commented on #646
@mlyle I tried but I cannot reproduce this issue on OS X.

Maybe it is a good idea to add that info to our wiki.

[2016-02-13 00:01] mlyle commented on #646
@jpbarraca Yes-- it's only on Windows, and only happened to about 1 windows user out of 100.

[2016-02-13 05:26] tracernz opened #658 "GCS:Modules: Allow specifying Vbat ratio rather than mV/V"
^As per. Should probably keep the mV/V box as well.

e.g. 11.0 rather than 90.9 mV/V for 10k/1k divider

[2016-02-13 15:09] mluessi commented on #658
I think the mV/V field is quite useful, as most voltage and current sensors available specify mV/V and mv/A, so if a device is properly calibrated the user can just enter the numbers and it works.

[2016-02-13 18:41] tracernz commented on #658
@mluessi Agree, that's why I kept both. :)

[2016-02-13 19:43] tracernz opened #660 "GPS: Move settings into own UAVO, Add GPS tab in ModuleSettings UI"
Most of the settings aren't currently exposed in the UI. There are now enough to make it worth moving them into their own UAVO IMO and consequently free up a little RAM+Flash on F1.

[2016-02-13 20:05] DTFUHF opened #661 "Input - RSSI field does not support all RX types"
![untitled](https://cloud.githubusercontent.com/assets/4762910/13029745/bf03caba-d262-11e5-9669-3a26a51b6ae2.png)

Missing: DSM, SUMD, RFM22B (though rfm22b already has its own rssi)

[2016-02-13 20:06] DTFUHF commented on #661
Somewhat related, PPM is limited to 12 channels, this can be a little restrictive. Sbus supports up to 18,  SUMD up to 32!

[2016-02-13 20:08] tracernz commented on #661
Is DSM useful? I don't think there's any way to make a Spektrum Rx or Tx spit out RSSI to a channel?

[2016-02-13 20:09] DTFUHF commented on #661
Heh, I guess not, maybe in a future RX

[2016-02-14 05:57] tracernz opened #664 "GCS:Libs: Upgrade to Eigen 3.3"
When released (currently at beta http://eigen.tuxfamily.org). Previous versions use things that are deprecated in C++11, and cause compilation to fail with GCC 5.3 for @fujin.

[2016-02-14 09:25] fujin commented on #664
confirmed

[2016-02-14 18:18] thunderdan commented on #642
I have seen this problem again when I took my plane out to fly today.  I believe it is a power droop issue.  I have two batteries that I have used for about a year.  They are the zippy compact 3 cell, 2200mah, and 25C... and yes, they are charged to capacity (12.6V).  With these batteries, the sparky2 does not complete power-up and goes into a loop (see youtube video).

When I tried a new battery

[2016-02-14 19:38] ufoDziner opened #665 "TxPID for Damping and Noise sensitivity"
Would be awesome to have the ability to adjust the Autotune Damping and Noise sensitivity using the TxPID module.  Thanks!

[2016-02-14 20:13] dustin commented on #665
This is another nice aspect of the concept of pushing AT computation into
the FC.  It's quite risky, but a really neat higher level usage of txpid.

On Sun, Feb 14, 2016, 11:38 ufoDziner notifications@github.com wrote:

[2016-02-15 01:11] thunderdan commented on #642
I confirmed the same problem exists on fw/sw from Tau Labs 2015-11-23 release.

[2016-02-15 01:47] mlyle commented on #642
@thunderdan -- we do default to 1000us pulses, but we don't ever send 1000us during initialization.  We read config, (or reset to defaults which is min=1000us) ... then send it.

But one thing I've noted is that Sparky2 has some kind of reset glitch thing in its startup code, which will generate a runt pulse.  How long are things driven to one rail?  Does it get better on its own?

@tracernz -- wo

[2016-02-15 01:48] mlyle commented on #665
Yah, though this one particularly makes me nervous.  It's a bit expensive of math to be doing in the middle of flight, and the tunes resulting may not be "continuous" / a small txpid deflection may do something wonky.

[2016-02-15 01:56] #658 closed, assigned to tracernz

[2016-02-15 07:13] tracernz commented on #283
I can get this working fine on Linux in both the setup wizard and uploader file dialog, but not on OS X. It seems like OS X just totally ignores the path you provide for the file dialog.

[2016-02-15 10:04] tracernz commented on #283
BTW, my hax: https://github.com/tracernz/dronin/tree/firmwarez

[2016-02-15 10:11] tracernz commented on #487
Turns out HoTT SUMD/H is a variant of SRXL, would be good to incorporate it into the SRXL driver to avoid code duplication.

[2016-02-15 13:21] m-thread commented on #487
Yes. I think it would be easy to have the SUMD/SUMH to be auto detected as well. No need to configure one of the two types when it can be deduced from the stream?

[2016-02-15 21:41] tracernz commented on #487
Yeah, exactly.

[2016-02-15 22:22] mlyle commented on #283
I have no Mac with me.  But it may expect a macos style path-- e.g. colon delimited.  I know qt has path and path separator related functions.

[2016-02-16 02:19] ragd011 commented on #532
The only issue I've had was having to drop into a boot option that disables the requirement for driver signing while I install the GCS.  Then I reboot win 10 normally and everything is detected fine.

http://www.howtogeek.com/167723/how-to-disable-driver-signature-verification-on-64-bit-windows-8.1-so-that-you-can-install-unsigned-drivers/

is this what people are experiencing or am I not understa

[2016-02-16 02:22] tracernz commented on #532
You don't need to install drivers on Windows 10, they are included by default.

[2016-02-16 03:37] mluessi opened #668 "GCS: Importing UAV settings sets all UAVOs"
When importing an .uav file in the GCS, all objects present in the file are set, even if they are not selected to be saved to flash. This should not happen, as settings are changed without informing the user and attempting to fly without first restarting the flight controller (which will cause the correct settings to be read from flash) can cause a crash/unintended behaviour etc.

[2016-02-16 03:40] #368 closed

[2016-02-16 03:54] mluessi commented on #665
This would probably only make sense on flight controllers with an OSD, so the parameters could be adjusted and new PID gains computed/inspected without needing a computer. This would be nice, but we would need to make sure that the code on the flight controller and the GCS give the same results (the GCS code is probably using double precision math, so we would need to make sure it works with singl

[2016-02-16 05:44] thunderdan commented on #642
For my set up, it can get stuck in a loop with the servos fully deflected.  When the power up completes correctly it looks like a glitch to me also.  I added a YouTube video to show the problem (better than words).

I not sure of the quality of my hobby king ESC so that could be a contributing factor.

-- Dan Morgan --

[2016-02-16 06:02] droidicus commented on #665
Another option would be to lock the calculated PID values in place at arm, and require a dis-arm/re-arm cycle to load a new set in.

[2016-02-16 06:05] droidicus commented on #532
I was able to get VCP working this weekend for the Debug console on Win 10 using the default system driver (no driver installation). Will try the VCP telemetry again tomorrow.

[2016-02-16 13:55] mlyle commented on #532
@droidicus any idea what you did differently vs. when it didn't work before?

[2016-02-16 14:02] mlyle commented on #642
OK.  We'll use this issue to try and work on Sparky2 reset behavior.  I think the bootloader tries to drive the pins low on sparky where on most other targets we leave it floating high.

(I am curious--- not worth a test / over-deflecting control surfaces... but do you know if they are just 'left' fully deflected or if they are still being actively driven to full deflection / buzzing when stuck?

[2016-02-16 17:04] droidicus commented on #532
@mlyle I didn't do anything differently, just set the VCP port to the debug console, and fired up putty. It worked the first shot.

[2016-02-16 17:52] tracernz commented on #532
So it looks like a telemetry/configuration issue rather than a CDC driver issue?

[2016-02-16 21:11] jpbarraca commented on #668
I have this ready but PR #655 must be accepted (or denied) first as it will change some of the same code.

[2016-02-16 22:08] droidicus commented on #532
Yes, I think so.

[2016-02-16 23:16] tracernz commented on #668
@jpbarraca, if you could take care of the minor formatting issues in #655 and I'll test+merge after work tonight so you can get on this one. :-)

[2016-02-16 23:17] jpbarraca commented on #668
@tracernz I think everything is already fixed in #655

[2016-02-16 23:20] tracernz commented on #668
Sorry, missed the last commit, thanks! I'll be home in about 8 hours.

[2016-02-17 03:56] thunderdan commented on #642
Thanks for the comments Michael.

It happens fast but it seems to drive them to full deflection and then the reset occurs.

 I took slow motion video in case that helps to characterize it further

http://youtu.be/7_23MPEvunk
http://youtu.be/3-pQLFIrb3k

-- Dan Morgan --

[2016-02-17 12:30] mluessi commented on #642
@thunderdan how are you powering the sparky2 and the servos? Like @mlyle suggested you may need a bigger BEC; the servos may draw too much power, which causes a brownout reset of the flight controller due to the voltage dropping.

[2016-02-17 14:32] jihlein opened #670 "Flight - Make ef_target cmds no longer work in Windows Development Environment"
After rebasing PR #403 to the latest next, make ef_target fails as follows:

recipe for target 'c:/dronon/build/ef_aq32/eq_aq32.fw_pre.pad' failed

All targets fail in the same manner.  This works on Linux, not sure about OSX.

[2016-02-18 00:07] jpbarraca commented on #74
Very useful! Just got a new default layout for my GCS. Tks.

[2016-02-18 00:22] jpbarraca commented on #76
@tracernz It would be very useful. This involves other widgets besides Board and Modules?

[2016-02-18 00:28] jpbarraca commented on #98
With a Sparky2 I noticed that the PicoC module will restart every 1h 11m. Will need to test it again.
My setup was:
- Had picoc with script that would blink the LEDs.
- Left Sparky2 powered without any input
- I noticed that sometimes the LEDs would flash
- Started registering the time between blinks and it matched 1h11m. Last time however it took around 15m.

Not sure that this is related. Just r

[2016-02-18 01:46] tracernz commented on #76
Off hand just the hardware settings and modules UAVOs, there are probably others too.

[2016-02-18 03:20] thunderdan commented on #644
I looked at this issue.  The debian installer puts the file at /lib/udev/rules.d/45-dronin.rules which is a valid location.  Kernel.org explains that files from this directory as well as /etc/udev/rules.d get collected and processed.

Maybe there is some confusion since the developer documentation specifically says to copy the rules file and place it at /etc/udev/rules.d/45-dronin-permissions.rule

[2016-02-18 13:45] mlyle commented on #670
Do other targets fail the same way, or just aq32?

It appears to work for me (and the automated build environment).  I'm not able to try the branch.

I'm not able to try this thoroughly while on my trip, unfortunately.  Could AQ32 be out of space / nearly out of space in a partition?

(Incidentally I think I recently noticed that AQ32 just has a single logfs arena which is an incorrect configurati

[2016-02-18 15:15] jihlein commented on #670
All targets are failing the same way, but I'm on the road and using a different laptop for building, maybe the environment isn't setup quite right.  I'll check this when I get home on my normal development laptop, along with the logfs arena.

[2016-02-18 16:35] thunderdan commented on #642
@mluessi BEC is built into the ESC that came with a floater jet I bought (and since crashed).  I agree that a BEC with more capacitance on the 5V out line would be one way fix this.

I did an experiment and now I think I know what is going on.  The pins are driven to this state during the bootloader portion of boot before the fw loads.  I loaded GCS, ran "rescue", plugged in sparky2 over USB, then

[2016-02-18 20:16] brat002 opened #673 "Configurable failsafe action"
Could anybody implement configurable failsafe actions that will be triggered by low voltage or RC signal lost events.
I think, we can have several possible actions:
- shutdown motors
- land with previously defined motors rotation speed
- land (if GPS signal available)
- pos hold
- return to home and pos hold
- return to home and land

[2016-02-18 21:03] dustin commented on #673
There are a few failsafe bugs Josh that may cover your request.

On Thu, Feb 18, 2016, 12:17 brat002 notifications@github.com wrote:

[2016-02-18 21:17] tracernz commented on #673
There isn't one covering this but it has been discussed a lot. There is a high bar for GPS/nav-related failsafe modes IMO. Fly-aways are the last thing we want to be associated with dRonin.

[2016-02-18 21:48] mlyle commented on #673
Yes.  The sophisticated autonomous modes are likely to be awhile before we implement them.  In the shorter term there's some interest in intermediate modes to ride-out failures (e.g. short times-- a second or two-- of leveling at low power to do something better during brief signal losses than stopping the motors).

[2016-02-18 21:53] mlyle commented on #642
@thunderdan We need to study what the bootloader does.  It does not attempt to generate PWM pulses.

What is probably happening is this:  during reset, the STM32 lets the pins float high.  As soon as we're running, we drive them low.  This short blip probably looks like a pulse to the servos.

The bootloader maybe should leave the pins alone (I think other bootloaders do this), or maybe should dri

[2016-02-19 02:20] tracernz opened #674 "Refactor MSP into library"
Take TauLabs/TauLabs#2198.
Will be used by:
- UAVOMSPBridge
- BlHeliSuite integration
- Possibly TauOSD
- ???

[2016-02-19 03:07] thunderdan commented on #642
Update:
I found code that indicates the bootloader for sparky2 drives PWM outputs low... based on the comment at least.

flight/targets/sparky2/bl/pios_board.c

`        // Make sure all the PWM outputs are low
        const struct pios_tim_channel * channels = pios_servo_cfg.channels;
        uint8_t num_channels = pios_servo_cfg.num_channels;
        for (int i = 0; i < num_channels; i++) {

[2016-02-19 04:36] tracernz commented on #642
No matter what you do the STM32 goes high-Z with weak pullup enabled during reset, it's probably best to continue this until we initialise PWM in the firmware. The brushed sparky should have stronger pulldown resistors on the gates, and indeed it does so it's a non-issue IMO.

[2016-02-19 05:49] tracernz opened #675 "Consider Issue/Pull Request templates"
https://github.com/blog/2111-issue-and-pull-request-templates
Might be useful to prompt people to add e.g. checkboxes for required tests.

[2016-02-19 07:05] brat002 commented on #673
If navigation capabilities is not available dRonin can fallback to simple
failsafe actions like
- land with previously defined motors rotation speed(failsafe in cleanflight
  firmware)
- shutdown motors

2016-02-19 0:48 GMT+03:00 Michael Lyle notifications@github.com:

[2016-02-19 14:40] pug398 commented on #642
The servo controller will only activate on valid pwm input AFAIK. Are we sure during reset it is not sending default output values? With the default output set to off (0) instead of 1000-2000 there appears to be a different behavior but I only tested with motor setting not servo.

[2016-02-19 14:52] mlyle commented on #673
The problem isn't just lack of availability.  It's that we have no infrastructure to tell if they are working.  We could have a magnetometer error and fly away forever.  We need to be able to tell when advanced modes are not making progress towards their objectives so we can fail to safer, less complicated approaches.

IE, if the magnetometer lies and we fly off in the wrong direction, that's supe

[2016-02-19 17:13] WZ9V commented on #104
I've been digging a little and as best I can tell CleanFlight has a MSP extension MSP_SET_1WIRE that switches all of the ESC signal lines to pass through (soft UART) mode. Which then makes the FC just a fancy programmer box for the BLHeliSuite software.  I'm still working my way around the d-Ronin code but I was thinking of making an attempt at the pass through capability.  If we could get the FC

[2016-02-19 17:32] dustin commented on #104
Reverse engineering a particular version is not good for us.  We need a stable interface that blheli would commit to.  It's unlikely they would do that since it restricts what types of things they can do.

[2016-02-19 18:52] tracernz commented on #642
Original issue for reference: TauLabs/TauLabs#1821

[2016-02-19 18:57] tracernz commented on #104
I have done work lately on CF code adding real passthrough with softserial rather than the current hacky implementation. I opened an issue yesterday to move the MSP encoder/decoder into a library. There is a soft-serial driver in one of peabody's branches. What remains is the infrastructure so we can obtain a lock on arming of some sort, and disable PiOS_Servo so it doesn't interfere. Then work ca

[2016-02-20 01:12] WZ9V commented on #104
Cool.  Sounds like you all are already on it.  Pass through and using their GUI is fine by me.  I do believe that a flexible way of displaying a configuration screen could be worked out though.  While not having to reverse engineer their changes would be better, it wouldn't be that hard to have a definition DB that defines what a particular version expects, query the interface to get the version a

[2016-02-20 03:45] mlyle commented on #104
We're certainly thinking about it at least, but it's a little while coming.  Any and all help appreciated :)

One of the trickiest choices to make is the encapsulation, etc.  There are some reasons that encapsulating serial in uavtalk would be nice-- it would work over radio interfaces, and it could be used for other things, too-- like differential GPS corrections from a ground station in flight.

[2016-02-20 03:51] tracernz commented on #104
I think VCP at first makes this a lot closer. Getting BLHeliSuite talking serial to GCS for Serial-over-UAVO is likely to be problematic in itself IMO.

[2016-02-20 03:56] WZ9V commented on #104
I was planning to do some work on a Python or whatever program to talk to the Arduino programmer.  I'll work on that and maybe that could help since we wouldn't have to worry about WINE and Windows.  Rather than Python I'll look into using Qt instead.  I'm more familiar (but rusty) with C++ anyway.  Using Python was just an excuse to practice to get more familiar with it.  Won't make any guarantee

[2016-02-20 04:13] tracernz commented on #104
I was planning to use the MSP commands BLHeliSuite already supports so the entire thing can be controlled by BLHeliSuite, including selecting different ESCs etc., no GCS support required (other than configuring the VCP port and enabling the module initially.

[2016-02-20 05:13] mlyle commented on #104
re:VCP.  Yah, I don't think better should be the enemy of good.  I wouldn't
build it that way, but i wouldn't object to that implementation merging
either.

On Fri, Feb 19, 2016 at 8:13 PM Michael Corcoran notifications@github.com
wrote:

[2016-02-20 05:43] tracernz commented on #104
Yep, ultimately we should do the UAVO-serial thing but not at the cost of blocking other stuff.

[2016-02-20 12:16] mluessi commented on #104
I think this is a good plan. BLHeli suite passthrough should be achievable for Tanto, after that, we can start implementing direct configuration using the GCS. Not having to use VCP would definitely be a benefit, as many Windows users seem to have driver issues.

@WZ9V keep us posted what you find. Once we know the protocol and differences between versions it should be fairly easy to add the GUI t

[2016-02-20 12:29] tracernz commented on #104
@ mluessi About half our windows users are on Windows 10, and this is increasing. VCP works out of the box there so it shouldn't be too much of an issue.

[2016-02-20 12:33] WZ9V commented on #104
You are thinking exactly along the lines I was.  Let's aim for the simple pass through first and over time morph it into a fully integrated d-Ronin GCS implementation.  The only part I have not been able to dig up is how the variables on the screen are layed out in the EEPROM.  I'll try asking him for a mapping, if that doesn't work I'll resort to a serial capture and spend some time staring at th

[2016-02-20 12:41] tracernz commented on #104
You will find that in the BLHeli source code.

With some small extensions to the soft serial driver SimonK bootloader through BLHeliSuite can also be supported.

[2016-02-20 13:06] WZ9V commented on #104
Thanks, I'll check there.  I still hadn't found that information yet.

[2016-02-20 15:50] jihlein commented on #670
Must be an issue with that particular laptop, my primary development laptop at home works fine.

Closing.

[2016-02-20 15:50] #670 closed, assigned to nobody

[2016-02-21 00:14] tracernz commented on #104
@WZ9V Atmel EEPROM layout: https://github.com/bitdump/BLHeli/blob/master/Atmel/BLHeli.asm#L1277, SiLabs https://github.com/bitdump/BLHeli/blob/master/SiLabs/BLHeli.asm#L2259

[2016-02-21 00:53] WZ9V commented on #104
Thanks.  I'm still fighting with sending a command and receiving a response via /dev/ttyACM0 to the Arduino programming box.  I was messing around with it in Python with PySerial but I think I might be better off in C/C++ which I understand better.  Those layouts will be handy once I get some basics working.

[2016-02-21 01:51] tracernz commented on #104
Are you writing a BLHeliSuite replacement?

[2016-02-21 03:25] WZ9V commented on #104
Ultimately that's what I'm aiming for.  For right now I'm just experimenting.  Python and PySerial are not cooperating at the moment.  I have a dummy program on the Arduino that just prints a string on the LCD.  It works from the serial monitor but my super simple Python script says it sends the 12 characters in my test string  but the Arduino is not receiving them.  I'm essentially still at the "

[2016-02-21 10:21] henn1001 commented on #105
I´m still thinking about this. Is there enough room for a buzzer module on f1 boards?

[2016-02-21 10:34] tracernz commented on #105
Should fit on Naze, unsure about CC3D. It will be welcome for F3/F4 even if it doesn't fit on F1 :-).

[2016-02-21 11:34] jpbarraca commented on #648
What is the usefulness of a user adding a new workspace? I digged a little in the interface and found nothing related.

[2016-02-21 12:06] tracernz commented on #648
Well the entire UI is fully configurable so you can setup whatever tabs you like in whatever way you like. I think probably 99% of people use the default setups provided though. I'm guessing this is related to #311 but could well be wrong because I didn't even read the diff.

[2016-02-21 12:21] tracernz commented on #648
Can confirm #311 is the cause of this crash.

[2016-02-21 13:17] mlyle commented on #648
OK.  Probably another instantiation case needs to be handled properly.

[2016-02-21 13:25] #390 closed

[2016-02-21 16:25] WZ9V commented on #104
Little bit of progress, got my Qt Terminal example to send the keep alive and get the correct response. Turns out there was a missing command in the docs send_InterfaceListen - FF that tells the interface to switch from the GUI mode to PC mode.  Bit Rate is 38400, N,8,1 when talking PC to interface.  Setting up repository for further work on Qt based BLHeli Client.

[2016-02-21 19:33] dustin commented on #105
Does anyone use the existing buzzer stuff?  It's kind of in the way.  I
guess one workaround is to try to get, e.g. Naze buzzer to work within that
junk first.  It'd really be a lot nicer if all of that were removed, though.

On Sun, Feb 21, 2016, 02:34 Michael Corcoran notifications@github.com
wrote:

[2016-02-21 20:31] jihlein commented on #105
Yes, I use it on my Naze32Pro port.  By luck, the pin with the transistor output on that board lines up with a PWM timer.  Use it for low battery warning and it works well.

But I agree, it could be replaced with something simpler.

[2016-02-21 21:21] dustin commented on #105
Wait, it does?  How do you configure that up?

On Sun, Feb 21, 2016 at 12:32 PM John Ihlein notifications@github.com
wrote:

[2016-02-21 22:40] jihlein commented on #105
After setting up the battery monitor, set the output like this:

![image](https://cloud.githubusercontent.com/assets/3869782/13205921/cfea994a-d8b0-11e5-8d4d-77b166a9db5d.png)

It uses one of the PWM output pins.  Setup as shown above, the pin has a 100% duty cycle.  Set a lower duty cycle if it's too loud.  In most case you will need an external transistor to drive the buzzer, but in the case of

[2016-02-22 01:22] CptanPanic commented on #298
Any new updates for this?

[2016-02-22 01:25] #668 closed, assigned to nobody

[2016-02-22 01:42] tracernz commented on #298
Waiting on me to have time to finish driver still.

[2016-02-22 01:55] #559 closed, assigned to mlyle

[2016-02-22 01:58] mlyle commented on #644
@thunderdan-- thank you.  I'll double-check too, because it's better to be on the side of not losing an issue report, but this lets me prioritize it down.

[2016-02-22 21:33] mluessi commented on #298
@tracernz which driver? I have a BMP280 one that I got from @jihlein, maybe he can make a PR for it?

[2016-02-22 21:35] tracernz commented on #298
Common mpu driver.

[2016-02-22 22:05] jihlein commented on #298
@mluessi I can make a PR for the BMP280 driver, but will most likely need to wait until the weekend, going business traveling again....

[2016-02-23 00:00] tracernz commented on #298
We don't currently support barometer on any version of the naze so no rush on that.

[2016-02-23 05:49] droidicus opened #679 "FrSky S.Port Telemetry broken on next"
FrSky S.Port Telemetry is broken on next with the following configuration:
Brain FC
FlxPort - S.Port telemetry
MainPort - S.Bus serial
RXPort - disabled

@jihlein it looks like this problem is corrected by reverting #403, not sure why

[2016-02-23 12:58] mlyle opened #681 "Windows artifact builder spontaneously breaks"
And forgets its tools.

http://jar.lyle.org:8080/job/dronin/174/ was fine
http://jar.lyle.org:8080/job/dronin/175/ was missing tools

Tools are indeed missing.

I've run:

[code]

and it's presumably fixed.. but this seems to happen about once per month and is the main impediment to Jenkins reliability.

[2016-02-23 13:38] mluessi commented on #679
@jihlein I just had a look at `pios_board.c` for brain. It seems like #403 removed the inverter configuration. Was this intentional? C.f.

https://github.com/d-ronin/dRonin/pull/403/files#diff-2ff060fb48c128c0340a34d5d954f6dfL450

[2016-02-23 13:40] mlyle commented on #674
The one vote against this is that it makes incorporating the autobaud / channel switchover logic to telemetry mode hard.

[2016-02-23 14:35] jihlein commented on #679
Can't read the diffs too well on my phone. I'll check into this later after I'm off the plane.

[2016-02-23 15:03] mlyle commented on #679
A little regression is normal with a big changeset like this-- thanks @jihlein.  We weren't likely to hear about it while it sat in a PR with sparse test.

[2016-02-23 19:23] jihlein commented on #679
@mluessi, for the Brain, the inverter pin is defined in lines 577 - 590 of board_hw_defs.c.  That structure is passed to PIOS_HAL_ConfigurePort in line 444 of pios_board.c.  Lines 420-434 of pios_hal.c configure the pin based on whether or not SBUS is the selected port configuration.  @pug398 tested both sbus and sbus ni on the Brain and found them to work, but I'm not sure on which port.  I'm ass

[2016-02-23 19:52] pug398 commented on #679
Yes I tested sbus and sbusni on Brain main port. If the question is with frsky smart port telemetry I can test later on. I have an sport inverter board for F4 laying somewhere.

[2016-02-23 20:05] jihlein commented on #679
@pug398, could you also give sbusni a test on the flex port if it's not to much trouble?

[2016-02-23 20:09] pug398 commented on #679
Will do. It is no trouble. You are the one that did all the hard work :)

[2016-02-23 20:26] mlyle commented on #74
Depends on #648

[2016-02-23 20:27] mlyle commented on #83
Relates to #3

[2016-02-23 20:32] mlyle commented on #304
Doesn't seem to happen anymore.  I think it's a short-lifetime thing after upgrade.

[2016-02-23 20:32] #304 closed

[2016-02-23 20:36] mlyle commented on #488
Related: #318

[2016-02-23 20:38] mlyle commented on #604
We talked about this on IRC and found that it was a bad min value that caused it.

[2016-02-23 20:38] #604 closed, assigned to nobody

[2016-02-23 20:55] mlyle commented on #436
Largely fixed by #452

[2016-02-23 20:55] #436 closed

[2016-02-23 21:11] tgreer opened #684 "GCS: OSX Default file location is unwritable."
File -> Export UAV Settings tries to put it in Machintosh HD, which is unwritable. Should put it somewhere better.

Also Tools -> Download Log.

[2016-02-23 21:36] tgreer commented on #606
@henn1001 that works quite nicely. Though we'd need a list of types<>makers... s.bus for like frsky, etc.

[2016-02-23 21:38] tgreer commented on #635
@VArcht how different are they? Is this just a case of relabelling things, or is there some subtle differences we need to account for?

[2016-02-23 23:56] pug398 commented on #679
With Brain/next I have working:
sbus on main
sbusni on main
gps on main
sbusni on flexi
gps on flexi
I have been unable to get s-port telemetry to work on flexi port.

[2016-02-24 00:23] jihlein commented on #679
Interesting.  So flexi port is configuring some functions correctly.  It sound like an F4 target issue, as I recalI that you had s-port working on Sparky, correct?

Wonder if it has anything to do with the recent F4 one wire change.  I'll have to look into that.

[2016-02-24 00:58] pug398 commented on #679
I am going to go back and verify sparky/next with this rx because I am unable to get s-port telem to work on any F4 now. My inverter uses rx/tx/sport connections.

[2016-02-24 01:38] pug398 commented on #679
s-port is working on sparky with current next. Will see if I can get one of the F4 to work.

[2016-02-24 02:11] jihlein commented on #679
It won't work on any F4 right now.

The F4 one wire changes is throwing the F4 uart into one wire mode and the current crop of inverters that use RX and TX pins won't function.  The PIOS_HAL code sets the one wire flag for F3 targets.  Previously that flag was unused on the F4 and had no effect on the F4 uart.  Now it does.  Need to rework something here.

You might be able to hook both inputs of

[2016-02-24 02:15] mlyle commented on #679
That probably won't work :/  Ah, so it's an interaction between those two changesets.

Since the other one is unused right now we could consider reverting it.

@mluessi ?

[2016-02-24 03:11] tracernz commented on #679
So why does it work on F3 then? It has always done one wire right?

[2016-02-24 03:13] mlyle commented on #679
It breaks F4 because it's enabling one-wire on F4 now, but can't enable inversion (there's no inversion on F4).  Existing peoples' inverters don't work with one-wire.  Combination of #403 and #672.

[2016-02-24 03:14] mlyle commented on #679
(But F3 has always done inversion + one wire to be glueless)

[2016-02-24 03:21] tracernz commented on #679
Oh. Kind of a tricky issue since it's theoretically better but the hardware people already have sucks. We will be using one wire on F4 soon with the work m_thread and myself are doing so it would be a shame to revert it because of poor choices by FrSky, leaving better protocols to deal with it.

[2016-02-24 03:21] mlyle commented on #679
Bidirectional inversion is problematic, though.

[2016-02-24 03:24] tracernz commented on #679
So let the FrSky code deal with F1/F4 as special cases (i.e. disable 1-wire) as necessary rather than breaking 1-wire support for everyone else.

[2016-02-24 03:30] mlyle commented on #679
Sure, that's a good longterm solution.

But since nothing uses F4 onewire yet, it could be an OK hack for release to just revert #672.

Don't really care what we do in the short term, but it needs fixin'.

[2016-02-24 03:42] jihlein commented on #679
The following could be an interm fix, would also require modifying pios_config.h file for the F3 targets.

`	case HWSHARED_PORTTYPES_FRSKYSPORTTELEMETRY:
#if defined(PIOS_INCLUDE_FRSKY_SPORT_TELEMETRY)
		PIOS_HAL_ConfigureCom(usart_port_cfg, &usart_port_params, PIOS_COM_FRSKYSPORT_RX_BUF_LEN, PIOS_COM_FRSKYSPORT_TX_BUF_LEN, com_driver, &port_driver_id);
		target = &pios_com_frsky_sport_id;
#endif

[2016-02-24 03:47] jihlein commented on #679
The code below would work, would have to modify pios_config.h for the F3 targets too.

[code]

[2016-02-24 03:50] mlyle commented on #679
Yah, I'm OK with that too.

[2016-02-24 03:54] jihlein commented on #679
There's few other small mods required too, nothing significant.  Not sure I want to cut a PR on this computer, will need to wait until I get home unless someone else wants to tackle it.

[2016-02-24 04:46] #606 closed, assigned to tracernz

[2016-02-24 05:03] #68 closed

[2016-02-24 06:55] tracernz commented on #679
The only thing I don't like about that is that F3 is the normal one, F1/4 are the special cases, but that's being very pedantic :-P. PIOS_INCLUDE_FRSKY_SPORT_TELEMETRY_NOSINGLEWIRE would probably be a better name too.

[2016-02-24 12:10] jihlein commented on #679
Easy enough......

[2016-02-24 15:27] mlyle opened #687 "When actuators are clipping, integrator windup should be managed"

[2016-02-24 15:28] mlyle opened #688 "UI for actuator curve fit and low power stabilization settings"
Also default actuator curve fit should == 0.85

[2016-02-25 00:01] pug398 commented on #622
Sparky2 bootloader has been connecting fine last few builds. Closing.

[2016-02-25 00:01] #622 closed, assigned to nobody

[2016-02-25 01:29] mlyle commented on #228
@Robot-John --- if you're prepared to fly experimental code, #676 has an implementation of this.

[2016-02-25 16:49] Robot-John commented on #228
@mlyle - Awesome! Too bad a ton of snow just arrived. I'll get it installed and try some prop free bench testing.

[2016-02-25 17:39] DTFUHF opened #694 "GCS: Setup wizard: Reboot is always requested"
due to this: https://github.com/d-ronin/dRonin/blob/next/ground/gcs/src/plugins/boards_brainfpv/brain.cpp#L180-L181

because this sends void instead of 0: https://github.com/d-ronin/dRonin/blob/next/ground/gcs/src/plugins/setupwizard/pages/inputpage.cpp#L84

the port number itself seem superfluous, as the board type's function has the ability to scan through all available ports (as this specific h

[2016-02-25 19:26] tracernz commented on #694
Good catch, fancy fixing it? :D We always set port 0 I assume.

[2016-02-25 23:42] mlyle opened #698 "Need to add new contributors to organization"
So Jenkins test their builds, @ mentions work, etc.  Have been remiss on this for awhile.

[2016-02-25 23:43] fujin opened #699 "Actuator Alarms are a bit noisy"
In testing of LPS/ACM, while disarmed, I get 'ACTUATOR' hard on the screen until throttle is moved above zero (regardless of arm state)

I also get a lot of 'EVENT' followed by 'ACTUATOR' and sometimes 'EVENT: ACTUATOR'? Not sure.

[2016-02-26 05:39] fujin opened #701 "MWRateSettings object save timeout during smart save after autotune"
It doesn't seem like these are updated anyway so not sure why they are saving. Current next

[code]

[2016-02-26 07:05] tracernz commented on #701
Note: Deprecated in ~~post-tanto~~ tanto.

[2016-02-26 07:44] dustin opened #702 "Afromini Amaze fails to be detected properly"
Afromini Amaze is coming up with `hse_value == 8000000`.  AFAICT, the code to figure out the `hse_value` is just about the same as baseflight.  Baseflight seems to also detect this as ≠ rev5, but manages to get i2c working.

If I force it to be considered a rev 5, it works fine.

(note:  I also tried next + one-true-mpu and had the same thing, just to be safe)

I'm sure I can fight with the basefl

[2016-02-26 08:00] mlyle commented on #701
Just more evidence for flaky telemetry IMO.

[2016-02-26 08:04] tracernz commented on #702
STMicroelectronics code detects the HSE freq AFAIK.

[2016-02-26 08:24] dustin commented on #702
Right.  There's an odd difference between baseflight and dRonin's copies of the libraries, but it has no effect, AFAICT.  `hse_value` is a red herring.  I've got more work to do here, but I want to use one of these things, and it works if I use the different i2c config, so it shouldn't be _that_ hard to make it work in general.

[2016-02-26 18:13] mlyle opened #703 "placeholder: need to assess autotune maturity and status for Tanto"

[2016-02-26 18:28] mlyle commented on #698
Invited jpbarraca, henn1001, and droney.

[2016-02-26 18:28] #698 closed, assigned to mlyle

[2016-02-26 18:55] mlyle commented on #357
Done to Tanto standards.

[2016-02-26 18:55] #357 closed

[2016-02-26 21:42] mlyle opened #705 "ship android GCS"
- [x] Building / running
- [x] Jenkins build
- [x] Some branding
- [x] Maps API key?
- [x] Store publishing etc?  Or just ask people to sideload.
- [x] Doesn't work in release config?  Wut?

Lots of people want this-- I was surprised.

[2016-02-26 21:57] dustin commented on #705
Autotune?
Phone home?

On Fri, Feb 26, 2016 at 1:43 PM Michael Lyle notifications@github.com
wrote:

[2016-02-26 22:11] mlyle commented on #705
Not interested in spending a lot of time on this, just restoring basic functionality for the release.

[2016-02-26 22:13] tracernz commented on #705
If we could find a Java/Android dev we could do some cool stuff. As is we just don't have time.

[2016-02-26 22:25] mlyle commented on #705
Yah, I think our best bet long term is smushing down the normal GCS onto phones/tablets.

[2016-02-26 22:39] mlyle opened #706 "vtolpathfollower should use correct dT"
Similar to issues spotted in #633, vtolpathfollower needs to properly observe dT -- either use configured value or actual value or a filtered value.

[2016-02-26 22:56] mlyle commented on #701
Just to confirm-- current next, and not the UI-change-branch?  (Where we're saving one more object, actuatorsettings, on this tab).

[2016-02-26 23:45] #679 closed, assigned to nobody

[2016-02-26 23:58] mlyle opened #709 "Artifact build comments are missing"
Probably some kind of auth key thing?  Get a 403 in the script.

[2016-02-27 00:33] mlyle opened #710 "Kitchensink shake-out branch bookkeeping"
- [x] ~~08c44c9 Merge remote-tracking branch 'pr/711' into mpl-kitchensink #711 weak leveling rates~~ merged
- [ ] c4d607c Merge remote-tracking branch 'pr/708' into mpl-kitchensink #708 sim compile on windows
- [ ] 85fe483 Merge remote-tracking branch 'pr/707' into mpl-kitchensink #707 althold intergal
- [x] ~~d981cbb Merge remote-tracking branch 'pr/704' into mpl-kitchensink #704 remove flash "O

[2016-02-27 00:36] mlyle commented on #710
artifacts will show up here: http://jar.lyle.org:8080/job/dronin/189/

[2016-02-27 03:36] DTFUHF commented on #702
Since close to nobody has rev4 / afrominiv2, the mpuint pin is always on PC13, any other configuration is too old to even matter. The "12MHz detect pin" should only be used to detect which oscillator is used

[2016-02-27 03:48] dustin commented on #702
I've got a v2.  It'd be awesome if I could make that work, but haven't got
to it yet.   I wonder how hard it'd be to stuff a hardware option somewhere
for this.

On Fri, Feb 26, 2016 at 7:36 PM DTFUHF notifications@github.com wrote:

[2016-02-27 03:51] DTFUHF commented on #702
I think even afrominirev2 has mpuint on PC13 (maybe you can verify) making rev4 support even less needed ¯_(ツ)_/¯

[2016-02-27 05:08] mlyle commented on #709
It looks like the cause was that I did not verify dronin-ci's email address and the time limit for that expired.  Trying a build now to see if it's happy.

[2016-02-27 05:46] #709 closed, assigned to nobody

[2016-02-27 07:02] mlyle commented on #702
Wish we could estimate how many R4s there are in our userbase...

[2016-02-27 07:11] dustin commented on #702
I think I've got an OK workaround.

On Fri, Feb 26, 2016 at 11:03 PM Michael Lyle notifications@github.com
wrote:

[2016-02-27 17:39] mlyle commented on #710
Kitchensink sequence 1 will be on lux; hope to evaluate 576, 676, 690, 691, 693, 696, 697, 704, 711.

[2016-02-27 18:21] #694 closed, assigned to DTFUHF

[2016-02-27 20:48] #702 closed, assigned to dustin

[2016-02-27 20:51] mlyle commented on #710
Updated kitchensink for failsafe change in 676.

artifacts will show up here: http://jar.lyle.org:8080/job/dronin/192/

[2016-02-28 00:26] tracernz commented on #702
Well, I have this in the mpu branch, and the first half (runtime setting of revision) is already merged..

[2016-02-28 00:36] tracernz commented on #702
Would be trivial to add to current code since we already detect Rev.

[2016-02-28 00:44] mlyle commented on #702
Yes, we should add it, but that's not very informative for what we should do in the short term.

[2016-02-28 15:15] pug398 commented on #710
On kitchen2, sparky2 has a constant actuator warning that is not on next 5fde.

[2016-02-28 15:26] mlyle commented on #710
@pug398 -- bug #699 -- if we're unable to meet roll/pitch command because of clipping, we now actuator alarm.  Unfortunately this includes the case when we can't because there's no throttle.

Wow, you're brave flying this :P

Low power stabilization is fun on small craft.  Have not dared to try it on large ones.

[2016-02-28 16:42] matheusrgomes commented on #646
Reinstall driver - all good.
https://librepilot.atlassian.net/wiki/display/LPDOC/Troubleshooting

[2016-02-28 18:01] ufoDziner opened #714 "Storing autotune results"
It would be nice to have the autotune results stored in a location for recall.  So alternate autotune sessions (representing different battery and props in my case) could be recalled for further slider tweaking at a later date.

[2016-02-28 18:43] mlyle commented on #705
Branding -- ic_icon.png, ic_logo.png, in ldpi, mdpi, hdpi, xhdpi (androidgcs/res/drawable-...)

[2016-02-28 19:34] henn1001 commented on #714
You can export/import the Autotune UAV in gcs already?!

[2016-02-28 19:55] dustin commented on #714
That's system identification.  I think there may be a bug about that
already.

On Sun, Feb 28, 2016, 11:34 henn1001 notifications@github.com wrote:

[2016-02-28 19:59] mlyle commented on #714
@henn1001 in next, yes

[2016-02-29 00:33] #261 closed

[2016-02-29 04:58] mlyle opened #716 "DSM binding on inverter targets (Sparky2, Quanton, Brain, CC3D, Revo) sucks"
- Some targets silently squash binding pulses when DSM is on an inverter port (S2, Revo)
- Some targets drive the external-inverter port and busfight (Quanton, Brain, CC3D?)
- Revo erroneously configures DSM to an inverter port by default.

@tracernz -- does this cover it?

[2016-02-29 04:59] #684 closed, assigned to mlyle

[2016-02-29 05:02] #228 closed

[2016-02-29 05:02] #688 closed, assigned to mlyle

[2016-02-29 05:25] tracernz commented on #716
@mlyle Yeah I think so.

[2016-02-29 05:34] tracernz commented on #716
The Revo is really a separate issue IMO and is a regression rather than a pre-existing bug.

[2016-02-29 05:49] mlyle commented on #710
#690 / #691 are the last thigns I hope are mergeable form this test pass, and I think they'll be reviewed soon.  So closing this bookkeeping issue for this kitchensink.

[2016-02-29 05:49] #710 closed, assigned to nobody

[2016-02-29 09:53] yamahabest opened #717 "Confirmation on clicking "Apply Computed Values" on Autotune Setup page"
It would be nice if you would get a confirmation that the action was actually executed.

[2016-02-29 10:42] henn1001 commented on #716
Yeah sorry about the revo - i didn´t quite get the logic behind the module :/

[2016-02-29 13:11] jihlein commented on #716
In the FWIW category, an easy fix is to remove DSM support on ports with hardware inverters.  That's the path I took on the AQ32 target, no DSM on uart3.  Need to review targets in question, don't know if it would create other difficulties.

[2016-02-29 15:08] mlyle commented on #716
We could do that, but if you have an already bound satellite it's a little limiting.  It may be the better of choices, as people will get confused about thigns not binding.

OTOH binding works so damn poorly :/

[2016-02-29 15:10] mlyle commented on #717
Or it could even take you to the stabilization page and pop up a dialog and say it did it and you need to review and save.   Relates to #560.

[2016-02-29 16:58] henn1001 commented on #461
Happens to my f3 (no v-sense pin) target every time  over v-usb.
I can download it fine over serial telemetry.

I also did a quick test on my sparky2 and can confirm that the same happens there with larger files. Seems to work better with smaller files though.

I´m on win10 as well.

[2016-02-29 18:08] tracernz commented on #716
Might be cleanest just to remove DSM on those ports, although not ideal if it happens to be a dedicated Rx port..

[2016-02-29 18:56] mlyle commented on #644
Confirmed on my machine it installs `/lib/udev/rules.d/45-dronin.rules` -- thx again @thunderdan

[2016-02-29 18:56] #644 closed, assigned to nobody

[2016-02-29 19:13] mlyle commented on #648
[code]

[2016-02-29 20:31] jpahka commented on #664
Because of this in order to build current next, I need to add

QMAKE_CXXFLAGS += -Wno-error=deprecated-declarations

to the end of file ...ground/gcs/gcs.pri as per icee's suggestion.

[2016-02-29 22:38] OhmEye commented on #699
On current next I have ACTUATOR warning on brain OSD, and in GCS the servo input block is yellow with no tooltip explaining why, and on output page the motor test does not allow, with reason "the actuator module is in an error state. This can also occur because there are no inputs. Please fix these before testing outputs"

I see value in alarming on clipping, but don't see value in alarm for norma

[2016-02-29 22:43] fujin commented on #699
I didn't pick up on the inability to do motor test on outputs page :( I will try to confirm.

[2016-02-29 23:03] fujin commented on #699
From IRC:

[code]

[2016-03-01 02:01] mlyle opened #724 "Report: Hangtime stays engaged in failsafe"
The hangtime is correct for low throttle while valid signal but failsafe kicks in LPS for ~25 seconds when hangtime is set to 2 seconds. This may be expected behavior just not what I was expecting :)

[2016-03-01 02:03] dustin commented on #724
I was kind of hoping for that, actually.  A little surge of ST1 with an
upright descent is kind of nice.  I do wish for magic that would make
landings happen gently.

On Mon, Feb 29, 2016 at 6:01 PM Michael Lyle notifications@github.com
wrote:

[2016-03-01 02:17] tgreer opened #725 "iOS GCS"
Opening issue to discuss iOS GCS. There are solutions out there to create a TCP<>Serial bridge, https://github.com/beckdac/ESP8266-transparent-bridge as an example uses a $5 component.

[edit] GCS currently does TCP or UDP.

[2016-03-01 02:20] mlyle commented on #724
THe failsafe infrastructure is moving that way.  But if someone configures hangtime for 2s it should never run for 25s.  I wonder what's happening.

[2016-03-01 02:27] WZ9V commented on #725
I'd be interested in this also.

[2016-03-01 02:48] mluessi commented on #725
AFAIK, the GPL is incompatible with the app-store TOS, so the iOS GCS would need have to have a different licence and therefore would probably have to written from scratch.

[2016-03-01 03:06] tgreer commented on #725
@mluessi The internet agrees with you. I think it'd need to be written from scratch anyways...

[2016-03-01 04:13] #648 closed, assigned to mlyle

[2016-03-01 04:33] #724 closed, assigned to mlyle

[2016-03-01 04:46] mlyle opened #727 "Something missing in QT linux packaging"
`Cannot mix incompatible Qt library (version 0x50201) with this library (version 0x50501)`

[2016-03-01 05:32] tracernz commented on #727
Ahhhh, can't seem to repro this anymore :(.

[2016-03-01 05:42] tracernz commented on #727
Hmmm, managed to repro it with PR artifacts though, problem children:

[code]

[2016-03-01 06:09] tracernz commented on #727
Confirmed it is fixed by copying these libs into libs/dr.

[2016-03-01 06:31] tracernz commented on #727
Ooops, I missed https://github.com/d-ronin/dRonin/blob/next/package/Makefile.linux#L53 in #680.

[2016-03-01 06:53] tracernz opened #729 "GCS: Erroneous network errors sometimes occur during startup"
Fixed in Qt 5.6 https://codereview.qt-project.org/#/c/138549/

[code]

[2016-03-01 06:54] tracernz opened #730 "GCS: Upgrade to Qt 5.6"
- Qt3D API will be finalised, can replace glc lib (not good code).
- Would fix #729.

[2016-03-01 12:41] mluessi commented on #725
@tgreer yeah, the license thing is unfortunate. One possibility could be to build a Qt / QML based app, which would have the advantage that it would also work on Android. In addition, we could probably license the app such that components from it could be used in the normal GCS (but not the other way around).

The question is, what is the scope of the app? Recreate the whole GCS, i.e., board confi

[2016-03-01 13:01] tgreer commented on #725
I'd like it to be as featured as the existing Android one... Granted if
we're starting from scratch the remit can be whatever the dev decides... I
would like it to be fully functioning... but I can dream, right ;)

On 1 March 2016 at 12:41, Martin Luessi notifications@github.com wrote:

[2016-03-01 14:27] henn1001 commented on #105
I have some barebone code  up and running and working
https://github.com/henn1001/dRonin/blob/BuzzerModule/flight/Modules/Buzzer/buzzer.c#L126
Now i just need to include some logic depended on some alarms :)

It´s actually really easy to do this - gpio pins can be pre defined the same way as this:
https://github.com/henn1001/dRonin/blob/BuzzerModule/flight/targets/quanton/board-info/pios_board.h#L

[2016-03-01 14:49] #727 closed, assigned to tracernz

[2016-03-01 16:51] WZ9V commented on #725
I'm willing to help but I'm currently in over my head working on a BLHELI GUI in Qt that I'm hoping can be the basis for adding that functionality to the GCS.  Keep in mind I'm also learning Qt at the same time ;-)

[2016-03-01 18:17] mlyle opened #731 "Plugin namespace change breaks windows upgrade"
Upgrading over an existing installation complains it cannot load many (taulabs/*) DLLs from the previous release.

We need to blow away the plugins directory before upgrading.

COnfirmed that uninstalling + installing works fine.

[2016-03-01 18:41] pug398 commented on #642
@thunderdan After updating bootloader (to #719) I have done numerous firmware cycles and have not seen the spurious pwm output since. This may be a fix for your issue.

[2016-03-01 20:45] #424 closed

[2016-03-01 23:20] mlyle commented on #249
Mostly fixed by #677

[2016-03-01 23:21] #249 closed

[2016-03-01 23:45] thunderdan commented on #642
Thanks.  I'll try tonight.

-- Dan Morgan --

[2016-03-02 01:19] jpbarraca commented on #631
Can it be closed?

[2016-03-02 01:21] mlyle commented on #631
Yes it can.

In the future if you put `fixes #631` in your top PR description, when it gets merged, 631 will automatically get closed.

[2016-03-02 01:21] #631 closed, assigned to nobody

[2016-03-02 04:24] #717 closed, assigned to mlyle

[2016-03-02 06:10] mlyle commented on #560
Kinda fixed with #717

[2016-03-02 06:10] #560 closed, assigned to nobody

[2016-03-02 11:06] fujin opened #734 "PIOS HAL S.BUS: Possible to use external inverter?"
I've been backtracking through the PIOS_HAL branches to try to figure out how to setup a pios_sbus_cfg or perhaps use NULL? [by the looks](https://github.com/d-ronin/dRonin/blob/next/flight/PiOS/Common/pios_hal.c#L409-L422) in order to use an external inverter for s.bus with a board that I have.

Do we need a PIOS_SHAREDPORT_SBUS_EXTERNALINVERTER shared port type, now?

I can't figure this out, wo

[2016-03-02 11:06] fujin commented on #734
boop @mluessi @jihlein

[2016-03-02 11:24] henn1001 commented on #734
Not sure if this answers your question but you need a sbus_cfg like this: [link](https://github.com/d-ronin/dRonin/blob/next/flight/targets/brain/board-info/board_hw_defs.c#L577)
and then add it to the hal configuration like so : [link](https://github.com/d-ronin/dRonin/blob/next/flight/targets/brain/fw/pios_board.c#L444)

[2016-03-02 11:35] fujin commented on #734
cool, I thought that may have been the case but can't seem to figure out the structures required, will have to get @mluessi to help. thanks @henn1001!

[2016-03-02 11:35] #734 closed, assigned to nobody

[2016-03-02 13:15] jihlein commented on #734
You don't need to define an sbus_aux_cfg structure, that's the pin to turn on an onboard inverter.  In the PIOS_HAL_ConfigurePort call, set the sbus_cfg argument to NULL.  Then simply use the S.Bus Non Inverted mode and the non inverted signals will be on the selected port pins.  Connect those to your external inverter.

[2016-03-02 13:36] henn1001 commented on #734
Ah. Sorry i thought external inverter = Xor chip on the FC board. (internal inverter = f3 inversion).
Then you obviously don´t need that config with s.bus non inverted mode..

[2016-03-02 13:46] jihlein commented on #734
Actually that's a great question, as I took @fujin 's question to mean an inverter that is external to the board.  Must still be asleep this morning.....

Let's phase it this way:

If the inverter is external to the chip (F1/F4) and is physically on the FC board and needs to be switched on, what @henn1001 said above is correct.  Setup the pin with the sbus_aux_cfg structure, send that structure to

[2016-03-02 18:49] mlyle opened #735 "GCS should strongly urge user to use switch arming with hangtime"

[2016-03-02 20:09] fujin commented on #734
So in this particular case the external inverter is not an Xor chip, it is literally an external inverter (two resistors: 1x 4k7, 1x 10k & and a bc547 NPN.) thanks to both of you. I'll try the sbus_cfg argument to null + sbus-ni.

[2016-03-02 22:02] fujin opened #736 "PIOS_HAL_ConfigurePort shared port requiring serial comms, missing required usart parameters should generate better error"
So I've just been diagnosing an issue where the receiverport for a board that I was using didn't have a usart cfg defined, yet was configured in UAVOs as being able to run sbus / sbus-ni.

It builds fine with the usart cfg set to NULL, as well as without the usart com driver, but when you boot the board, RC Input goes into 'critical' (driver failed to initialize for one of the input channels) with

[2016-03-02 22:02] fujin commented on #736
[Relevant changeset](https://github.com/fujin/dronin/commit/6578020b4b27e80ace035c07e422cdb8c37da8b7)

[2016-03-02 22:24] fujin commented on #735
+1 I would even support critical/settings if one of the Switch arming configurations is not selected.

[2016-03-02 22:38] mlyle commented on #736
I don't know how to make that fail to compile in C.

[2016-03-02 22:39] fujin commented on #736
Can we at least generate a better error then? It seems like we ought to be able to infer that the required parts (a config, and the com driver) are there for shared hw ports requiring serial comms, right?

[2016-03-02 22:44] tracernz commented on #736
It seems like the alarm works fine and it fails as expected? I think we should only have specific indication for errors from user land.

[2016-03-02 22:45] fujin commented on #736
At least I'll know what to look out for now :)

[2016-03-02 22:45] #736 closed, assigned to nobody

[2016-03-03 05:13] #460 closed

[2016-03-03 05:20] mlyle opened #739 "waypoint upload over pipx doesn't work"
with or without #654; works on #654 with bluetooth.

connects to #641

[2016-03-04 16:20] #731 closed, assigned to mlyle

[2016-03-04 17:00] jhitesma opened #745 "gcs: don't allow selecting invalid flight modes"
Would be nice if we could disable selection of flight mode options that would cause a configuration error.  Specific example is that if the autotune module isn't enabled don't allow selecting autotune as a flight mode.

I make the mistake fairly often of adding autotune flight mode but forgetting to enable the module.   I know to expect the error and what it means, however it can be very frustrati

[2016-03-04 17:07] dustin commented on #745
I was actually thinking about this the other way around.  Don't have a checkbox for enabling autotune in the autotune page, just turn it on if it's selected as a mode, and turn it off if it's not.

[2016-03-04 17:07] mlyle opened #746 "GCS: Quitting when logging causes a crash"
`File closed
QThread: Destroyed while thread is still running
Dump file was written to: /var/folders/kb/g2m5j1f576l3z7lk3ypyq6hr0000gn/T/dr_mpl_connectfaster_20160304_1a3e402c/73C00019-BA51-4767-82D0-12D5869BD092.dmp`

or sometimes it doesn't crash:

`File closed
QThread: Destroyed while thread is still running
QWaitCondition::wakeAll(): mutex lock failure: Invalid argument
QWaitCondition::wakeAll

[2016-03-04 17:10] mlyle opened #747 "dRonin GCS intermittently fails to load 'ManualControl' object on CC3d on OSX"
Probably relates to #654.

Clicking 'fetch' in the uavo browser is not doing it either.  Stays gray.

Have had this happen twice.  Now have tried 35 times in a row without repro on any object (10 were with logging).

[2016-03-04 17:57] jhitesma commented on #745
That would be really slick, hadn't considered that it may be possible to do that.

I was thinking this may be useful for other situations as well, like not allowing "manual" when vehicle type is a multirotor.  Those are the only two situations I can think of off the top of my head, but seems like it could potentially be applicable to more than just autotune.

[2016-03-04 18:20] mlyle commented on #745
https://github.com/d-ronin/dRonin/pull/652#issuecomment-183130591

I mostly want to solve something like this by replacing the vehicle setup wizard and the main sysalarms display with a "config checklist"-- something that looks at config objects and alarms and tells you what tasks need to be done still, with buttons to take you to those places.

[2016-03-04 21:56] #582 closed, assigned to nobody

[2016-03-04 22:08] mlyle commented on #641
Remnants -> samsara

[2016-03-04 22:08] mlyle commented on #73
Done for now

[2016-03-04 22:08] #73 closed

[2016-03-04 22:57] tracernz commented on #209
I'm tempted to open a PR with this as-is rebased to dRonin/next.. It's much better than we have now. Windows is a problem but I guess one that will need addressed with step-by-step instructions rather than a Make script.

[2016-03-05 01:30] #288 closed

[2016-03-05 01:35] mlyle commented on #148
I wonder if this is still applicable.

[2016-03-05 02:11] tracernz commented on #148
Probably not due to the stuff you did. I suspect it was the same bug I was hitting with your PR that you fixed. Fixing #147 will make double-sure the situation doesn't occur too, and I think we should do this while we're bumping F3/F4 bootloader version.

[2016-03-05 02:18] mlyle commented on #148
Should we just close?

[2016-03-05 02:18] tracernz commented on #148
Yep.

[2016-03-05 02:18] #148 closed

[2016-03-05 02:24] mlyle opened #748 "Excessive event alarms"
Happened on Tau, but now it happens even more I think.  Need to run down latency and bursts of excessive processing everywhere.

[2016-03-05 02:26] mlyle commented on #748
It's worth noting that it sure seems like toggling other alarms makes EVENT prone to stack up itself.

[2016-03-05 03:59] #147 closed

[2016-03-05 04:44] mlyle opened #752 "INSindoor neuters navigation robustness/safety checks"
[code]

[2016-03-05 05:19] mlyle commented on #597
This is still a little dodgy but works.. deferring to look at it more later, though.

[2016-03-05 20:39] dustin commented on #163
Just repeated this on my sparky.

[2016-03-05 20:40] dustin commented on #163
Reflashed to latest and tried again just to be safe.  Crashed.

[2016-03-05 21:24] mlyle commented on #163
Interesting.  Thanks for trying.

[2016-03-06 08:14] dustin opened #761 "naze32: boot fault with autotune enabled"
Going through upgrades today (`next`), I have one with a pretty bare config (ppm on naze32) that won't boot correctly with autotune enabled.

This particular aircraft took my previous tune just fine, but this is going to be unfortunate for those without working tunes.

[2016-03-06 08:16] dustin commented on #761
Right as I did this, #762 shows up and likely fixes it.

[2016-03-06 20:06] fujin opened #763 "Sparky1 may or may not be able to run at 1kHz (with an unknown set of modules activated)"
Per nog on IRC.

[code]

[2016-03-06 20:22] dustin commented on #763
I had the same issue on mine.

On Sun, Mar 6, 2016 at 12:06 PM AJ Christensen notifications@github.com
wrote:

[2016-03-06 20:23] mlyle commented on #763
Can someone try with current next / @mluessi's recent optimization?

[2016-03-06 22:04] #597 closed, assigned to mlyle

[2016-03-06 22:14] dustin commented on #747
I just autotuned my 550 tri with cc3d in my basement.  When I finished, I plugged it back into the GCS and saw that it had some numbers.  I recorded the tune and then noticed it had [zero tau](http://dronin-autotown.appspot.com/at/tune/ahFzfmRyb25pbi1hdXRvdG93bnIYCxILVHVuZVJlc3VsdHMYgICAgJjw8AgM).  I had a GCS crash so it restarted.  I tried explicitly restarting as well and saw the same thing.  S

[2016-03-07 04:02] dustin commented on #761
I built #766 and this seemed to make naze autotune happy.

[2016-03-07 04:11] dustin commented on #761
Marking this as fixed with The Great Merging of #766

[2016-03-07 04:11] #761 closed, assigned to nobody

[2016-03-07 13:36] pug398 commented on #763
Looks like optimization helped and cpu load at 75-78% running @1000hz. No more cpu warning but still occasional Event warning. That is with flight configuration including AH.

[2016-03-07 15:21] mlyle commented on #763
Yes, all of the targets have occasional event warnings.  So it works for basic flight-- that's great.

If it works for autotune we can close this issue, I think.

[2016-03-07 20:43] yamahabest opened #767 "GCS: Frame Types Octocopter and Octocopter V show an OpenPilot logo"
All the others types don't show that logo, so it could probable be removed here also.

[2016-03-07 22:01] fujin opened #768 "Hangtime/LPS throttle-jump / timeout-extend-backoff investigation/discussion"
Couple of observations/theories in testing so far, just wanted to take note of them.
- with LPS enabled (4.5sec) and max power set to 15%, when throttle 0% is commanded, then 1% (for example), what's throttle do we try to actuate? 1% or 15%? do we ramp up to the current low-power-stabilized level? are commanded throttles below the lps power level ignored?

I feel like if we are doing LPS'd 15% and

[2016-03-08 00:02] mlyle commented on #768
If you command x throttle, it tries to do x throttle.  If necessary, it adds motor thrust, ensuring that the total power doesn't exceed x+max power add.

The tooltip in the UI says:

[2016-03-08 00:02] #768 closed, assigned to nobody

[2016-03-11 04:38] ufoDziner opened #778 "GCS: qdoublespinbox voltage entry erratic"
I'm unable to enter a voltage division amount into the qdoublespinbox on next by typing numbers.

[2016-03-11 05:45] #778 closed, assigned to tracernz

[2016-03-11 11:54] tracernz opened #783 "GCS: Cleanup warnings on OSX"
https://gist.github.com/tracernz/7049f259401b86d3d103

[2016-03-11 12:44] #767 closed, assigned to tracernz

[2016-03-11 22:56] kjoy84 opened #785 "Altitude Hold not working on Naze32 running dronin"
Does anyone on here have experience using the "altitude hold" function on the Naze32 running Dronin. I have put a Naze32 10POF (I think rev 6) that has a magnetometer and barometer on my tricopter. I am using Dronin, not baseflight or cleanflight. The autotune function works great. My problem is that I can't get the altitude hold function to work. The altitude module enables but when add the altit

[2016-03-11 22:59] dustin commented on #785
The baro isn't currently supported.

On Fri, Mar 11, 2016 at 2:57 PM Kirk notifications@github.com wrote:

[2016-03-11 23:13] tracernz opened #786 "GCS:Modules: Disable checkboxes for modules unavailable on current hardware"
Should help with e.g. #785 where the module appears enabled but there's nobody listening to the module adminstate on the flight side.

[2016-03-12 03:29] thunderdan commented on #642
Update: A 2200uF electrolytic capacitor has solved my issue.  I'm attaching the cap to the PWM output pin header + and - pins.  The sparky2 makes it through initialization even with my "bad" battery and initialization completes setting the servos to neutral.  I've drained the battery down to 12V and I still can power-up just fine.  No brown outs during bench operation either.  I feel confident to

[2016-03-12 03:35] tracernz commented on #642
Good to hear @thunderdan. Thanks for reporting back. :+1:

[2016-03-12 03:36] #642 closed, assigned to mlyle

[2016-03-12 17:28] ernieift commented on #635
The hardware is very similar. But the bootloader version differs here. So there is fewer space for firmware on the colibri. As a workaround you can flash the colibri to a quanton.

[2016-03-12 19:33] mlyle commented on #635
We're working on auto-bootloader-update as part of the upgrade process, so this will get easier.

[2016-03-13 04:08] mlyle opened #792 "Multiple devices in bootloader state (spurious)"
Seems to mostly happen on OSX.  Need to fix.

[2016-03-13 04:45] #163 closed

[2016-03-13 14:14] droidicus commented on #792
Also seen on Win 10 with Renatus.

[2016-03-14 04:56] #792 closed, assigned to mlyle

[2016-03-14 05:05] tracernz opened #798 "GCS:USB device removal issue on OSX"
We are not getting device removal callbacks when we should be, perhaps we're not disconnecting when we should. Worked around by #795, needs proper fix.

[2016-03-14 15:45] #232 closed

[2016-03-15 05:12] tracernz opened #802 "GCS: UAVObject to widget relation on QLabel tries to write UAVO"
Maybe need a readonly field on the UAVO relation that stops it trying to do this. Generates heaps of these when we update input form:
`17:58:33[DEBUG]setFieldFromWidget widget to uavobject relation not implemented for widget:  "inputChannelForm" -> "channelCurrent" of class: QLabel`

[2016-03-15 22:03] rabno1 opened #805 "Request: Ability to have external mag on Revo"
Wouldn't even know where to start to get this working myself but would love to be able to use the external mag in my cheapo GPS with my revolution fc.  I believe the mag uses I2C and would be great if we could use the flexi port to connect it to.
Ill do anything i can to help.

[2016-03-15 23:46] #735 closed, assigned to tracernz

[2016-03-15 23:58] jihlein commented on #805
I actually have this done, but not tested. Let me rebase and make sure it still builds, then I'll push a PR. Someone with a Revolution will have to test.

[2016-03-16 15:03] mlyle commented on #805
@rabno1-- do you have an external mag and are you able to confirm that https://github.com/d-ronin/dRonin/pull/806#issuecomment-197154629  works?

Note that the magnetometer heading shows up as a red stripe in the primary flight display on the flight data tab.

[2016-03-16 15:21] rabno1 commented on #805
Wow that was quick. Ill need to wire up the mag but ill get on it and test it out. Ill report back ASAP.

[2016-03-16 20:09] kjoy84 commented on #785
Thank you both

[2016-03-16 20:09] #785 closed, assigned to nobody

[2016-03-17 16:31] cpusmith commented on #443
I have the same issue as this and the same as "Baro initialization doesn't seem correct #65". Where it's most bothersome is in the OSD when you have to keep making sure that you observe the negative altitude number, which can range from -18 meters to -65 meters, and continually minus it in your head as you're flying and watching your altitude. Not that I don't mind the metal exercise but it would

[2016-03-17 23:48] #805 closed, assigned to nobody

[2016-03-18 05:24] joeynuggetz commented on #308
Also broken.......

Help button on "Output" page in GCS links to http://wiki.openpilot.org/display/Doc/Output+Configuration which is non-existent.

Broken link on the main help page for "Input" screen in GCS. Link to "Input Configuration" points to http://wiki.openpilot.org/display/Doc/Input+Configuration which is non-existent.

[2016-03-18 16:53] mlyle opened #810 "Saving UAVO shortly after boot occasionally results in reboot on S1"
Somewhat rare, but definitely occasionally happens.

[2016-03-19 03:25] mlyle commented on #810
Independent watchdog when it does, startupflags = 0

[2016-03-19 07:49] tracernz commented on #283
This one is taken care of in upgrader work.

[2016-03-19 11:11] #422 closed

[2016-03-19 11:50] tracernz opened #817 "Verify Input Configurations and Setup Wizard on All Boards"
There are oddly unsupported input types on some boards (e.g. no HoTT on Sparky2, S.BUS non-inverted not marked as supported in most board plugins), and some of the connection diagrams are out-of-date I think.

[2016-03-20 02:25] tracernz commented on #579
Deferring since we don't support configuring inputs on Naze yet anyway.

[2016-03-20 02:34] tracernz commented on #577
Depends on #757. Below code is untested, just noting here for future.
board_hw_defs.c

[code]

[2016-03-20 02:37] tracernz commented on #124
Done by #803.

[2016-03-20 02:37] #124 closed

[2016-03-20 02:40] tracernz commented on #83
Should be fixed by #801

[2016-03-20 02:40] tracernz commented on #3
Should be fixed by #801

[2016-03-20 02:41] tracernz commented on #283
Should be fixed by #801 (or previous upgrader work).

[2016-03-20 02:41] tracernz commented on #298
Fixed by #757.

[2016-03-20 03:23] tracernz commented on #236
I tried this and still same result (dialog is behind main window on second and subsequent uses):

[code]

[2016-03-20 04:44] #306 closed

[2016-03-20 04:50] tracernz commented on #513
Where are you looking?

[2016-03-21 02:20] mlyle opened #821 "Known issues with upgrade meta-issue"
After #801 lands, known items for cleanup.
- [x] Missing ID complaint during import --- fix for this in #833
- [x] Failed to connect device: ____ popup https://github.com/d-ronin/dRonin/pull/801#issuecomment-200162563  fixed in #836
- [x] Blank flight controllers need to be handled better - fix for this in #851
- [x] Can't import settings for not-running modules - fix for this in #838
- [x] Comple

[2016-03-21 03:58] mlyle commented on #703
Ehh good nuff.

[2016-03-21 03:58] #703 closed, assigned to nobody

[2016-03-21 04:00] mlyle commented on #746
Deferring.  Just not severe enough.

[2016-03-21 04:01] mlyle commented on #763
OK.  1KHz is not really recommended on Sparky1 but at least it seems to work.  Worth leaving the setting in IMO.

[2016-03-21 04:01] #763 closed, assigned to nobody

[2016-03-21 04:05] mlyle commented on #567
Sucks but not the end of the world.  Deferring.

[2016-03-21 04:06] mlyle commented on #519
Sorry, not getting to this.

[2016-03-21 04:12] tracernz commented on #519
I had a hack at it the other day, just adding some text above the switch in the SVG, but need to actually hook some hardware up to test.

[2016-03-21 16:28] mlyle commented on #532
I had marked this documentation, but in re-reading the issue I don't see an actionable doc issue.

[2016-03-21 16:28] #532 closed, assigned to nobody

[2016-03-21 17:32] ekaszubski commented on #513
Configuration -> Vehicle -> Mixer Settings [Helicopter] -> Curve settings -> below curve2 graph

Note that MixerSettings.Curve2Source in the property manager says "Collective" while the label on the graph says "Throttle"

![screenshot from 2016-03-21 10-27-48](https://cloud.githubusercontent.com/assets/666500/13927626/a51ace78-ef4f-11e5-975e-ebe9f0e46e6e.png)

[2016-03-21 17:42] tracernz commented on #513
Thanks, will take a look later.

[2016-03-21 17:43] ekaszubski commented on #513
To clarify, the GCS in the above screenshot was built from March 17 next (6bee0b131ee6870e1cfcdbda8cd7dcc9b311317a)

[2016-03-22 01:33] jpbarraca commented on #610
@mlyle Please check PR #822 as an initial attempt at this issue.

[2016-03-22 21:44] rabno1 opened #825 "pipxtreme firmware broken in next?"
Just been trying out the next build and it seems like the pipxtreme firmware is broken. Im trying to load it onto my oplink but it just goes into a boot loop once flashed. Ive tried my own built firmware and also the firmware from the build at the bottom of https://github.com/d-ronin/dRonin/pull/801
I can go back to the stable release and it works again ok. Ive tried using a stable version of the

[2016-03-22 21:53] mlyle commented on #825
@pug398-- have you used current next with pipxtreme?  I'll be able to play with this in a couple days

[2016-03-22 22:37] jpbarraca commented on #308
Should we/can we salvage some information from the old openpilot wiki to speed up these issues?

[2016-03-22 23:41] pug398 commented on #825
20160320 7fe1 is working. I was planning to upgrade sparky2/oplm to current next anyway so will let you know about newest in a little bit.

[2016-03-22 23:45] rabno1 commented on #825
@pug398 where can i find that build and ill give it a try?

[2016-03-23 00:27] mlyle commented on #825
That's just a couple of days ago--- so very little has happened-- though I guess it's possible #787 has regressed it.

[2016-03-23 00:40] pug398 commented on #825
Hmm. Apparently I am mistaken as it looks like I had 20160312 3f2c build on oplm and only upgraded sparky2. Double checking now but what I have on hand jumps from 3/12 build (working) to 3/16 build (bootloop).

[2016-03-23 00:43] mlyle commented on #825
OK, thanks for the confirmation that we're regressed.

[2016-03-23 00:43] rabno1 commented on #825
ive got one from 3/16 that works fine with mine

[2016-03-23 00:54] pug398 commented on #825
next 20160316-ea015996 or something you built yourself?

[2016-03-23 00:57] rabno1 commented on #825
came from here https://github.com/d-ronin/dRonin/pull/806#issuecomment-197154629

20160316-4bded5cd

[2016-03-23 01:03] mlyle commented on #825
Builds in PRs aren't really too helpful because I can't easily tell what they're built with.

[2016-03-23 01:07] rabno1 commented on #825
Ah right! sorry this is all new to me, I thought those builds would be the same as the latest next build at the time but with the changes in the PR added.

[2016-03-23 01:09] mlyle commented on #825
@rabno1, they are, but they're usually hashes not in my repo and things I can't use for a range check.

I'm sorry if I'm a bit surly-- I do appreciate the report and feedback-- just having a lot of trouble with other things now.

[2016-03-23 01:34] pug398 opened #828 "RFM22b max # channel mismatch"
RFM22b bind wizard has max number of channels at 250. Hardware tab has max # channel at 99. Do we need to pick one and change the other?

[2016-03-23 12:57] thunderdan opened #829 "GCS crashes on startup in linux (next branch)"
I've seen this for a couple of days on my machine.  The gcs won't start and the error message is below.

ASSERT failure in QVector<T>::at: "index out of range", file /home/dmorgan/code/dronin-readonly/tools/Qt5.5.1/5.5/gcc_64/include/QtCore/qvector.h, line 393

I wouldn't think anything is wrong with the qvector.h file providied w/ Qt so probably something in the usage of it is wrong.

A dump file

[2016-03-23 13:53] thunderdan commented on #829
I tried building two earlier commits and both crash on startup for me in the same manor.

Fail - commit 54765589fa8d7050e8244334f73e9d02539aadfa
Fail - commit d29298611ed4a9599b61481d5f2c0bfcb5689966

Here is the output I get when lauching

<pre>
./build/ground/gcs/bin/drgcs
"fusion"
""
"addOverrideAction: action already registered for context when registering ''"
"addOverrideAction: action alread

[2016-03-23 15:05] mlyle commented on #829
Try resetting the ground configuration -- maybe you've gotten that into an invalid state -- `./build/ground/gcs/bin/drgcs -r`

If this doesn't work, can you try running from this binary distribution?  http://jar.lyle.org:8080/job/dronin/263/Nodes=master/artifact/build/artifacts/dronin-20160322-2f65e4b7.tar.xz

[2016-03-23 17:18] #825 closed, assigned to mlyle

[2016-03-23 18:26] tracernz commented on #829
Running with the debugger from Qt creator will show you exactly where this is coming from.

[2016-03-23 22:01] #752 closed, assigned to mlyle

[2016-03-24 03:12] thunderdan commented on #829
Before I tried your other suggestions, I did `make gcs_clean` followed by `make gcs`.  The problem goes away and  I can run the GUI again now.

As a side note: Running dronin from the binary distro from January has always been fine.  The about dialog displays "Release-20160120.3"

Do the settings for gcs built from src get stored in a separate location than the settings when installed from binary?

[2016-03-24 03:12] #829 closed, assigned to nobody

[2016-03-24 03:45] mlyle commented on #829
No, but there are known issues with dependencies in the build that can result in a crashy GCS from incremental builds of wildly different versions.

[2016-03-24 12:13] reubenfirmin opened #830 "Autotune produces extremely large values with undermount frame"
I attempted autotune on a new build (BLHeli 12A ESC, 2204/2300 motors, hobbyking undermount FPV250LH frame). Center of gravity is significantly lower than the QAV250s that I've successfully autotuned in the past, since the battery is on the bottom. Even after 3 attempts (fairly stable hovers without wind) it still recommends values that cause warnings on the stabilization page. Does the algorithm

[2016-03-24 12:17] reubenfirmin opened #831 "Selecting Oneshot in VSW with DALRC BLHeli's fails to spin motors on testing step"
I have Crazepony DALRC 12A ESC Oneshot125 ESCs on a new build.

Couple of issues:
1) I had to synchronize ESCs manually before the vehicle setup wizard was able to spin them up. Perhaps the vehicle setup wizard should have a "synchronize ESCs" option / step?

2) If I selected "oneshot" in the VSW, the motors wouldn't spin up. Is the Oneshot on these ESCs a different protocol than the one Dronin su

[2016-03-24 12:28] mluessi commented on #830
Have you tried flying it? It could be that the warning values are conservative and the gains actually work for your frame.

[2016-03-24 12:32] mluessi commented on #831
What do you mean by "synchronize ESC", do you mean calibrating them?

[2016-03-24 12:45] pug398 commented on #830
Is it the warning about tau being high (which is ok) or on the Basic tab you get values in the red? P term in red probably would not be safe to fly but other values high can be caused by lower center of gravity.

[2016-03-24 12:59] reubenfirmin commented on #831
You are correct, sorry. Filed this without referring to the UI, low on coffee.

[2016-03-24 14:20] dustin commented on #830
Consider sharing and linking to your tune as well. We can learn a lot from
looking at those.

On Thu, Mar 24, 2016, 05:45 pug398 notifications@github.com wrote:

[2016-03-24 15:22] mlyle commented on #831
@reubenfirmin -- what flight board are you using and what kind of RC input?

CC3D doesn't support oneshot at the same time that PWM-in (one wire per channel) is used because of how the timer resources are allocated.

[2016-03-24 16:32] #3 closed

[2016-03-24 16:32] #83 closed

[2016-03-24 16:32] #283 closed

[2016-03-24 20:53] tracernz commented on #83
@mlyle, since you're not planning to use upgrader (?) for pipxtreme, this issue is not fixed?

[2016-03-24 20:54] mlyle commented on #83
I think it'd be much more challenging to fill pipxtreme flash-- like, OK, technically possible, but...

[2016-03-24 21:00] mlyle commented on #83
(only one object stored on pipxtreme)

[2016-03-24 21:36] mlyle commented on #705
Good enough for Tanto.  Haven't addressed signing.

[2016-03-24 22:00] mlyle commented on #798
Replaced this infrastructure in #801, and it seems to work nicely.

[2016-03-24 22:00] #798 closed, assigned to nobody

[2016-03-24 22:04] mlyle commented on #461
Won't be further improving this during tanto cycle; deferring.

[2016-03-24 22:05] mlyle commented on #236
Won't be further improving this before samsara; deferring.

(Less important with auto-upgrade).

[2016-03-24 22:05] mlyle commented on #98
Won't be further improving this before samsara; deferring.

[2016-03-24 22:05] mlyle commented on #143
Won't be further improving this before samsara; deferring.

[2016-03-24 22:06] mlyle commented on #295
Won't be further improving this before samsara; deferring.

[2016-03-24 22:06] mlyle commented on #513
Won't be further improving this before samsara; deferring.

[2016-03-24 22:07] mlyle commented on #716
Won't be further improving this before samsara; deferring.  Sorry :(

[2016-03-25 00:03] tracernz commented on #83
Assuming that filling the flash is the issue ;-).

[2016-03-25 01:30] droidicus commented on #830
I will take a look at this when more information has been provided.

[2016-03-25 01:39] droidicus commented on #703
:-P

[2016-03-25 03:00] mlyle commented on #83
;) well, if it's not... the issue has never been seen on pipx, so...

[2016-03-25 04:25] mlyle commented on #681
Happened again

[2016-03-26 03:10] joeynuggetz commented on #308
All links that appear on bottom of the landing page after clicking on ? on the Vehicle page all point to old OpenPilot URLs. GCS version (20160323-fc5c8e83)

![image](https://cloud.githubusercontent.com/assets/14797846/14057693/4297f606-f2d6-11e5-95f8-4b8a0bc98007.png)

[2016-03-26 03:22] #828 closed, assigned to mlyle

[2016-03-26 04:26] tracernz commented on #83
Did that issue the other day turn out to be something else?

[2016-03-26 04:28] mlyle commented on #83
I think they reflashed it again and it started working.

[2016-03-26 14:00] reubenfirmin commented on #830
@droidicus @dustin : https://dronin-autotown.appspot.com/at/tune/ahFzfmRyb25pbi1hdXRvdG93bnIYCxILVHVuZVJlc3VsdHMYgICAgNi2owkM

@pug398 :
![dronin gcs_112](https://cloud.githubusercontent.com/assets/14217993/14060387/8f001fce-f339-11e5-918e-0c281a16b0f7.png)

And yeah, it's heavy. It flies surprisingly well (untuned) though.

[2016-03-26 15:20] mlyle commented on #830
That's what happens when no autotune flight has been flown or the autotune data was not saved.

To fly autotune, enable an autotune flight mode and the autotune module.  Take off with PIDs set to default, and select the autotune flight mode.  The quad will wiggle for 60s, then land and disarm, **while staying in the autotune flight mode** to save values.

Then you can do the autotune process like

[2016-03-26 15:20] #830 closed, assigned to nobody

[2016-03-26 15:21] reubenfirmin commented on #830
@mlyle That's exactly what I did. I've autotuned other quads successfully a dozen times. So why isn't this saving?

[2016-03-26 15:21] reubenfirmin commented on #830
@mlyle Please remove the "invalid" label. This is definitely a bug.

[2016-03-26 15:21] mlyle commented on #830
I don't know what you did differently.  Are you sure you disarmed while still in the autotune flight mode?

[2016-03-26 15:21] reubenfirmin commented on #830
@mlyle I am sure. I've done this three times over now.

[2016-03-26 15:23] mlyle commented on #830
You have changed and done something differently, or you are using mismatched GCS and firmware.  I'm sorry.  There have been thousands of autotunes.  Some have invalid data from capturing system state wrong, but none have a failure to save the system state.

People definitely tend to switch to leveling and not save-- we have fixed that in next.

[2016-03-26 15:24] reubenfirmin commented on #830
I definitely didn't switch to leveling, I promise you.

[2016-03-26 15:25] mlyle commented on #830
Does your GCS match the firmware you're running?

[2016-03-26 15:28] mlyle commented on #830
I guess there's one other unlikely thing it could be, too.  There are other bugs for the settings filling up with objects from old releases, etc.  If you've flown this on Tau and OP and LP your settings partition could be full and it could be unable to save the autotune data.

You can export the UAV configuration in GCS, then erase the settings partition (what flight board?  There's no great way t

[2016-03-26 15:28] mlyle commented on #831
Can you answer the question here please?

[2016-03-26 15:38] pug398 commented on #830
I missed something. It looks like a failed tune to me due to arm flex and can be checked by using lighter battery and/or strapping dowels across diagonal arm pairs to reinforce. Vtails will fail autotune regularly with out of range P term for this reason.

[2016-03-26 15:54] mlyle commented on #830
@pug398 -- the tune object is all 0's, 0 observations.  This only happens when it fails to save or the GCS can't read the tune object.

[2016-03-26 15:56] mlyle commented on #830
@reubenfirmin -- you could try going to latest next, which as part of upgrade will automatically upgrade the settings partition and clear out old objects, too (the code to erase objects not applicable to the release was not in OP or Tau).   e.g. http://jar.lyle.org:8080/job/dronin/lastSuccessfulBuild/Nodes=winx86/

[2016-03-26 19:22] mlyle commented on #810
Perhaps seen by nuggetz on CC3D.

[2016-03-26 23:28] pug398 commented on #830
Got it now and see it on autotown. I knew there must have been a reason for the line of thought just didn't make the connection. I have been able to link consistent AT failures back to frame design or too heavy a payload. Hopefully the new release will allow a good tune to be saved.

[2016-03-26 23:30] mlyle commented on #830
@pug398 just to clarify-- frame design / too heavy a payload results in like, 4ms tau or bogus betas, right?  Not a complete failure to save any data (I don't see how that could happen / have not seen that before).

[2016-03-27 00:16] pug398 commented on #830
That is correct it completes and you can save the data. Just generates extremely high P terms that are hazardous to the quads health. I didn't follow his link to autotown or I would have known what you were referring to. I actually have seen tunes on vtails and flame wheel clone frames that seemed so similar I jumped to conclusions. Not the first time as you know lol. Those frames with heavy paylo

[2016-03-27 17:50] #831 closed, assigned to nobody

[2016-03-27 23:28] mlyle opened #842 "Enabling TxPid module in GCS raises a failure to save the txpid settings object"
(Not present on HW).

With #838 this is fixed for F3/F4 targets, but it's still relevant to F1-- we need to cope with that object not saving.

[2016-03-28 18:18] mlyle opened #844 "Vertical navigation is incorrect"
The offsets used in baro pressure are not applied to the GPS.  This means that offset between sealevel and home do weird things with the INS.

Relates to #443

[2016-03-28 18:22] mlyle opened #845 "MSP: sends baroaltitude directly instead of INS filtered altitude"
(Uses baroaltitude instead of positionactual...  which is probably necessary on small targets, but has poor results on larger targets).

Relates to #443 (pressures displayed are altitude MSL instead of altitude relative to home).

[2016-03-28 18:23] henn1001 commented on #845
https://github.com/d-ronin/dRonin/blob/next/flight/Modules/UAVOMSPBridge/UAVOMSPBridge.c#L450

also relates to #65

[2016-03-28 18:51] mlyle commented on #747
Provisionally deferring this.

Also deferring all other telemetry bugs.

I have run 20 test cycles in the past couple of days with no repros on a fairly complicated CC3D configuration.  Also have not seen this since that first day.

Will keep an eye out.

[2016-03-28 19:24] mlyle opened #847 "VehicleSetupWizard should prevent PWM+Oneshot configs on CC3D"
They're an illegal combination because of shared timer resources.

[2016-03-28 20:03] mlyle opened #848 "Upgrader improvements for developer branches"
- [x] Build system should figure out common ancestor with "upstream" if possible
- [x] This should be stored into firmware descriptors
- [x] In turn, this should be used as "alternates" to migrate to/from.

[2016-03-28 20:06] mlyle opened #849 "Upgrader cloud-side improvements"
- [ ] Should actually migrate objects to new version
- [ ] Should take into account differences in defaults
- [ ] Should add infrastructure to adapt objects, change object names, etc, as part of upgrade
- [ ] Should annotate objects with descriptive data on the migration results
- [ ] GCS should display the descriptive data on import.

[2016-03-28 20:08] mlyle commented on #848
Closely related: #849

[2016-03-28 20:56] fujin commented on #699
Will test.

[2016-03-28 21:37] fujin opened #852 "KISS24RE Actuator Feedback / ESC Telemetry"
It's possible to gather information from the KISS24 Racing Edition ESC such as: voltage, current, RPMs and temparature via serial interface. The protocol is available, as well as an arduino protocol example.
- Temperature (resolution 1deg C)
- Voltage (resolution 0.001 V)
- Current (resolution 0.01A)
- Consumption (resolution 1mAh)
- Electrical RPM (resolution 100Rpm)

The data structure and a CRC

[2016-03-28 21:44] mlyle commented on #852
I was talking to @ekaszubski some about this last night.

The most important / first thing is to change the alignment of the PWM and oneshot we make-- to not have aligned leading edges, but aligned trailing edges instead.  This will A) remove phase-modulation of output motor power, and B) make all of the channels "free up" at the same time.

This requires plumbing the true channel maximum values t

[2016-03-28 21:52] fujin commented on #852
@mlyle the 30uS can supposedly be sent independently of the normal throttle signal and independent of the signalling speed as well, not sure if that changes any of the above or if I'm just misinterpreting :book:

[2016-03-28 22:20] mluessi commented on #852
The KISS ESCs are amazingly efficient, check out the current values in the video @fujin posted ;)

[2016-03-29 00:59] mlyle opened #854 "Binary configuration blobs upgrader sends should be zlib encoded"
I believe the cloud side supports this already.. and i never put the GCS side in.

[2016-03-29 01:01] dustin commented on #854
Yes, we tested zlib compressed data.  It falls back to trying it not
compressed.

On Mon, Mar 28, 2016 at 5:59 PM Michael Lyle notifications@github.com
wrote:

[2016-03-29 06:31] fujin commented on #830
Confirmed frame with significant Z-offset lower CG (110g battery mounted below lower-bottom plate, no HD camera, dry weight = 308g) with 1kHz/188lpf/60Hz gyrocutoff @ next was able to successfully tune @ 10ms. Tune flies perfectly well even with considerable positive Z-offset (adding HD camera). Would advise investigating mechanical components health, ESC configuration/calibration and potentially

[2016-03-29 15:41] mlyle commented on #830
@fujin-- his tune was never saving.  He either had a full config partition or was running hte procedure wrong.  His systemident object in the shared tune is all defaults.

[2016-03-30 03:51] #699 closed, assigned to mlyle

[2016-03-30 19:58] mlyle opened #857 "Vehicle setup wizard improvements"
- Checkbox to use "naze"-style motor mapping
- Brushed motor output type.

[2016-03-30 20:08] #298 closed

[2016-03-30 20:22] #842 closed, assigned to mlyle

[2016-03-30 20:25] #821 closed, assigned to mlyle

[2016-03-30 20:26] #657 closed, assigned to mlyle

[2016-03-30 20:28] #854 closed, assigned to mlyle

[2016-03-30 21:06] tracernz commented on #857
Multiwii mapping?

[2016-03-30 21:08] tracernz commented on #821
Should it be a modal dialog? I see it sometimes ends up behind the main window (e.g. if an error occurs).

[2016-03-30 21:22] mlyle commented on #821
It is setmodal.  There are odd things with modalness and our main window.  (if you have more than one modal thing, Qt acts weird, etc).

[2016-03-30 21:22] mlyle commented on #857
sorry, yes, mw/bf/cf motor mapping

[2016-03-30 22:09] mlyle commented on #821
P.S.  This is also why most of the errors/subsidary things have been moved into the main dialog.

[2016-03-31 08:10] tracernz opened #859 "GCS: Make Connection Diagrams More General, Available Outside Wizard"
- Should handle any port configuration
- Should be available somewhere in config plugin as well for reference
- Maybe handle ADC
- Maybe handle GPS/Telemetry on UART
- Maybe handle I2C on Flex-port

WIP so far on generalised rx configuration (not sure why 3.3 V text is broken :( ):
![blah](https://cloud.githubusercontent.com/assets/9995998/14169528/d2aa3206-f784-11e5-8454-297334d9bfde.png)

[2016-03-31 08:11] tracernz opened #860 "GCS:SetupWizard: Handle existing port configuration"
User may have already configured board previously. Need to handle this in some way, perhaps offer to reset port configuration before wizard starts configuring.

Connects #857

[2016-03-31 18:34] mlyle opened #861 "Tanto Beta2 Issue"
Checklist:
- [x] Check androidGCS
- [x] Check upgrade scenarios from LP
- [ ] Check upgrade scenarios from OP, if able
- [x] Check upgrade scenarios from TL
- [x] Check upgrade scenarios-- wrong bootloader that doesn't show settings partition
- [x] #862 AltHoldSettings import anomaly
- [x] #868 Uploader-- multiple devices in bootloader state
- [ ] PathPlannerSettings import anomaly-- low severity,

[2016-03-31 18:35] fujin commented on #861
woo!

[2016-03-31 20:13] reubenfirmin commented on #831
@mlyle (You should give bug reporters longer to respond to tickets before closing them. I've found when running open source projects that 2 weeks is about the right time before assuming all is lost. Certainly no need to follow up just 2 days after asking a question.)

You are correct - this is a CC3D. I suggest that if dronin detects a board that doesn't support oneshot that it doesn't offer onesh

[2016-03-31 20:14] reubenfirmin commented on #830
I'm going to do another test at the weekend after flashing the board in rescue mode. Stay tuned...

[2016-03-31 20:17] mlyle commented on #831
You were answering other questions at the same time ;P

CC3D supports oneshot; CC3D does not support simultaneous PWM input and oneshot output.   ( #847 )

[2016-03-31 20:20] mlyle commented on #830
If it's CC3D, note that that does not erase the settings flash.  You may want to try the next build at https://github.com/d-ronin/dRonin/issues/861 which now uploads a special program to CC3D to retrieve and clear settings flash as part of upgrade.

The issue is this-- there is no mechanism for garbage collecting configuration objects that are no longer relevant.  Every release you have run might

[2016-03-31 22:56] reubenfirmin commented on #830
Got it. OK, I will try the new build.

[2016-03-31 23:03] reubenfirmin commented on #831
Got it, thanks.

[2016-03-31 23:26] tracernz commented on #817
Let's defer the remainder of this work.

[2016-03-31 23:27] tracernz commented on #577
Defer to Samsara.

[2016-03-31 23:32] tracernz commented on #847
It would be nice to do this in a more general way using the timer bank information already in the board plugins.

[2016-04-01 04:17] cpusmith commented on #861
![image](https://cloud.githubusercontent.com/assets/4100472/14197657/e7e941d8-f79e-11e5-8454-f28500d93da9.png)

Should the selection boxes be so wide?

[2016-04-01 04:40] mlyle commented on #861
@cpusmith -- change @tracernz made, I thought it was kinda cute.

[2016-04-01 04:40] mlyle commented on #861
This is the second major release of the dRonin flight controller firmware.  It feels like we've made a lot of progress– and we hope you agree!  Significant effort was put into usability, reliability, and the upgrade process, and new features like HangTime (low-power stabilization) are a lot of fun.

Please see our new documentation at: http://dRonin.readme.io

Jump ahead to: [Changes](#changes) /

[2016-04-01 04:43] fujin commented on #861
typo:

[2016-04-01 04:44] fujin commented on #861
`CCPM` with regard to helis is? collective.. pitch..? not CPPM right?

[2016-04-01 04:44] fujin commented on #861
omg sorry pressed close by acccident

[2016-04-01 04:44] fujin commented on #861
typo:

are you going to proof/spellcheck this yet, @mlyle ?

[2016-04-01 04:45] mlyle commented on #861
I'm going to work on editing it more, yes

[2016-04-01 04:45] mlyle commented on #861
I think however I cut and paste it ate some letters :P

[2016-04-01 04:45] tracernz commented on #861
@mlyle The change wasn't really intentional, just a side effect of not explicitly setting the widget size. :-P

[2016-04-01 04:46] fujin commented on #861
@mlyle happy to read over before it's published :) looks like some simple stuff that gspell or whatever would pick up.

[2016-04-01 12:20] pug398 commented on #861
In a settings file I know the order of the objects does not matter but how about the order of the fields within a object? Trying to track down an issue with importing pathplanner settings.

[2016-04-01 15:28] mlyle commented on #861
It shouldn't, no..

I haven't tried to repro the pathplanner thing yet, but I've audited a lot of code.  The flight side there does some slightly odd things (not new) but they don't look wrong, per se.

[2016-04-01 17:15] mlyle commented on #373
Errata in relnotes for Tanto.

[2016-04-01 18:16] mlyle commented on #646
Documented: https://github.com/d-ronin/dRonin/wiki/Windows-driver-troubleshooting

In errata.

[2016-04-01 18:16] #646 closed, assigned to nobody

[2016-04-01 18:24] mlyle commented on #861
Relnotes mostly done and ready for any review.

[2016-04-01 18:51] mlyle commented on #810
Defer.

[2016-04-01 18:55] mlyle commented on #482
I skimmed docs and made a couple minor edits.  Looks good.  I don't love the separate PIDs but I see why someone would want different values.  Closing.

[2016-04-01 18:55] #482 closed, assigned to nobody

[2016-04-01 20:51] mlyle commented on #308
Removed the last vestiges of openpilot from the wiki and improved documentation some.

[2016-04-01 20:51] #308 closed

[2016-04-01 21:29] mluessi commented on #861
Looks good to me :)

[2016-04-01 21:58] mlyle opened #863 "Attitude estimates often poor in fast-forward-flight or in fixed wing"
Shows up really blatantly on OSD, etc.

taulabs/taulabs#2021 etc

[2016-04-01 22:01] dustin opened #864 "Confusing vertical velocity reporting"
I originally reported this in TauLabs/TauLabs#2026 where I took off and immediately had a negative climb rate although the altimeter seemed to be tracking fine.

http://gfycat.com/GlassImpartialHydra

A more recent clip shows that it at least seems to be lagging behind.

http://gfycat.com/WelcomeWeakBlacklab

[2016-04-01 22:03] mlyle opened #865 "TLM hardware should be removed because of license compliance issues"
Upstream taulabs/taulabs#1998 seems to not be getting fixed.

[2016-04-01 22:10] mlyle commented on #55
OK, I have spent some time on this.  Declining value as we drift further and have mined the top issues.  Closin'

[2016-04-01 22:10] #55 closed

[2016-04-02 00:55] mlyle commented on #864
@dustin -- can you try setting AttitudeSettings.VertPositionTau from 2.0 to 0.9?  That's a reduction of 2.2x; it'll make the vertical position filter listen much more to the baro and much less to the Z accelerometer and past trend.

I'm curious if this A) looks significantly better on the OSD, and B) if altitude hold flies all right / better after this.

[2016-04-02 02:32] mlyle opened #869 "Bootloader: Board revision management is bad."
1. Revision should be volatile so it doesn't get const-optimized.
2. Revision should default to 0xffff and be short aligned (e.g. be programmable at runtime).
3. BU should preserve revision when doing a boot-update. (instead of failing if revision mismatch).
4. Procedure should exist for programming board revision at commissioning-time.

[2016-04-02 02:53] tracernz commented on #869
Where possible we should detect revision at runtime (e.g. like we do on Naze32). Need to study schematics of other boards to see where else this might be possible.

[2016-04-02 02:56] mlyle commented on #869
Yah, 0xffff can mean 'detect at runtime' for any targets that support it.

[2016-04-02 02:59] tracernz commented on #869
Indeed. :-)

[2016-04-02 13:33] tracernz opened #871 "GCS: Some module settings tabs always enabled"
Since #838. Tagging into Tanto for now.

[2016-04-03 03:57] Malcurin commented on #18
I would love this on a acessory switch, Or even the auto detect muyself :)

[2016-04-03 04:33] mlyle opened #878 "upgrader: unable to upgrade from tau releases before 20150713"
[code]

Python API does not know how to parse this.

[2016-04-03 04:36] tracernz opened #879 "Modules Call UAVO Functions Without Checking UAVO Init Suceeded"
e.g. https://github.com/d-ronin/dRonin/blob/next/flight/Modules/Attitude/attitude.c#L233

One more reason why we crash rather than failing with an alarm when heap fills up.

[2016-04-03 05:45] #878 closed, assigned to mlyle

[2016-04-03 08:20] tracernz commented on #861
Rel notes looking pretty good now. Maybe /s/now CC3D/now "cc3d"/ to be consistent.

@fujin Missed your comment earlier, https://en.wikipedia.org/wiki/Cyclic/collective_pitch_mixing ;-)

[2016-04-03 17:09] pug398 commented on #861
Is android GCS supplied in Master suppose to be a copy of the dev signed apk or exported without any key?

[2016-04-03 18:35] mlyle commented on #861
@pug398 -- for the GCS that will ship with Tanto, it'll be an unsigned image for side-loading.

#705 is the bug where we brought the build infrastructure back, and deferred a couple of remaining issues (maps API, store, signing) to another release.

(We've not enregistered in the google play store or the Maps API program etc yet).

[2016-04-03 18:44] yamahabest opened #883 "Duplicate autotune values - multiple autotunes"
It seems that I am getting duplicate autotune values, when running multiple autotunes

Steps to reproduce (I believe):
1) Flight mode: Leveling
2) Connect battery
3) Arm
4) Fly
5) Switch the flight mode to Autotune
6) Wait till completion
7) Land
8) Disarm
9) Connect to GCS, watch values, and upload
10) Disconnect from GCS and from USB
11) Disconnect and connect battery (all whilst still having th

[2016-04-03 18:58] mlyle commented on #883
No repro.

[2016-04-03 18:58] #883 closed, assigned to nobody

[2016-04-03 19:00] mlyle commented on #883
Possible duplicate #747

[2016-04-03 19:19] pug398 commented on #861
@mlyle So to date the unsigned apks are just placeholders and are not actually suppose to install on a device?

[2016-04-03 19:25] mlyle commented on #861
@pug398 -- I've installed them on my device.. I just have sideloaded it with bluetooth and started it.

[2016-04-03 19:25] mlyle commented on #861
(Am I missing something?  I don't think I did anything special to use our artifact)

[2016-04-03 19:29] pug398 commented on #861
I don't know. None of them will install for me and I have "non Play" security turned off.

[2016-04-03 19:30] mlyle commented on #861
What android version?  @tracernz what have you used-- you've been successful right?

[2016-04-03 19:31] tracernz commented on #861
Perhaps you need to have your device in developer mode to install it? Settings > About phone and tap "Build number" seven times. I loaded it using `make androidgcs_install` which uses ADB, so debugging needs to be enabled for that method.

[2016-04-03 19:40] mlyle commented on #861
Hm, I am not in developer mode; on moto x pure on android 6.

[2016-04-03 19:42] pug398 commented on #861
@tracernz
Thank you for that tidbit of info. That is way cool. Unfortunately apk still will not install.

Android version 4.4.2

[2016-04-03 19:56] mlyle commented on #861
I think I see.  It looks like the apk doesn't work in the release configuration.  Fixing.

[2016-04-03 19:59] #871 closed, assigned to tracernz

[2016-04-03 20:11] mluessi opened #885 "Use single wire mode for HOTT telemetry"
HOTT is a single wire protocol, so on F3 and F4 we should use single wire mode for the UART. This makes it easier for users, as the cable only has to be connected to the Tx pin.

@tracernz I think you are using this system, WDYT?

[2016-04-03 21:51] pug398 commented on #861
Before I forget again there are a couple of minor issues with browser object descriptions. Not sure if you want to fix them up before release.
Settings>CameraStabSettings - remove one of the m from module
Settings>OnScreenDisplayPageSettings -  add c to all mention of sreen
Data Objects>FlightTelemetryStats - change openpilot to autopilot maybe
Data Objects>SystemAlarms - change openpilot to autop

[2016-04-03 21:55] pug398 commented on #861
Same for Settings>OnScreenDisplaySettings as it looks like it has it's own description.

[2016-04-03 22:00] tracernz commented on #861
@pug398 I have some of this done in a branch I started working on the other day (it does a lot of other stuff to UAVOs as well). https://github.com/tracernz/dronin/tree/mrc-uavo-stuffs

[2016-04-03 22:01] mlyle commented on #861
ok, stopping doing it then :)

[2016-04-03 22:02] pug398 commented on #861
Cool. I have been meaning to mention it for awhile but it kept slipping my mind. Doesn't take much you know :)

[2016-04-03 22:04] tracernz commented on #861
Maybe fix the typos etc. up for this release and I will rebase it out of my branch since it won't land for a while.

[2016-04-03 22:04] mlyle commented on #861
New beta artifacts posted above

[2016-04-03 22:30] pug398 commented on #861
Android GCS working now. Good job :)

[2016-04-04 17:39] mlyle opened #886 "GCS: Apply button in scopes config needs to move"
![image](https://cloud.githubusercontent.com/assets/90903/14257198/793a1d1a-fa51-11e5-981f-809ec2918971.png)

[2016-04-04 17:42] jpahka commented on #886
I got bitten by this, agree

[2016-04-04 19:59] droidicus commented on #885
Could this also be applied to FrSky S.BUS telemetry?

[2016-04-04 20:02] mlyle commented on #885
frsky smartport telemetry?  it already is, on F3 (where we have hardware inversion).  it will be on brainre1 as a special case, too.

[2016-04-04 20:06] mlyle opened #888 "Upgrader failed to connect to loader on windows 7"
From user `crashnburn0` on irc:

[code]

[2016-04-04 20:06] mlyle commented on #888
Initially opening in Tanto

[2016-04-04 20:34] droidicus commented on #885
Yea, S.Port, I always get the two confused...

[2016-04-04 21:37] mlyle opened #890 "MSP->UAVTalk autodetect doesn't seem to work at 115200"
Reported by @malcurin on IRC.

Maybe our state machine for the basic case doesn't work-- when the telemetry and MSP baud rates are the same.

[2016-04-04 21:39] dustin commented on #890
I thought it wasn't working at 115200 and did work at 57600

[2016-04-04 21:59] mlyle commented on #890
Sorry got distracted

[2016-04-04 22:28] mlyle commented on #890
OK, I think my interpretation of events is this:
- User had telemetry speed on flight board set to 57600
- User connected with MSP module enabled, changed MSP->telemetry
- User couldn't connect with GCS set to 115200 and telemetry set explicitly to 57600

Suggested changes--
- We need tracernz's stuff so we can simultaneously do autotune & MSP -- #762 -- to eliminate some of this error-prone stuff