[2016-04-04 22:28] #890 closed, assigned to nobody

[2016-04-05 06:34] #888 closed, assigned to mlyle

[2016-04-05 06:44] tracernz commented on #123
https://github.com/d-ronin/dRonin/wiki/User-Guide:-Migrating-From-*Flight

[2016-04-05 12:15] reubenfirmin commented on #830
Well, unfortunately for the forensics here, RIP underslung 3d-printed frame. It took a bad crash at the weekend and is no longer air worthy :/

[2016-04-06 06:42] mlyle commented on #466
This was fixed by #780

[2016-04-06 06:43] #466 closed

[2016-04-06 06:46] mlyle commented on #77
This is actually done!

[2016-04-06 06:46] #77 closed

[2016-04-06 18:17] mlyle opened #897 "Documentation, tanto"
- [x] Finish docs - ehh good enough
- [x] Link to docs from home page
- [x] Remove superseded wiki pages, replace with link to docs
- [x] Update relnotes to point to a couple doc pages

[2016-04-06 20:54] #802 closed, assigned to mlyle

[2016-04-06 22:15] jpbarraca commented on #786
On the current next this seems to be already implemented.
The following image shows the module interface in a CC3D with some modules disabled.
Oddly, there is no GPS but there is geofence...?

<img width="1788" alt="cc3d-modules" src="https://cloud.githubusercontent.com/assets/497717/14334555/14ba9a38-fc4d-11e5-9593-42fd8474230c.PNG">

[2016-04-06 23:00] mlyle commented on #786
The greyed ones are the ones that are either:
- turned on or off on a different GCS page
- automatically turn on when you configure a port to use them

[2016-04-06 23:14] tracernz commented on #786
I'll separate the auto-enabled ones in the UI soon.

[2016-04-06 23:34] mlyle opened #899 "Documentation: Need to document how to get dRonin-MWOSD"
And/or make a distribution etc

cc @dustin

[2016-04-07 01:06] tracernz commented on #899
Same as MWOSD procedure for other FCs except uncomment define DRONIN instead of define X.

[2016-04-07 01:15] mlyle commented on #899
Yah.  sucks to make people compile stuff etc though.

[2016-04-07 01:32] mlyle commented on #661
#856 made progress towards this.  I think the only thing needed really is to turn up the channel count.

[2016-04-07 01:34] mlyle commented on #541
@raemin has done a lot and I've made a good first pass through the wiki and getting documentation together...  can probably close this as it's redundant with other doc issues.

[2016-04-07 01:34] #541 closed, assigned to nobody

[2016-04-07 01:40] mlyle commented on #65
Closing in favor of #443

[2016-04-07 01:40] #65 closed

[2016-04-07 01:42] tracernz commented on #899
It's the arduino way

[2016-04-07 05:01] mlyle commented on #897
To supersede:

https://github.com/d-ronin/dRonin/wiki/Development-Linux-setup
https://github.com/d-ronin/dRonin/wiki/Development-OSX-setup
https://github.com/d-ronin/dRonin/wiki/Development-Windows-setup
https://github.com/d-ronin/dRonin/wiki/Upgrade
https://github.com/d-ronin/dRonin/wiki/User-Guide:-Migrating-From-*Flight
https://github.com/d-ronin/dRonin/wiki/Configuring-your-new-board-for-basic

[2016-04-07 05:58] jhitesma opened #901 "Sparky2 auto upgrade OpenLRS settings don't auto re-import"
On tanto doing an auto upgrade on sparky2 with OpenLRS when it re imports the UAVO's OpenLRS settings don't import because it gives a "Object not present on HW" error for them.

After rebooting the board I was able to re-import the saved UAVO's and the OpenLRS settings came across just fine.

Big thumbs up on the auto-upgrade stuff - very very cool other than this very minor hiccup, still the easi

[2016-04-08 03:58] jhitesma commented on #861
Tried the android GCS last night now that I have a new phone with a connector that isn't worn out.  Seemed to work just fine.  At least as well as the android GCS ever worked.

[2016-04-08 15:39] tgreer commented on #9
@jihlein I'm still curious about this... I have another board http://shop.myairbot.com/index.php/flip32f3aio-lite.html which gets flashed with the SPRF3 Hex under cleanflight, and has a MinimOSD on board also. It's a neat all in one board, would be good to have this supported :)

[2016-04-08 18:16] jihlein commented on #9
@tgreer - I think the Dodo target in my "myNext" branch is very close.

It would need an update to not use the baro, and possibly to the oscillator frequency.  Can you tell if the oscillator is 8 or 12 MHz?

I believe the rest of the IO is pin for pin compatible.  The only exception is pwm outputs 3 and 4 do not work, as they are the USB pins, and I have not completed removing the bootloader.  You

[2016-04-08 18:25] tracernz commented on #9
If it wasn't for Naze flash size I'd almost be tempted to write a UART variant of the bootloader for these targets. :/

[2016-04-08 19:10] davidbitton opened #903 "STM32F411 Boards"
Will the firmware work against an STM32F411 based board? I understand the F405 and F407 use a different library. Thanks!

[2016-04-08 19:22] dustin commented on #903
Individual board support is going to be work no matter what.  It's likely you can port to new board, but it's not going to accidentally boot up as an existing target.

[2016-04-08 19:24] mluessi commented on #903
Yeah, we use the latest STM libraries, so a 411 based board could easily be added.

[2016-04-08 19:27] #903 closed, assigned to nobody

[2016-04-08 19:30] davidbitton commented on #903
I'm fine w. the concept. What makes a flight/target just that? I see
there's a discoveryf4 target. Which F4 discovery? Is it the F411? What
about each target makes it unique? If the discoveryf4 is the prototyping
board for the F4, how does one then translate that to a finished product?

On Fri, Apr 8, 2016 at 3:22 PM, Dustin Sallings notifications@github.com
wrote:

##

---

David B. Bitton
Code N

[2016-04-08 19:36] mlyle commented on #903
@davidbitton -- DiscoveryF4 is solely for developers at this point, and doesn't carry a full flight stack-- just the basic telemetry etc subsystems.  We used to have a "FlyingF4" target based on the F407 discovery board, but removed it because it was A) problematic for various reasons, and B) no one used it.

FlyingF3 is a discovery board though-- it's the STM32F3Discovery.

May I ask the purpose

[2016-04-08 19:58] davidbitton commented on #903
I am not the developer. I wanted to make use the of the new [Falcon F4](http://tro.pe/1qcE3yL). They do not have current support for dRonin. They only have official support for:
- LibrePilot 15.09
- RaceFlight Release 1, RC8, Version 16.03.17a

I thought I would try my hand at contributing.

[2016-04-08 20:33] mlyle commented on #903
@davidbitton -- we'd love help, but.. are you sure you want that board?  There's these shrunk Revolution (without the radio) http://www.aliexpress.com/item/Mini-Openpilot-CC3D-Revolution-Flight-Controller-for-Nano-Mini-RC-Multicopter/32616936566.html?spm=2114.01010208.3.45.xkpZBW&ws_ab_test=searchweb201556_0,searchweb201602_1_10017_10005_10006_10034_10021_507_10022_508_10032_10020_10018_10019,sear

[2016-04-08 20:39] davidbitton commented on #903
I ordered one and I'm going to try it out. In the end it may not be worth the development effort, but if it's not a big deal, it's sure worth trying.

BTW, one point of note is the Falcon uses an MPU9250 on SPI.

[2016-04-08 20:52] mlyle commented on #903
Yes, that's true.  Though MPU-9250 seems to be a bit worse than 6000 when it comes to vibration sensitivity.

You may want to come by IRC as you get underway; there's a lot of people there who can answer questions.

[2016-04-08 20:55] davidbitton commented on #903
duly noted. thanks!

[2016-04-08 22:43] tracernz commented on #903
If somebody made a small form factor board with F411 (and even better, pin compatible with Revo Nano) then we'd be very interested I think. There's not much out there in small form factor ATM so it's a shame the Revo Nano never really saw the light of day.

[2016-04-08 22:46] pug398 opened #904 "CC3D:motor output channel assignment discontinuity"
I updated a CC3D that had a slightly unusual channel assignment in that channel 1 is dead so 2,3,4,5 are used. After updating it flies fine and mixer is set correctly except all of the motor output channel assignments say "None" in vehicle setup.

[2016-04-08 22:57] mlyle opened #905 "OpenLRS beacon deviation excessive."
Have not explicitly measured this, but---
- beacon tone sounds distorty / over-deviatey
- beacon tone shows up on _ALL_ 462 FRS channels (!)

[2016-04-08 23:00] #901 closed, assigned to mlyle

[2016-04-08 23:00] mlyle commented on #72
Being handled in #897 doc issue for tanto.

[2016-04-08 23:00] #72 closed

[2016-04-08 23:00] mlyle commented on #123
Remainder being handled in #897 tanto doc item

[2016-04-08 23:00] #123 closed

[2016-04-09 00:34] jihlein commented on #9
@tgreer - I disabled the BMP280 in the Dodo target.  I believe this should now run in the Flip32F3 board if it is truly SPRacingF3 compatible.  You can find this test branch at:

https://github.com/jihlein/dronin/tree/flip32f3aio

Build and load the ef_dodo.hex file.  Let me know if it works.  The only issue I can think of is the oscillator might be the wrong frequency.

The branch is based off th

[2016-04-09 00:52] mlyle commented on #904
Just to clarify-- you didn't need to change settings-- it just displayed in the UI wrong?

I suspect this is a cousin of #315, then.

[2016-04-09 01:40] pug398 commented on #904
Yes I changed nothing. It was setup and flying and I did a successful upgrade and it continued to fly. Later I noticed it had None for the Motor output channels. I have done several upgrade cycles back and forth and also manual import/export. Settings are holding now so not sure what happened.

[2016-04-09 02:26] davidbitton commented on #903
Why isn't 35mm small enough?

On Fri, Apr 8, 2016 at 6:44 PM, Michael Corcoran notifications@github.com
wrote:

##

---

David B. Bitton
Code No Evil, LLC

Code Made Fresh Daily.

[2016-04-09 04:04] mlyle commented on #903
35mm is fine, but we support lots of 35/36mm flight boards-- that's the predominant form factor.  Sparky2 or Revolution etc are that size; this is lower spec than either of them.

Supporting something that's F4 (or even F3) but tiny to cram into gliders, ultramicro quads, etc, could be very nice / and is heavily differentiated from the rest of the flight boards we support.

I think you might be be

[2016-04-09 04:47] tracernz commented on #903
Basically, there needs to be something to justify the maintenance and support burden of a new target. It needs to offer something that existing targets do not.

[2016-04-09 05:47] jhitesma opened #906 "sysconfig error for autotune mode doesn't give error explanation."
On tanto beta2 (git hash 409c43c8)

Enable autotune module and mode.

Switch into autotune mode while disarmed.  Sysconfig gets a red X as expected. But clicking that gives no details about why system config is in error.

It does give a nice error now if I disable the module but leave the mode available - so that's nice, I don't remember getting that nice of an error in the past.

[2016-04-09 09:23] tracernz opened #908 "GCS:SystemHealth: Audit to ensure all alarms are handled with descriptions"
I suspect quite a few have been added without doing the necessary GCS work.

[2016-04-09 13:43] davidbitton commented on #903
I understand now. I guess I'm accustomed to the exhaustive list of boards supported by Clean/Beta-Flight.  As for the Revolution, is [this](https://bnc.lt/m/aX1KqPEZqs) what you were referring to? I can see how it would be a preferred device.

[2016-04-09 17:03] dustin commented on #903
Does cleanflight even support stm32f4?  Their board support seems really
sparse to me, but I might just not be good at reading their docs.

I do know that many of the boards they support they support poorly.  E.g.,
you can't use the USB port on a cc3d or sparky, you can use soft serial or
a current sensor on a naze32 proper, but not at the same time.  On a
different form factor naze 32, you can't

[2016-04-09 17:07] mlyle commented on #903
@dustin summed it up pretty well.  We've been slowly doing work to clean up target support and lower the tax of supporting additional targets, but that's more so we can choose 2-3 additional targets carefully rather than open the floodgates.

@davidbitton Yes, that's the correct revolution.

[2016-04-09 20:46] davidbitton commented on #903
@mlyle ok, I'll place the order. I'll give that other F4 to my kids.

[2016-04-09 21:15] #906 closed, assigned to tracernz

[2016-04-09 23:02] #897 closed, assigned to nobody

[2016-04-09 23:02] #861 closed, assigned to nobody

[2016-04-09 23:03] mlyle opened #909 "Tanto Postmortem"

[2016-04-10 14:58] droidicus opened #910 "Autoupgrader failure (cant detect bootloader/multiple bootloaders detected)"
User on Tanto, Windows PC. Attempted to auto update, but recieved Can't Detect Bootloader and Multiple Bootloaders Detected, after choosing to go into autoupdater mode. User believes Multiple Bootloader happened before the Can't Detect Bootloader. Debug log is below.

[code]

[2016-04-10 15:30] droidicus commented on #910
A different log, obtained from "save log".

[log_041016.txt](https://github.com/d-ronin/dRonin/files/211824/log_041016.txt)

[2016-04-10 18:10] #845 closed, assigned to henn1001

[2016-04-10 20:33] #746 closed, assigned to jpbarraca

[2016-04-10 20:38] mlyle commented on #664
Related: TauLabs/TauLabs#2240

Hopefully Eigen 3.3 will ship soon.

[2016-04-10 23:06] tracernz commented on #910
At https://github.com/d-ronin/dRonin/blob/next/ground/gcs/src/plugins/uploader/uploadergadgetwidget.cpp#L1351 we should add (not compiled/tested):

[code]

[2016-04-10 23:13] #575 closed, assigned to nobody

[2016-04-10 23:26] mlyle commented on #160
This is actually done already :)

[2016-04-10 23:26] #160 closed

[2016-04-10 23:37] mlyle commented on #570
I think I'm in favor of WONTFIXing this-- it seems like a lot of administrative overhead for relatively little gain.

[2016-04-10 23:43] mlyle commented on #786
I think my preferred approach for this would be--
- alter task status, to have 'not present', not running, or running status.
- have tasks default to 'not present'
- add a call to set a tasks status from not present -> not running
- have all modules call that at init time
- have GCS react to this appropriately.

[2016-04-11 00:40] tracernz commented on #786
Yes, I'd like to do that. Doesn't work for F1 though...

[2016-04-11 19:17] DTFUHF opened #912 "Flight: SUMD: Strange stick scaling on inputs"
This line: https://github.com/d-ronin/dRonin/blob/080150a5b271fcfb3fe36aa1e20f92fc0d956aca/flight/PiOS/Common/pios_hsum.c#L255

has the effect of scaling SUMD's inputs around a center value of 1500, the protocol is described here on page 4: http://www.deviationtx.com/media/kunena/attachments/98/HoTT-SUMD-Spec-REV01-12062012-pdf.pdf

It's likely this scaling is used for another Graupner protocol, S

[2016-04-11 19:50] tracernz commented on #912
Our convention is to not even scale channel values in the driver so this should be removed I think.

[2016-04-11 23:31] droidicus opened #914 "S.Bus not working on Lux with Tanto"
Cannot get S.Bus working on Lux FC with Tanto. If I flash Renatus it works fine, but a reflash with Tanto and no data is being received. Tried with settings translation (autoupgrade), manually, and with config wizard.

[2016-04-11 23:34] droidicus commented on #910
Found the culprit, his laptop had a device called "Asus Wireless Remote Control" that was causing the GCS to see multiple bootloaders. Here are the Hardware IDs as shown by the Windows Device Manager:

[code]

[2016-04-11 23:46] mlyle commented on #910
Do you have the associated vendor and product id?

[2016-04-11 23:57] droidicus commented on #910
It is not a USB device, it was showing up as connected to ACPI. I think the VEN_ATK is the vendor ID in this case.

[2016-04-12 01:13] droidicus opened #916 "CC3D upgrader failure"
While upgrading to Tanto, friend had the following issue using the upgrader with a CC3D.
![2016-04-11](https://cloud.githubusercontent.com/assets/6981482/14446894/cf9901c6-0028-11e6-9d93-8460af2edd80.png)

Log:
[CC3D_Updater_Log.txt](https://github.com/d-ronin/dRonin/files/214148/CC3D_Updater_Log.txt)

Then, unplugged the FC, restarted GCS, and re-plugged FC, this is the log:
[CC3D_Updater_Log_2.t

[2016-04-12 01:41] mlyle commented on #916
may be WONTFIX-- can't do much about being unable to write to the device.

[2016-04-12 02:34] fujin commented on #914
Confirmed not working on my freshly flashed Tanto LUX :( I didn't get a chance to test before release. Doesn't pick up throttle, shows connected:false, etc.

[2016-04-12 02:41] fujin commented on #914
@mlyle maybe we wanna bump the priority on this a little? :) can we do a hotfix?

[2016-04-12 03:12] jihlein commented on #914
I see the problem for the rxport. It should work on main or flexi. I can put together the fix tomorrow evening. The port configuration is missing for the rxport. None of the serial rx's will work.

[2016-04-12 03:27] tracernz commented on #914
This is not a regression, it's been there forever and nobody noticed so I think priority/low is justified: https://github.com/d-ronin/dRonin/blob/1ac0ae516f9bebbebbbeaec6ac6664bf588f5462/flight/targets/acbro/fw/pios_board.c#L308

[2016-04-12 03:37] mlyle commented on #865
I have an email from Cathy Moss (pip) indicating that it is OK to ship this under CC-BY-SA, so closing.

[2016-04-12 03:37] #865 closed, assigned to mlyle

[2016-04-12 03:54] droidicus commented on #914
@tracernz as indicated above, this works in Renatus, and does not work in Tanto, I would call that a regression in back-to-back releases.

[2016-04-12 04:15] mlyle commented on #705
Will watch the download counts and problem reports with AndroidGCS to decide how important this stuff is.

[2016-04-12 04:17] mlyle commented on #451
Closing dup #859

[2016-04-12 04:17] #451 closed

[2016-04-12 04:30] mlyle opened #919 "Report: some imported values don't get saved"
Unconfirmed, but reported by @pug398 who is distressingly accurate about these types of things.

Particularly Altitude Settings or Sparky1 HW settings.

It's possible we have some kind of issue with the save-object state machine on GCS or flight side, or it's a general problem with telemetry.  Or something else entirely.

[2016-04-12 05:47] tracernz commented on #914
Then the missing rxport config wasn't the issue? Or something else changed...

[2016-04-12 12:55] jihlein commented on #914
The missing rx port is the issue.  The problem was introduced when the PIOS_HAL argument list was reduced in PR #403.  The same issue was discovered, and fixed, in Sparky.  Unfortunately we didn't catch it in Lux.

Let me know if I should fix it on the Tanto branch or next branch.  The fix affects 2 files.

[2016-04-12 13:52] pug398 commented on #919
I will watch the update process closer and name each fc cloud settings file with a unique identifier. Then I will still have the original exported data should I find an issue after doing multiple auto updates. The previous reported problem of PathPlanner settings not importing to sparky2 flash might be related to this.

[2016-04-12 14:10] droidicus commented on #914
@jihlein I would submit a PR to next, it can be cherrypicked if we do a hotfix at a later time.

[2016-04-12 23:16] mlyle opened #922 "PIOS_Com & fifobuf synchronization mechanisms broken"
There is no proper synchronization.  We are doomed.

[2016-04-13 04:46] mlyle opened #924 "Quanton: support USART6 on rcvrport"
More serial is always good, right?

Unfortunately the CLK line for it is used for I2C; else we could have used it to get a pseudo-SPI out.

[2016-04-13 12:35] jihlein commented on #924
PWM IN2 would function as USART6 TX, PWM IN3 would function as USART6 RX.

I would suggest adding 3 more selections to the RCVR port selection:

PPM+Serial
PPM+Serial+ADC
Serial

If desired, serial could also be added with the PWM output function, but the permutations of pin use start to get a little silly in my opinion.

USART6 port selection would be the typical cast of characters.

[2016-04-13 13:18] reubenfirmin opened #925 "Cannot flash using windows 10"
Filing this on behalf of a third party. The board is a CC3D.

Issue 1) They couldn't find bu_coptercontrol.tlfw in their install.

Issue 2) The "flash" button doesn't enable.

See attached with screenshots.

[Windows%2B_install_%2Brunning%2Bin%2Bwindows%2B10%2B (1).pdf](https://github.com/d-ronin/dRonin/files/217137/Windows.2B_install_.2Brunning.2Bin.2Bwindows.2B10.2B.1.pdf)

[2016-04-13 15:41] mlyle commented on #925
The target name is now 'cc3d' to eliminate confusion.  bu_cc3d is in the list in the screenshot.  It looks like they got bu_coptercontrol.tlfw from the previous release?

'flash' is not enabled because they are connected to firmware (note the telemetry activity lights, alarms, artificial horizon at the lower right), and not a bootloader.  The 'enter bootloader' will send an IAP command to enter th

[2016-04-13 15:41] #925 closed, assigned to nobody

[2016-04-13 15:42] mlyle commented on #924
I agree re: permutations.

Any strong reason to not have PPM+Serial+ADC only?

[2016-04-13 16:12] jihlein commented on #924
Not really.  I already have the three selections mentioned above ready for testing, but can easily pare them down if that's the desired path.

[2016-04-13 16:44] mlyle commented on #924
Awesome :)  Whatever you think is best.  Thanks for just fixing everything always ;)

[2016-04-13 20:21] #914 closed, assigned to jihlein

[2016-04-14 20:49] #910 closed, assigned to mlyle

[2016-04-14 21:06] #577 closed, assigned to nobody

[2016-04-15 03:25] fujin commented on #912
Confirmed? I think:
![1460690722](https://cloud.githubusercontent.com/assets/6873/14550619/4d622f5e-031e-11e6-8bc8-98a344a38681.png)

[2016-04-15 03:50] tracernz commented on #912
Let's remove the scaling and pass raw values out of the rx driver, as we do for other rx drivers. ManualControl normalises them on [-1.0, 1.0] already so no point doing it twice.

[2016-04-15 04:08] mlyle commented on #912
as long as it fits easily into uint16_t and stays well over  0 and under, say, 60000, i'm cool with this plan.

[2016-04-15 04:20] tracernz commented on #912
It is a uint16_t...

[2016-04-15 04:21] tracernz commented on #912
Possible values are in the docs. I intend to replace the HSUM driver with a generic SRXL driver that supports all variants of SRXL.

[2016-04-15 04:26] mlyle commented on #912
Yes, but we have special values at the top and bottom of the uint16_t range..

[2016-04-15 05:45] tracernz commented on #912
Yep, it doesn't go to those, as per the specification document above ;-) (max is 0x41a0 == 16800). FWIW, the special values are -1, -2 and -3 (65535, 65534 and 65533).

[2016-04-15 07:24] fujin commented on #664
you can cherry pick https://github.com/fujin/dronin/commit/34a79bff57af77b915dbea14242cafb5e940831dif it helps

[2016-04-15 07:49] tracernz commented on #664
Hopefully not far away https://listengine.tuxfamily.org/lists.tuxfamily.org/eigen/2016/04/msg00017.html

[2016-04-15 11:40] DTFUHF commented on #912
It probably wouldn't hurt to add a check for those values upon reception,
as the protocol is capable of transmitting them.
On Apr 15, 2016 01:45, "Michael Corcoran" notifications@github.com wrote:

[2016-04-15 17:58] mlyle commented on #912
If 0 is possible (haven't read the document) we should probably offset the range, too.  0 is not currently special but it seems wise to avoid it.

[2016-04-15 21:49] tracernz commented on #912
<img width="1081" alt="untitled" src="https://cloud.githubusercontent.com/assets/9995998/14575818/83474f60-03b8-11e6-90a7-82cee0f28ff0.png">

[2016-04-15 21:53] #675 closed, assigned to mlyle

[2016-04-15 21:54] #716 closed, assigned to mlyle

[2016-04-15 21:55] #886 closed, assigned to mlyle

[2016-04-15 21:57] #56 closed

[2016-04-15 22:25] mlyle commented on #912
nice

[2016-04-15 22:32] pug398 commented on #919
Sparky2 simply does not save AltitudeHold settings in flash for me. They import in but do not save to flash. They are present in the cloud file and exported uav file, import in (both auto/manual) but as soon as board power is cycled it is lost. You can import either way, go to the browser, save and they stick. It is not being written to flash on import.

[2016-04-16 00:07] pug398 commented on #919
20160211-efc3 and previous (working), 20160223-49ed and later (not working). Most likely introduced when import changes were made somewhere in between.

[2016-04-16 02:19] mlyle commented on #919
@pug398 cool-- that was one of two things I suspected.

Kids are off school this week so I've not been super productive-- but I'll be able to audit that set of importer changes soon to see why it could be skipping saves.

[2016-04-17 18:12] mlyle opened #928 "STM32 Libraries not GPL compatible"
Need to add appropriate exception to our license to allow linking with STM32 libraries.  Need to make best-effort to clear with existing contributors.  (But should be OK).  Need to be careful going forward-- it'll be difficult to bring in any third-party GPL code.

[2016-04-17 18:30] mlyle commented on #928
The issue is this clause:

which is an incompatible restriction on use.

The GPLv3 says:

The ST libraries probably do not qualify under the system library exception as written.

But I think this is the best path-- to clarify that we consider the STM32 libraries and CMSIS components included within the source as "System Libraries" under the terms of the GPL, in our licensing document and contribut

[2016-04-17 19:44] mlyle commented on #928
http://debian.2.n7.nabble.com/MCD-ST-Liberty-SW-License-Agreement-td3526097.html

[2016-04-17 20:18] mlyle opened #929 "UAVObjectUtilManager needs a rewrite"
Very complicated / confusing state machine used in persisting objects; lots of connecting and disconnecting.  Yucky.

[2016-04-17 20:18] mlyle commented on #929
Possibly relates to #919.

[2016-04-17 21:16] tracernz commented on #928
There is a 3rd party GPL ST lib out there.

[2016-04-17 21:54] mlyle commented on #928
If it's this thing -- https://github.com/MaJerle/stm32fxxx_hal_libraries --- it's ostensibly under the GPL but contains the ST code :/

[2016-04-17 23:30] reubenfirmin opened #930 "Request: detect crash, stop "motors spin at neutral""
- Seen in version (release version or githash): 4/09
- On flight controller (if applicable): CC3d

Issue details: "Motors spin at neutral" is a cool feature, but please somehow detect crashes and disable spinning when that happens. Having motors spinning in long grass is not good. Yes, disarming is the answer, but it may be all that the user can do to kill throttle after the crash.

[2016-04-18 00:22] mlyle commented on #930
Open for comments.

My thoughts are:
- I can't reliably detect a crash.  Big accelerometer transients etc are not enough / happen in normal flight / landing / etc.
- Hitting gates is usually a huge transient but often recoverable and something our users often want.
- Spuriously disarming is really bad.

It's possible to set ArmedTimeout to smaller values, and there is the still undocumented / unex

[2016-04-18 00:26] mlyle commented on #930
(P.S. If your intention is to just disable "spin at armed" and not disarm-- I am strongly opposed.  That means that the quad will still be armed and just ready to chew up someone's face if they bump the throttle-- but concealed / look exactly like it does when disarmed).

[2016-04-18 16:27] #610 closed, assigned to nobody

[2016-04-18 21:20] mlyle opened #931 "Should consider using flush-to-zero mode in FPU"
Currently we don't use flush to zero mode, which means we can get into weird modes handling subnormals that may be very slow / performance may not be deterministic.

The smallest normal value is about 1e-38.  IEEE compliant mode represents numbers smaller than this as subnormals, which uses software (very slow) handling by default to handle them with reduced precision.  Flush-to-zero mode instead

[2016-04-18 23:14] jpbarraca commented on #908
Don't know if all these are propagated to GCS. However they are set in flight but have some problem in GCS (`ground/gcs/src/plugins/systemhealth/systemhealthgadgetwidget.cpp`)

`SYSTEMALARMS_ALARM_BATTERY`
I think that Battery-Error.html is never used (but exists)

`SYSTEMALARMS_ALARM_FLIGHTTIME`
I think that FlightTime-Error.html is never used (but exists)

`SYSTEMALARMS_ALARM_GEOFENCE`
missing G

[2016-04-19 00:40] jpbarraca commented on #879
@tracernz Basically, modules will proceed normally without ever checking the initialisation of their subcomponents. I started adding checks to modules, returning an error if an initialisation failed. Should the module also trigger an alarm? I expect that an OUTOFMEMORY alarm will be triggered when the heap is depleted.

[2016-04-19 01:08] mlyle commented on #879
Better to just let the outofmemory thing handle it, I think.

[2016-04-19 05:27] tracernz commented on #908
Thanks @jpbarraca! Are you interested in making the missing HTML files and/or deleting the unused ones?

[2016-04-19 05:29] tracernz commented on #879
Yep, heap alarm will take care of it. Sounds like you're on the right track.

[2016-04-19 09:32] jpbarraca commented on #879
The advantage of triggering an Alarm from the module is that besides the heap alarm we would rapidly know which module triggered the problem. But I may be missing something.

[2016-04-19 10:12] jpbarraca commented on #908
@tracernz I'm currently half way through #879 and can take care of this afterwards. However, this will be a busy work week and the PR can take some days to appear.

[2016-04-19 11:00] tracernz commented on #879
The thing is, it's really the combination of modules that causes a heap overflow rather than just the last one that attempted init before overflow. I can see that it would allow you to work backwards disabling modules until it stops coming up. I'm not sure that's so useful though.

I wish it were possible to give a little colored bar on the modules tab in gcs showing estimated memory usage but I d

[2016-04-19 11:01] tracernz commented on #908
It's not a problem if you don't get time. I'm away from home this week but I can check it out next week if you don't get a chance.

[2016-04-19 11:07] jpbarraca commented on #879
@tracernz It would help debug. But I admit that even in this case, debugging will be limited because several modules will trigger alarms simultaneously and there is no real culprit. I will just return a failure and prevent the module from operating.

That bar would be great, but I agree that it would add much complexity.

[2016-04-22 21:27] mluessi commented on #98
Just did some tests: The crash also happens when telemetry is not connected. We should fix this for the next release; it's not impossible for a fix wing aircraft to fly more than 1h 11min.

[2016-04-22 22:16] pug398 commented on #98
There are also some experimental "flying battery" multirotors that can also exceed 72 minutes flight time.

[2016-04-22 22:19] tracernz commented on #98
The cause is currently unknown.

[2016-04-24 17:05] pug398 opened #934 "GCS:Flight Modes:Remove Multiwii mode deprecation note"
- Seen in version (release version or githash): 685711b0 20160418
- On flight controller (if applicable):

Issue details:
Multiwii flight mode removed but note about deprecation is still present on Input>Flight Mode Switch Settings tab.

[2016-04-24 17:11] pug398 commented on #934
Or perhaps it is planned to be removed once the MWRate mode is removed from dropdown.

[2016-04-24 18:10] pug398 commented on #919
With 685711b0 20160418 HW, AH and PathPlanner settings all saved permanently on sparky2.
All settings saved permanently on sparky1. The ones I had issue with appear to be saving now.

[2016-04-24 19:02] mlyle commented on #919
Ick.. we didn't fix anything :P

[2016-04-24 20:12] pug398 commented on #919
Perhaps a change in firmware timing? Updating firmware was the only change on my end.

[2016-04-25 07:37] bazyl78 opened #935 "Max GPS sattelites - make it configurable"
Issue details:

Please make configurable max number of sattelites like it is in arducopter. It takes ages for a small gps on micro quadcopter (Ublox 7 Series Mini GPS) to wait for reaching 7 sats count. Would be great to be able to decrease it to 5-6. Or at least don't block arming and just not allow to switch into position hold mode.

Code to be changed:
// A more stringent requirement for GPS to

[2016-04-25 18:20] mlyle opened #936 "PPM from D4R-ii does not work on Naze32Rev6"
- Seen in version (release version or githash): tanto
- On flight controller (if applicable): naze32R6

Issue details:
Unknown cause.  Setting to 'PWM' sees the Chan1 toggling... so there's a signal there.  And the driver appears to be running.  But something is not right.

[2016-04-25 22:56] jihlein commented on #919
I'm seeing some odd behavior on latest next with AQ32 target.  I can't save frame type or output channels.  I did an erase settings and tried again, still unable to save.

Also have noticed the same on Sparky.

[2016-04-25 22:57] mlyle commented on #919
@jihlein -- try a clean build.  Odds are there's problems with build dependencies resulting in mismatched objects between firmware and GCS to get problems like that.

[2016-04-25 23:00] jihlein commented on #919
I did.  Just noticed that if I hit save twice before rebooting, it saves.  Let me experiment some more.

[2016-04-25 23:42] pug398 commented on #919
I have seen the need to save twice before as well. c98a wouldn't save some objects but 6857 has saved all objects so far. As soon as Jenkins is going again I will try the next build to see if it continues to save or whether it was just blind luck.

[2016-04-26 01:35] pug398 commented on #919
I just upgraded sparky1, sparky2, revo and quanton with a7dc and all settings saved properly. Don't know but it sure seems a lot better now :)

[2016-04-26 05:52] dustin opened #938 "Afromini Amaze boot failure"
In the latest code, the Afromini Amaze (looks like a naze32, but with the interrupt on a different port) fails to initialize and hangs to the point where you can't talk to it via GCS.

So far, the following works around it just fine and gets it working, but other, narrower attempts haven't been successful.

[code]

[2016-04-26 09:40] #936 closed, assigned to nobody

[2016-04-26 18:56] mlyle commented on #934
Apparently I screwed this up... :P

[2016-04-26 21:49] mlyle commented on #904
I'm gonna go ahead and close this one duplicate.  I'm not sure whether it's a duplicate of #315, or #919-ish issues, or #747... (or that hopefully all of these have a common cause which seems likely)  but it almost certainly is one of these manifesting.

[2016-04-26 21:49] #904 closed, assigned to nobody

[2016-04-26 21:55] mlyle opened #943 "Refactor manualcontrol.c / control_event_*"
use a common function with FlightStatusArmedGet / FlightStatusArmedSet

[2016-04-28 03:30] #938 closed, assigned to tracernz

[2016-04-28 20:23] #908 closed, assigned to jpbarraca

[2016-04-28 21:05] fujin opened #951 "Yaw/Roll camera tilt based reprojection (C.A.T.S)"
- Seen in version (release version or githash):
  all
- On flight controller (if applicable):
  all

Issue details:
In cases of significant camera tilt, yaw and roll effects can begin to be reversed.

@DTFUHF started a branch to reproject roll and yaw based on the camera tilt uavo :joy_cat: - I brought this up to date here: https://github.com/fujin/dronin/tree/cats

@mlyle suggests the following f

[2016-04-28 21:07] mlyle commented on #951
Note that building the infrastructure this way will automatically disable reprojection during autotune (because you won't be in a stabilization bank and hence will have no reprojection chosen).

[2016-04-29 17:06] #729 closed, assigned to mlyle

[2016-04-29 17:06] #730 closed, assigned to mlyle

[2016-04-29 22:40] #934 closed, assigned to mlyle

[2016-04-30 00:20] tracernz opened #953 "Flight:Attitude: Unsafe UAVO Callback Usage"
UAVO callback (https://github.com/d-ronin/dRonin/blob/next/flight/Modules/Attitude/attitude.c#L1468) touches lots of variables that aren't marked volatile. Compiler can perform unsafe optimizations. Should follow standard pattern of setting a flag and checking it each iteration of the task.

[2016-04-30 00:25] #931 closed, assigned to mlyle

[2016-04-30 00:30] mlyle commented on #909
https://github.com/d-ronin/dRonin/wiki/Releases#release-20160409-tanto

[2016-04-30 00:30] #909 closed, assigned to nobody

[2016-04-30 00:45] #471 closed

[2016-04-30 00:54] #630 closed, assigned to mlyle

[2016-04-30 01:47] tracernz opened #954 "GCS:Import/Export UAVO JSON Support"
We use JSON representation of UAVOs in quite a few places now, esp. Autotown. Would be nice to be able to import UAVOs in this format.

[2016-04-30 01:49] tracernz opened #955 "GCS:UAVOBrowser: Allow pasting more than 4 decimals"
Currently the paste operation will just fail if you try to paste more than 4 decimals places into a field. Should handle this properly if possible.

[2016-04-30 04:14] #391 closed

[2016-05-01 02:45] tracernz commented on #955
Sigh, patch exists but Qt never merged it: https://bugreports.qt.io/browse/QTBUG-31205

[2016-05-01 05:29] tracernz commented on #98
On simulator, Attitude and Sensors watchdog flags timeout just after 4294 s. That lines up with DiscoF4 not suffering this bug since it doesn't have those two modules. Sensors will be blocking Attitude if it's not pushing data into the queues.

[2016-05-01 07:45] tracernz commented on #924
Done.

[2016-05-01 07:45] #924 closed, assigned to nobody

[2016-05-02 02:48] tracernz commented on #325
I'm not sure if this is valid anymore, need to check..

[2016-05-02 02:49] #570 closed, assigned to mlyle

[2016-05-03 01:21] mlyle opened #961 "UI needs to enforce that choices for reprojection are OK"
as described in https://github.com/d-ronin/dRonin/pull/956#issuecomment-216092075

[2016-05-03 01:21] #951 closed, assigned to mluessi

[2016-05-04 23:27] #879 closed, assigned to jpbarraca

[2016-05-04 23:28] mlyle opened #966 "Continuation of #932 -- startup ordering"
- "required" modules should init and start first.
- Achieve this with a new macro for "required" modules, and adjusting to start required mods first
- This can probably be safely ignored for simulator

This continues the work started in #932 to handle memory allocation failures gracefully.

[2016-05-05 07:39] tracernz opened #968 "Uploader: Add upgrade button"
Useful if you've ignored the upgrade previously.

[2016-05-05 07:44] tracernz opened #969 "GCS: Telemetry crash"
During upgrader, thread #1 segfaulted by de-referencing `sessionRetrieveTimeout  0x0 QTimer *` in `TelemetryMonitor::retrieveNextObject`:

[code]

[code]

Seems like TelemetryMonitor received signals after being destroyed (when entering bootloader)..

[2016-05-05 11:25] fabianhu opened #970 "TxPID not usable - extremely large values"
- Seen in version (release version or githash): 2016-04-09.2
- On flight controller (if applicable): Sparky
  OS: Ubuntu 15.10

Issue details:
Set up TxPID, with SUMD as input, selected aux 0..2 as inputs
entered e.g. 10 and 50 as the range values, which are converted to 10,00000 and 50,00000 (where ',' (Comma) is the decimal separator in my locale
Everything seems fine to this point.

In the Stab

[2016-05-05 16:19] mlyle commented on #970
@fabianhu the "real" PID values-- as shown on the advanced and expert panes are the actual values multiplied by the angular rate or the angle to come up with control outputs.  These are very small values--  the default P of 0.002 reacts to an angular rate of 10 deg/sec with a 2% control movement.

However, values like 0.00003 for derivative aren't very user friendly to someone sliding a big slider

[2016-05-05 16:21] mlyle commented on #970
P.S. the scaling factor for basic kD is: `<string>scale:0.000001</string>`

[2016-05-05 21:01] yamahabest opened #971 "Feature: Possibility in GCS to see which settings are different than the defaults"
I just understood from fuijn at IRC that the default value for Motor curve fit changed from 1.0 to 0.9 in the latest release. I upgraded however from an older release to the new release, and still had the old value of 1.0.

I understand that it is not possible to update this setting (and other settings) automatically during upgrade, as it could be that the user needs it to be at that value.
Howeve

[2016-05-05 21:11] yamahabest opened #972 "Feature: TX/RX/Error/Warnings/Info widget: Show errors and warnings in tooltip and/or enable clicking on it, which will take the user to the Flight data or Firmware tab"
Currently, when there are errors or warnings, the users gets the blinking icon(s).
The user can hover over them, and get some cryptic tooltip messages: "_blabla_ is in Error state", which doesn't help the user.

It would be nice if the tooltip would show the actual errors/warnings in that tooltip and/or the user is able to click that error or warning icon, and will be taken to the System Overview

[2016-05-05 22:16] tracernz commented on #971
We could do something through the UAVO->Widget relation mechanism for this. It's just a question of what we want to actually do. Should probably do it in the UAVO browser too.

[2016-05-05 22:16] tracernz commented on #972
Is this in the bottom bar?

[2016-05-05 22:33] yamahabest commented on #972
Yep, was trying to indicate that one.

[2016-05-05 22:39] tracernz commented on #972
So clicking it should find a tab with the system health widget and switch to it? Should be doable. Hopefully could pop up the error descriptions as well.

[2016-05-05 22:45] yamahabest commented on #972
Yes, something like that. Would be helpful for new users.

[2016-05-05 22:46] yamahabest opened #974 "Feature: Check from GCS for new release, and offer to download/update automatically"
Could help getting users to the latest release.

[2016-05-05 22:51] yamahabest opened #975 "Main page in GCS should have link to the documentation (dronin.readme.io)"
The webpage also doesn't link to the Wiki (anymore?).

[2016-05-05 23:28] tracernz commented on #972
Yep, thanks for the report! :-)

[2016-05-05 23:29] tracernz commented on #974
@PTDreamer was working on this but he's been MIA for a while..

[2016-05-06 02:15] mlyle opened #976 "Logging performance and correctness changes"
Right now, the serial pios_com stuff uses the fifobuf intelligently and stuffs characters in at interrupt-time.  So txstart doesn't block, and in turn attempts to send data don't block.

Unfortunately, streamfs doesn't work like this-- txstart blocks for the entire time writing happens.

As a result, logging cannot be refactored to just write the object in the callback subsystem and to eliminate t

[2016-05-06 20:54] mlyle opened #977 "Overo needs to come back for sim"
Maybe without wacky name and factored into a better place.  sim_log.tll was nice.

[2016-05-07 00:39] #98 closed

[2016-05-07 02:48] mlyle opened #978 "Atttude computes NED accelerations twice per iteration"
And stores the uavo each time.

Need to verify paths to determine which one is "right", and compare INS vs. complementary path.

[2016-05-07 03:41] mlyle opened #979 "Gyro bias infrastructure is a little wonky"
1. We take out the bias from the gyros at the sensor level... using perhaps old / stale data... and then put it back in.
2. I think the way we're using the bias data from the INS is not right.

[2016-05-07 03:42] mlyle commented on #977
Alternative neo-logging could just write to a separate file, too, on sim.

[2016-05-08 06:40] dustin opened #981 "Mixer's getting lost"
- Seen in version (release version or githash): mpl-tantobeta-151-g97e129c
- On flight controller (if applicable): afromini amaze (naze32)

Issue details:

Each time I connect to my vehicle, the vtail mixer has rudder and pitch at 100%.

The stored mixer isn't actually changing, so I think this might just be a display issue.

[2016-05-08 06:43] dustin opened #982 "Can't store PIDs"
- Seen in version (release version or githash): mpl-tantobeta-151-g97e129c
- On flight controller (if applicable): Afromini Amaze (naze32)

Issue details:

In a fixed wing vtail config, I'm trying to turn down PIDs.  I can see the effect sometimes, but I get a red x when I attempt to store.

Not sure if anything is useful in the logs, but this is what I see:

[code]

Values do not get saved, and t

[2016-05-08 14:06] ragd011 commented on #916
Just tried to update my cc3d and got the dame error.  Now it can't be detected even while booting.

[2016-05-08 15:56] mlyle commented on #981
Almost certaintly dup #747

[2016-05-08 15:56] #981 closed, assigned to nobody

[2016-05-08 17:04] mlyle commented on #916
@ragd011 start GCS, go to the firmware page, click 'rescue', then plug in the CC3D.  then when it's detected click flash and then boot.

[2016-05-08 18:39] mlyle opened #983 "SPI DMA on F4 dubious"
- It only kicks in for transfers over 128 bytes or where there's a callback.
- I think no one uses the callback interface.
- I believe only flash does transfers over 128 bytes.
- Even for this, since we block and wait the CPU is used during the operation.

So the only benefit we get right now is if there's a task switch or interrupt during a large flash write, that the data continues to get clocke

[2016-05-08 21:45] yamahabest commented on #974
That's too bad. Functionality would be nice to have.

[2016-05-09 01:06] mlyle commented on #974
Yup.

Whether there's auto-upgrade (which I'm a bit meh about) or notification... it would be nice to have.

It pays no dividends until the release after it's shipped, though. ;)

[2016-05-09 04:06] nathantsoi commented on #9
awesome, has anyone tested this? cc @jihlein ?

[2016-05-09 04:29] tracernz commented on #974
Notification should be easy enough. Just a question of whether we do it through autotown or directly with github API.

[2016-05-09 04:38] mlyle commented on #982
Conclusion was bad hardware somewhere-- this particular setup didn't work at 115.2k.

[2016-05-09 04:38] #982 closed, assigned to nobody

[2016-05-09 06:44] tracernz opened #984 "GCS:Output: Should support servo rates higher than 400 Hz"
For 760 us servos.

[2016-05-09 12:34] yamahabest commented on #974
I could imagine an Alpha, Beta, Release setting.
Where Alpha is "nightly" build, Beta pre-release and Release ...

Would really like auto-upgrade, after approval of user of course, but a notification (maybe with the release notes, and a link to the download location) is already a good step.

[2016-05-09 12:55] jihlein commented on #9
@nathantsoi - I don't believe the Flip32F3 branch has been tested by anyone.  I do have a branch for the Dodo at: https://github.com/jihlein/dronin/tree/myNext.  The Dodo target was put together for a friend of mine.  An earlier version of it has been successfully flown.  I'm not sure the latest version with all the latest merges from the last release though, as I don't have a board to test it on.

[2016-05-09 16:44] mlyle opened #985 "Corner twitch/pull on current-generation invensense parts."
Possible issues seen with ESC ultrasonic noise getting into gyros and "twitching" FC.

Seems tied to derivative term.  Seen so far on Naze32R6 (MPU-6500) and Brain (MPU-9250).  Eliminating D term on brain cured twitch; @ufoDziner is going to try now with derivative cutoff set to 20 vs. old value of 37.

[2016-05-09 17:09] mlyle commented on #985
Happened with d=0.  Closing invalid.

[2016-05-09 17:09] #985 closed, assigned to nobody

[2016-05-09 18:41] tracernz commented on #985
Alternatively you can adjust derivative gamma and see if the feel is okay.

[2016-05-09 18:48] mlyle commented on #985
At first we thought D=0 was curing it; and were playing with derivative cutoff (not gamma)...

But eventually @ufoDziner got a repro with D=0, so it doesn't have much to do with the derivative controller.

[2016-05-10 01:31] ragd011 commented on #916
OK Just tried.  I don't get the windows detect sound anymore let alone the GCS.  Rescue detected nothing.  When it was trying to upgrade it said something about a legacy bootloader install.  Right now I just get a slow blue led blink.

[2016-05-10 01:55] ragd011 commented on #916
So by dropping back to the 0120 release, deleting the USB composite device and running the rescue, I was able to detect and install the 0120 firmware.  This booted successfully and the board responds normally.  It did detect once when I remove the device from device manager under the latest version but the firmware install would fail writing firmware metadata and the device would not connect after

[2016-05-10 04:43] mlyle commented on #916
@ragd011 -- after deleting the composite device, does it work with the current release?  If not, can you provide a log from GCS?

[2016-05-10 20:21] ragd011 commented on #916
OK I eventually got it this time.  I didn't have an issue with detection this time though either.  Here's the notes and log.

installing 0409.2 over 0120.3
ran after install
connected board and got detect sound
got the message "no valid firmware on device"
Clicked yes
this launched the autoupgrade
automatic upgrade failed - unable to flash upgrader image to board!
still got usb sound when disconne

[2016-05-10 22:06] mlyle commented on #916
Does it work after flashing the board manually?

[2016-05-11 16:50] ragd011 commented on #916
Ya sorry, forgot to mention, in the end it's running the current release and gets detected by the GCS fine.  I did notice the time it takes to go from the bootloader detect to the running firmware is much faster.  I'm guessing that was the new bootloader that was flashed during the update?

[2016-05-11 17:47] mlyle commented on #916
No, no new bootloader is flashed for CC3D; but GCS will tell the bootloader to exit early.

Thanks for the report and I'm glad you made it to the new release.

[2016-05-11 17:53] ragd011 commented on #916
Just got back from an autotone flight.  It went pretty well for the most part.  I landed, disarmed, pulled the power and went inside.  Then I connected to the my Win10 machine and connected to the FC.  I saw the calculated values and saved them to the stabilization page.  I unpluged and re-connected to make sure everything stayed.  Then I changed the mode switch to acro from autotune for pos 2, di

[2016-05-11 22:17] fujin opened #988 "FlySky i-bus protocol support"
- Seen in version (release version or githash):
  All
- On flight controller (if applicable):
  All

Issue details:
FlySky i-bus protocol is not available under serial port options. No FlySky i-bus protocol appears to be implemented. User with FlySky i-bus protocol radio only cannot make use of dRonin, requires switching to PPM or changing radio system.

[2016-05-11 22:26] fujin commented on #988
I have heard that it may be possible to use `ni-sbus` for this, but haven't investigated at all. I am looking at getting some i-bus gear from local supplier, it comes up pretty often in our beginner groups.

[2016-05-11 22:29] dustin commented on #988
From what I can tell, it's very different from s.bus.  The CF reverse engineering project is the closest thing I can find to a protocol spec: https://github.com/cleanflight/cleanflight/issues/1125 (I guess spec availability is a similarity to s.bus).

[2016-05-11 23:52] ragd011 commented on #916
OK tried my win 10 laptop and it works fine there.  It detects the FC and has the changes stored.  I connected and disconnected a few times.  So maybe soemthing with my other machine.  I'll try to use both before I post issues.  Thanks, Rob.

[2016-05-12 06:28] tracernz opened #989 "Naze32: Needs either RxPort setup docs or Setup Wizard Rx support"
Currently the docs don't cover manually setting the RxPort which can be confusing for new users.

[2016-05-12 08:26] tracernz commented on #988
https://github.com/multiwii/baseflight/pull/241

[2016-05-13 02:59] ragd011 commented on #705
I've been downloading them and trying to use them.  I was hoping that I could adjust tuning settings in the field.   I was able to connect but couldn't seem to do much.  A little while back I tried to mess with the source but it was in an older environment so migrating it and tweaking it is not a good first project :-)  So anyway, what is the AGCS useful for in its current state?

[2016-05-13 06:51] #976 closed, assigned to mlyle

[2016-05-13 20:31] bazyl78 commented on #988
This would be really helpfull. There is arduino code ibus2ppm if it helps.

[2016-05-13 22:23] tracernz commented on #988
@bazyl78 Check out #991

[2016-05-14 07:56] szepnorbee opened #992 "How Vibration Analisys works?"
Latest public version on CC3D.

Hi! How Vibration Analisys works? I've enabled the modul, but remains grayed out. That does not work? Or hardware limitations with the CC3D?

[2016-05-14 12:37] tracernz commented on #992
Not possible on CC3D or Naze sorry. Resources (RAM and flash) are too limited. It would be nice to indicate this better in GCS, which is the subject of #786.

[2016-05-14 12:39] #992 closed, assigned to nobody

[2016-05-15 16:56] emil-nasso opened #995 "Reverse motor directions Quad X motor layout"
Is it possible to set up a Quad X motor layout with all motor directions reversed with dRonin?

There are two benefits to this, as I see it:
- If you fly into grass/vegetation, it will be thrown away from the camera instead on spraying the lens with chopped up grass. :) I can't be the only one that sucks at racing and spend way too much time in tall grass and has a frame/camera that is completely

[2016-05-15 18:35] dustin commented on #974
There was discussion about this yesterday which seemed to conclude that using something like an [appcast](https://github.com/vslavik/winsparkle/wiki/Appcast-Feeds) would be appropriate.

[2016-05-15 18:36] tracernz commented on #995
Already been possible for many years. ;-)
![screenshot from 2016-05-16 06-33-10 png](https://cloud.githubusercontent.com/assets/9995998/15276042/6dd29c68-1b30-11e6-8804-d6aa93e670e6.png)

[2016-05-15 18:37] emil-nasso commented on #995
Holy shit. I'm embarrassed, and slightly blind, apparently.... :) Thanks for pointing that out.

Move along, nothing to see here.

[2016-05-15 18:37] #995 closed, assigned to nobody

[2016-05-15 18:39] tracernz commented on #995
No problem! :-)

[2016-05-16 17:00] mlyle opened #997 "Simulation/stabilization: Need sane rates on simulator"
Right now sim GCS clamps rate to -1 deg/sec, and you get an alarm if you force it higher in UAVO browser.

[2016-05-16 17:01] mlyle commented on #997
I guess you can set it somewhat higher-- 300 deg/sec etc-- in the browser.  So it's mainly the GCS bug.

[2016-05-16 18:24] mlyle commented on #969
It looks like several of the deletes in uavtalk should be deletelaters.

Does this repro reliably for you?  I have never seen it.

[2016-05-16 18:25] mlyle commented on #969
(I can make the change if you are able to see if it cures stuff).

[2016-05-16 18:27] mlyle opened #998 "Starting OSX GCS with revo already plugged in does not autoconnect successfully"
- Seen in version (release version or githash): recent next
- On flight controller (if applicable): Revo

Issue details:

Need to not forget this; saw this 2-3 times in a row on my imac; need to investigate.

[2016-05-16 18:28] bazyl78 commented on #988
Great man :)

[2016-05-16 19:26] mluessi commented on #969
I also have noticed the GCS segfaulting frequently. Most recently when trying to enter the bootloader. Probably related.

[2016-05-16 19:29] mlyle commented on #969
For me using Windows and OSX GCS has been much more reliable than ever before, but there are definitely some new defects (e.g. #998).  I used to get many crashes per day but now it's on the frequency of one every few days.

[2016-05-16 19:37] mluessi commented on #969
Something is definitely broken on Linux. I also just had the uploader fail ("Firmware metadata upload failed"). This is on brain / next, so unrelated to RE1.

[2016-05-16 19:42] mluessi opened #999 "ADC RSSI only works for ADC0 and ADC1"
For some reason, analog RSSI only works for the first two ADC inputs. Tested on Brain and RE1. The same pin / ADC works in the battery module.

Not sure what the reason is.

[2016-05-16 19:55] mluessi commented on #999
Also confirmed on Sparky2

[2016-05-16 22:09] tracernz commented on #969
Yeah, that's when I see it most times.

[2016-05-17 06:30] tracernz commented on #969
Added BLOCKER, this prevents the upgrader about 90% of the time.

[2016-05-17 07:14] mlyle opened #1001 "Factor lots of code common in pios"
Things that should be easy
- [x] pios_ppm
- [x] pios_pwm
- [x] pios_debug
- [x] pios_irq
- [ ] pios_usb_hid_pwr

Things slightly more than trivial but that should probably be done:
- [ ] pios_led

Things that are moderately difficult and should be considered or skipped:
- [x] pios_spi
- [ ] pios_iap
- [x] pios_wdg

[2016-05-17 07:18] tracernz commented on #1001
I'll get PPM/PWM when fixing them for timer res I guess.

[2016-05-17 07:22] mlyle opened #1002 "Should remove pios_dma/pios_dma_hooks infrastructure"
Only used on F3 by ADC driver.

[2016-05-17 10:43] tracernz opened #1003 "pios_pwm/pios_ppm ignore timer resolution"
Since 12 MHz was originally introduced. This is a problem on targets which share a timer between inputs and outputs such as the CC3D, and a bigger problem with #958.

[2016-05-18 00:25] reubenfirmin opened #1005 "CC3D not seeing particular input channel"
- Seen in version (release version or githash): 2016-04-09
- On flight controller (if applicable): CC3D

Issue details:
Symptom - a particular channel isn't seen by CC3D/Dronin in the radio setup wizard.

I've tried the following:
1) Two different radios and two different receivers (Taranis & Flysky); both exhibit the same issue (the channel that isn't seen differs if I juggle around the cables go

[2016-05-18 00:30] reubenfirmin opened #1006 "CC3D bricked during upgrade from OpenPilot"
- Seen in version (release version or githash): 2016-04-09
- On flight controller (if applicable): CC3D

Issue details:
I have an Eturbine TB250 (basically a metal Eachine 250 with some higher quality build elements.) It's been on OpenPilot since I got it, and I finally decided to upgrade it to Dronin and autotune it.

I plugged in the USB cable, and Dronin detected foreign firmware, and brought u

[2016-05-18 02:01] mlyle commented on #1005
First: I don't think issues are an appropriate place to seek support.  It clutters the issue database, and we have 3 other mechanisms stood up for this-- the google group, the facebook page, and the IRC channel.

If a channel doesn't work, I'm guessing that you're trying to use oneshot on an output bank or 12MHz timer resolution.  This is documented to not work because of hardware limitations of C

[2016-05-18 02:01] #1005 closed, assigned to nobody

[2016-05-18 02:06] reubenfirmin commented on #1005
No, I'm not trying to use Oneshot, and haven't done anything special regarding 12MHz.

And I've tried both manual and the wizard. Neither can see more than 4 channels; that's what I was trying to describe.

I filed a bug because I think it's highly unlikely to be a hardware issue. As I described, I've eliminated the radio and the wiring as being potential contributors to the problem. That leaves t

[2016-05-18 02:06] mlyle commented on #1006
Try the rescue process-- click rescue then plug in board.  You can flash firmware manually then.

It's hard to know what happened without knowing exactly what you clicked on (I don't think the particular combinations of clicks in this issue are possible) and without a debug log.  Asking it to try and import settings from openpilot definitely doesn't work (but also doesn't leave the board in a stuc

[2016-05-18 02:06] #1006 closed, assigned to nobody

[2016-05-18 02:09] reubenfirmin commented on #1006
I will try rescue and get back to you in a week or so on this. It's not the computer; I've done literally dozens of CC3D installs using it.

Where is the debug log? That would be useful to know if it happens again.

Shouldn't the wizard _not offer_ to import settings if it knows it can't?

[2016-05-18 03:43] tracernz commented on #1006
Yep, been discussed for situations where no settings are present, but not a top priority.

[2016-05-18 03:59] mlyle commented on #1005
I recommend you utilize normal support channels and not leap to open issues.

This lets other people of the community answer your questions besides the core developers who are trying to solve things from here, and the actual developers get stuff done.

It also doesn't clutter up the database with things that are not defects.

Things that come up with multiple users experiencing them get opened as

[2016-05-18 04:04] mlyle commented on #1006
It pops up a message that it can't identify the firmware on the flight board, and asks you whether you want to clear the board, or try to import the settings like it was our last release.

There are people running custom firmwares that our cloud upgrader doesn't know about but can possibly upgrade successfully from.  There are also people running openpilot.  We can't tell the difference.

[2016-05-18 04:05] #930 closed, assigned to nobody

[2016-05-18 09:48] tracernz opened #1007 "Lux: Disable PPM if Serial RX configured"
#1000 restored the behaviour of always initing PPM on Lux. We could implement PIOS_RCVR_NumDevs() and if it returns >0 skip initing PPM. Should avoid issues with setup wizard/noise etc.

[2016-05-18 15:10] mlyle commented on #1007
Or just have a flag whether to run PPM.  There's nothing wrong with having multiple RXes.  (Also, does GCS receiver count?)

[2016-05-18 19:53] tracernz commented on #999
Same code, with the exception of the scaling, is used by battery (GetChannelVolt) and RSSI(GetChannelRaw).
https://github.com/d-ronin/dRonin/blob/next/flight/PiOS/Common/pios_adc.c#L184-L229

[2016-05-18 19:58] tracernz commented on #1007
Yah, that requires user action though -> support requests inbound. :-P

[2016-05-18 20:22] mlyle commented on #1007
;) ppm on/off doesn't sound so bad, to fix the rare cases where PPM is a problem.

IMO it's mostly useful for developers.  You can put a solder glob over the whole jumper, and switch between serial RXes and PPM without concern (vs. where serial to PPM will create an interrupt storm).

[2016-05-18 20:37] mluessi commented on #999
@tracernz found the problem: When selecting "ADC0", the GCS sets the `RssiChannelNumber` to 1 instead of 0, so the ADC inputs are always 1 off. Note that this is also true for other RSSI input types. I suggest we remove the "Disabled" option from the combo box, as it is redundant with RSSI type `None`. WDYT?

[2016-05-18 21:11] mlyle opened #1008 "Actuator alarms, part II: not disabled enough of the time"
- Seen in version (release version or githash): release 20160409
- On flight controller (if applicable): any

Issue details:
If the RX has >0 throttle, you can get an actuator alarm even when disarmed that in turn can prevent completing setup wizard.  Noticed by tolan on IRC

[2016-05-18 21:53] tracernz commented on #999
Good catch. The "Disabled" option applies to all instances of InputChannelForm, and special-casing RSSI would make it inconsistent with the other channel types. We should just subtract 1 I think?

[2016-05-18 23:09] mluessi commented on #999
@tracernz yes, your solution is better. For other RSSI types it was actually correct as for the receiver types channel 0 means disabled.

[2016-05-19 00:06] #999 closed, assigned to mluessi

[2016-05-19 18:14] mluessi opened #1010 "GCS: Upgrader fails on Linux"
When running the upgrader, it often fails during the last steps. The status is "Erasing please wait" and then "Firmware metadata upload failed".

Seen on Linux on Brain and RE1. Could be related to #969

[2016-05-19 18:29] mluessi commented on #1010
With #870 merged into `next` it seems to be working (tested on Brain).

[2016-05-20 08:43] lolorc commented on #18
+1 I'm always the one with special use cases, atm I use mwrate as a way to have two rate profiles : rate and mwrate. mwrate has been removed from next iirc

[2016-05-20 16:51] mluessi commented on #1003
@tracernz how about adding a "max clock" option to the timer config? It could be used to limit the timer clock of shared timers on CC3D.

[2016-05-21 03:12] tracernz commented on #1003
That would limit serial RX users to 1 MHz outputs unnecessarily though.

[2016-05-22 19:43] #810 closed, assigned to mlyle

[2016-05-24 08:36] #969 closed, assigned to nobody

[2016-05-24 08:36] #1010 closed, assigned to nobody

[2016-05-25 01:59] mlyle commented on #847
This one comes up a lot.  Marking blocker.

[2016-05-25 20:28] mluessi commented on #1003
@tracernz we could use a different timer init struct depending on the Rx selected.

[2016-05-25 23:15] tracernz commented on #1003
Might as well just scale to us properly based on the timer clock IMO. Would be easier and one less target-specific thing needed.

[2016-05-26 01:00] mluessi commented on #1003
Yeah, but isn't the problem of having a very fast running shared timer that it will cause a ton of overflow interrupts when it is also used for input?

[2016-05-26 01:09] tracernz commented on #1003
It's not compatible with SyncPWM at all, so we need only consider traditional PWM cases. 1500/1520 us servos/ESCs will be fine, and 760 us servos should be fine (400 Hz is the max rate for those currently). Brushed output is the problematic case, and it's pretty much incompatible. Either you have poor output resolution, or lots of overflow interrupts for the input.

[2016-05-26 03:19] ufoDziner opened #1012 "BrainFPV center mark with C.A.T.S."
- Seen in version (release version or githash):
- On flight controller (if applicable):

Issue details:

The OSD center mark on BrainFPV can not be placed in the center when C.A.T.S. camera angles are set ~>30deg.

[2016-05-26 21:51] DRUMSZ commented on #935
how or did you do this ??
same issue but can't reload libre.......
Thanks

[2016-05-27 06:01] mlyle commented on #935
Dup / strongly related #155 ... I agree it's unfortunate.

[2016-05-27 06:01] #935 closed, assigned to nobody

[2016-05-27 17:49] #966 closed, assigned to mlyle

[2016-05-28 00:41] mlyle commented on #635
Colibri is gone gone gone.

[2016-05-28 00:41] #635 closed, assigned to nobody

[2016-05-28 00:43] mlyle commented on #325
Works now.  Wootness.

[2016-05-28 00:43] #325 closed

[2016-05-28 00:43] mlyle commented on #271
I think we should really do this for Quixote.

[2016-05-28 03:16] tracernz commented on #271
Yes. #336 is the solution?

[2016-05-28 04:05] mlyle commented on #271
I think so.  An 18 month half life seems fair, but open for more discussion.

[2016-05-28 05:51] DRUMSZ opened #1017 "gps to 5 satt"
- Seen in version (release version or githash):
- On flight controller (if applicable): cc3d revolution mini

Issue details:
I know this has been addressed but anything new on this. ?
thanks and sorry for asking again

[2016-05-28 05:55] mlyle commented on #1017
The previous bug (#935) was closed as a duplicate of other issues.  This one will be too.

Feel free to ask for more details on forum, IRC, elsewhere...

[2016-05-28 05:55] #1017 closed, assigned to nobody

[2016-05-28 08:32] tracernz commented on #1017
See #155 for the original issue and discussion.

[2016-05-29 03:44] #1008 closed, assigned to mlyle

[2016-05-29 04:27] mlyle commented on #899
oh shit, wrong issue number in #1016.

[2016-05-29 04:27] mlyle commented on #975
Fixed in #1016

[2016-05-29 04:27] #975 closed, assigned to nobody

[2016-05-29 14:39] #928 closed, assigned to mlyle

[2016-05-29 22:22] #1012 closed, assigned to nobody

[2016-05-29 22:51] mlyle opened #1019 "upgrader: need to set unused channels to min/max 0"
Continuation of #958.  Needed to prevent unconfirgured channels from stretching PWM period.

[2016-05-29 22:54] #219 closed

[2016-05-30 06:58] bazyl78 commented on #155
Can you at least do a small patch and decrease nimber of sats to 5?

[2016-06-01 16:56] cehteh commented on #673
Some random blurbs:

Failsafe autolanding could be done w/ accelerometer only (level, set to 8.5g or something like that). This will possibly a be bumpy landing but needs less math and setup than vario/altimeter assisted landing. At least this should be better than fixed throttle level. Touchdown could also be detected when acc sums to >9.8g. Disarming and shutting motors down.

Magnetometer could

[2016-06-02 07:39] tracernz opened #1023 "UAVOMSPBridge sends altitude with wrong sign on F3/F4, Speed scaling wrong"
Sends PositionActual.Down as altitude, which is opposite direction to MSP protocol and what MWOSD expects. See ShikOfTheRa/scarab-osd#245

https://github.com/d-ronin/dRonin/blob/014d78244bc98f566394e4d8f56c1fe3ac202255/flight/Modules/UAVOMSPBridge/UAVOMSPBridge.c#L461

MSP_RAW_GPS message specifies GPS_speed in cm/s whereas we send the value from GPSPosition.Groundspeed directly which is in m/s, n

[2016-06-02 15:09] dustin commented on #1023
By opposite, do you mean the sign is just flipped?

On Thu, Jun 2, 2016 at 12:39 AM Michael Corcoran notifications@github.com
wrote:

[2016-06-02 18:34] tracernz commented on #1023
Yeah, AttitudeActual.Down is how far below our reference point we are, whereas MSP wants how far above.

[2016-06-02 18:56] tracernz commented on #1023
GPS speed is also not right.

[2016-06-03 16:42] nouser2013 commented on #673
I'd like to just chime in to push this up the wishlist, nearly (literally) lost my camera copter in a corn field last weekend due to the hardcoded "drop out of the sky" logic. Naza and other boards offer at least a position hold on link loss, so can we have this here also?

Doubtful. You'd have to constantly increase speed downwards to maintain / regulate to 8.5g. So, imo you'd need the barometer

[2016-06-03 18:22] henn1001 commented on #1023
I knew i forgot something ...  never tested it myself as stated in #892 and then forgot it because of merge :/

[2016-06-03 18:26] dustin commented on #673
It's too easy to make that do really terrible things and/or be very inappropriate under unexpected conditions.

Sometimes (e.g., in your case assuming you've set things up really well) it might be safe.  Many of the times I've hit failsafe, it wouldn't be (e.g. radio came completely unplugged so it'd never regain contact or I was in a place where attempting to PH would not be safe).

If you have c

[2016-06-03 18:54] cpusmith commented on #1023
Once the speed is fixed I'll test it.

[2016-06-03 20:52] tracernz commented on #1023
@henn1001 no prob, do you want to fix?

[2016-06-04 06:29] nouser2013 commented on #673
Look, I have read the discussion of course. I also believe to have a fair understanding of the risks involved. And I do understand that a 3kg chopper can cause serious harm and is not a toy. Also, in the country where I live in, some laws apply:
- don't fly in living areas
- don't fly over people
- maintain line of sight at all times
- no higher than 150m agl

I disagree: a craft maintaining posit

[2016-06-07 06:09] emil-nasso opened #1025 "Support for easy race lap timer irc code transmission"
We have just started using easy race lap timer at our club for some racing practice. It's a pretty cool project. We use a raspberry pi and some ir receivers. The unit turns into a wifi-hotspot and you can access the website on the pi to set up races and see laptimes. There is also an android app that gets the laptimes via the api and announces times using the phones built in text-to-speech. And it

[2016-06-07 11:18] mluessi commented on #1025
Unfortunately this won't be possible for RE1. The reason is that the hardware required for the supported protocols (I-Lap, Trackmate) is different. For those protocols, the pulses are much shorter than for easy race lap timer and the IR led intensity needs to be about 10x higher.

I had originally looked into adding support for OpenLap, which uses the same (or very similar) protocol as ERLT but th

[2016-06-07 11:24] emil-nasso commented on #1025
Thanks for the reply. Doesn't sound like something that is wanted or needed then.

I'll look into the other side of things instead, the lap time software. :)

[2016-06-07 11:24] #1025 closed, assigned to nobody

[2016-06-09 04:15] mlyle commented on #1003
IMO this was adequately solved by #958.

[2016-06-09 04:15] #1003 closed, assigned to nobody

[2016-06-10 03:40] mlyle commented on #579
Dup #231

[2016-06-10 03:40] #579 closed, assigned to nobody

[2016-06-12 07:13] mlyle commented on #786
Fixed by #993

[2016-06-12 07:13] #786 closed, assigned to nobody

[2016-06-12 07:15] mlyle commented on #847
No longer necessary with the "fake oneshotting" introduced by #958

[2016-06-12 07:15] #847 closed, assigned to nobody

[2016-06-12 07:18] mlyle commented on #9
Closing-- we can evaluate targets on a case-by-case basis (just picked up RE1, picking up DTFc, have picked up Lux, so there's at least some progress in this area).

[2016-06-12 07:18] #9 closed

[2016-06-12 07:24] mlyle commented on #916
I think this is either hardware or covered by another bug; so closing.

[2016-06-12 07:24] #916 closed, assigned to nobody

[2016-06-12 07:25] mlyle commented on #514
Relates to #671

[2016-06-12 07:26] mlyle commented on #355
Sigh, this has deferred too many times...

[2016-06-13 10:06] fujin commented on #899
hmmm.. I don't think this is valid? you just `#define DRONIN` and you are good to go.. the rest is all user-config

[2016-06-13 10:07] fujin commented on #998
I have 2x revo now, will try to repro. Do you think it is OSX specific?

[2016-06-13 15:04] mlyle commented on #899
People have showed up many times and asked about it (and expected preloaded images to work, etc)-- seems like a couple paragraphs in the docs would help.

[2016-06-13 17:33] #377 closed

[2016-06-13 19:25] mlyle opened #1034 "Unverified: Smart Port sensor discovery doesn't work on X4R-SB"
From here:  https://forum.dronin.org/forum/d/28-smartport-telemetry-on-lux-flight-controller/12

[2016-06-14 08:41] jpahka commented on #1034
I've got 3 x4r-sb that I've used on quanton, sparky[12] and brainRE1, as well as multiple versions of opentx 2.1.x. I've never had issues with telemetry discovery. I'm using this inverter with boards that require one:

http://forum.taulabs.org/viewtopic.php?f=17&t=223&start=40#p3629
http://forum.taulabs.org/viewtopic.php?f=17&t=223&start=90#p5566

[2016-06-15 16:35] glowtape opened #1038 "BrainRE1 randomly fails to load proper configuration"
- Seen in version (release version or githash): brainre_test1, nightly build 385
- On flight controller (if applicable): BrainRE1

Issue details:

When powering up the multicopter randomly, it ends up unflyable with bad motor rattling upon control input, or doesn't react to any input at all (despite successfully arming, i.e. spinning props). If this issue shows up, upon connecting the GCS, the Sta

[2016-06-15 22:11] mluessi commented on #1038
I have not been able to reproduce this on `next` and nightly build 385 (Windows). @glowtape can you post the settings (.uav) file that you are using? I assume this is either a hw defect on the particular RE1 @glowtape has or maybe some race condition in the telemetry stack. Sometimes when I click "Reload Board Data" the FC reboots, which makes me suspicious. Has anyone else noticed that?

[2016-06-15 22:43] fujin opened #1040 "default disable compass, gps, barometer-related options while sensors are not present"
- Seen in version (release version or githash): all
- On flight controller (if applicable): brain o.g., brain re1, all?

Issue details:
When the brain o.g. has a barometer disabled (in code), it's still possible to enable the climb related fields in the OSD, and they give bogus values (I'll get screenshots)

When the board is attached to gcs, you also see the infinite climbing in the GCS PFD at a

[2016-06-16 04:57] glowtape commented on #1038
I've just given it another try. Erased the settings partition, set up a bunch of things, rebooted and power cycled it a few times, everything worked fine. I've exported the settings into an .uav and reimported them, another few reboots, no issues.

Then I left it sitting unpowered a few minutes, connected via USB and it entered a boot loop (with the artifact build that does the CRC checks). I left

[2016-06-16 13:02] mluessi commented on #1038
@glowtape thanks for investigating. It does sound like a hardware issue; likely a problem on the SPI bus when it first boots; maybe the FPGA takes longer to initialize for some reason. The RE1 @glowtape has is on the way back to me for analysis.

[2016-06-17 07:04] #961 closed, assigned to tracernz

[2016-06-17 07:05] #1023 closed, assigned to tracernz

[2016-06-17 16:11] mlyle opened #1045 "RSSI injection screws up radio setup wizard"
Because we see activity as stick movement.
1.  Do we do the right thing if RSSI is already configured / is it masked from ReceiverActivity?  If so, we could document to configure RSSI first in the case of injection.
2.  The radio setup wizard could look for channels that are moving at baseline, and warn / disqualify them / do something.

[2016-06-17 19:44] gmcbay commented on #1034
This issue was made in response to an issue I posted about on the forums.  I've installed dronin on a few other quads now and only ran into this issue when combining the lux flight controller (F3, doesn't require external hardware for inversion) with the x4r-sb receiver.

The same x4r-sb receiver on other flight controllers didn't show the issue, an x8r on the lux didn't show the issue.

The x4r-s

[2016-06-18 10:50] tracernz commented on #899
We could pull some of the work in ShikOfTheRa/scarab-osd#222 into a PR and see if we can get Makefile building happening in upstream scarab-osd. That should get us closer.

[2016-06-19 09:47] Tomcatt commented on #104
Hello all.  What's the status on this little project?

[2016-06-19 11:49] WZ9V commented on #104
I haven't made much progress on my Qt port mostly due to lack of time to work on it.  I did get the basic Qt terminal sample to talk to a BLHeli interface board to query the version on the ESC.

[2016-06-20 01:08] mlyle opened #1048 "Recent next: USB detect after FC reboot on OSX doesn't work"
Has to be a fairly recent regression.

[2016-06-20 03:18] mlyle commented on #1048
Or it's particular to some flight boards-- seen on Lux.

[2016-06-20 22:35] #1040 closed, assigned to mluessi

[2016-06-21 07:18] #988 closed, assigned to tracernz

[2016-06-23 04:03] #974 closed, assigned to nobody

[2016-06-23 14:51] mluessi commented on #1038
I have the RE1 @glowtape had here and flashed it to the current `next` and imported his settings. So far I have no been able to reproduce the problem; I have connected / disconnected RE1 dozens of time and also used the Reload Board Data button and all settings are intact. I tried with and without an X4R-SB receiver connected (with antennas very close to RE1).

@glowtape did you have any other per

[2016-06-23 15:21] mluessi commented on #1038
OK, I was able to reproduce it once by leaving RE1 unpowered for an extended period and then connecting it to USB. I suspect it has something to do with the power-up sequence on this particular unit.

[2016-06-23 15:33] glowtape commented on #1038
Here's all that was on my quad, besides the RE1:
- MPB
- 4x Kiss24 with an 25V 270uF Rubicon ZL each
- X4R-SB powered via RE1
- TBS Unify Pro on MPB 5V
- PZ0420m on MPB 12V

The X4R was mounted in the front of the 250 frame with at least 5-6cm distance from the RE1, antennas away to the top.

Given that I could repro it on USB, only the RX could have influenced it. I disconnected per your request

[2016-06-24 02:31] jihlein opened #1055 "Flight: MPU6000 bottom orientations appear to be incorrect"
- Seen in version (release version or githash): Latest Next
- On flight controller (if applicable): Any with MPU6000 mounted upside dowm

Issue details: The inverted MPU6000 orientations don't work correctly.  The sign inversions appear incorrect, and possibly the axis assignments.  I corrected the PIOS_MPU60X0_BOTTOM_90DEG orientation by removing the 2 inversions, and then it works properly.  The

[2016-06-24 03:19] mlyle commented on #1055
Surely at minimum you need one inversion to put something on the bottom-- doesn't Z accelerometer switch sign, and Z gyro at minimum?

[2016-06-24 03:28] jihlein commented on #1055
Yes, of course.  Look at the 90 top orientation vs 90 bottom orientaion, you will see the z axis data is inverted from top to bottom orientation, and that is okay.  It was the x and y that were inverted incorrectly.  If you experiment with the bottom 90 degree orientation, you will see short term the ADI go one way, then long term the other, indicating the gyro and accels are out of phase.  I susp

[2016-06-24 03:46] mlyle commented on #1055
What I think I'd really like to see, in general (and it's a bit tough to do) is to remove the gyro/accel sensor orientation stuff, and to add them to the board orientation rotation.  No need to do redundant work when it can be a single rotation.

[2016-06-24 03:47] mlyle commented on #1055
(But it's quite all right for us to focus on fixing the rotations first).

[2016-06-24 05:32] #149 closed

[2016-06-24 05:37] mlyle commented on #1048
Sparky2 does:

[code]

[2016-06-24 05:38] mlyle commented on #998
Yes, I think it's OSX specific.  No repro on Sparky 2.1 on current next.  Going to try revo now.

[2016-06-24 05:45] mlyle commented on #998
No repro on Revo on current next.

[2016-06-24 05:47] mlyle commented on #1048
Looking at several targets-- the behavior is varied.
1. Sometimes usbmonitor sees the target go away and come back.  This is a race with our polling.  If usbmonitor sees this, all goes well.
2. Sometimes without that, ConnectionManager decides to try reconnect on its own.  Sometimes this works, sometimes RawHID gets an error writing to device which puts a stop to this.
3. Sometimes connectionmanag

[2016-06-25 01:04] #1019 closed, assigned to mlyle

[2016-06-25 01:09] mlyle commented on #487
With the SRXL work so far, time to bump to Quixote

[2016-06-25 01:09] mlyle commented on #462
@droidicus Have you seen this at all lately?  Is it still present?  I cannot repro / am inclined to close

[2016-06-25 01:13] mlyle commented on #701
Dup #641 or fixed.

[2016-06-25 01:13] #701 closed, assigned to nobody

[2016-06-25 01:14] mlyle commented on #998
NoRepro.

[2016-06-25 01:14] #998 closed, assigned to nobody

[2016-06-25 01:15] mlyle commented on #681
About due to happen again, but meh, deferring.

[2016-06-25 01:20] mlyle commented on #1019
Oh, never mind, i see the commit

[2016-06-25 01:28] tracernz commented on #462
I haven't seen it recently because I added that code to auto-load the correct firmware back when we started on upgrader work. It probably still happens when saving partitions, log files etc. though.

[2016-06-25 01:29] tracernz commented on #487
Remaining things to do:
- [ ] Move SUMD into pios_srxl
- [ ] Move SUMH into pios_srxl
- [ ] Cleanup setup wizard etc. as required

[2016-06-25 01:30] mlyle commented on #462
@tracernz-- this isn't the pop-behind one.  This is a completely missing dialog.  do you mean completely-missing or pop-behind?

[2016-06-25 01:35] tracernz commented on #462
Oh yep, you're right, never seen this one.

[2016-06-27 16:43] mlyle opened #1065 "GCS not built with SDL support"
- [ ] The SDL support in the GCS makefiles looks exceptionally sketchy and requires too much build hackery to use...
- [ ] The build servers do not have SDL installed.
- [ ] The build does not happen with the proper options to use SDL.

Marking Samsara initially but this looks like a real pain to fix right.

[2016-06-29 01:39] mlyle opened #1070 "Actuator auto-resolution calculation assumes that servos are not reversed"
And that ChannelMax is the true maximum value.

[2016-06-29 01:41] mlyle opened #1071 "Actuator auto-resolution changes break PPM in on Sparky1"
Thanks to poor timer pin assignments

[2016-06-29 18:28] #1070 closed, assigned to mlyle

[2016-06-30 19:16] #1071 closed, assigned to mlyle

[2016-07-01 16:24] jhitesma opened #1077 "Auto update on DTFc not working"
- Seen in version (release version or githash): 85af0a4a
- On flight controller (if applicable): DTFc

Issue details:
Tried to update my DTFc now that it's in next.  Connected the board and it was detected and offered to update.  But when I hit "Yes" on update nothing happened.

Tried it on my Sparky next and it appeared to work...but after the final reboot board wouldn't connect.  Then tried my S

[2016-07-02 04:34] dustin opened #1078 "GCS not detecting new devices"
- Seen in version (release version or githash): 04bd9b38ef842cf3440ebcea6959777d246739a3 and latest release
- On flight controller (if applicable): sparky
- Mac OS X 10.11.5

Issue details:

I was helping someone with a sparky and consistently wasn't able to connect to a sparky that was plugged in after GCS was running.  We had two sparkys that worked fine, but only if I plugged the board in befor

[2016-07-02 04:35] jhitesma commented on #1077
Just tried the latest nightly 04bd9b38 and same thing, detects the board but after hitting "yes" to upgrade nothing happens.

I confirmed that I could flash 85af0a4 manually with no issues, but even after doing that  04bd9b38 still does nothing after I hit "yes" on the detection screen.

[2016-07-02 07:36] tracernz commented on #1077
@jhitesma The debug gadget will give you a log of lots of events, mostly USB related ones at the moment. You will need to click Window > Edit Gadgets Mode on one of your workspaces (e.g. Firmware) and then Window > Split (or Split Side by Side), then select the Debug gadget on the empty pane to view it.

<img width="1338" alt="untitled 2" src="https://cloud.githubusercontent.com/assets/9995998/165

[2016-07-02 07:56] tracernz commented on #1078
Yep, dup of #1048 and helped by #1075. This part remains to be fixed: https://github.com/d-ronin/dRonin/pull/1075#issuecomment-229858933. The USB stack has always been flaky, needs a lot of work next cycle and some patch-up to make it work well enough for this one.

[2016-07-02 19:00] #1078 closed, assigned to nobody

[2016-07-04 03:19] jhitesma commented on #1077
Knew there was something obvious I was forgetting.

And that's it.  No errors but it never actually tries to flash.

[2016-07-04 05:13] #1077 closed, assigned to mlyle

[2016-07-05 13:10] jihlein opened #1084 "System settings not saving on F1 and F3 targets"
- Seen in version (release version or githash): 5fa45f2
- On flight controller (if applicable): SciSky, Sparky, Naze32Pro_, F3FC_, AQ32, BrainRE1, Quanton

Issue details: Unable to save any settings on F1 or F3 based targets.  After clicking on save, rather than returning a green checkmark, it returns a red x.  Settings are not saved, and heartbeat LED stops flashing.

F4 boards work as expected,

[2016-07-05 16:42] mluessi opened #1085 "Make StabilizationSettings.CameraTilt configurable in GCS"
We need to make this configurable in the GCS. Forcing users to go to the UAVO browser to set the angle is not acceptable IMO.

[2016-07-05 18:51] mlyle commented on #1085
I do not think UI for a new feature should ever be a blocker.  And there are advantages for experimental things to be somewhat hidden at first release IMO.

[2016-07-05 18:59] #1084 closed, assigned to nobody

[2016-07-05 20:21] mluessi commented on #1085
But we added the option to set Camera-Tilt based reprojection to the flight mode UI, so it's IMO not intuitive that we hide this option.

[2016-07-05 22:25] tracernz commented on #1085
If we have the option to enable it, doesn't make sense to not allow the angle to be set, given that it's a basic requirement for operation.

[2016-07-05 22:42] tracernz opened #1087 "PicoC abuses settings objects"
Settings objects should only ever be written by GCS/the user. Changing settings in-flight opens up lots of possibilities for serious bugs. Things like setting actuators should be done through the appropriate PiOS functions rather than attempting to force values by corrupting the user's settings.

[2016-07-05 22:50] tracernz opened #1088 "PicoC Writes to Disabled Actuators"
This is potentially quite dangerous if you have a motor on a channel you have disabled because you don't want it to spin (e.g. when bench-testing your PicoC scripts). PicoC should have it's own actuator type and should only work on actuators which are assigned to PicoC.

[2016-07-06 12:10] mluessi commented on #1087
+1 I noticed this before and it's very ugly.

[2016-07-06 15:22] #1085 closed, assigned to tracernz

[2016-07-06 17:38] mlyle commented on #1048
Fixed in #1081

[2016-07-06 17:38] #1048 closed, assigned to mlyle

[2016-07-06 18:23] mlyle commented on #1065
Not gonna make it.

[2016-07-06 18:27] mlyle commented on #1038
Closing based on CRC work / no other repro.

[2016-07-06 18:27] #1038 closed, assigned to nobody

[2016-07-06 18:54] tracernz commented on #1065
Probably best to use this when it's stable (looks like 5.8): https://doc.qt.io/qt-5/qgamepad.html

[2016-07-07 21:49] tgreer opened #1090 "Windows 10 complains of Unknown Publisher"
Running on Samsara preview-20160706

[2016-07-07 23:05] tracernz commented on #1090
In relation to?

[2016-07-08 00:49] mlyle commented on #1090
When you first run it, because it's an unsigned app.

[2016-07-08 00:50] mlyle commented on #1090
(Not just Windows 10, everything Windows 7 or later for every version of dR / Tau so far...,...)

[2016-07-08 00:57] tracernz commented on #1090
OSX does this too I think, see #417. It's common to basically all open-source/low-budget applications.

[2016-07-08 08:01] tgreer commented on #1090
I am aware, however it's something which might put people off installling
it. Similar to how we have https://github.com/d-ronin/dRonin/issues/417 for
OSX.

On 8 July 2016 at 01:57, Michael Corcoran notifications@github.com wrote:

[2016-07-08 15:11] mluessi opened #1091 "PPM input broken (preview-20160706)"
For some reason PPM is no longer working (preview-20160706). So far confirmed on Brain and BrainRE1. Maybe it's related to the recent timer/servo changes?

[2016-07-08 15:29] mluessi commented on #1091
Also confirmed broken on Sparky2

[2016-07-08 16:40] mluessi commented on #1091
Confirmed that #958 broke PPM (at least on F4). Exact cause still unknown.

[2016-07-08 21:42] #1091 closed, assigned to mluessi

[2016-07-09 23:17] tracernz commented on #899
Some brief docs for this release: https://github.com/d-ronin/dRonin/wiki/User-Guide:-Setting-Up-MWOSD. Would appreciate test and feedback.

[2016-07-10 01:51] tracernz opened #1099 "GCS:Welcome: Bad PNG"
One of the PNGs brought in by @mlyle has a bad colour profile, causing a warning when GCS starts.

[2016-07-10 06:32] tracernz opened #1101 "Objects failing to save on Sparky"
- Seen in version (release version or githash): e991fe9
- On flight controller (if applicable): Sparky

Issue details:
Possibly on other boards too. Pretty sure this is due to the CRC changes. We should consider reverting and possibly revisiting in the next cycle because this stuff is already proven to work well on all targets except RE1.

[2016-07-10 09:56] tracernz commented on #1101
Note to self: check exactly what happens when read crc fails. We must not so something like reset to default settings as that will be unsafe in some cases, but instead panic (which should stop ALL threads and stop outputs).

[2016-07-10 16:37] mlyle commented on #1101
I think panicking could be bad, would be hard to recover from.

[2016-07-10 17:31] DTFUHF commented on #1099
Addressed this issue with #1103 hopefully it works :)

[2016-07-10 18:54] tracernz commented on #1101
Well it is a serious hardware failure ;-). We can't continue to run so unless we have a way to stop that without panicking... The recovery would be rescue into bootloader.

[2016-07-10 19:12] tracernz commented on #1099
Sorry @DTFUHF, misdiagnosed this and it was actually https://github.com/d-ronin/dRonin/commit/8dfa22edf8fe5de92ef8db8a7ffffef5a8876e84

[2016-07-10 19:36] #1099 closed, assigned to tracernz

[2016-07-10 20:37] #1101 closed, assigned to mlyle

[2016-07-10 20:40] mluessi commented on #1101
@tracernz are you positive that the CRC changes caused this? I would have preferred to find the actual reason why it was failing instead of just reverting the CRC work, which I feel is important for RE1.

[2016-07-10 21:21] mlyle commented on #1101
@mluessi if RE1 can't work dependably without the CRC thing, that's a big problem.

I was skeptical about the CRC work for Samsara, and it broke F3 (proven by bisection).  It turns out my fix didn't completely fix it.

When the objects fail to save, the LEDs stopped blinking for @tracernz, which is consistent with a PIOS_Assert() fail in systemmod.

If you can work very quickly to stabilize it, we

[2016-07-10 21:42] mluessi commented on #1101
@mlyle it's not that RE1 can't work reliably without it; it only showed up on one board and I can no longer reproduce it, but I think it's in general good to have this check and would make me feel better if we had it for RE1.

How about ifdefing it, so we can only enable it on RE1 for this release and then figure out how to make it work for all targets in the next release?

[2016-07-10 23:11] tracernz commented on #1101
It needs to be proven stable on all targets before it comes back in IMO. Maybe it could come in for re1 only if necessary. Not being able to store and/or retrieve settings is such a critical and frustrating issue that we can't afford to mess with it this late.

[2016-07-11 03:44] tracernz opened #1105 "PIOS_Assert should maybe stop other threads"
If something bad has happened it may impact other threads... and we can't be sure the system will operate safely if any given thread has stopped. Thoughts?

[2016-07-11 05:15] mlyle commented on #1105
Worse, since the thread infloops all lower priority threads are excluded.

On Sun, Jul 10, 2016 at 8:44 PM Michael Corcoran notifications@github.com
wrote:

[2016-07-13 23:55] mlyle commented on #476
I suspect this is the critical difference:

dronin-gcs:

[code]

vs  crashreporter:

[code]

[2016-07-13 23:59] mlyle commented on #476
I suspect these lines need to be added to crashreporterapp.pro:

[code]

[2016-07-13 23:59] mlyle commented on #476
No, that's not it/enough.

[2016-07-14 00:04] mlyle commented on #476
Here it is:

Should probably be added to the arguments in package/osx/libraries for crashreporter.

[2016-07-14 05:17] #476 closed

[2016-07-14 05:18] mlyle opened #1112 "Gathering symbol info on OSX doesn't work."
#1110 attempted to gather symbol info on OSX.  It doesn't quite work.

On release builds, all of the shared library symbol dumps are 0 bytes.

[code]

Tagged into Samsara for now.

[2016-07-14 05:50] tracernz commented on #1112
Doesn't work when GCS_BUILD_CONF=release (the packaging script sets GCS_BUILD_CONF=debug when EXTRACT_SYMBOLS=YES).

[2016-07-14 16:06] mlyle opened #1114 "ManualControl updates at a fixed 20ms"
Ideally when the RX is working, this would be synchronized with RX updates (semaphore?)  @ufoDziner has his tx set for 9ms updates, and we're just getting actual values at 20ms intervals because of the manualcontrolcommand update module.

[2016-07-15 00:38] emaugain commented on #899
@tracernz I have a micro minimosd so I can test this out.

[2016-07-15 00:40] tracernz commented on #899
@emaugain I suspect a few of the details could be documented more clearly/explicitly. I'd be greatful for your feedback. :+1:

[2016-07-15 00:53] emaugain commented on #899
jenkins, build artifacts please

[2016-07-15 02:11] mlyle opened #1118 "Python API uavo dependency management (parents) problematic"
@ufoDziner experienced this:

AttributeError: 'NoneType' object has no attribute 'ENUMR_ChannelGroups'".

The approach used to load 'shared' objects first is ineffective with the ChannelGroups shared thing:

[code]

[2016-07-15 04:35] #1118 closed, assigned to mlyle

[2016-07-15 23:56] tracernz opened #1120 "OnScreenDisplay: Boot reason can write 1 byte past end of buffer"
Not a real problem as long as all the reasons are shorter than the buffer but should be fixed anyway.

[2016-07-16 03:38] dustin opened #1121 "config conversion crash"
'NoneType' object has no attribute 'ENUMR_ChannelGroups' (/base/data/home/runtimes/python27/python27_lib/versions/third_party/webapp2-2.3/webapp2.py:1528)
Traceback (most recent call last):
  File "/base/data/home/runtimes/python27/python27_lib/versions/third_party/webapp2-2.3/webapp2.py", line 1511, in **call**
    rv = self.handle_exception(request, response, e)
  File "/base/data/home/runtimes/

[2016-07-16 06:31] mlyle commented on #1121
Was fixed by #1119, hopefully, so it should be a question of deploying this on the web service.

[2016-07-16 06:51] dustin commented on #1121
Updated the web services.

On Fri, Jul 15, 2016 at 11:31 PM Michael Lyle notifications@github.com
wrote:

[2016-07-16 19:07] dustin opened #1122 "Conversion warning"
This wasn't an error to the user, but may indicate incomplete conversion.

Error on attempting to adapt ActuatorSettings (/base/data/home/apps/s~dronin-autotown/py:1.394239192895852089/convert.py:71)
Traceback (most recent call last):
  File "/base/data/home/apps/s~dronin-autotown/py:1.394239192895852089/convert.py", line 45, in post
    actuatorSettings = imported['UAVO_ActuatorSettings']
KeyErro

[2016-07-16 19:20] mlyle commented on #1122
Do you have the hashes this happened with?

It's probably a duplicate of #848-- someone has a build from a pull request or their own unmerged branch, and we fall back to using the last release's UAVOs.

Alternatively, if they've never saved actuatorsettings before upgrade, this will happen.

[2016-07-16 19:57] ufoDziner opened #1123 "BrainFPV in-flight reset"
- Seen in version (release version or githash): Build 455
- On flight controller (if applicable): BrainFPV

Issue details:
My son and I have experienced in-flight resets of the BrainFPV FC.  Initially I thought that it was a power issue to the FC, but it it happening randomly across 3 different quads.  Build 455 was used to see what the initial startup message is after an in-flight reset.  Screens

[2016-07-16 20:01] ufoDziner commented on #1123
BOOT: UNDEFINED appears to be the normal startup message as well.

[2016-07-16 21:32] dustin commented on #1123
Just to be extra clear, are you able to see this in the UAVO as well?  I
don't know why it'd be wrong, but if the UAVO disagrees, then it's a
different bug.

On Sat, Jul 16, 2016 at 1:01 PM Wes Warner notifications@github.com wrote:

[2016-07-16 21:51] dustin commented on #1122
No, logging is insufficient here.  :(

On Sat, Jul 16, 2016 at 12:20 PM Michael Lyle notifications@github.com
wrote:

[2016-07-16 22:01] #1122 closed, assigned to nobody

[2016-07-16 23:44] ufoDziner commented on #1123
Requested screenshots

![stackremaining1](https://cloud.githubusercontent.com/assets/7434287/16897859/93ae7776-4b74-11e6-9bb7-a17e156f1319.png)
![stackremaining2](https://cloud.githubusercontent.com/assets/7434287/16897858/93ad25ce-4b74-11e6-845e-82035dd80dcb.png)

[2016-07-16 23:45] ufoDziner commented on #1123
@dustin Where would I check for a uavo?

[2016-07-17 00:06] dustin commented on #1123
I can't quite remember which one it is (on my phone), but it's system
something and has a boot reason in it.

On Sat, Jul 16, 2016, 16:45 Wes Warner notifications@github.com wrote:

[2016-07-17 00:15] mlyle commented on #1123
SystemSettings.RebootCause I think.  Doesn't need a flight -- just is the startup reason.

[2016-07-17 02:51] ufoDziner commented on #1123
Normal startup screenshot.

![rebootcause1](https://cloud.githubusercontent.com/assets/7434287/16898418/b49d4fb0-4b8e-11e6-9bfa-72fe350feba3.png)

[2016-07-17 02:54] mlyle commented on #1123
Not awesome :/

[2016-07-17 05:50] tracernz commented on #1122
Should instrument the code with python's logging class so this will be better in future.

[2016-07-17 09:33] fujin commented on #1123
#1126 should make it so we can see the proper reason now yea? @ufoDziner if you could upgrade to nightly tomorrow :sunglasses:

[2016-07-17 10:19] #1121 closed, assigned to nobody

[2016-07-17 19:14] mlyle commented on #1123
fw_sparky2, static stack analysis (with my dodgy tools) on next:

[code]

vs tanto:

[code]

So stabilizationtask stack usage has increased by 24 bytes.

Other notable differences:  picoc task improved from 4536 to 4168.   Autotune task went from 864 to 872.     Loggingtask from 416 to 528 (!), ActuatorTask from 424 to 464.

[2016-07-17 23:25] ufoDziner opened #1127 "Output #1 set to 0/0/0 on update"
- Seen in version (release version or githash): 3e21fdf7
- On flight controller (if applicable): Brain
  Issue details:
  When doing an auto-update from e8170680 to 3e21fdf7, the values of Output #1 are set to 0/0/0 instead of 125/131/250 as they were prior to the update.  Outputs 2,3, and 4 are correct.  Screenshot and uav file attached.

![output1_missing](https://cloud.githubusercontent.com/ass

[2016-07-17 23:27] ufoDziner commented on #1123
Copied from #1125 because I think it belongs here as well.:

My son flew 5 packs and I flew 4 on two different quads using build 459 that includes this PR with no issues. Funny thing is that I broke mine after the 4th flight, so I took out the backup quad that was still on 455 without this PR. Halfway through the first pack it rebooted. So, I'm pretty confident that the issue is fixed.

[2016-07-17 23:28] fujin commented on #1127
from @ufoDziner:
[test_saved_backup.zip](https://github.com/d-ronin/dRonin/files/368181/test_saved_backup.zip)

[2016-07-18 00:10] #1127 closed, assigned to nobody

[2016-07-18 00:20] tracernz opened #1130 "Flight: Actuator Settings should be sanity checked"
Either in actuator module or sanity check library.

[2016-07-18 00:45] mlyle commented on #1130
Perhaps.  Though missing / deactivated channels that still have a mixer defined is "normal" for many configurations, if that's what you're referring to.

[2016-07-18 01:22] fujin opened #1131 "VTXConfig module is not present during upgrade wizard"
- Seen in version (release version or githash): next @ https://github.com/d-ronin/dRonin/commit/65a6d5be1696e9e85fcc731cefff24ca474e9ad9
- On flight controller (if applicable):
  BrainFPV, BrainFPV RE1.

Issue details:
The upgrade settings review dialog complains that the VTXConfig hw module is not present. VTXConfig settings are lost during settings translation. I believe some functionality may h

[2016-07-18 01:58] tracernz commented on #1130
If you have a quad and the motor channels are 0/0/0 that's a definite problem though.

[2016-07-18 09:35] tracernz opened #1133 "OSX: breakpad catches EXC_BREAKPOINT"
This makes it incompatible with debugging generally, and causes it to crash the app immediately when starting a debug session through QtCreator.

[2016-07-20 03:09] ufoDziner commented on #1123
Flew 2 more packs today, with no resets.

[2016-07-20 21:54] #1131 closed, assigned to mlyle

[2016-07-20 23:45] mlyle commented on #1123
Believed to be resolved.

[2016-07-20 23:45] #1123 closed, assigned to mlyle

[2016-07-20 23:46] mlyle commented on #1112
Fixed by #1113

[2016-07-20 23:46] #1112 closed, assigned to nobody

[2016-07-20 23:49] mlyle opened #1136 "Administrative: Samsara postmortem"

[2016-07-21 00:47] #1114 closed, assigned to mlyle

[2016-07-21 12:46] jihlein commented on #1055
Corrected with #1058.  Closed.

[2016-07-21 12:46] #1055 closed, assigned to nobody

[2016-07-22 17:09] mlyle commented on #74
Fixed by #1095

[2016-07-22 17:09] #74 closed

[2016-07-22 17:14] mlyle commented on #128
Dup / closely related to #70

[2016-07-22 17:14] #128 closed

[2016-07-22 17:15] mlyle commented on #143
This was done for OSX, but Windows still needs to have its path forward determined.

[2016-07-22 17:16] mlyle commented on #143
Closed in favor of #290 (more specific bug)

[2016-07-22 17:16] #143 closed

[2016-07-22 17:20] mlyle commented on #661
This is fixed; we're stuck with channel counts for now...

[2016-07-22 17:20] #661 closed, assigned to nobody

[2016-07-22 17:21] #970 closed, assigned to nobody

[2016-07-22 17:23] mlyle commented on #919
Closing because no recent repro.  Yuck.  (Though there's been some related fix / robustness improvement).

[2016-07-22 17:23] #919 closed, assigned to nobody

[2016-07-22 17:24] mlyle commented on #899
https://dronin.readme.io/docs/configuring-mwosd-for-dronin

[2016-07-22 17:24] #899 closed, assigned to mlyle

[2016-07-22 17:25] mlyle commented on #674
I think we should consider closing this

[2016-07-22 17:27] #462 closed

[2016-07-22 22:55] tracernz commented on #674
I am looking at doing something with MSP for a standalone OSD target (playuavosd), will wait and see what I end up doing there I think.

[2016-07-22 22:57] tracernz commented on #290
Got MSVC build working again this morning and confirmed breakpad works with it. See #1138.

[2016-07-22 22:59] tracernz commented on #128
They are different issues really. #70 is to add an indicator on the channel sliders on the input form while this is to show the actual stick movement like in the Tx setup wizard. I think this one is a lot more useful for users.

[2016-07-22 23:20] mlyle commented on #128
They would share a lot of infrastructure (turning up update rate) and if we're going to do both, they should be accomplished at the same time to avoid laying it out twice-- so IMO one issue makes sense.

[2016-07-22 23:31] mlyle opened #1139 "BrainRE1 does not init BSS stuff in CCM-SRAM properly!"
This has triggered a bug on next with the new manualcontrol stuff, but---- probably triggers lots of undefined behavior elsewhere.

Putting it into Samsara.  We will have to hotfix.  Even though ill effects have not been observed on Samsara, tehy're surely there.

[2016-07-22 23:33] tracernz commented on #1139
Ick.
Nobody zeros it:
https://github.com/d-ronin/dRonin/search?utf8=✓&q=_cmm_start

How normal BSS is zeroed: https://github.com/d-ronin/dRonin/blob/080150a5b271fcfb3fe36aa1e20f92fc0d956aca/flight/PiOS/Common/Libraries/ChibiOS/os/ports/GCC/ARMCMx/crt0.c#L326

[2016-07-22 23:34] mlyle commented on #1139
For clarity, other targets have CCM and it actually comes up zero (though we should explicitly zero it to be "careful").

'446 doesn't have CCM, and we've moved some of the BSS away from the other stuff so it's not zeroed.. where it lands on other ram that has undefined contents on startup.

[2016-07-22 23:40] mlyle opened #1140 "CCM-sram: zero the parts that should be zeroed at startup."
F3 and F4

It comes up zero, so it's "OK", but I don't like having faith in things like that.

[2016-07-22 23:53] mlyle commented on #1139
While this is still super bad, closing in favor of just #1140 based on further understanding.

[2016-07-23 00:57] tracernz commented on #128
Okay, just need to cover the ideas from this one in the other one. 👍 Done.

[2016-07-23 00:57] tracernz commented on #70
From @DTFUHF in #128:

[2016-07-23 01:19] mlyle commented on #1139
reopened, because it is indeed bad.

[2016-07-23 03:44] #1139 closed, assigned to mluessi

[2016-07-25 06:10] emaugain commented on #899
@mlyle tested this and the guide was clear - i don't see flight mode and armed/un-armed
(used to show on cleanflight) am i missing anything?

[2016-07-25 08:05] dustin commented on #899
Arm state is implicit.  Detailed flight modes currently requires lots of
extension (as they're also implicit in the base feature set).

It's not clear what you see it what you're doing. There are lots of ways to
get that stuff to not show up in mwosd.

On Sun, Jul 24, 2016, 23:10 Etienne Maugain notifications@github.com
wrote:

[2016-07-25 16:54] jihlein commented on #899
I had started a re-work of MWOSD such that it would display armed/unarmed and the Dronin specific modes.  It's on my todo list to finish.

[2016-07-25 19:30] DTFUHF opened #1143 "Flight: RC input is required even if there is no matching output"
- Seen in version (release version or githash):  Samsara release
- On flight controller (if applicable): DTFc

Issue details:

On setting up RC inputs, a Critical warning is thrown if one of Roll, Pitch, Yaw, Throttle is not configured. There are airframe types that don't have yaw outputs (flying wing, some fixed wing) and of course some with no throttle output (gliders). If these outputs are not

[2016-07-25 19:36] DTFUHF opened #1144 "GCS: RC configuration wizard incorrectly detects RSSI channel"
- Seen in version (release version or githash): Samsara release
- On flight controller (if applicable): DTFc

Issue details:

If receiver RSSI is bouncing around, which happens sometimes if the transmitter is in close proximity to the RX, then the RC configuration wizard will incorrectly detect this changing channel as the Throttle channel upon set up (the first input channel that goes through det

[2016-07-25 19:40] DTFUHF commented on #1144
Closing, duplicate of #1045

[2016-07-25 19:40] #1144 closed, assigned to nobody

[2016-07-25 19:54] dustin commented on #899
I've not had an issue with arm/disarm.  Is something broken?

The mode-specific thing is currently done in one of like, three ways in
MWOSD.  :/  The one we're using is kind of implicit based on compatibility
with MW.  It's pretty gross.  There's another that has named modes that go
across the wire, but MWOSD still needs to know all the modes in order to
render them (since it's a font thing).

On

[2016-07-26 04:41] #295 closed

[2016-07-26 04:41] #373 closed

[2016-07-27 08:14] tracernz opened #1149 "CC3D Fails To Boot: SPI not Initialised"
Regression from #1058. Seems to be something else stopping it too.

[2016-07-27 08:28] tracernz opened #1150 "Flight build fails with DEBUG=YES"
People have written quite a bit of code that fails in debug mode. Mostly missing semi-colons to terminate PIOS_Assert() statements, esp. in F1 SPI. Relates to #1107 (which doesn't fix these). I have meant to raise this for some time as it's very frustrating when running things down.

[2016-07-27 08:29] tracernz opened #1151 "Jenkins: Build flight with DEBUG=YES as well"
Should build as we do now, then clean and build with DEBUG=YES to prevent people messing this up again. See #1150 (which will need fixed first).

[2016-07-27 08:42] tracernz commented on #1149
PIOS_Semaphore_Take is a hardfault when the RTOS isn't running (which it isn't during PIOS_Board_Init on CC3D and Pipxtreme, all other targets use an RTOS task for init): https://github.com/d-ronin/dRonin/blob/506a1c81a5e05ede5d7e2679398fcd81c115a4ac/flight/PiOS/Common/pios_mpu.c#L427

We should probably revert #1058 and leave it until this stuff is all fixed, and some workaround for the semaphore

[2016-07-27 08:53] tracernz commented on #1136
- Really old bug bit us with the lack of CCM RAM BSS initialisation (#1139, #1140).
- Late build infrastructure changes caused grief.

[2016-07-27 09:22] tracernz opened #1153 "New UAVOs Should Have Field Descriptions"
Seen in: VTX*, HwBrainRE1, HwDtfc
Need to document requirements somewhere.

Old ones are WIP: #87

[2016-07-27 14:44] mlyle commented on #1136
- Stack overflow got us, and wasn't spotted by our test for a long time despite a lot of users running it / flying it for unknown reasons.  This is probably the one that distresses me most.

[2016-07-27 14:47] mlyle commented on #1151
If we stick with MSVC, I'm thinking about having the Windows builder triggered for CI too (since MSVC is so different).  It's a bit of a penalty because the windows builder is slow.

We could have it build flight with debug, though, which would give us this for free.

[2016-07-27 19:23] pug398 commented on #1136
Haven't had a flight issue on CC3D, Sparky1 or Revo. Probably not serious enough to grab peoples attention. With the CC3D after the legacy loader was flashed it couldn't be detected and a rescue then manual flash was needed. Sparky and Revo upgraded smoothly and have been flying without incident. Need to get Samsara.1 on them.

[2016-07-27 19:47] mlyle commented on #1136
@pug398 Samsara.1 is identical to Samsara except a small change to BrainRE1 memory layout.

The CC3D-upgrade-not-quite-reliable on Windows is annoying and needs further study for sure.

[2016-07-27 20:32] pug398 commented on #1136
CC3D has been problematic from the beginning and it ended up working fine. You guys are doing a great job and the platforms upgraded so far are flying smooth. Will get to Quanton and Sparky2 shortly.

[2016-07-28 08:29] #983 closed, assigned to nobody

[2016-07-28 08:29] #1001 closed, assigned to nobody

[2016-07-29 07:55] #1149 closed, assigned to mlyle

[2016-07-30 01:50] #640 closed, assigned to nobody

[2016-07-30 09:41] muratozkan opened #1160 "Invalid version error when replaying log files"
- Seen in version (release version or githash): 20160720.1
- On flight controller (if applicable): Openpilot Revo (using firmware for 20160720.1)

Issue details:

I enabled the logging module and downloaded the flight log file after a short flight. When loaded in GCS, GCS shows the following error:

`The log file was made with branch Release-20160409.2:b04a62e2 20160428, UAVO hash 02cf59ebb14892dc

[2016-07-30 14:19] mlyle commented on #1160
Unfortunately, the GCS log playback is not the best.   It's not really useful, but also flight firmware and logs recorded with GCS have slightly different formats, and I don't think the GCS one understands flight logs well.

If you're familiar with the command line there's a new log viewing tool you can play with-- not quite finished but still useful.

Commands to get it on OSX should be:

[code]

[2016-07-30 14:40] pug398 commented on #1136
With my sparky2 and oplm I see the hwsparky2 uavo not being locked in sometimes and gcs does not recognize the hardware. At times it appears to "pass by" the uavo without stopping to pick it up. You can see the hardware page flash briefly when it is going to happen but then goes back to unknown board type page and hwsparky2 uavo has defaults.

[2016-07-30 16:43] mlyle commented on #1160
@muratozkan PS if you try this please let us know how it goes-- whether good or bad.  Feedback on the log viewer tools would be really helpful, as I hope to ship them relatively soon.

[2016-07-31 09:08] muratozkan commented on #1160
Thanks for the reply @mlyle.

I've prepared a `virtualenv` with Python3 (3.5.1) and tried installing dronin. First, dronin-logview complained aboud `lxml` package not being present. Maybe you could include it as a dependency?

I couldn't get PyQt4 or PySide installed, which are required by `pyqtgraph`. PyQt4 has no packages in pypi and PySide only supports Python up to 3.4 Is there a guide for set

[2016-07-31 15:32] mlyle commented on #1160
Woops--- both on lxml (will fix) and pyqt4.  Pyqt4 is tricky because it includes the qt4 libraries and so doesn't fit into pypi so well.

Personally I just use anaconda which includes everything (pyqt4 etc) except pyqtgraph.

I am also working on a pyinstaller-package of the log viewer, which works but is a little clunky (this is how we will probably officially release it)

[2016-07-31 21:14] ufoDziner commented on #1123
Had 1 in-flight reset, and 2 resets after a crash.  I don't believe that the crash was caused by the reset, but it's possible that they were.  The in-flight reset was with an OG brain using bfe4b825.  The 2 crash resets were with an RE1 was using 5f25d7d4.  "INDY WDOG" was displayed on the screen as the reboot reason each time.  These reboots happened somewhere mid-flight (I don't have an accurate

[2016-08-01 03:32] Zucky16 commented on #761
I was about to create a new issue, when I found this one that is exactly what I was experiencing.  After saving/reloading/rebooting/power cycling I came to a possible conclusion.
I would have this boot problem as well as a failed autotune save when the naze32 rev 5 board I am testing on had MSP set instead of Telemetry as I had configured a MicroMinimOSD for use, and set the serial comms to MSP.
I

[2016-08-01 05:18] tracernz commented on #761
When MSP in enabled, Telemetry is also enabled as a fallback (so when you connect GCS to your MSP port, the MSP module will detect UAVTalk packets, and hand control over to Telemetry, this allows the RX/TX pins in the middle of the Naze board to be used for OSD etc. without locking you out of GCS via USB). The result of this is that it uses a lot more memory, and when autotune is enabled too you r

[2016-08-01 05:21] tracernz opened #1163 "Prevent crash on memory exhaustion, and provide feedback to user"
Currently we crash with no feedback to the user. This occurs frequently on F1 (e.g. #761) and is frustrating for users because the cause is not obvious.

[2016-08-01 05:22] tracernz commented on #761
I have opened #1163. This has been discussed a bit in the past and some work done toward it but no actual encompassing issue was opened before.

[2016-08-01 05:26] tracernz opened #1164 "PiOS: SPI broken on F3"
Affects LUX and DTFc, and sadly they are both difficult to debug (DTFc has no debug connector, and LUX has an oddball one). They currently won't boot on next (Sparky1 does since it uses I2C). Broken in #1107.

[2016-08-01 09:34] tracernz commented on #1164
FlyingF3 would have been a nice platform to debug this. ;-)

[2016-08-01 13:02] Zucky16 commented on #761
Creating repetative new issues just slows down your progress, I spent a good 25 mins looking around the issues list to find something similar so as to not duplicate an issue, at least to the best of my abilities.

#1163 looks perfect, a notification of some kind would be very helpful to others.  Your explaination is excellent and makes complete sense to me.

P.S. Great work on this project, I'm lo

[2016-08-02 04:07] ufoDziner opened #1166 "Brain (OG & RE1) reset in-flight and after crash"
- Seen in version (release version or githash): bfe4b82 & 5f25d7d
- On flight controller (if applicable): OG Brian, and RE1

Issue details:
Had 1 in-flight reset, and 2 resets after a crash. I don't believe that the crash was caused by the reset, but it's possible that they were. The in-flight reset was with an OG brain using bfe4b82. The 2 crash resets were with an RE1 was using 5f25d7d. "INDY WD

[2016-08-02 12:27] mluessi commented on #1166
Both versions include the receiver changes and also #1107 , correct? What type of receiver are you using and is there a way for you to reproduce it on the ground?

[2016-08-02 13:39] ufoDziner commented on #1166
The build on the OG Brain is a Jenkins build from #1135, so I don't think it has all of the changes you're referring to. The RE1 build is a nightly from a couple of days ago, which should. I don't know of a way to reproduce it on th ground.

I flew 2 packs yesterday on the RE1 with no issues, but the total time powered up was <10min. The flights on the other day were powered on for much longer. No

[2016-08-02 13:39] ufoDziner commented on #1166
The build on the OG Brain is a Jenkins build from #1135, so I don't think it has all of the changes you're referring to. The RE1 build is a nightly from a couple of days ago, which should. I don't know of a way to reproduce it on th ground.

I flew 2 packs yesterday on the RE1 with no issues, but the total time powered up was <10min. The flights on the other day were powered on for much longer. No

[2016-08-02 13:39] ufoDziner commented on #1166
The build on the OG Brain is a Jenkins build from #1135, so I don't think it has all of the changes you're referring to. The RE1 build is a nightly from a couple of days ago, which should. I don't know of a way to reproduce it on th ground.

I flew 2 packs yesterday on the RE1 with no issues, but the total time powered up was <10min. The flights on the other day were powered on for much longer. No

[2016-08-02 13:40] ufoDziner commented on #1166
The build on the OG Brain is a Jenkins build from #1135, so I don't think it has all of the changes you're referring to. The RE1 build is a nightly from a couple of days ago, which should. I don't know of a way to reproduce it on th ground.

I flew 2 packs yesterday on the RE1 with no issues, but the total time powered up was <10min. The flights on the other day were powered on for much longer. No

[2016-08-02 13:40] ufoDziner commented on #1166
The build on the OG Brain is a Jenkins build from #1135, so I don't think it has all of the changes you're referring to. The RE1 build is a nightly from a couple of days ago, which should. I don't know of a way to reproduce it on th ground.

I flew 2 packs yesterday on the RE1 with no issues, but the total time powered up was <10min. The flights on the other day were powered on for much longer. No

[2016-08-02 13:40] ufoDziner commented on #1166
The build on the OG Brain is a Jenkins build from #1135, so I don't think it has all of the changes you're referring to. The RE1 build is a nightly from a couple of days ago, which should. I don't know of a way to reproduce it on th ground.

I flew 2 packs yesterday on the RE1 with no issues, but the total time powered up was <10min. The flights on the other day were powered on for much longer. No

[2016-08-02 13:41] ufoDziner commented on #1166
The build on the OG Brain is a Jenkins build from #1135, so I don't think it has all of the changes you're referring to. The RE1 build is a nightly from a couple of days ago, which should. I don't know of a way to reproduce it on th ground.I flew 2 packs yesterday on the RE1 with no issues, but the total time powered up was <10min. The flights the other day were powered on for much longer. Not sur

[2016-08-02 13:43] ufoDziner commented on #1166
Not sure if it matters, but one receiver is sbus and the other is srxl.

[2016-08-02 14:33] mlyle commented on #1166
Just one more data point-- were the new crashes with logging?

[2016-08-02 16:25] ufoDziner commented on #1166
‎OG Brain has no logging. RE1 has logging enabled, but it doesn't appear to be functioning properly. 

[2016-08-03 20:09] mlyle opened #1170 "ESC calibration safety improvement?"
Can we send no PWM for a bit to disarm the ESC, in case the user didn't listen and still has vbat connected?

[2016-08-03 23:33] ufoDziner opened #1171 "Brain RE1 - No VTX config on MultiPort"
- Seen in version (release version or githash): 5f25d7d4
- On flight controller (if applicable): Brain RE1

Issue details:
  There is no VTX config option on the MultiPort in GCS for the Brain RE1.

[2016-08-04 00:44] mluessi commented on #1171
This is because TBS SmartAudio uses weird signal levels that don't work with the bidirectional pass-through the FPGA on RE1. Basically, the idle signal level is low (like inverted serial) but the actual signal is non-inverted serial. The FPGA can either handle inverted serial or non-inverted serial, but not this odd mix that TBS decided to use. You can just use the serial port for the VTX config a

[2016-08-04 00:44] #1171 closed, assigned to nobody

[2016-08-04 06:55] #977 closed, assigned to nobody

[2016-08-04 10:45] mluessi commented on #1166
@ufoDziner if possible, can you test if this also happens with the stable release? I have been flying the release (or versions very close to it) and haven't experienced this problem. It's possible that the RX system changes are causing this, but the code looks good, so it's a bit of a mystery to me.

[2016-08-04 15:45] ufoDziner commented on #1166
@mluessi Tested with stable just now.  First flip I tried LoS, the FC rebooted mid flip.  Boot message was "INDY WDOG".  I swapped out PDBs last night to ensure that there was no voltage sag contributing to the issue.  Immediately following the flight with the RE1, I put the Release on a OG brain equipped quad with the same power system (except the PDB).  I could not get it to reset in flight.  Th

[2016-08-04 16:44] mlyle commented on #1164
Was fixed by #1169.

[2016-08-04 16:44] #1164 closed, assigned to nobody

[2016-08-06 04:55] mlyle opened #1176 "Board plugins directory needs to get blown away by Windows installer"
Just an rmdir directive like the addons

[2016-08-06 06:14] mlyle commented on #664
Eigen 3.3 beta-2 was released on July 26, 2016, so maybe there's some hope...

[2016-08-06 17:08] mlyle opened #1179 "#1066 broke Windows build"
On MSVC:

[code]

According to @jihlein, on mingw:

[code]

[2016-08-06 17:32] jihlein commented on #1179
Looking thru the build output, I think it's all targets.  Here's more info if it's helpful, this time Naze.

![image](https://cloud.githubusercontent.com/assets/3869782/17458256/656c876c-5bc9-11e6-8907-343e0eb7883b.png)

[2016-08-06 22:36] tracernz commented on #1179
QT macros (Q_OBJECT?) must expand differently on Windows. Sigh, I guess we'll have to revert. I hate Windows :-(.

[2016-08-07 00:30] #1179 closed, assigned to tracernz

[2016-08-07 00:30] #1176 closed, assigned to nobody

[2016-08-07 01:57] emaugain opened #1182 "Enabling Autotune causes boot fault"
- Seen in version (release version or githash): Samsara
- On flight controller (if applicable): CC3D

Issue details:
Recently when I try to enable autotune I follow the instructions to the letter
But when I reboot all my settings are wiped (hardware tab - ibus and mcp are reset) and I see a BOOT FAULT error

[2016-08-07 03:26] mlyle commented on #1182
CC3D doesn't have much ram.  Odds are you have other modules enabled (MSP on hardware pane? TxPid?  Sbus and PPM both at the same time unnecessarily?)

[2016-08-07 19:11] #1182 closed, assigned to nobody

[2016-08-07 20:51] ufoDziner opened #1184 "Quad size drops from saved autotune parameters"
- Seen in version (release version or githash): 20160720.1
- On flight controller (if applicable):

Issue details:
When on the last "Details" page of the autotune submission, many of the fields maintain the information from the prior submission, but the quad size resets to 0.

[2016-08-07 22:26] tracernz opened #1185 "Investigate MultiOSD Support"
Looks cleaner and more featureful than MWOSD, is cross-platform, and has a nice build toolchain setup. Might allow us to distribute binary OSD builds for easy installation. MSP support is WIP, UAVTalk and MAVLINK already done.
[MultiOSD](/UncleRus/MultiOSD)

[2016-08-08 04:04] cam4869 opened #1187 "Sparky2 and FS ia10 Reciever not working"
- Seen in version (release version or githash): 2016720.1
- On flight controller (if applicable): Sparky 2

Issue details:
Sparky2 FC does not recognize FlySky ia10 receiver connected to RCV port.
Configured for PPM.
Works fine with TauLabs latest build for Sparky2.

[2016-08-08 04:38] mlyle commented on #1187
What exactly do you mean by "does not recognize"?  You go into input wizard and move the throttle when prompted but nothing happens?  Or something else?

[2016-08-08 04:49] cam4869 commented on #1187
"RC Input" system status is Yellow..  says no receiver detected.  And the input wizard does not detectect any stick movements.

[2016-08-08 05:02] mlyle commented on #1187
OK, "RC Input" will be yellow or red until things are configured (this is expected).

Unfortunately none of our developers have the flysky hardware.. but at the same time there's been no change to pios_ppm between Tau Labs & the 20160720.1 release.  A couple of ideas though.

Are you using the same Sparky2 and ia-10 for both Tau & dR?  I have seen some reports of iA-10s which PPM doesn't work for.

[2016-08-08 05:35] cam4869 commented on #1187
Thank You for the quick support!   I seem to have fixed it..   I reflashed the dRonin to it again just now after running TauLabs this afternoon.  I also changed the wiring from the Sparky2 to the FS-iA10 to include only the signal wire..  not + and -  power..   I fed a clean 5v from the Power control board.

Seems to be working now.  May have been a problem with the voltage coming from the Sparky2

[2016-08-08 06:15] mlyle commented on #1187
Glad it works for you now.

[2016-08-08 06:15] #1187 closed, assigned to nobody

[2016-08-10 00:14] faalbers commented on #104
Thanks for all the great research work on BlHeli passthrough !  ;)

[2016-08-10 03:34] cam4869 commented on #1187
Well..  not sure whats up but PPM quit working again out of the blue..   But I did switch to iBUS and it works great.  Got 10 channels instead of 8 too!

So I too recommend just use iBUS with the iA10 receiver.

Thanks for the help!

[2016-08-10 05:17] ufoDziner opened #1191 "Logviewer crashes opening log file with one open"
- Seen in version (release version or githash):
- On flight controller (if applicable):

Issue details:
When opening a log file, with one already open, the logviewer crashes.  It starts to load the new one, then shuts down.

[2016-08-10 05:37] dustin commented on #1034
I've been testing tonight with both DTFc and Sparky with both X4R-sb and XSR.  I could _occasionally_ get extra sensors, but not consistently.

On the wire (via Saleae Logic), I was able to view data going back and forth between the FC and the RX.  e.g. a session on my sparky 1 has a bunch of entries (decoded from logic dumps) that look like this:

[code]

i.e. it asks for stuff, dRonin answers on

[2016-08-10 23:55] ragd011 opened #1192 "Radio Wizard fails to detect on CC3D"
- Seen in version (release version or githash): dRonin 2016-07-20.1 Release ("Samsara")
- On flight controller (if applicable): CC3D

Issue details:  After erasing configuration of FC the Radio Setup Wizard fails to detect the throttle when using PPM on pin 8 for the receiver.  Resolution was to flash back to previous release dRonin 2016-07-20 Release ("Samsara") and it worked on the first attempt

[2016-08-11 04:12] joeynuggetz opened #1193 "GCS scaling issues at 3000x2000 resolution"
- Seen in version (release version or githash): Release-20160720.1: 20160723-74b7422c
- On flight controller (if applicable): Revo

Issue details:
Running GCS on Windows 10 Surface Book at native resolution of 3000x2000 exhibits some scaling issues. Also, the dialog boxes during automatic firmware upgrade process need to be resized in order to read the text properly. I don't have a screenshot of t

[2016-08-11 04:18] joeynuggetz opened #1194 "(GCS) Scopes and Advanced icons appear on Welcome screen in Basic mode"
- Seen in version (release version or githash): Release-20160720.1: 20160723-74b7422c
- On flight controller (if applicable):

Issue details:
When running GCS in Basic mode, the Welcome screen contains the Scopes and Advanced icons which do nothing when clicked. They should be removed when running a Basic install of GCS.

[2016-08-11 04:28] joeynuggetz commented on #1192
I had some issues initially too with the wizard. It finally worked but then the last window that allows you to move the sticks and switches to make sure the actions on screen mirror reality failed to work. Unfortunately I do not have a good repeatable process to reproduce but I experienced some "wonkyness"

Revo with X4R/Taranis
Samsara
Windows 10 Pro 64bit

[2016-08-11 05:12] tracernz commented on #1194
Probably requires making the list of modes (in Core::ModeManager) available to QML.

[2016-08-11 05:19] dustin commented on #1034
Attached are a couple of samples in Saleae Logic format of a Frsky GPS module vs. recent dRonin on a Sparky.

(this sample may have some of the telemetry items removed, but it doesn't seem to make much difference)

[samples.zip](https://github.com/d-ronin/dRonin/files/412554/samples.zip)

[2016-08-11 05:26] tracernz commented on #1193
Note: Don't see these issues on OSX with Hi-DPI.

[2016-08-11 06:39] dustin commented on #1034
The issue seems to be the serial port not being pulled down, so it's not being picked up well.

Seems to work consistently with this:

[code]

(tested on sparky + x4r)

[2016-08-11 08:45] tracernz commented on #1034
That's non-standard, typical for FrSky I guess.

[2016-08-11 11:16] mluessi commented on #1034
The pull-down would make sense, as the line is low when idle. On RE1 there is a pull-down as well, because the FPGA inverter input is high-z when idle. Because the line is bi-directional, I assume neither the X4R nor the STM32 is driving it when it is idle, so there needs to be a pull-down.

[2016-08-11 15:39] dustin commented on #1034
I'll make a patch.

Without the pulldown it works... sometimes.  Maybe in a particular setup, it works reliably.  This seems to be a chance thing.  I'd occasionally get values, but usually didn't.  I've got more testing to do (only tried one RX on one board), but I went from "almost never" to "every time" by turning on the pulldown in the port.

Note that this only matters on single-wire F3.  My t

[2016-08-11 17:05] #1194 closed, assigned to tracernz

[2016-08-12 01:18] #1034 closed, assigned to dustin

[2016-08-13 01:09] fujin opened #1201 "AcroPlus sets integrator to zero, never resets"
- Seen in version (release version or githash): all
- On flight controller (if applicable): all

Issue details:
Reported by forums user. Strange as many devs use acroplus, none of us had noticed it.

https://forum.dronin.org/forum/d/108-problem-with-pendulum-effect

https://github.com/d-ronin/dRonin/blob/next/flight/Modules/Stabilization/stabilization.c#L510

I assume the intention was to zero the

[2016-08-13 12:42] ragd011 opened #1204 "Feature: Add forum user id to upload, add button to download all tune data as a CSV,"
- Seen in version (release version or githash): N/A
- On flight controller (if applicable): N/A

Issue details:  It would be nice to reach out to someone with an identical setup and ask how it flies and what settings they landed on in the end.  Also, if we can download the data via csv, you can filter the results by, board, size, cell count etc.  and be able to make some direct comparisons very qu

[2016-08-13 17:47] pug398 commented on #1136
Not a big deal but spelling of screen is wrong in definition of OSD screen page settings.
Was it decided to leave the model view orientation alone and have it track the PFD instrument rather than actual model orientation?

[2016-08-13 17:56] mlyle commented on #1136
I believe model view tracks actual model orientation-- the previous default model is "backwards" and has the front pointing at what most would consider the back of the quad, but we changed that..

The red arms are the front of the quad is how I see it, and it looks right to me..

It's better if you open separate issues for these thigns-- the purpose of this issue is to roll up a set of things that

[2016-08-13 18:13] pug398 commented on #1136
Ok so you did fix the model view after Samsara. Some of my quads have red arms in the front and I noticed the model view was still backwards. Sorry I am still somewhat behind times :)

[2016-08-13 18:14] mlyle commented on #1136
It should be fixed _in_ samsara.

[2016-08-13 18:18] mlyle commented on #1204
@ragd011 We've discussed to have the ability to claim tunes.

There is an API to export tunes en masse-- http://dronin-autotown.appspot.com/api/recentTunes and http://dronin-autotown.appspot.com/api/tune?tune=ahFzfmRyb25pbi1hdXRvdG93bnIYCxILVHVuZVJlc3VsdHMYgICAoJeK8ggM   (example url).

We've talked about having the ability to "claim tunes" so that they could be further annotated later, etc.  But

[2016-08-13 18:42] pug398 commented on #1136
No it is backwards on all of mine. If you tip the quad nose up (red arms) the nose in the model view goes down (red arms). You can point the quad nose north and the heading will show north with the red arms in model view pointing north. The red arms in model view tip down when the quad nose is tipped up. Samsara.1

[2016-08-14 00:32] mlyle commented on #1136
Yah, I'm sorry, I misspoke.  The green arms are in the front. In the initial view, the red arms face the user and the green arms are in front.   If the front of the flight controller faces the monitor when it is plugged in, they move together.

:( Can you please open new issues for each topic?

[2016-08-15 10:46] muratozkan commented on #1160
Is there any WIP commit or branch regarding the installer? I'd be glad to help with that.

[2016-08-15 15:13] mlyle commented on #1160
Unfortunately I have not committed the spec file.. it's mostly makefile and jenkins-ci stuff to do now.

Current code in github works with pyqt5 which has wheels for python 3.

There is an interim package Windows at http://jar.lyle.org/~mlyle/logview.zip , too.

I've been working on flyingpi quite a bit but this is on my list to get onto our build server for the next release.

[2016-08-17 15:57] ufoDziner opened #1208 "RE1 LEDs randomly wrong color"
- Seen in version (release version or githash): Release 20170720.1
- On flight controller (if applicable): BrainFPV RE1

Issue details:
LEDs will be multiple colors on powerup rather than the selected color.

Example:
Color set to yellow for a bank of 8 LEDs.  On boot the first 2 were blue, 3rd magenta, next 5 yellow (I think that was the mix/order).

[2016-08-17 16:06] mluessi commented on #1208
I assume this can happen due to power sequencing when connecting the battery. I.e. the LEDs don't have full power, bc they need 5V and the RE1 starts earlier (3.3V), so if the power ramp is not very fast, the LEDs may not function properly. We should add a actual LED module that keeps updating the LEDs, then this shouldn't happen.

[2016-08-17 22:36] mlyle commented on #1201
Fixed by #1202.

[2016-08-17 22:36] #1201 closed, assigned to nobody

[2016-08-19 07:08] #1204 closed, assigned to nobody

[2016-08-20 13:40] mluessi commented on #104
As far as I know, the most recent betaflight configurator supposedly has options for blheli programming built-in, so we should be able to get some information on the protocol from there. I looked through the code but didn't see anything. Does anyone know more about this?

The other missing piece is a bi-directional softserial interface. If we build the programming into the GCS, it is only necessar

[2016-08-20 23:53] tracernz commented on #104
My concern with doing the actual flashing/configuration in the GCS is the maintenance required. The BLHeli release cycle is much shorter than ours. We would need to maintain EEPROM and Flash layouts for each version of BLHeli, and for each ESC variant. I'd rather we just support BLHeliSuite and leave that burden to them, which works well because their release cycle is synchronised with BLHeli. I h

[2016-08-21 01:11] mlyle commented on #104
Yes, I want serial-over-UAVO for other things.  I prefer the serial-over-uavo approach, but there are problems-- really need a "fake serial driver" for it to work with blheli configurator.

There's things like this that could work-- http://com0com.cvs.sourceforge.net/viewvc/com0com/com2tcp/

[2016-08-21 01:21] mlyle commented on #104
Also to note-- the mechanism that disables/enables servos... we should think about how it will work with ESC telemetry--e.g. castle link telemetry-- at the same time.  It would be unfortunate to have two different competing mechanisms fighting each other.

[2016-08-21 01:22] tracernz commented on #104
That's why I went for VCP for at least initial impl. It works without any fancy os-specific stuff.

[2016-08-21 01:27] mlyle commented on #104
@tracernz I wonder if we could just write the functionality for blhelisuite and get it accepted. (TCP/pipe)

[2016-08-21 01:36] tracernz commented on #104
BLHeliSuite is closed source sadly, and written in Delphi.

[2016-08-21 01:38] mlyle commented on #1191
This doesn't happen for me-- it may be running out of memory.  The issue fixed in #1211 probably wastes some RAM which doesn't help.

[2016-08-21 01:45] mlyle commented on #104
Hm.  Maybe we can beg them to support it.

[2016-08-21 02:04] ufoDziner opened #1216 "Safety-Related Motors spin when connecting battery"
- Seen in version (release version or githash): f1c776c9
- On flight controller (if applicable): DTFc

Issue details:
  While plugging in the battery on a few occasions the 2 back motors spun.  @mlyle suggested testing the "reboot" button in the GCS with the battery connected to see if they spin.  I tried this 3 times, and all 3 times at least one motor spun up, like it was armed then disarmed imm

[2016-08-21 02:31] mlyle commented on #1216
@DTFUHF What do you think of this?

[2016-08-21 02:31] tracernz commented on #1216
What kind of setup (e.g. Oneshot125?)? ESC firmware?

[2016-08-21 02:32] tracernz commented on #104
Yah, no point blocking on that though when it's easy to get it going with VCP already.

[2016-08-21 02:33] ufoDziner commented on #1216
Oneshot125, V-Good 30A with their latest firmware.

[2016-08-21 02:36] tracernz commented on #1216
Thanks, seems likely this isn't DTFc specific @mlyle. Sounds like TauLabs/TauLabs#1821...

[2016-08-21 03:28] mlyle commented on #1216
@tracernz yes, except we had #719 which cured it on sparky2

[2016-08-22 01:19] ufoDziner opened #1220 "Vehicle setup pane is problematic"
- Seen in version (release version or githash): 20160720.1
- On flight controller (if applicable): Sparky2

Issue details:
  Vehicle type switches back to Multirotor on the Vehicle tab after saving as Fixed wing.  Further investigation shows that only Multirotor & Custom will save, Fixed wing and Helicopter default back to either Multirotor or Custom (whichever was saved last), and Ground sends th

[2016-08-22 03:35] mlyle commented on #1220
SmartSaveButton emits preProcessOperations().. which in turn gathers the data from the UAV widgets... but expects it to be done immediately instead of asynchronously as signals may.  So old/stale UAVO data is stored.

[2016-08-22 04:43] mlyle commented on #1220
#315 possibly related

[2016-08-22 05:16] tracernz commented on #1220
If the signal and slot are in the same thread, the default connection is direct which will cause the slots to all process immediately from the signal handler, before the thread continues.

[2016-08-22 06:28] mlyle commented on #1220
Another possible option is the vehicle-specific pages are configtaskwidgets and so is their parent page..

[2016-08-22 19:01] jhitesma opened #1222 "Create FAQ page for website"
It seems we're seeing a lot of the same questions repeat in the forum, FB, and IRC.

I'd be willing to put together a page with concise answers to the most common questions to try and help cut down on some of the support overhead.

A few questions I can think of:
- Things feel sluggish after autotune how can I make it snappier?
- Yaw is slow how can I make it faster?
- I'm getting bad autotune res

[2016-08-22 19:03] jhitesma commented on #1222
Few more I just thought of:
- Should I use Multishot?  If so how do I set it up?
- Should I use PWM, PPM or SBUS for RX connection?
- *flight - How do I change looptime?

[2016-08-22 19:36] mlyle commented on #1222
It has a slight lean from the perfect hover attitude?  (Level configuration, input settings, or manualcontrol off).

[2016-08-22 22:06] tracernz commented on #1222
This should probably go in the docs?

[2016-08-22 22:32] jhitesma commented on #1222
@tracernz - I'm not aware of a way to PR a new page in the docs, I know I can suggest edits to existing pages but don't see any way to propose a new page, I could just be missing it though.  Adding it as a page on the site I can just do a PR on the site repo, if there's a way to propose a new page in the docs I'd love to know about it!

I could add a page to the wiki for it...but...I got the impre

[2016-08-22 22:47] yamahabest commented on #1222
Docs would be the right place.
Creating a page on the website would be like writing a documentation system, whilst there is already one in place.

The docs link is already there in the main menu bar of the website, perhaps the docs could be highlighted more on the main page.

[2016-08-22 23:37] dustin commented on #1222
"How do I change looptime?":  http://xyproblem.info/

On Mon, Aug 22, 2016 at 4:35 PM Jason Hitesman notifications@github.com
wrote:

[2016-08-23 00:33] tracernz commented on #1222
@yamahabest Yah, we already have two different doc systems, don't need a third.

@jhitesma I've only worked on the wiki before (it's nice and easy). @mlyle knows how/has access to the readthedocs stuff.

[2016-08-23 00:35] tracernz commented on #1222
P.S. We already have a FAQ https://github.com/d-ronin/dRonin/wiki/@FAQs. Would be nice to adapt and re-use it.

[2016-08-23 03:05] mlyle commented on #1222
If someone comes up with a draft of a document, I'm glad to provide additional content, edit, and get into dronin.readme.io.

[2016-08-23 05:32] tracernz commented on #1222
We should put

at the top.

[2016-08-23 07:09] mlyle commented on #1222
"Spin while armed" / failsafe questions seem to be trending, too

[2016-08-23 15:19] dustin opened #1223 "Change default pitch stick interpretation"
By default, moving the pitch stick forward pitches up.  This violates all the newcomer's expectations until they eventually learn to just click the checkbox to reverse the axis.

There was a discussion somewhere in Tau Labs about why it was done this way, but it's surprising.

I know people aren't excited about changing the wizard, but possible improvements:
1. Ask for specific extents (move stick

[2016-08-23 16:47] jhitesma commented on #1222
I'm willing to do some editing and cleanup.  But the question is do we want to update the wiki version or do we want to add a new version to the readme.io docs?

Either way I think the main site needs to be updated with a direct obvious link since a simple FAQ page is less intimidating and therefore more likely to get read than full documentation.   I can do a PR to update the website but need to

[2016-08-23 18:56] tracernz commented on #1223
Huh? The issue is that a lot of radio systems have pitch backwards by default. Many also have other axes backwards by default and it depends entirely on the users radio configuration.

[2016-08-23 20:53] ewingate opened #1224 "make package_installer error"
I'm compiling on a Windows 10 machine.  Make all goes well, but when I try and do a make package_installer it fails when trying to gather GCS debug symbols.  Here's a copy/paste from the bash:

ground_package starting
Gathering GCS debug symbols
No object files found!
makefile:92: recipe for target 'package_ground_symbols' failed
mingw32-make[1]: **\* [package_ground_symbols] Error 1
makefile:1067

[2016-08-23 21:32] tracernz commented on #1224
Ah, only works for MSVC builds (which we have switched to on our build system). I guess I should fix that so MinGW packaging works (we can't use debug symbols from MinGW builds on Windows for our crash reporting system). Note: we are probably moving away from MinGW once MSVC is proven.

[2016-08-23 21:35] mlyle commented on #1223
I really don't wanna tinker with input wizard.. it's haunted

[2016-08-23 22:19] ewingate commented on #1224
So should I give up on making the installer?

[2016-08-23 22:30] ewingate opened #1225 "Android GCS build Error - Windows"
The make file for the Android GCS doesn't work with Windows.  I've found the following changes help a bit:

ANDROID_SDK_URL := http://dl.google.com/android/android-sdk_r23.0.2-windows.zip
**this link does not have the Build-Tools directory**
# $(V1) wget --no-check-certificate -N -P "$(DL_DIR)" "$(ANDROID_SDK_URL)"

**need to remove "--no-check-certificate"**
# $(V1) tar -C $(TOOLS_DIR) -xf "$(DL_

[2016-08-23 22:33] tracernz commented on #1224
I'll have a look at this tonight. Should be easy to make it work. :smile:

[2016-08-23 22:36] tracernz commented on #1225
Thanks for the report. We have moved to using curl on Windows for the Qt and arm-none-eabi-gcc SDKs (msys-git doesn't come with wget by default). We should do this with the Android SDK too.

[2016-08-23 23:16] ewingate commented on #1225
Making progress, I did a "make android_sdk_update" which put the 20.0.0 Build-Tools into the sdk directory and now it's done a successful build.

[2016-08-24 17:41] ufoDziner commented on #1166
Have had zero issues with the a new RE1, which leads me to believe that board was the issue.  Had no issues with a different OG brain as well.  Seems probable that it was also hardware related.

[2016-08-24 17:41] #1166 closed, assigned to nobody

[2016-08-24 19:02] mlyle commented on #1166
@ufoDziner for clarity, does this include next?

[2016-08-24 23:03] mlyle opened #1226 "flyingpi: occasionally SPI gets "stuck" with every other message bad on startup"
- Seen in version (release version or githash): 51bfc90ea
- On flight controller (if applicable): flyingpi

Issue details:
The responses are one byte repeating over and over.  This is what the F0 SPI peripheral does if we don't feed it any DMA.  I suspect there's a problem with either interrupt storm on the subsidiary microcontroller slowing it down or sometihng wrong with the simulator's timebase

[2016-08-24 23:06] mlyle opened #1227 "flyingpi: easy to lose configuration data"
- Seen in version (release version or githash): 51bfc90ea
- On flight controller (if applicable): flyingpi

Issue details:
Haven't tracked this down yet.  Have lost configuration objects a few times.  My theories are:
1. We don't commit things to "flash" robustly, and it's possible when I unceremoniously drop power on the pi filesystem data is getting lost.
2. This is TCP telemetry-- could be a bu

[2016-08-24 23:07] mlyle opened #1228 "flyingpi: no way to configure receiver type"
Right now it's always PPM in checked in code (always sbus in my branch).

[2016-08-24 23:52] mlyle opened #1229 "reports of sparky2 bootloops on next"
need to try & figure out

[2016-08-25 00:01] dustin opened #1230 "Simulation altitude goes NaN"
- Seen in version (release version or githash): Release-20160720-260-g51bfc90
- On flight controller (if applicable): simulator

[2016-08-25 00:04] dustin commented on #1230
I tried to find a pattern that led to this, but pretty much anything between wiping state and trying to fly led to this:

![image](https://cloud.githubusercontent.com/assets/1779/17952104/669038e4-6a1c-11e6-830e-335618703e5f.png)

I also tried going back to an older version (specifically, the oldest one with the current QT requirement).  It did eventually go NaN on me, but was kind of useless befo

[2016-08-25 04:44] ufoDziner commented on #1166
Yes.  Flew next this past weekend and no reboots on the OG brain.  Did not get to fpv the RE1, but flew the same LoS figues that were crashing it before with no issues.

[2016-08-25 05:25] mlyle commented on #681
https://github.com/jenkinsci/jenkins/blob/cf64ba04fe8b0312bb4492766d62b5a00b790432/core/src/main/java/hudson/model/WorkspaceCleanupThread.java#L116

[2016-08-25 05:52] #1229 closed, assigned to mlyle

[2016-08-25 06:14] dustin opened #1232 "OSD: RSSI Displays Unhelpful Number on Failure"
On Samsara, OG Brain, I've got OpenLRS feeding SUMD into the FC and sending RSSI over channel 9.  When I go into failsafe, channels go to 0xffff and the OSD displays 4754 instead of something more helpful.

(Well, in addition to something more helpful, since it also shows `MAN:NO RX`)

[2016-08-25 06:45] tracernz commented on #1232
Should only print 3 digits? https://github.com/d-ronin/dRonin/blob/next/flight/Modules/OnScreenDisplay/onscreendisplay.c#L1347

[2016-08-25 11:17] mluessi commented on #104
@tracernz good point about the pain of needing to maintain EEPROM / Flash layouts; I somehow assumed all blheli ESCs speak the same protocol and low level things like this gets handled in the ESC, but if it doesn't we definitely don't want to have to maintain that.

I like the TCP/IP interface idea. It should give a better user experience as we won't have the VCP driver issues that seem to be freq

[2016-08-25 11:18] mluessi commented on #104
@tracernz Can you put the code you have in a PR, even if it is non-functional. It's probably a good idea to start working on this using VCP and then switch over to TCP/IP if/when blheli suite adds this feature.

[2016-08-25 13:31] mluessi opened #1234 "Motors keep running on Failsafe if "Motors spin at neutral is enabled""
- Seen in version (release version or githash): 2016-07-20.1
- On flight controller (if applicable): BrainRE1 (likely affects all targets)

Issue details: On Tx failsafe, the motors keep running at neutral throttle until the arming timeout has expired. This is unsafe, as the default is 30s and the motors / ESCs will likely burn up in a crash. Setting the timeout to 0 make the motors run indefinite

[2016-08-25 14:57] mlyle commented on #1234
#691

[2016-08-25 15:16] mluessi commented on #1234
From discussion on IRC: This is already fixed in the code using ManualControlSettings.InavlidRxArmedTiemout, which is disabled by default but can be set to e.g. 2s to disarm after no valid rx signal is detected. We need to add this to the UI and the MR wizard should set this to 2s or so.

[2016-08-25 15:18] mluessi opened #1235 "Expose InavlidRxArmedTimeout in UI / set it in wizard"
See #1234

[2016-08-25 15:18] mluessi commented on #1234
superseded by #1235

[2016-08-25 15:18] #1234 closed, assigned to nobody

[2016-08-25 15:26] dustin opened #1236 "Arm -> timeout -> rearm loop"
- Seen in version (release version or githash): samsara
- On flight controller (if applicable): Brain

Issue details:

I had my caipirinha sitting on the floor last night trying to figure out how to do nav stuff.  It was armed (`switch+throttle`) at zero throttle and I was watching OSD.  It would disarm after the normal arm/no throttle timeout and then show me the stats screen, back to normal scre

[2016-08-25 19:02] tracernz commented on #1234
@mluessi Yes, my position was that 30 s is way too long as well.

[2016-08-25 19:43] Treeed opened #1240 "UAVO filtering option "Only show existing" doesn't work"
- Seen in version (Samsara):
- On Operating System (Windows 7):

Issue details:
In the system tab when using the button "View Options" (with an eye on it) and checking "Only show existing UAVOs" the GCS crashes. This happens no matter if a flight board is connected or not.

  I tried to translate the below (error info from Windows) as accurate as possible from German:

[2016-08-25 20:01] tracernz commented on #1240
Thanks. Any chance you could try a newer build such as https://github.com/d-ronin/dRonin/pull/1205#issuecomment-242435498? Newer Windows builds include crash reporting so we can get an actual stack trace which we can process into this at the other end: http://dronin-autotown.appspot.com/at/crash/ahFzfmRyb25pbi1hdXRvdG93bnIWCxIJQ3Jhc2hEYXRhGICAgKCz4s4JDA :+1:

-e- Or even a Windows ones :stuck_out_

[2016-08-25 20:44] Treeed commented on #1240
I tried downloading from jenkins, but my current internet connection seems to prohibit that. Maybe someone else can reproduce the issue, I don't think it's limited to me.

[2016-08-25 23:06] mlyle commented on #1240
http://dronin-autotown.appspot.com/at/crash/ahFzfmRyb25pbi1hdXRvdG93bnIWCxIJQ3Jhc2hEYXRhGICAgOCQvokKDA

[2016-08-26 10:18] tracernz opened #1243 "Quixote Errata/Notes"
Some notes so we don't forget later...
- MSVC builds use Windows 8.1 SDK, which supports only Windows Vista or later. Only workaround to get it running on XP would be to build Qt ourselves with XP support (http://xpam.pl/blog/?p=106). Not worth it for a 15 year old EOL OS.

[2016-08-26 16:26] mlyle commented on #1243
Looks like only 36 user records on XP.

[2016-08-26 19:57] dustin commented on #1184
We've been seeing the weight being sent up as the size.  e.g. two tunes here:  http://dronin-autotown.appspot.com/at/tune/ahFzfmRyb25pbi1hdXRvdG93bnIYCxILVHVuZVJlc3VsdHMYgICAoPf6-AkM

[2016-08-27 07:32] mlyle opened #1247 "manual calibration button still present when running input wizard"
and someone decided to press it, and didn't like the results. :P

[2016-08-27 11:57] #1184 closed, assigned to mlyle

[2016-08-27 23:06] #1240 closed, assigned to mlyle

[2016-08-28 01:05] mlyle opened #1248 "New users usually don't configure rates; usability help; controls "level up""
Proposed solution:

[code]

connects #108

[2016-08-28 02:35] redparchel opened #1249 "after auto tune stabilization page showing default pids"
- Seen in version (release version or githash): Release-20160720.1: 20160723-74b7422c
- On flight controller (if applicable): naze32 rev6c

Issue details:
start on "stabilization" tab, connect to FC, go through prompted autotune wizard. after clicking "done" on the autotune wizard the stabilization page still shows the default pids (i believe it should display the new pids read from the board) i c

[2016-08-29 00:54] tracernz opened #1252 "RawHID: Crash Report (Disconnection)"
http://dronin-autotown.appspot.com/at/crash/ahFzfmRyb25pbi1hdXRvdG93bnIWCxIJQ3Jhc2hEYXRhGICAgKCgtKcKDA

Looks like the connection was closing and we were in the process of destroying the write thread while it was still running, thus the mutex was a null pointer. The null pointer check in QMutexLocker must have been optimized away? http://code.qt.io/cgit/qt/qtbase.git/tree/src/corelib/thread/qmutex

[2016-08-29 09:00] mlyle commented on #1248
Review needed for the interface given to set rates---

https://www.desmos.com/calculator/ytix9ao0kd   is the 3 sliders I propose to give for an axis.

[2016-08-29 13:21] mluessi opened #1254 "BrainRE1 watchdog reset"
- Seen in version (release version or githash): 2016-07-20.1
- On flight controller (if applicable): BrainRE1

Issue details: Flight controller resets in-flight, message "BOOT: INDY WDOG"  shown on reboot (see video below). This has only be seen by very few users, so it could be a hardware defect (unlikely, I think), or something related to the particular setup where it occurs. Logging was enabled

[2016-08-29 14:43] thatjoshguy commented on #1254
That's my video above.  some additional notes:
- This board was provided before the official release to review, not sure if it is different from final production run?
  - logging was enabled for that flight in order to see what was causing the issue.  I have had similar issues since day one that I assumed were caused by RC failsafe, however...
  - This flight was with a new FrSky XJT module and ne

[2016-08-29 16:07] mluessi commented on #1254
@thatjoshguy thanks for the details. If it works for you, it may be best if you hold on to the RE1 you have until we have some ideas what could be causing this, so you could test code with a bugfix. If we can't figure it out, BrainFPV will send you a replacement and you can return the one you have for analysis.

[2016-08-29 16:41] thatjoshguy commented on #1254
will do.  I'll get some pics of the board jsut in case something is damaged and see if I can get actual logs

[2016-08-29 17:53] mluessi commented on #1254
@thatjoshguy can you export your config (File->Export UAV Settings) and post it somewhere?

[2016-08-29 18:01] jhitesma commented on #1248
I like the demo.  Would be nice to have a display that shows what the effective rate is numerically at various stick settings without having to read the graph.  Or at least a clearer indication of what center stick rate is.

I like graphs for a quick "gut feeling" check, but hard a hard time relating them to how things actually feel in practice.  I'd almost rather have a chart showing stick percen

[2016-08-29 18:59] mlyle commented on #1248
I don't know how to describe or name center stick rate well.

It's "if the whole stick was linear at this slope, how many degrees/second you'd be asking for at full-stick travel".

That is, if you set center stick rate to 150, the middle of the stick, until you hit the transition region, acts like you had configured 150 deg/s with no expo.

[2016-08-29 19:21] thatjoshguy commented on #1254
@mluessi

https://www.dropbox.com/sh/az9yyto498v6rvc/AAA5n1beRhMo7l_ZDTRLm1DNa?dl=0

Above link contains the one log that I was able to dump successfully (not sure if it has the data we need or not), my UAV settings file, and a log from the desktop software for what happens when i try to dump logs.  I can dump log 0 successfully, log 1 freezes consistently between the 450-650 sector mark.

[2016-08-31 01:06] tracernz opened #1259 "GCS: Enabling Autotune/CameraStab/TxPID Confusing"
Having these boxes greyed out on the modules pane is quite confusing. Really need to come up with a better way to do this without compromising safety.

[2016-08-31 05:18] mlyle opened #1260 "Primary flight display shows ascent trends but not descents"
Green indicator goes "up" next to altitude tape if you're climbing.  But no green "downward" indicator shows up for descent.

[2016-08-31 06:28] #1260 closed, assigned to mlyle

[2016-08-31 08:06] mlyle commented on #1252
Could very easily be something -inside- qmutex being null or becoming null.

[2016-08-31 08:17] mlyle commented on #1232
If the RSSI channel is a receiver error condition it should read 0, too..

[2016-08-31 17:52] mlyle opened #1266 "GCS: need to make it obvious not to use non-delay arming modes"
This is a big source of support overhead and user frustration.  Needs a fix for Quixote.

[2016-08-31 17:53] mlyle opened #1267 "Need a permanent/correct location for breakpad artifacts and their source"
Both for license compliance and for reproducibility.

[2016-08-31 18:47] mlyle commented on #290
This is all good now-- closin'

[2016-08-31 18:47] #290 closed

[2016-08-31 21:17] tracernz opened #1268 "Tools: Build Breakpad from source"
Problematic due to requirement for Google depot tools.

[2016-08-31 21:53] tracernz commented on #1266
Is it feasible to remove them? I guess they could be useful for ground vehicles.

[2016-08-31 22:10] mluessi commented on #1266
I don't see a harm in removing them. For a ground vehicle, always armed could be an option and delay shouldn't hurt either.

[2016-09-01 01:43] mlyle commented on #1266
Non-delay modes are useful for aircraft which are not likely to be static during arming-- e.g. perhaps planes.  But I think the tab can be adjusted be be nicer.

[2016-09-01 01:54] tracernz commented on #1266
We could also consider hiding the non-delay options for multis. If anyone really wanted them they can use the UAVO browser.

[2016-09-01 02:14] mlyle commented on #1266
Here's what I'm thinking of:

![http://i.imgur.com/xs4qpkv.png](http://i.imgur.com/xs4qpkv.png)

[2016-09-01 02:50] tracernz commented on #1266
I think the "Arming Settings" box is better but the options are still much too confusing for somebody new to us... I'll whip something up when I get home tonight to see what you think. I like the "Disarming Settings" box, especially the separate failsafe and idle timeouts. I'd change the text for the idle timeout to "Automatically disarm if throttle is low for:" though, to match the other two. Als

[2016-09-01 03:02] mlyle commented on #1268
I think .. just having the corresponding source and binaries somewhere in a github repo .. plus any obvious bits of procedure for reproducibility.. would fix #1267

[2016-09-01 03:04] tracernz commented on #1268
Ohhhhhhh, I thought #1267 was about the symbol files and the debug information they're generated from! :laughing:

[2016-09-01 03:06] tracernz commented on #1268
You can close this as a dup if you like.

[2016-09-01 03:20] mlyle commented on #1268
:) dup #1267 (but with better explanation)

[2016-09-01 03:20] #1268 closed, assigned to nobody

[2016-09-01 03:32] mlyle commented on #1249
I can't reproduce this-- when I run autotune, my stabilization page appears to update immediately.

Was tested on a naze32 clone (quanum pico)

[2016-09-01 03:34] mlyle commented on #1227
OK.  I still believe there's probably a problem, but I just realized that I was running the program from two different directories / two different theflash.bin's.--- and that certainly some of the failures came from that.

[2016-09-01 10:00] mlyle commented on #1208
Curious to know if any BOR fix helps this..

[2016-09-01 10:01] #1136 closed, assigned to nobody

[2016-09-01 10:03] mlyle commented on #1007
Ehhhh. No one's complainin'....

[2016-09-01 10:03] #1007 closed, assigned to nobody

[2016-09-01 10:03] mlyle commented on #997
I fixed this in the simulator plugin.

[2016-09-01 10:03] #997 closed, assigned to nobody

[2016-09-01 10:07] mlyle commented on #848
was fixed in autotown, too. so all's good.

[2016-09-01 10:07] #848 closed, assigned to mlyle

[2016-09-01 10:09] mlyle commented on #687
Doesn't seem too bad/unmanageable.. maybe should just close this.  In fact let's.

[2016-09-01 10:09] #687 closed, assigned to nobody

[2016-09-01 10:10] mlyle commented on #681
We now unlink the tools dir at the end of a build, so we are much, much safer from this.

[2016-09-01 10:10] #681 closed, assigned to mlyle

[2016-09-01 10:10] mlyle commented on #674
Whee you did this.

[2016-09-01 10:10] #674 closed, assigned to nobody

[2016-09-01 10:11] mlyle commented on #664
Hopefully soon.

[2016-09-01 10:12] mlyle commented on #567
Do we still see this?  Various telem bugs we fixed could have done this..

[2016-09-01 10:12] mlyle commented on #562
is this dup #714 ?

[2016-09-01 10:13] mlyle commented on #536
IMO wontfix for now.  If other people hate this reopen.

[2016-09-01 10:13] #536 closed, assigned to nobody

[2016-09-01 10:14] mlyle commented on #1266
Connects to #447

[2016-09-01 15:08] dustin commented on #567
I don't know how to know.  The only real way to tell is "I autotuned a
board I've autotuned before and the previous tunes aren't linked."  As far
as I know, the right thing has been happening, though.

On Thu, Sep 1, 2016 at 3:12 AM Michael Lyle notifications@github.com
wrote:

[2016-09-01 18:23] mlyle commented on #567
Yah, that seems to be the same for me.  I have not seen it, I have not heard anyone else mention that they've not been linked.  It was very rare in the beginning and seemed to disappear.

[2016-09-01 18:23] #567 closed, assigned to nobody

[2016-09-01 19:15] mlyle opened #1270 "Logging needs documentation"
- How to set up an openlog / openlager
- Log viewing tool

[2016-09-01 19:42] mlyle commented on #1163
One thought I had is to change how module start works.  And to _immediately_ start modules on relevant change--- so that if enabling a module crashes things you won't be able to save. :D

[2016-09-01 19:57] tracernz commented on #1163
Even then, they might not start until port changes are saved and a reboot occurs. :wink:

[2016-09-01 19:58] mlyle commented on #513
It looks like this is half implemented.  mixercurve.cpp has plumbing for 'CBCurve2Source'; configccpmwidget.cpp does `m_ccpm->PitchCurve->setMixerType(MixerCurve::MIXERCURVE_OTHER);`  (there's a flag it doesn't set to enable that widget.

But the value doesn't seem to get stored/restored from uavos, etc.

[2016-09-01 20:03] mlyle commented on #1266
While I'm sympathetic / hope we can get this perfect.. I'm happy with anything easy to implement that reduces the rate of end-users running into this problem by, say, 50%.

[2016-09-01 21:03] mlyle commented on #1163
Yah, I'm saying to change the pattern so more/most changes take effect immediately.

[2016-09-01 23:51] yamahabest opened #1272 "Accessory 1 and 2 do not show movement in Input Wizard"
- Seen in version (release version or githash): http://jar.lyle.org:8080/job/dronin/573/Nodes=winx86-neo/
- On flight controller (if applicable): AQ32 (doesn't really matter probably)

Issue details:

Whilst they are being detected in the first part, e.g. move one by one, they don't show movement in the second part.
On the RC Input tab, both Accessories channels show the correct movement.

[2016-09-02 20:51] mlyle opened #1280 "We seem to overtune outer loop on low tau quads"
Either need a stop-gap to clamp outer kp/ki or some real improvement, probably.

[2016-09-02 21:41] jihlein commented on #315
Looking back into this, it appears to be caused by the fact that out of the SystemSettings->AirframeCategorySpecificConfiguration UAVO, only the 1st 32 bits out of the 128 bits of data are actually getting saved.  The tricopter servo configuration is stored in bits 33-36.  I've also noticed that in order for SystemSettings->AirframeType to be reliably saved, the save button on the GCS Vehicle setu

[2016-09-02 22:14] yamahabest opened #1281 "Default ESC 'speed' option not selected in setup wizard"
- Seen in version (release version or githash): http://jar.lyle.org:8080/job/dronin/574/
- On flight controller (if applicable): AQ32

Issue details: The wizard mentions that if one is unsure, the default option should left selected. However, none of the three are selected.

[2016-09-02 23:49] #1232 closed, assigned to mluessi

[2016-09-02 23:52] #1247 closed, assigned to mlyle

[2016-09-03 04:39] mlyle opened #1282 "About GCS crashes on windows on latest next"
Whiskytango.  Maybe something to do with MSVC.

[2016-09-03 06:20] mlyle opened #1284 "opengl init not working on windows software accelerated env"
reported by @jhitesma

![image](https://cloud.githubusercontent.com/assets/90903/18223175/815021aa-7163-11e6-8dde-b8f5f15aa448.png)

[2016-09-03 06:37] jhitesma opened #1285 "Inaccessible warning popup"
- Seen in version (release version or githash): Build #575   e009c5e14c7
- On flight controller (if applicable): airbot F4

Issue details:  Running setup wizard I hit "calibrate" before the board had reconnected.  An error window opened saying no board was connected - but it was behind the main window which was blocked by the wizard so I couldn't get to the error window.  I had to kill it from the

[2016-09-03 07:07] jhitesma commented on #1282
Just experienced this on the expoM build and mentioned it in another issue.

[2016-09-03 08:45] tracernz commented on #1282
I get a QList out of range assert failure. This is the thing I suspect https://github.com/d-ronin/dRonin/blob/next/ground/gcs/src/plugins/coreplugin/versiondialog.cpp#L67lL68

Latest gcsversioninfo.h on Jenkins:
http://jar.lyle.org:8080/job/dronin/Nodes=osx/ws/build/ground/gcs/gcsversioninfo.h

Example:

[code]

[2016-09-03 10:36] tracernz commented on #1284
Unfortunately can't repro this running under RDP (RDP requires ANGLE/GLES).

[2016-09-03 11:25] yamahabest opened #1288 "Vehilce Setup Wizard resets items set by Radio Setup Wizard"
- Seen in version (release version or githash): http://jar.lyle.org:8080/job/dronin/577
- On flight controller (if applicable): AQ32

Issue details:

When you first run the Radio Setup Wizard, and then the Vehicle Setup Wizard, at RC Input the Throttle, Roll, Pitch, Yaw and FlightMode settings, at Flight Mode Switch Settings and Arming Settings are all reset.

I did it in that order, and skipped t

[2016-09-03 11:30] yamahabest opened #1289 "The Modules tab sometimes warns about changed settings that aren't saved yet"
- Seen in version (release version or githash): http://jar.lyle.org:8080/job/dronin/577
- On flight controller (if applicable): AQ32

Issue details:

However, I haven't changed any settings.
Just reproduced it, I think: It is when you are at the Modules tab, and unplug and replug the board. Try to change to another tab, and the GCS warns.

[2016-09-03 12:16] tracernz commented on #1288
Intentional, because you select a new receiver type in the wizard. The radio wizard is supposed to run AFTER the setup wizard, hence it offers to do that. https://github.com/d-ronin/dRonin/blob/next/ground/gcs/src/plugins/setupwizard/vehicleconfigurationhelper.cpp#L364 It should really clear the other channels if it's going to do that though...

[2016-09-03 12:23] yamahabest commented on #1288
Agree, should do all channels then, yes.

[2016-09-03 16:17] cpusmith commented on #1289
Yes, I see this as well in the Samsara .1 release but have been ignoring it.

[2016-09-03 18:13] #1282 closed, assigned to nobody

[2016-09-03 18:55] jhitesma opened #1291 "DSM sat bind issue"
- Seen in version (release version or githash):  Build #575 e009c5e
- On flight controller (if applicable): airbot acro F4

Issue details:

Using a DSM2 sat on this airbot F4 board.  sat is pre-bound to my TX.  If I power up the board by connecting my battery I get a fast blink from the sat and no bind.  But if I power up off USB I get either a slow blink or a solid light (as expeted depending on

[2016-09-03 19:02] jhitesma opened #1293 "Airbot F4 vehicle wizard puts DSM sat on wrong port"
- Seen in version (release version or githash): Build #575 e009c5e
- On flight controller (if applicable): airbot acro F4

Issue details:
Using vehicle setup wizard all went well, except the sat was configured on the flex port by default and I had to change it to main port for this board.

[2016-09-03 19:17] thatjoshguy commented on #1254
@mluessi flew today with no issues at all.  Best flight yet actually.  I did two things:
1. Turned Autotune completely off.  it wasn't on a flight mode, but it was still check-marked  in GCS
2. Disabled Logging - Now this is interesting because I only enabled logging the other day to see why this was happening.  I disabled it and saved settings, did some other stuff - but when i went to the System

[2016-09-03 23:32] #1289 closed, assigned to tracernz

[2016-09-04 06:47] tracernz commented on #550
Possibly fixed by #1287?

[2016-09-04 07:58] mlyle commented on #1293
worst part of this is having to change the wiring diagram :(

[2016-09-05 09:35] mlyle commented on #105
Targets with buzzer:
- [x] DTFc (low side bipolar, plain GPIO)
- [x] Quanton (low side bipolar, DAC)
- [x] Lux (UNKNOWN)

From CleanFlight:
`#define BEEP_GPIO   GPIOB
#define BEEP_PIN    Pin_13
#define BEEPER_INVERTED`
- [x] Naze32 (low side bipolar, plain GPIO)
- [ ] Sparky2 (low side FETs, TIMER CHANNELs)
- [ ] AQ32 (low side bipolar "LED" channels)
- [ ] BrainRE1 (fpga managed)

[2016-09-05 20:32] yamahabest opened #1301 "Autotown calculates yaw values whilst the GCS isn't"
- Seen in version (release version or githash): http://jar.lyle.org:8080/job/dronin/589/
- On flight controller (if applicable): AQ32

Issue details:

The GCS says it can't calculate the yaw values, however autotown does.
Are they using different calculations?

I am not sure if it's actually an issue, or by design.

[2016-09-05 20:57] mlyle commented on #1301
Autotown's threshold for refusing to calculate yaw values is different, like I said on IRC.

Autotown is a nice to have / developer tool.  It doesn't need to exactly match.

[2016-09-05 20:57] #1301 closed, assigned to nobody

[2016-09-05 23:00] mlyle commented on #1249
Closing because no-repro :/

[2016-09-05 23:00] #1249 closed, assigned to nobody

[2016-09-05 23:33] tracernz opened #1302 "GCS: Filterable Logging"
Make DebugGadget able to filter log messages by severity, source (class?). Change debug messages from compile time define to runtime filtered. Add settings page to select filtering. This will allow us to get users with particular issues to enable logging, and these logs will be shared through to autotown with the work in #1296. Also perhaps reclassify some messages from debug to info where they ar

[2016-09-06 02:24] tracernz opened #1303 "GCS:CrashReport: Send UUID"
We should be able to pick up the GCS install UUID with crashreporter app and send it in the crash report. We can then tie crash reports to usage data, etc.

[2016-09-06 02:33] tracernz commented on #1293
@mlyle We had this but you removed it. :stuck_out_tongue: https://github.com/d-ronin/dRonin/commit/c46418bf496f76bf4322e3fdfc9173ea82bed78b Having it on the main port is better because that port isn't useful for much else (due to inverter mucking up the rx pin for single-wire etc., and no I2C), whereas flexport is good for lots of other stuff.

[2016-09-06 02:42] mlyle commented on #1293
Yes, except you can't bind.  that's an issue too :/

[2016-09-06 02:52] tracernz commented on #1293
Let's not make things worse for real Revo then. :wink: Futaba/FrSky ruining things for everyone else again. :stuck_out_tongue:

[2016-09-06 03:47] jhitesma commented on #1293
Since these boards are already in production and being sold it sounds like our best bet is to just have an "errata" type of page in the wiki about this.  I'd say maybe a warning in the GCS, but I doubt anyone would read it and I'm not sure if we could identify these boards from the other revoish boards.

If the OSD boards aren't in production yet and have this same wiring maybe we can ask airbot a

[2016-09-06 05:19] tracernz commented on #1293
If we detect the different flash (we already do this), we can identify these boards, and set the board revision right? Then we could do some relatively basic trickery in GCS to make it work for this board (albeit with no bind support).

[2016-09-06 05:56] tracernz opened #1304 "OSD: Adjust Battery Size from Menu"
It is common to fly different sizes in the field.

c.f. https://forum.dronin.org/forum/d/141-osd-menu-add-ability-to-adjust-battery-mah

[2016-09-06 06:44] mlyle commented on #1293
Unfortunately the different flash is both on "revo acro" and these boards.

[2016-09-06 16:50] jhitesma commented on #1293
Could detect the presence of the OSD maybe?  Is the version with OSD going to be a new target?  Don't want to wander too far off topic, just wondering if maybe "different flash without OSD" would be a good way to identify this board.

[2016-09-06 16:51] jhitesma commented on #1291
@mlyle - do you thing this affects all targets?  I can try moving the DSM sat to my sparky, sparky2, Naze32 or Brain (original) and see if it does the same there there if that will help at all.  (though doing it on the sparky2 and Brian would be a bigger pain since those are in vehicles currently.)

[2016-09-06 17:11] mlyle commented on #1291
It would be helpful if you could try this satellite on another board, yes.  Is it a genuine Horizon satellite or orangerx, etc?

My best guess is this is an electrical issue where it thinks it's getting the binding pulse on startup, even though we're not sending it (and indeed, this port is not _capable_ of sending the binding pulse if the inverter is present).

[2016-09-06 17:38] mlyle commented on #1293
The "revo acro" has different flash.
The "Airbot F4 without OSD" has different flash and the DSM satellite port.
The "Airbot F4 with OSD" has different flash and the DSM satellite port.

We can't tell the difference between "revo acro" and "Airbot F4 without OSD".

[2016-09-06 17:52] mlyle commented on #1291
![image](https://cloud.githubusercontent.com/assets/90903/18284734/f556cae0-741f-11e6-816f-386b05e40dc2.png)

This is the input structure -- so it's indeed different from other targets.

[2016-09-06 18:14] jhitesma commented on #1291
It's a lemonRX sat.  I'll try it on some other boards tonight and see how it goes.

[2016-09-06 18:24] mlyle commented on #1045
No, we don't.  But it would be easy around configinputwidget.cpp:591 to add the RSSI channel and document to configure RSSI first.

[2016-09-06 21:47] yamahabest commented on #1301
Fair enough, but are the values from autotown usable, or should I stay far from them?

[2016-09-06 22:09] mlyle commented on #1301
The output is currently the same, but the conditions on which they are displayed is different.

[2016-09-06 22:46] #1280 closed, assigned to mlyle

[2016-09-06 22:49] #1281 closed, assigned to mlyle

[2016-09-06 22:50] #1288 closed, assigned to mlyle

[2016-09-07 12:09] mluessi commented on #104
@tracernz any luck locating the code?

[2016-09-07 12:13] 4712 commented on #104
@mluessi Yes please VCP first, TCP needs some more time...

[2016-09-07 16:20] jhitesma commented on #1291
Just a point of reference, litterbug (the guy with the owl frame in the forum) says he's using a Lemon DSM sat on his RE1 and not experiencing this issue.  But he's on samsara so that doesn't rule out a regression since then.  I didn't have time to swap the RX around last night and probably won't tonight either but will try to make time later this week to confirm it's a board issue and not a code

[2016-09-07 18:37] mlyle commented on #1291
No chance of a regression.  (no related change).

It's either hardware (the satellite, the airbot board) or something unique to Revolution.

[2016-09-07 18:38] mlyle commented on #104
@4712 thanks very much for the info and your help.

[2016-09-07 18:49] tracernz commented on #104
@mluessi I sent you a PM on IRC a few days ago. 😛 Unfinished, but it worked quite well up to the point BLHeliSuite tried to connect to individual ESCs. https://github.com/tracernz/dronin/tree/mrc-blheli Protocol spec is in @4712's repo, and the BlHeli bootloader protocol is probably best documented by his code https://github.com/cleanflight/cleanflight/pulls?utf8=✓&q=author%3A4712, or there is som

[2016-09-07 18:49] mlyle opened #1310 "GCS: should remove logging playback"
1. It's not useful.
2. It can't play telemetry logs.
3. It confuses users.

I had a quick go at it but ended up shelving it because there's a lot of interdependency with GCS logfile writing-- will have to start from scratch/more carefully.

[2016-09-07 19:07] tracernz commented on #1310
Can you describe what it actually does (what logs it DOES play, what it was designed to do), and what you want it to do? Hard to grasp why this is a bug and not a feature request from your description. 😛

[2016-09-07 20:15] jhitesma commented on #1291
Ok.  The sat worked fine on my naze32 with dRonin and litterbug is using a lemonRX sat on a BrainRE1 with no issues.  So I don't think it's an issue with the lemon sats (though mine is a DSM2 and his is a DSMX so I can't say 100% for sure...but this is the only sat I have so I don't have hardware to swap to rule it out.)

I also don't have a regular revo to compare with so I can't really help rule

[2016-09-07 21:29] mlyle commented on #1310
GCS has a log playback feature.   If you give GCS a log that it recorded, it can "play it back" and pretend to be receiving this data for the first time-- so the graphs widgets will slowly scroll the data in realtime, you can see the data in the PFD.

It will only work for logs recorded by the GCS over telemetry sessions.  I have never been able to use it for anything useful, and it seems like a u

[2016-09-07 22:15] tracernz commented on #1310
Yes, I thought that. It can be useful for GCS development as you can reproduce things over and over repeatably. Perhaps we should hide it from regular users (expert mode checkbox can handle this).

[2016-09-07 22:16] mlyle commented on #1310
it's really, really messily implemented :/  but if you use it...

[2016-09-07 22:26] tracernz commented on #1310
Heh, if it ain't broke... :stuck_out_tongue: If you really want to remove it I won't stop you. :wink:

[2016-09-07 22:57] mluessi commented on #1310
AFAIK, it doesn't playback logs from flash because the time stamps are different. It shouldn't be terribly hard to fix this and it may be useful for navigation flights etc

[2016-09-07 23:07] tracernz commented on #1310
Flight logs won't have the GCS telemetry state though right? So GCS won't behave properly/think a board is connected?

[2016-09-08 04:40] mlyle opened #1312 "Autotune: consider running gyro filter on incoming points"
Looking at the Librepilot import of our autotune, they run the configured gyro cutoff lowpass filter on the points as they come in.

This is marginally correct to do-- there is about 1.5ms of group delay @50Hz with a 55Hz cutoff filter.  But at the same time, we have appropriate fudge factors that a 1.5ms offset is not that big of a deal and by softening the edge we probably add dispersion to the

[2016-09-08 09:48] mlyle commented on #1293
I think this is WONTFIX, because real revo should be best supported.

[2016-09-08 09:48] #1293 closed, assigned to nobody

[2016-09-08 09:50] mlyle commented on #1226
This is harmless-- a half second blip where we're chasing our tails at startup.  Deferrin'.

[2016-09-08 09:51] mlyle commented on #1160
Dup #1310

[2016-09-08 09:51] #1160 closed, assigned to nobody

[2016-09-08 09:59] mlyle commented on #459
Brain has moved to using ADC for this; punting.

[2016-09-08 09:59] #459 closed

[2016-09-08 10:02] mlyle commented on #972
Ideally, I think hovering should just show the tooltip text that the system health widget would show us, but dunno how tricky that is.

[2016-09-08 10:04] mlyle commented on #1191
closing worksforme pending new artifacts, etc.

[2016-09-08 10:04] #1191 closed, assigned to nobody

[2016-09-08 10:05] mlyle commented on #1120
Not possible with present clients, kick the can to the next release

[2016-09-08 10:26] mlyle opened #1317 "VehicleConfigurationHelper::applyActuatorConfig configures *ALL* channels"
Not just the ones used.

This is super bad when it conflicts with a PPM resource, e.g. on sparky2.

[2016-09-08 14:40] LitterBugs commented on #1291
FYI, I am on GitHub but LitterBug was taken so I am LitterBugs here.  I can test with a BrainFPV RE1 on my Owl frame and a DTFc on my Hellbender.

[2016-09-08 16:52] mlyle commented on #1291
I don't think we need to go and do an inventory of all targets to see if binding works.  The main question is whether there's an issue with the revo target causing satellites to go into binding mode at startup.

It'd be the bootloader / how pins float.  I really, really suspect the input structure here, though, because there's a 10k pullup from the sbus input structure.  If the DSM satellites have

[2016-09-08 22:11] #912 closed, assigned to mlyle

[2016-09-08 22:13] #984 closed, assigned to tracernz

[2016-09-08 22:32] tracernz commented on #1220
Maybe something to do with this?: https://github.com/d-ronin/dRonin/blob/080150a5b271fcfb3fe36aa1e20f92fc0d956aca/ground/gcs/src/plugins/config/configvehicletypewidget.cpp#L435

Seems to only be false onAutopilotDisconnectedon, AutopilotConnected, during init though, and until all the objects have been received by ConfigTaskWidget at least once. Should add some debug log messages in a few places t

[2016-09-08 23:08] mlyle commented on #747
I think this one is unhelpful given the other telemetry bugs.  Maybe I had mismatched GCS, maybe it was one of the other telemetry bugs manifesting a different way.

[2016-09-08 23:08] #747 closed, assigned to nobody

[2016-09-08 23:40] mlyle opened #1320 "RE1 bootloader-- how does it work?"
Doesn't it use the '405 linker scripts/memory map/startup code?  Are we just getting incredibly lucky that it doesn't fail?

[2016-09-09 00:03] tracernz commented on #1320
F4 linker scripts are messy too. BL uses a different set to BU/FW.

[2016-09-09 00:12] mlyle commented on #323
I scoped sparky2 .  occasional 150-200us jitters during logging.  I don't care that much. :P

[2016-09-09 00:12] #323 closed

[2016-09-09 00:17] mlyle commented on #1254
Only one manifestation, no longer repros, closing.

[2016-09-09 00:18] #1223 closed, assigned to nobody

[2016-09-09 00:20] mlyle commented on #1216
@jihlein pointed out we spend longer in bootloader (500ms) on dtfc even though we have a sense line..  Which should be fixed.

[2016-09-09 00:22] mlyle commented on #1192
Dup #1317.

[2016-09-09 00:22] #1192 closed, assigned to nobody

[2016-09-09 00:31] tracernz commented on #1216
vsense is defined too :/ https://github.com/d-ronin/dRonin/blob/next/flight/targets/dtfc/board-info/board_hw_defs.c#L838. @DTFUHF Why the 500 ms delay?

[2016-09-09 02:10] DTFUHF commented on #1216
@tracernz @jihlein probably copypaste fail. Changing to 2 (like sparky1) sounds OK to me.

[2016-09-09 11:24] tracernz opened #1327 "Tools: Deprecate/remove cygwin support"
Doubtful it works. https://github.com/d-ronin/dRonin/blob/2e9629b9e7d9aad48975a9a052e65c0c92fd2244/make/system-id.mk#L38

[2016-09-09 19:05] mlyle opened #1330 "Further androidgcs work for post-quixote"
- [ ] Autotune support
- [ ] Automatically increment version numbers
- [ ] Auto-connect to bootloader considered harmful
- [ ] Crashes when you enter a letter on pid tuning page etc.

[2016-09-09 20:00] mlyle opened #1331 "OSX Release Builds currently do not work"
[code]

[2016-09-09 20:02] mlyle commented on #1331
[code]

[2016-09-09 20:04] mlyle commented on #1331
Need to check #1203, et al

[2016-09-09 21:42] tracernz commented on #1331
Can't repro with http://jar.lyle.org:8080/job/dronin/606/

[2016-09-09 21:48] tracernz commented on #1331
With the above linked artifacts:

[code]

Do you have a specific set of artifacts that aren't working?

[2016-09-09 21:59] tracernz commented on #1331
Okay, I looked through backlog in IRC and found it is the [artifacts from #1250](http://jar.lyle.org:8080/job/dronin/584/) causing this issue. I can indeed repro with that build.

[code]

So it's something in that PR? The offending artifacts are older than last night's nightly which doesn't have this issue.

[2016-09-09 22:04] tracernz commented on #1331
Tried the [nightly built immediately after #1250 artifacts](http://jar.lyle.org:8080/job/dronin/585/Nodes=osx/), found the same issue:

[code]

[2016-09-09 22:08] tracernz commented on #1331
Don't see it in http://jar.lyle.org:8080/job/dronin/589/Nodes=osx/. Something fixed it between job 585 and 589. 😕

[2016-09-09 22:14] tracernz commented on #1331
http://jar.lyle.org:8080/job/dronin/588/ is the first build after job 585 that doesn't have this issue.

[2016-09-09 22:33] mlyle opened #1332 "max7456 support on aq32 and revolution"
For Airbot F4 board with integrated OSD, etc.

Currently in mpl-7456 branch

cc @dustin
- [ ] Get the targets to turn it on and off appropriately in hw settings
- [ ] Confirm playuavosd still works
- [ ] Download fonts to '7456.
- [ ] Make the OSD widgets do actual OSD-ish things

[2016-09-09 22:35] dustin commented on #1332
What's special about AQ32?

[2016-09-09 22:42] glowtape commented on #1312
Gonna test this tomorrow ( 7a35b447eb4e33702aad50330d7a0c9c55c9e263 ).

(Altho I don't have any significant vibrations in my current quad.)

[2016-09-09 22:51] mlyle commented on #1332
AQ32 has an external SPI "OSD" port that the users have hooked max7456 boards to in the past.  If we can secure testing (@yamahabest ? ) it would be nice to support this.

[2016-09-09 22:57] tracernz commented on #1331
New artifacts for #1250 are fine: http://jar.lyle.org:8080/job/dronin/611/Nodes=osx/

[2016-09-09 23:15] jihlein commented on #1332
The AQ32 external SPI port was used to drive this:

https://www.sparkfun.com/products/retired/9168

Not sure if anything like this is still available or not.

[2016-09-09 23:57] mlyle commented on #1332
Yup, on AQ32 it'd be purely for existing users (and to get additional early OSD help/feedback).

[2016-09-10 04:03] jhitesma opened #1333 "Wishlist: Ability to load UAVO sets in Android app without installing new app"
Honestly not even sure if this is possible.  I do like that @mlyle added multiple UAVO sets to the new test build of the app which is a definite step in the right direction.  But if there's any way we could allow the app to say grab UAVO sets from the cloud it sure would make it a lot more usable.

But I'm probably not a very typical use case since I'm so often running development/next builds.  No

[2016-09-10 04:07] mlyle commented on #1333
Almost certainly wontfix with how it works.

[2016-09-10 04:14] jhitesma opened #1334 "Naze32 gets "would you like to upgrade" notice...but can't"
- Seen in version (release version or githash): Samsara.1
- On flight controller (if applicable): Naze32

Issue details:
When connecting GCS correctly identifies an old release and gives the usual "would you like to upgrade" notice.  But selecting upgrade just kind of quietly fails without doing anything since Naze32 doesn't use our bootloader.

Would be nicer if we could detect Naze32 and give a

[2016-09-10 04:29] mlyle commented on #1334
already fixed in 90b5eb32f0f

[2016-09-10 04:29] #1334 closed, assigned to nobody

[2016-09-10 04:30] mlyle commented on #1333
(may be prohibited by android license agreement to pull down code like this dynamically)

[2016-09-10 04:30] #1333 closed, assigned to nobody

[2016-09-10 05:45] yamahabest commented on #1332
Sure, I can test this. I just have to plug it in again.
I am using the Sparkfun version.

[2016-09-10 05:48] yamahabest commented on #1332
This one seems to be available still: http://www.hobbytronics.co.uk/max7456-osd-breakout

[2016-09-10 06:26] yamahabest commented on #1332
Whilst this is nice, why is this going to be supported?
With those MinimOSDs and the PlayUAV OSD support on its way, are there still people interested in this?

[2016-09-10 06:29] mlyle commented on #1332
@yamahabest there are flight controllers coming out with '7456 on the board, as stated above, which require no additional components for OSD if we add software support.

[2016-09-10 08:25] yamahabest commented on #1332
Ah, sounds good, thanks.

[2016-09-10 08:26] mlyle commented on #1332
We also talked about it on IRC before, I think... saying that I'd support it because of those boards... :P

[2016-09-10 08:28] yamahabest commented on #1332
Ehhh.. Could be, yes. Let me know when I can test something.

[2016-09-10 13:40] glowtape commented on #1312
I guess it's gonna take some more time. For some reason the patch linked above blows up and causes a boot loop. And I'm not seeing the forest for the trees.

[2016-09-10 22:12] mlyle commented on #1331
I'm going to reboot the OSX builder.  Backgrounds have stopped appearing on .dmg

[2016-09-11 00:11] mlyle commented on #1331
![image](https://cloud.githubusercontent.com/assets/90903/18414337/e0a8b8fe-7778-11e6-96e9-deb752139e4d.png)

Now the backgrounds are back, but the applications shortcut isn't there and things are out of place.

[2016-09-11 00:12] mlyle commented on #1331
Artifacts work OK though.

[2016-09-11 02:00] dustin opened #1337 "Obviously Bogus GPS Value"
I noticed this when reviewing some flight footage.  I had four frames of this, surrounded by an estimate of about 321m from home:

![image](https://cloud.githubusercontent.com/assets/1779/18414671/45eae6a6-7788-11e6-8703-41a58d91df0f.png)

This plane's pretty slow, so anything that'd warp me like that would be obviously wrong.

[2016-09-11 02:01] dustin commented on #1337
Doh, that was the frame immediately before the bad GPS.  Here's one of the bad frames:

![badgps 2](https://cloud.githubusercontent.com/assets/1779/18414700/f1ef1ea4-7788-11e6-8813-27da7656a5b3.jpg)

[2016-09-11 02:09] dustin commented on #1337
[code]

[2016-09-11 02:48] mlyle commented on #1337
I think this is expected/WONTFIX/indicates a wiring problem.  Curious if you get lots of checksum errors on the GPS.

It's important the actual navigation modules do appropriate glitch filtering (and we may not have enough).  But raw shouldn't for sure, and it's arguable OSD should display the actual raw data even if we know it's garbage.

[2016-09-11 02:56] tracernz commented on #1327
Should probably do the same for MinGW GCS builds unless somebody takes on responsibility to maintain it.

[2016-09-11 03:08] mlyle commented on #1327
Can't do it for mingw unless/until we have appropriate developer documentation / streamlined setup.

[2016-09-11 03:11] tracernz commented on #1320
It works because BL doesn't use CCM RAM I guess? And it only uses the beginning of the flash. Pretty dodgy.

[2016-09-11 03:29] dustin commented on #1337
It's reasonable for the OSD to display raw GPS, for sure, but stats, e.g., should ignore teleportations.

![image](https://cloud.githubusercontent.com/assets/1779/18414977/1c77d556-7795-11e6-8a8f-aa348b2f34cd.png)

[2016-09-11 04:17] #108 closed

[2016-09-11 04:18] #1140 closed, assigned to mlyle

[2016-09-11 06:08] mlyle opened #1340 "If PPM/PWM/etc interrupts come too fast, should disable"
Rather than locking up and failing watchdog... we should disable the PPM interrupt for 50-150ms.

[2016-09-11 06:50] mlyle opened #1341 "OSX: package: Need to unmount dRonin.dmg in all cases"
Even when build fails.  Right now we can bail and leave it mounted.

[2016-09-11 17:50] #1267 closed, assigned to nobody

[2016-09-11 19:06] lolorc commented on #1143
probably related, it also wrongly warns with "no rc input" when you forget to define your arming switch input

[2016-09-11 19:20] #1331 closed, assigned to mlyle

[2016-09-11 22:23] tracernz commented on #1224
MSVC environment setup documentation WIP instead. Not fixing this.

[2016-09-11 22:23] #1224 closed, assigned to tracernz

[2016-09-11 22:31] tracernz commented on #1235
Connects #447

[2016-09-12 00:33] #705 closed, assigned to mlyle

[2016-09-12 00:47] mlyle opened #1343 "Input wizard: make RSSI more obvious"
@ufodZiner says in  https://github.com/d-ronin/dRonin/pull/1336 :

That or we obviate this by adding an explicit RSSI step.

[2016-09-12 09:48] tracernz commented on #1327
New developer docs worked for @yamahabest. Seem to work for me on a virgin VM too (just waiting for ARM SDK to install then I can build). https://dronin.readme.io/v99-dev/docs/development-setup-windows Used Qt online installer ATM because it's easiest, would be good to come up with an alternate long-term though.

@jihlein

[2016-09-12 10:26] tracernz commented on #1327
On my VM, corecrt.h is missing.
http://i.imgur.com/bDWxhob.png

-e- We need Windows 10 kit:
https://github.com/d-ronin/dRonin/blob/next/make/winx86/bash_profile#L24

[2016-09-12 11:06] glowtape commented on #1312
This makes quite a difference on my frame and it doesn't have anything considerable in vibrations. I've had yet to get a sub-20ms tau tune with triblade props. Adding the gyro filter to it shaved like 3ms tau (I'm at 18ms now), increased gains on roll and pitch, and for the first time ever I have EKF noise that's just one digit in front of the comma _on all axes_.

This is a typical triblade tune

[2016-09-12 11:28] tofly1990 commented on #1337
HI, my fixedwing always bow after tuen around,I check the attitude ,when it turn around the attitude is not righjt,I think this is the motion acceleration effects?

[2016-09-12 13:00] glowtape commented on #1312
I just tried my Q5040 props and filtered the tau and gains for better.

That said, they are dinged up since I don't have new ones, which seemed to have an effect on all of it, too. They tuned 17-18ms before, now the unfiltered tune (which I did back to back with the filtered one) resulted in 22ms. Gains of the dinged props are also lower than seen in older tunes.

Quadblades unfiltered:
http://dro

[2016-09-12 13:03] jihlein commented on #1327
"Step 3. Expand "Windows and Web Development", then "Universal Windows App Development Tools". Select "Windows 10 SDK (10.0.10240)" (PLEASE MAKE SURE YOU GET THIS EXACT VERSION)."

"-e- We need Windows 10 kit:
https://github.com/d-ronin/dRonin/blob/next/make/winx86/bash_profile#L24"

Does this mean it only works on Windows 10?

[2016-09-12 13:32] glowtape commented on #1312
Put some DAL 5045BNV2 on it. Situation is only partly the same. Tau didn't budge but EKF noise is lower and gains are higher.

Twinblades unfiltered:
http://dronin-autotown.appspot.com/at/tune/ahFzfmRyb25pbi1hdXRvdG93bnIYCxILVHVuZVJlc3VsdHMYgICAoM2A-QgM

Twinblades filtered:
http://dronin-autotown.appspot.com/at/tune/ahFzfmRyb25pbi1hdXRvdG93bnIYCxILVHVuZVJlc3VsdHMYgICAoM2A-QoM

[2016-09-12 13:45] glowtape commented on #1312
Yeah, I just redid an unfiltered autotune on the tris to verify, tau ended up the same as filtered, but gains are still higher, noise still lower.

Despite the higher gains, there didn't appear any bad effects, like oscillations/ringing.

New autotune of the S5x4x3:
http://dronin-autotown.appspot.com/at/tune/ahFzfmRyb25pbi1hdXRvdG93bnIYCxILVHVuZVJlc3VsdHMYgICAoP61sggM

Now 18.42ms vs 17.94ms filte

[2016-09-12 15:17] dustin commented on #1337
@tofly1990 I'm not sure what you mean.  Are you saying your GPS produces incorrect values when you turn around?

My most recent flight only had a couple of GPS outages and on specific hard turns, so that makes sense in my case.  But they were just loss of signal, not incorrect information.