[2016-09-12 18:12] yamahabest opened #1348 "Import UAV settings process gives no progress feedback to the user"
- Seen in version (release version or githash): -
- On flight controller (if applicable): -

Issue details:
After selecting a file to import, it start importing. However, there is no progress feedback to the user, and the GCS seems to hang.

Importing itself works fine though.

[2016-09-12 18:21] yamahabest opened #1349 "dRonin logo doesn't play nicely with a black Windows task bar"
- Seen in version (release version or githash): -
- On flight controller (if applicable): -

Issue details:
The letters are "invisible".
I believe @mlyle already has some updated icons, which include some white lining around the logo.

[2016-09-12 18:35] tracernz commented on #1327
No, that screenshot is on Windows 8.1.

[2016-09-13 00:23] tofly1990 commented on #1337
@dustin sorry my english is poor.
 sparky2, no gps, fixedwing, complementary;
 after turn around,the attitude always distortion and the fixedwing head will Dive to the ground.

[2016-09-13 00:44] dustin commented on #1337
@tofly1990 this bug is "Obviously Bogus GPS Value" -- if you don't have a GPS, it's probably not related to your problem.  :)

You may find more help in [the forum](https://forum.dronin.org/forum/).

[2016-09-13 00:49] tofly1990 commented on #1337
@dustin  ok!

[2016-09-13 12:46] jihlein commented on #1327
Okay, it wasn't pretty, but I have it working, to a point.  I had to uninstall basically every tool, and then re install them, starting with GIT.  I have no idea why, something was corrupted somewhere.  Did not reinstall the compiler.

My typical build command, GCS_BUILD_CONF=release FLIGHT_BUILD_CONF=release make -j7 all make package_flight does not work, it throws an error.  It starts building t

[2016-09-13 19:59] mluessi commented on #1320
Other than the linker script, what is wrong? The clocks get set up by `cmsis_system.c` in the board info dir. Are there other files that should be different for RE1 than for F405 targets?

[2016-09-13 20:04] mlyle commented on #1320
I don't know.  The linker script/memory layout is definitely wrong at minimum.  Are register maps for all peripherals we touch right, etc?

[2016-09-13 20:30] mluessi commented on #1320
The register maps should be correct; they are selected by defining `STM32F446xx` vs `STM32F40_41xxx` for F405 targets. This is done correctly in the BL and the BU makefile. I will look into selecting the correct linker file for the BL/BU.

[2016-09-14 00:43] jihlein commented on #1327
Not sure what's really going on, but the only way I can get "complete" builds is to run:
GCS_BUILD_CONF=release make -j7 fw and let that complete.  Then run:
FLIGHT_BUILD_CONF=release make -j7 all_fw and let that complete.

At that point I have a working GCS and firmware for all the targets.  Any command with a make -j7 all or make -j7 all_flight will seem to run, but randomly ends, leaving parts

[2016-09-14 00:50] tracernz commented on #1327
Try `make -j7 all 1>/dev/null` so the stdout noise doesn't hide any errors. I suspect there will be something in there. You could also do `make -j7 all > buildlog.txt` to redirect all the output to a file which you can post a link to here (via Gist or pastebin). I've had no issues with parallel builds, and I think the Jenkins slave does parallel builds too so it shouldn't be related to that (other

[2016-09-14 02:14] mlyle commented on #1327
Jenkins only uses very mild parallelism-- I think -j2 or -j3

[2016-09-14 02:15] mlyle commented on #1327
Oh, one annoyance/weirdness with Windows-- when I ctrl-c a build, it tends to leave behind incomplete/0 byte build outputs that screw up subsequent builds.

[2016-09-14 02:23] jihlein commented on #1327
Fixed!  While outputting the build to buildlog.txt, an error appeared on the MINGW64 terminal window during the build of the bootloader updater for playuavosd.  It was executing px_mkfw.py, and actually seg faulted due to a conflict with cygwin1.dll versions.  I found some remnants of an old cygwin installation that had not been deleted, and the cygwin path variables were still in place.  Cleaned

[2016-09-14 03:42] tracernz commented on #1327
@jihlein Thanks for YOUR patience, and apologies for the problems this changeover has caused. :smiley: Glad it's okay now.

[2016-09-14 03:43] mlyle commented on #1327
Oooh.  I bet that was the problem all along, because Qt moved from mingw32 to mingw64 in 5.6.

[2016-09-14 16:56] dustin opened #1355 "Flight Stats Enhancements"
I'm wanting to make a more useful stats screen.  I'm not sure we collect all the most important stats.  The main things I want to know:
- How much of my battery did I consume?
- How long did I fly?
- How far did I go?
- How fast did I go?
- How high did I go?
- What's the maximum current I drew?

The first three are sort of accounting while the last three are limits.

The major thing missing from

[2016-09-14 17:56] tracernz commented on #1355
Max filtered current draw, or max spiky current draw? 😛

[2016-09-14 17:59] dustin commented on #1355
Well, somewhat filtered.  At the very least, max likely to have been displayed at any point.  Maybe we can plot the current usage pdf.

[2016-09-14 19:13] ufoDziner commented on #1355
I'd like the max roll/pitch/yaw rates prior to my crash, or whatever it was that made them excessive.  Personally the distance/speed/alt stuff doesn't apply to me at this time.  Lowest battery voltage (checking for excessive sag), and the amp draw as @tracernz mentioned.

[2016-09-14 19:56] dustin commented on #1355
Yeah, I'd left out the rates because of the crash thing.  That's interesting.  Rotation rates, but not in the last few seconds.  Given that, it should be OK to display the numbers, but perhaps change how they get into stats.

Re: distance/speed/alt -- omitting stuff we don't have sensors for should be a given.

[2016-09-14 20:10] mluessi commented on #1355
Things that don't have a sensor should already not be displayed. There could be a bug, but I have never seen distance etc. on a quad without GPS / nav filter configured.

[2016-09-14 20:26] dustin commented on #1355
@mluessi This isn't so much complaining about what's being displayed, but trying to figure out what could be better.  I always miss the max current thing as well as flight time.

I think the current OSD code is probably doing the right thing with what it's got, but I'd like it to have more/different things for my tastes.

[2016-09-15 04:00] mlyle opened #1357 "UAVO generation / validation of enums in flight is bogus"
[code]

Low priority because nothing uses the isvalid calls.

[2016-09-15 17:03] #1045 closed, assigned to mlyle

[2016-09-15 22:58] #1320 closed, assigned to mluessi

[2016-09-15 23:15] #1317 closed, assigned to mlyle

[2016-09-15 23:16] #1248 closed, assigned to mlyle

[2016-09-16 00:51] yamahabest opened #1360 "Unable to connect after first time to a powered FC"
- Seen in version (release version or githash): Development
- On flight controller (if applicable): AQ32

Issue details:
I am not sure what is causing this.

Steps I am going through:
1) Power the FC by battery.
2) Connect USB cable to laptop which is already running GCS.
3) FC and GCS connect just fine.
4) Disconnect USB cable from laptop, keep battery connected.
5) Reconnect USB cable to laptop.

[2016-09-16 01:05] dustin commented on #1360
I think you may be the only user of this board.  There have only been 21 distinct boards ever having been seen (and we did have a bug a while back that caused a small number to be double-counted).

Does this happen for you on anything else?  It seems like it'd be a lot easier to drop support for AQ32 than to fix it.  (e.g. I wouldn't even know where to get one if I wanted to work on it)

[2016-09-16 01:09] jihlein commented on #1360
I use this board a lot.  I think the observed issue is due to the lack of USB vsense and a long bootloader timeout.  I see the observed behavior too,  and just ignore it.   I know of at least 3 users.  Not a large number, but users never the less.

[2016-09-16 01:16] #1360 closed, assigned to nobody

[2016-09-16 05:19] yamahabest commented on #1360
Ok, @jihlein, thanks for the explanation.

I figured the issue could be across more boards, but I guess not.
For the rest the board works great, have two of them flying quads.

I would like it if the target is not dropped, but I can only hope.

[2016-09-16 06:53] mlyle commented on #1360
I don't want to drop aq32.  But it will always get somewhat worse support, because I don't have one.

[2016-09-16 08:08] tracernz commented on #1360
Likewise, I have some PCBs but they were going to cost too much to populate.

[2016-09-16 21:15] mlyle commented on #105
I see the pr-open tag.  Unfortunately I intend to supersede that PR

[2016-09-16 21:58] mlyle opened #1363 "Drop support for F1"
For formal discussion here (and mentioning it on IRC, and it can make its way to the forum/broader community after we gather initial thoughts on it.)

We're nearing the end of Quixote, and it looks like it makes F1 a little better and fixes some regression/annoyance there.  It also shows us how limited F1 is, and it's annoying to worry quite so much about RAM, etc.

I'd like to do one more release

[2016-09-17 00:57] ufoDziner opened #1364 "CPU warning with OpenLager"
- Seen in version (release version or githash): d5615b2f
- On flight controller (if applicable): Brain RE1

Issue details:
Logging max rate at 100 gives a constant "CPU" warning on the OSD.  Disabling logging on the Mainport removes the warning.

[2016-09-17 01:59] mlyle commented on #1364
Can you attach an associated log?

[2016-09-17 02:50] ufoDziner commented on #1364
Still can't attach a zip.  So, here's the link.  https://dl.dropboxusercontent.com/u/59924814/LOG018.zip

[2016-09-17 03:09] mlyle commented on #1364
[code]

Corresponds to 15% actuator, 22% attitude, 10% sensors, 4% manualcontrol, 15% stabilization, 1% onscreen display.

I don't know, maybe RE1 just can't handle high-rate logging.

[2016-09-17 03:11] mlyle commented on #1364
It's likely the dma-for-logging stuff might help this.  Seems to be brain specific though, because I log at 500Hz on Sparky2 with only 75%-ish CPU use.  You're around 81% which is in the warning threshold but not really a problem as I've said before.

[2016-09-17 03:11] #1364 closed, assigned to nobody

[2016-09-17 03:44] mlyle commented on #1363
Some discussion about this on IRC earlier today.  Summary of thoughts:
- Some people think 2 more releases with F1 is too aggressive of a deprecation schedule.
- There was discussion about how to announce this properly for minimal impact to user population-- specifically we should hit on
  - There are cheap alternatives that do work with us much better.
  - The reasons why (constant tax on develop

[2016-09-17 04:56] tracernz commented on #1363
I agree with DFU, but not really related to F1 deprecation, since half our F1 targets are much worse off in that regard.

For the record I am fully in favour of this schedule.

[2016-09-17 05:20] mlyle commented on #1363
Yah.  the DFU is in the context of-- if we're going to ask a thousand people to move off CC3D, what can we do to make things easier for them.

[2016-09-17 12:23] mluessi commented on #1363
I think it's a good plan to drop F1 and have a last LTS release for it. Also DFU would be nice for things like LUX etc that come without the dRonin bootloader.

[2016-09-17 12:35] mluessi opened #1365 "Offer PID value selection for common airframes"
We currently have autotune, which can give pretty good results. However, unfortunately one of the most frequent problems user have is failed autotunes. Likely, this is caused by vibrations of the airframe and can sometimes be fixed by soft-mounting, replacing motors, etc. Future improvements to AT should also reduce this problem to some degree.

However, it is still possible that AT doesn't work f

[2016-09-17 19:25] henn1001 commented on #105
Feel free to pick up where i left off : )

[2016-09-17 21:13] mlyle commented on #1365
I think the emphasis should be on making autotune work and not adding too much complexity to the UI.  I'm not opposed to this in principle, but autotune is our main differentiator and it's important that we make it work well for people who have come to do AT.

[2016-09-18 17:48] inis1981 opened #1367 "Sparky2 PPM wizard setup issue"
- Seen in version (release version or githash):
  Based on Qt 5.5.1 (32 bit)
  Built on Jul 24 2016 at 03:29:07
  From revision 74b7422c 20160723
  UAVO hash c9177491
- On flight controller (if applicable): Sparky2.0 (Hobbyking)

Issue details:
RCVR PPM doesn't work if setup through wizard, bypass wizard it works fine. Setup manually then go through wizard PPM will no longer work. Only fix I've fo

[2016-09-18 18:54] mlyle commented on #1367
Does this happen if you set channels 7 and 8 to 0 min/neutral/max and the associated bank to 50Hz?

If that fixes it, fixed in #1319 (Vehicle setup wizard no longer configures channels you're not using).  There's a hardware bug in sparky2 where the same timer is used for PPM decode and channels 7 & 8.

[2016-09-18 18:55] mlyle commented on #1367
(Believed to be dup #1317)

[2016-09-18 19:11] inis1981 commented on #1367
mlyle I went through and changed motors 5-6, 7-8, and 9-10 to 50, then min/max for motors 5+ to 0 us. All good now.

[2016-09-18 19:15] mlyle commented on #1367
Cool, thank you for confirming.

[2016-09-18 19:15] #1367 closed, assigned to nobody

[2016-09-18 22:30] tracernz opened #1368 "GCS:Config: OSD widget should use dynamic UAVO relations"
It has a bunch of code to support checkboxes which is already in ConfigTaskWidgets dynamic UAVO->widget relations. Would no longer need to overload getVariantFromWidget, and setWidgetFromVariant. Also, C++-- for the rest of the relations.

[2016-09-18 22:39] tracernz commented on #1349
Which icon are we using, because branding/gcs.ico looks like it should be fine and I vaguely remember seeing it on Windows. Must be grabbing the transparent PNGs from somewhere for the Windows 7+ taskbar icon?

[2016-09-18 22:44] tracernz commented on #1365
Dup. of #1988 ?

-e- Won't link that issue for some reason...
Oh, because it's in TL https://github.com/TauLabs/TauLabs/issues/1988

[2016-09-19 02:29] mlyle commented on #1365
This is the approach that the LP guys have taken.  The big downside is that so much of this comes down to props and ESC response.

I am wondering (and we can prove out) whether deadbands would let us get away with somewhat higher default gains / default I especially.

[2016-09-19 03:25] jhitesma commented on #1363
I think most of those comments from IRC were mine ;)  At least they echo my concerns.

I'm generally in favor of dropping support for F1 boards, but I think we need to be a little less aggressive on the timetable due to our stats currently showing over 60% of logged boards being F1 based.

A LTS release with backported issues is nice in theory, but I suspect that in practice as soon as we drop sup

[2016-09-19 03:35] jhitesma commented on #1349
You mean a black title bar?  Because a black (or at least dark grey....but doesn't look like it would matter) taskbar looks ok to me:

![image](https://cloud.githubusercontent.com/assets/2054286/18622005/3baff35e-7ddf-11e6-9c74-b447cfd223e1.png)

Black title bar though does look pretty crummy:
![image](https://cloud.githubusercontent.com/assets/2054286/18622017/65818904-7ddf-11e6-9578-9335049e4961

[2016-09-19 03:49] jhitesma commented on #1365
I kind of like the suggestion peabody had in that tau issue which ties into a few things I know @dustin and I have discussed in IRC about the ability to save/restore tunes from the cloud - which doesn't sound that hard to implement.  Kind of solves a number of issues if implemented in a way that allows both privacy and the ability to share tunes (which is admittedly the tricky bit.)

I'm not a big

[2016-09-19 04:42] ufoDziner commented on #207
When this feature is implemented, it would be great if the hangtime throttle percentage was set based on the results.

[2016-09-19 21:30] jhitesma opened #1369 "Android GCS: App stays running and attempting to connect"
- Seen in version (release version or githash): current GCS in play store - Quixote
- On flight controller (if applicable): N/A

Issue details:
After closing app I still repeatedly get "Attempting USB HID connection" pop-ups at random times.  Task Switcher on phone doesn't show GCS still running, but a 3rd party task manager does.  Killed it with the task manager and as soon as I closed the task m

[2016-09-20 05:20] tracernz opened #1370 "RE1/DTFc: Don't brutalise UAVO settings"
Settings should _never_ be overwritten like this (which in this case also precludes using any sensor with the default scaling factor).
https://github.com/d-ronin/dRonin/blob/1840a1461ad033fdd748f8b7c3a3bdec6dc25fb2/flight/targets/dtfc/fw/pios_board.c#L304-L308
https://github.com/d-ronin/dRonin/blob/ff3de726463edf6c5ca0d53dc5442f295229a16b/flight/targets/brainre1/fw/pios_board.c#L561-L568

Possible

[2016-09-20 05:35] mlyle commented on #1370
Could declare the defaults for the uavo as a weak reference in the linker, and let a target override... but then there's the chance that something-not-intended-to-be-overriden could be overridden as defaults change.

[2016-09-20 09:12] #1216 closed, assigned to nobody

[2016-09-20 14:56] yamahabest opened #1371 "Possible to have multiple instances of the GCS running, causes issues"
- Seen in version (release version or githash): -
- On flight controller (if applicable): -

Issue details:
It is currently possible to have multiple instances of the GCS running at the same time, which causes issues during auto-upgrade and stuff.

Possible fix: Check against a shared object (named mutex/file/etc), or check for processname when starting a GCS. When it is not there, continue startu

[2016-09-20 14:59] yamahabest opened #1372 "Possible to run the installer whilst the GCS is running"
- Seen in version (release version or githash): -
- On flight controller (if applicable): -

Issue details:
It is currently possible to have the GCS running, and run the installer. Installer could possible overwrite part of the files, before encountering a file that is locked by the GCS.

It would be better if the installer checked against the GCS running.

[2016-09-20 16:40] jhitesma commented on #1369
Additional testing confirmed that I had disconnected "dirty" and not told the app I disconnected.

Would be nice if the app could stop trying to connect once the user is done with the app even if the user didn't explicitly disconnect.  Though the android activity model does make that somewhat tricky.

[2016-09-20 19:08] tracernz opened #1373 "PiOS:HAL: Wrong baudrate for DSM"
Correct baudrate is 125k according to [Spektrum protocol spec](http://www.spektrumrc.com/ProdInfo/Files/Remote%20Receiver%20Interfacing%20Rev%20A.pdf). We use 115.2k.

[2016-09-20 19:25] jhitesma commented on #1373
Looks like openlrsng is wrong as well:  https://github.com/openLRSng/openLRSng/blob/master/RX.h#L688

And CF:
https://github.com/cleanflight/cleanflight/blob/1ea7608ac2802752fb545b98ba8f76f9b82b9db3/src/main/rx/spektrum.c#L51

Probably everyone :D  Wonder who got it wrong first....

[2016-09-20 19:55] DTFUHF commented on #1373
Maybe Spektrum got it wrong, as all of those projects predate that document.

On Tue, Sep 20, 2016 at 3:25 PM, Jason Hitesman notifications@github.com
wrote:

[2016-09-20 19:58] tracernz commented on #1373
@DTFUHF The doc specifically mentions 115.2k implementations. :wink:

@SpektrumFPV, can you provide any information on the SPM4648? It's advertised as supporting SRXL but I found no mention of this in the user manual. There is some talk around that it may feature a revised DSM protocol too?

[2016-09-20 20:35] SpektrumRC commented on #1373
@tracernz It doesn't support SRXL, just the remote receiver/sat protocol. I brought this up with somewhat to have that fixed on the website. Sorry for the confusion, and thanks for bringing it to my attention!

As for the baud rate specs in the doc, you are correct. I'll quote the section of it for anybody with any doubts.
"The packet is transmitted at 125000bps, 8 bits, No parity, 1 stop (8N1).
F

[2016-09-20 22:14] tracernz commented on #1373
This code to "detect the resolution" of satellites bound in external mode depends entirely on configuration of channel order by the looks: https://github.com/d-ronin/dRonin/blob/next/flight/PiOS/Common/pios_dsm.c#L198-L206. That would explain why some people have problems with it.

[2016-09-20 22:17] tracernz commented on #1373
@SpektrumFPV Thanks. The SPM4648 also says it supports 20 channels. How does this work with the protocol?

[2016-09-20 23:33] mlyle commented on #1373
an 8.5% error in baud scaler is a big deal (125kbps vs 115200).  Plus, presumably many spektrum clones choose 115200.

We probably need to pick a compromise value like 120000 :P

[2016-09-21 00:23] tracernz commented on #1373
Also might not? Worth looking at a couple to see before we worry about that. Receiving a signal from the transmitter seems to be the bigger battle for most of the DSM clones in my experience. :stuck_out_tongue: .

[2016-09-21 01:08] mlyle commented on #1373
Yah, would be nice to measure.  Even if they do-- targeting 120000 is better than targeting 115200 if Spektrum is sending us 125kbps.

[2016-09-21 04:26] mlyle commented on #1372
Could do this; http://nsis.sourceforge.net/Check_whether_your_application_is_running#Using_the_name_of_the_process_.28with_Windows.27_tasklist_command.29   but very low prio.

[2016-09-21 08:19] mlyle opened #1376 "RFC: Remove NMEAParser from GCS"
GCS has functionality that you can hook a NMEA GPS to GCS, and display your position and satellite set in a widget.  It's not used for anything else, and only supports NMEA GPSes.  There are better programs for this-- I don't know if it even works.  I'd like to remove it, in the spirit of "remove all the code," and make the GPS gadget only work with telemetry.  Comments?

[2016-09-21 08:23] mlyle opened #1377 "Bluetooth low energy telemetry connection doesn't work on OSX"
Because OS X (like iOS) leaves it up to applications to pair with BLE devices.

The QT bluetooth API would allow us to talk to HM-10A etc.

[2016-09-21 10:07] tracernz commented on #1373
So, uh, I hooked up a genuine Spektrum SPM9645, and it definitely speaks at 115200, 125000 is all framing errors...

http://imgur.com/a/fEGWE

What do you think @SpektrumFPV?

[2016-09-21 10:10] tracernz opened #1378 "DSM Binding improvements"
Took me a while to get one bound. Sparky1 is too slow, Sparky2 is too slow when powered by USB, and silently fails to even attempt it when on the RxPort. We definitely need to give feedback (i.e. a configuration error) for the latter case!

[2016-09-21 19:13] mlyle commented on #1378
Why is Sparky1 too slow?  I've done it before.  (For a long time had a sparky1 quasi-dedicated to this).

[2016-09-21 19:54] tracernz commented on #1378
Probably the powered by USB bit (didn't state that first), it took 2 seconds before if sent the binding pulses (sparky2 was 1 second, requirement is 200 ms). We should do something about that too because it's actually most likely you'll want to bind while setting up with GCS via USB.

[2016-09-21 22:18] tracernz commented on #1378
Could use a backup register or two to do Spek binding in the bootloader.
We currently use the first 4 backup registers, total on each chip is:
- F103: 10x 16-bit registers
- F303: 16x 32-bit registers
- F405/446: 20x 32-bit registers + 4 kb backup SRAM

I envisage something like:
- Hit bind button in GCS
- Backup register is set with index to an array of the bind pin configs
- Prompt to unplug boa

[2016-09-21 22:37] mlyle commented on #1378
Don't those registers need power to vbat to be persisted?  Though there is some eeprom emulation on these parts I think.

One option for non-DTFc/Lux/BrainRE1 would be to watch for a battery power edge in the firmware and send the binding pulse immediately.

[2016-09-21 22:38] tracernz commented on #1378
Duh, of course.

Hmmm. I never have a battery when setting up a new machine, at least not until it's done/safe to arm.

[2016-09-21 22:43] mlyle commented on #1378
Oh, sorry, these are 3V3/always get receiver power.  For non-3V3 receivers you need one (on non-DTFc/Lux/BrainRE1).

[2016-09-21 23:53] tracernz commented on #1378
If only we could switch the 3V3 supply to the Rx port.

[2016-09-22 06:17] mlyle commented on #1284
No repro, but not ready to close either.

[2016-09-22 16:21] joshuabardwell opened #1380 "Contact"
@digitalentity's message to me asking me to contact him via email disappeared from the raceflight issue shortly after he posted it. I'm not sure if you tried to take me up on my offer and the response was deleted.

BTW, I don't know for sure that DigitalEntity didn't delete it himself...

If you want to talk one-on-one about the RF GPL violation, email me joshuabardwell@gmail.com.

[2016-09-22 16:48] mlyle commented on #1380
Opening issues on other projects is not an appropriate way to get in contact IMO.   The contributors to this project don't need emails and stuff popping up in their bug tracker, etc.

I'm not really interested in litigating this in the sphere of public opinion.  RF is violating the license, and if it continues, there will likely be legal consequences.

[2016-09-22 16:48] #1380 closed, assigned to nobody

[2016-09-22 16:50] mlyle commented on #1380
P.S. it seems that post is still there.. however, they are deleting anything that Boris posts.

[2016-09-22 19:03] jhitesma commented on #1284
Any benefit to me trying a more recent build?  I assume nothing has changed but haven't tried to repo with any newer builds in a few weeks.

[2016-09-22 19:09] mlyle commented on #1284
Nothing has changed.

How much RAM do you have?  I wonder if that is really an out-of-memory error.

[2016-09-22 21:37] jhitesma commented on #1284
That machine only has 4G, and it's hurting.  I could try with everything else shut down to see if it works then.

[2016-09-22 22:05] mlyle commented on #1284
Would be helpful to see if it cures it-- then we could easily close this.

[2016-09-23 12:23] mluessi commented on #1208
@mlyle One way to fix this until we have a more proper RGB LED module could be to start a callback timer on boot so the LEDs get set again after 1s or so after boot. WDYT? Too much of a hack?

[2016-09-23 14:17] AlessioMorale commented on #1208
When working on ws2811 I had a lot of troubles with leds powered with slightly more than 5V. Looks like logic levels are referenced to supply voltage. a simple diode may do the job.

![image](https://cloud.githubusercontent.com/assets/1367650/18788915/0fa32f6a-81a9-11e6-8d99-fd126a12b36e.png)

[2016-09-23 14:26] mluessi commented on #1208
@AlessioMorale this should not be a problem on RE1, it actually uses a FET to generate 5V logic output for the LEDs.

[2016-09-23 18:15] mlyle commented on #1208
@mluessi -- I'm fine with an approach like this-- we have other modules that are callback-only effectively.  Should stay within the target for now.

But I'd also like to see appropriate BOD programming for RE1 as part of this release.

We're supposed to be functionally complete today-- which we won't make-- but ASAP please.

[2016-09-23 22:22] jihlein opened #1383 "Windows build/packaging issues"
- Seen in version (release version or githash):  Latest next
- On flight controller (if applicable): N/A

Issue details:  After the move to MSVC, building on my Windows 7 laptop gives a couple of errors I've been unable to track down.  I've removed the complete environment, and started from a clean slate, still get the same errors.  The errors are thrown from the latest next branch and my own deve

[2016-09-23 23:17] mlyle commented on #1383
It doesn't look like the information as to what's going on is in those screenshots.

You can redirect the build logs to a file with `>whatever.txt 2>&1` and then attach them to this issue. .. also it would be helpful if you provided non-parallel versions of the output (I know this takes forever).

[2016-09-23 23:21] mlyle commented on #1383
Just trying to guess from the last line of output..  is that a createprocess line for zip failing that you've cut the top off of?  . I think it's trying to run zip?  have you run make zip_install / is the zip tool present?

[2016-09-23 23:37] jihlein commented on #1383
Non parallel build cooking, will attach when complete.  Zip tool is present, but re ran make zip_install for grins before I started the non parallel build.

[2016-09-23 23:44] mlyle commented on #1383
I think it's complaining it can't run zip-- will be interesting to see.

[2016-09-24 02:59] #1208 closed, assigned to mluessi

[2016-09-24 05:36] mlyle commented on #169
With discussion of fundamental changes to F1 support, it would be just pip that needs particular attention-- post-artifice.

[2016-09-24 05:37] mlyle commented on #664
Eigen 3.3 expected to ship next week.

[2016-09-24 05:38] mlyle commented on #324
Meh, it's been reliable for me recently.

[2016-09-24 05:38] #324 closed

[2016-09-24 05:40] mlyle commented on #1310
If people use it, i will kill this bug.

[2016-09-24 05:40] #1310 closed, assigned to nobody

[2016-09-24 05:46] #231 closed

[2016-09-24 05:48] jhitesma commented on #1284
Just tried it with everything else shut down (even chrome's background stuff) and same error.

Watching Taskmanger my memory usage never went past 56%
So doesn't look like a memory issue.

The video card on this computer is old enough that there aren't official drivers for it for W10 so I'm not surprised it's having issues related to video.

[2016-09-24 05:48] #580 closed, assigned to nobody

[2016-09-24 07:52] tracernz opened #1384 "GCS: Session management sometimes gets stuck in handshake"
I have seen this quite a few times lately. Disconnect/reconnect doesn't help, restarting GCS doesn't help, rebooting the board does help. On the GCS side:
![fuuu](http://i.imgur.com/nlxXYOS.png)

Weird that the flight side is showing 0 data rate too... Objects are being received just fine and the CPU load is 32% so not pegged.

After rebooting the board to fix it... still 0 data rate on the flight

[2016-09-24 10:48] mluessi commented on #1384
I think this is a duplicate of https://github.com/TauLabs/TauLabs/issues/1418

[2016-09-24 18:00] jihlein commented on #1383
It looks like the rebuild of the zip tool  did the trick, I can successfully make install packages now.  Can't test them at the moment, so will leave this open a little longer.

[2016-09-24 19:40] jihlein commented on #1383
Installer works, closing.  Thanks @mlyle.

[2016-09-24 19:40] #1383 closed, assigned to nobody

[2016-09-24 20:55] mlyle commented on #1383
I'm super glad this is working for you now.  I bet when the tools were broken you ended up with a broken zip install.   Ugh.  I am not a windows fan.

[2016-09-25 08:21] yamahabest commented on #1349
Ehm.. Yes, that also.
However, I should have taken a screenshot of it happening, as I can't seem to reproduce it anymore on the task bar. It looked the same as your screenshot of the titlebar. Letters dissapeared against the black background, only the orange triangles visible.

[2016-09-25 20:32] yamahabest commented on #1349
Reproduced: https://snag.gy/OaIkvY.jpg

[2016-09-26 00:19] tracernz opened #1387 "Firmware Debugging Improvements"
Make the process a little smoother, more flexible, easier. Possibly use https://github.com/mbedmicro/pyOCD instead of OpenOCD. OpenOCD is a bit of a problem to install by script on Windows (no official distributions, unofficial ones require 7-zip).

[2016-09-26 15:55] PTDreamer commented on #324
Fyi api key is only used for geocoding (i.e. string to location) not for
map tile fetching

Em 24/09/2016 06:38, "Michael Lyle" notifications@github.com escreveu:

[2016-09-26 16:39] mlyle commented on #324
@ptdreamer -- Hey!  Glad you're still around.

Yes.  I think the main problem I was encountering is it was possible to try and fetch illegal tiles on the furthest zoom level out if your resolution was high enough and it made it do weird things.  We've corrected that (if the window is too big we force people to zoom level 2).

[2016-09-26 18:36] #447 closed

[2016-09-26 18:36] #1235 closed, assigned to nobody

[2016-09-26 18:36] #1266 closed, assigned to tracernz

[2016-09-28 17:37] mlyle commented on #211
Lots of discussion of this lately at:

https://forum.dronin.org/forum/d/170-3d-inverted-flight

[2016-09-29 00:20] mlyle commented on #1220
Encountered a cousin of this.

I upgraded from an old random build on my CC3D.  All of configuration was upgraded, EXCEPT the mixer settings were reset to default.

My motor mapping displayed correctly in GCS but was actually not and was flipping in takeoff until i saved in vehicle setup pane twice.

End users are not likely to encounter this, because the upgrader will know about their githash.. b

[2016-09-29 04:35] mlyle commented on #1243
Added to errata

[2016-09-29 04:35] #1243 closed, assigned to nobody

[2016-09-29 07:09] #1332 closed, assigned to mlyle

[2016-09-29 23:01] tracernz commented on #1373
I don't believe the Spektrum document is accurate based on my measurements of a genuine device.

[2016-09-29 23:01] #1373 closed, assigned to nobody

[2016-10-01 02:31] mlyle commented on #1270
https://dronin.readme.io/v201610-xx/docs/common-flight-controller-peripherals#openlog

[2016-10-01 02:31] #1270 closed, assigned to nobody

[2016-10-02 22:24] mlyle commented on #1222
https://dronin.readme.io/v201610-xx/docs/frequently-asked-questions

[2016-10-02 22:24] #1222 closed, assigned to nobody

[2016-10-04 20:21] ufoDziner opened #1398 "Receiver Type and Mode on RE1 image"
- Seen in version (release version or githash): Quixote
- On flight controller (if applicable): RE1

Issue details:
  Win 10, Hardware tab, Receiver Type and Mode are on the image.

![screenshot](https://cloud.githubusercontent.com/assets/7434287/19090902/50c09aa2-8a35-11e6-94dc-24373f826fc1.png)

[2016-10-04 21:17] mluessi commented on #1398
@ufoDziner what's your screen size? I can see that when I make the window quite small on my screen.

[2016-10-04 21:23] mlyle commented on #1398
@mluessi you should drop a scroll widget in (and move messages up to be more visible)

[2016-10-04 21:32] ufoDziner commented on #1398
@mluessi 11" 1366x768

[2016-10-04 22:58] mluessi commented on #1398
@ufoDziner please test #1399 once the artifacts are built. I was only able to test it on Linux

[2016-10-05 00:16] ufoDziner commented on #1398
@mluessi Works great!  Thanks!

[2016-10-05 00:19] #1398 closed, assigned to mluessi

[2016-10-05 03:31] #1153 closed, assigned to nobody

[2016-10-05 04:22] tracernz commented on #87
I'm pretty sure this isn't actually fixed... Many of the fields are still not documented (although they all have at least empty description tags). Need to update the list at the top of this issue..

[2016-10-05 04:33] tracernz commented on #87
Updated list:

[code]

[2016-10-05 06:47] mlyle commented on #1387
Relates to #209?

[2016-10-05 06:53] tracernz commented on #1387
Ah, yep. The PR associated with #209 (from Tau) already merged IIRC. Windows is still in a bad state though (and is problematic to fix, hence this issue).

[2016-10-05 06:54] tracernz commented on #209
Partially fixed by #804, remainder superseded by #1387

[2016-10-05 06:54] #209 closed

[2016-10-05 07:14] mlyle commented on #1387
Is it so unreasonable to say "if you want to debug firmware on windows, figure it out yourself?"

[2016-10-05 07:42] tracernz commented on #1387
No, it's fine, but if there's a good solution that isn't too much work/is potentially better on other platforms too, I'm willing to spend some time on it when I'm bored. :grin:

[2016-10-05 08:18] mlyle commented on #1348
Is this actually slow for you?  When I import a .uav file it's close to instant..

[2016-10-05 08:21] mlyle commented on #54
Indentation is fixed now, at least.

[2016-10-05 08:56] mlyle commented on #562
dup #714 / #18

[2016-10-05 08:56] #562 closed, assigned to nobody

[2016-10-05 08:57] mlyle commented on #665
This probably won't play well with neo-autotune.  defer.

[2016-10-05 09:00] mlyle commented on #943
connects #1236

[2016-10-05 10:27] yamahabest commented on #1348
Let me check again.

[2016-10-06 02:16] mlyle commented on #318
Gonna call this dup #488 ; it's not exactly, but #488 will cover it, so...

[2016-10-06 02:16] #318 closed

[2016-10-06 03:59] #1357 closed, assigned to mlyle

[2016-10-06 18:07] mlyle commented on #953
Stabilization does this too

[2016-10-06 19:58] ufoDziner opened #1405 "No control after arming with logging >100 on DTFc"
- Seen in version (release version or githash): 02f3e353
- On flight controller (if applicable): DTFc

Issue details:
  While testing #1388, I enabled logging to collect more data.  Settings were to Log on armed, Full Bore, 100.  After arming I had no throttle control.  Motors just idled then stopped after ~15sec.  I recycled power, and tried again.  This time the the motors didn't stop for a very

[2016-10-07 04:40] jhitesma opened #1409 "Upgrade Assistant doesn't detect board disconnect"
- Seen in version (release version or githash): 02f3e353
- On flight controller (if applicable): Any that support auto upgrade

Issue details:
If you disconnect the board after the settings are downloaded then reconnect it without closing the upgrade assistant you wind up with double buttons some of which no longer work:

![download](https://cloud.githubusercontent.com/assets/2054286/19178953/394b

[2016-10-07 04:58] mlyle commented on #1120
Updated title because i'm somewhat sure uavomspbridge is correct

[2016-10-07 05:08] mlyle commented on #885
Deferred pending any further user complaint on this topic.

[2016-10-07 05:10] mlyle commented on #236
Same rationale used to defer again.

[2016-10-07 05:22] mlyle commented on #1349
Any idea how you reproduced it?  Any chance that machine just has an outdated icon that isn't getting replaced by the install?

[2016-10-07 05:24] tracernz commented on #885
I wonder if we actually have any HoTT telemetry users. Maybe I can get that from usage data. (For the record/OP, I don't have any Graupner gear, just Jeti and Spektrum)

[2016-10-07 05:32] mlyle commented on #885
It's somewhat obscure, and definitely isn't very usable on our setup (both because of this issue and the UI etc).

[2016-10-07 05:44] tracernz commented on #885
I want to find somebody with Graupner gear who is willing to test some stuff so I can refactor it into the SRXL driver. :wink: We can also test this with the same person if they appear.

[2016-10-07 06:01] mlyle commented on #885
I'll keep an eye out.

![0e3df60cabeec611be2872b82db57458](https://cloud.githubusercontent.com/assets/90903/19180226/cd5c5760-8c18-11e6-971f-5b0bf7c574be.jpg)

[2016-10-07 10:16] tracernz opened #1414 "GCS: Update breakpad source"
It currently doesn't compile with C++11 and GCC 5.4 (which is not the config we currently use... but we will have to for Qt 5.7). Latest source does compile successfully.

-e- Doesn't link though..

[2016-10-07 15:02] jihlein commented on #885
I have a Graupner system at work, part of a Mikrocopter octo setup.  It's never been used.  Let me see if I can borrow it to help test this.

I'll check when I get back to the office next week.

[2016-10-07 18:26] mlyle opened #1415 "Should reload modulesettings and hwsettings from flash after boot completes"
Users get confused when they boot fault and then can't easily see what modules were enabled / settings were reset / etc.  Once boot is complete, we don't really refer to modulesettings, etc.. so it'd be just for the purpose of showing them in GCS properly.

[2016-10-07 21:33] mlyle commented on #1228
@mhvdrone is going to hit this soon.

[2016-10-08 02:20] zipray opened #1416 "Frsky smart port some value can't be displayed"
dRoninGCS Release-20161004: 20160930-dd27a7f8):
FC：sparky1
TX: Turnigy 9XR radio with er9x-frsky fireware
RX:Frsky xsr
Issue details:
![9xrardup](https://cloud.githubusercontent.com/assets/12719845/19209904/f1bbe52e-8d46-11e6-9274-02810848f816.jpg)
I tried to use sparky1 output s.port format and TX using FrskyX Smartport telemetry  displays, HDG direction line is normal.GPS has 3Dfix does not disp

[2016-10-08 03:16] mlyle commented on #1416
It looks like you're trying to use some Arduino-encoding / overloading of the values which is not the way we stuff them into s.port.  I don't think we'd be changing our values, because many people are using lua scripts that assume the current values.  Does the firmware package you're running on the radio need to be modified to accept the values in our format?

[2016-10-08 13:41] zipray commented on #1416
Thanks mlyle,I have a Ardunio mavlink encoder,when I use the APM FC through it access XSR  receiver,remote telemetry information display is normal. if I let Sparky FC output mavlink protocol, and then through the Ardunio mavlink encoder access XSR receiver is also all showed normal .The problem is when I used The Sparky FC output Frsky S.PORT protocol to access XSR receiver , there will be display

[2016-10-08 17:22] mlyle commented on #1416
@zipray ---

FrSKY has a bunch of sensors that they sell for various purposes.

The Arduino encoder you have encodes things in a particular way.  It pretends some things are other sensor values.  Your RX is configured to assume that the fields are in that format chosen by the developers of the Arduino mavlink sport encoder.

Those are different than the interpretation of fields that FrSky has.  Th

[2016-10-08 17:22] #1416 closed, assigned to nobody

[2016-10-08 17:22] mlyle commented on #1416
P.S. For any followup, please consider the forum instead of filing a bug report against dRonin.  Thanks!

[2016-10-08 18:30] zipray commented on #1416
I see, thank you for your patience。

[2016-10-09 05:20] tracernz commented on #971
So, this is done in UAVO browser already (tiny part of #1279). Any ideas how to do this in standard UI without making things ugly?

[2016-10-09 23:15] mlyle opened #1420 "flyingpio: ppm is broken"
Failsafes; intermittently flashes correct values according to @mhv-shared from IRC.  Have not tried myself.

[2016-10-10 11:15] sonicxx commented on #725
There's also the possibility of releasing without the App Store as an enterprise app. Also there is cydia for jailbreakers.

If full functionality is desired, reusing the code is a good leg up. I don't see any down side, except for the sourcing and cost of an Enterprise certificate.

Also, VLC is back in the AppStore and was the major GPL example.  I think maybe they believe that because they are

[2016-10-11 04:56] #1349 closed, assigned to mlyle

[2016-10-11 04:57] #1327 closed, assigned to mlyle

[2016-10-11 06:05] sonicxx commented on #725
Apparently it had something to do with Mozilla software licensing? As to why they feel they are in full compliance.

[2016-10-11 18:54] mlyle commented on #725
Yes, if it's licensed under a license that doesn't have the "no further restrictions" clause all is good.

Unfortunately it requires consent of license holders to do this.

[2016-10-12 18:11] tracernz opened #1423 "GCS: Promote warning infrastructure in ConfigInputWidget to ConfigTaskWidget"
Probably with two levels, warning(highlights widget yellowish colour), and critical (highlights widget reddish colour). Use warnings for things like seemingly misconfigured throttle neutral (>15%) etc.

[2016-10-13 06:10] #1376 closed, assigned to mlyle

[2016-10-14 03:07] raetron commented on #1254
I believe I am having this same issue. I am running the latest version dRonin on a BrainRE1.
I have video and logs if needed.

[2016-10-14 04:15] tracernz commented on #1254
Yes please. :+1:

[2016-10-14 17:32] mlyle commented on #1254
Also if you have a configuration dump that would be helpful too.

[2016-10-15 05:01] faalbers opened #1424 "OSD: Page Switch Setings, wrong help text"
- Seen in version (release version or githash): release Quixote
- On flight controller (if applicable):

Issue details:
The help text in OSD: Page Switch Setings is showing flight mode switch settings instead of OSD settings.

[2016-10-15 10:00] jonnymears opened #1428 "DSMX Satellite Sparky 2 - No RC Input"
- Seen in version:  "Quixote"
- On flight controller:  Sparky 2 Clone

Issue details:

I have a clone Sparky 2 flashed with quixote that I can't get to work with a spektrum satellite.  The satellite is bound and connects to my transmitter.  When looking at the input page, I get the right values on all my channels (1-6).  All Channels respond appropriately when I use the transmitter.  But the wizar

[2016-10-15 10:04] tracernz commented on #1428
What are your endpoints set to? e.g. +/-100% Is it bound in DSMX or DSM2 (if DSM2, 1024 or 2048 resolution)?

[2016-10-15 10:08] jonnymears commented on #1428
I'm using a Devo 10 with deviation.  End points set to +-  100%.  Bound in dsmx.  On the input page I am getting a max of 1726 mid 1024 and min 326.  Thanks for the fast response!

[2016-10-15 10:25] tracernz commented on #1428
That sounds good. So it sounds like just the arm channel is playing up. Are you sure it's got the same limits?

[2016-10-15 13:10] #1424 closed, assigned to mluessi

[2016-10-15 18:52] mlyle opened #1429 "FlyingPi: ADC sometimes returns all 1's for all values"
I believe this is a firmware bug but could be hardware.

[2016-10-16 01:07] #1120 closed, assigned to mlyle

[2016-10-17 11:48] mluessi commented on #1254
One user on facebook reported the issue went away after disabling logging. Was that you @raetron? Maybe it's a CPU overload?

[2016-10-17 12:29] mhv-shared opened #1433 "FlyingPi: may need to drive STM reset line harder"
- Seen in version (release version or githash): next
- On flight controller (if applicable): flyingpi

Issue details:
I've been seeing intermittent CRC errors leading to lockup of the simulator. Realized they look a lot like the STM is resetting, and I noticed that after running the OpenOCD `flyingpi.cfg` script, the pin driving reset (BCM17) has been reconfigured as an input. Since the pullups on

[2016-10-17 15:39] mlyle commented on #1433
Ahhh.  Thank you.

[2016-10-17 23:05] mlyle commented on #1433
In the meantime I suggest this shell snippet

[code]

[2016-10-18 04:20] tracernz opened #1435 "CC3D: PWM Rx and SyncPWM on Outputs 1-3 Incompatible"
Due to timer conflict. Previous attempts to force this timer when PWM selected aren't effective.

[2016-10-18 19:12] yamahabest commented on #1348
Not reproducing anymore, maybe it was in my local build version.

[2016-10-18 19:12] #1348 closed, assigned to nobody

[2016-10-18 19:35] yamahabest commented on #971
Would it be possible to detect that a value was never changed from the default value?
If so, you could highlight the field (with a color, or an informational "i" icon), without highlighting the "false-postives" (the fields that have been changed by the user).

A bit like the BLHeliSuite indicators.

[2016-10-18 21:23] tracernz commented on #971
Well, hopefully not that many things need to be changed from default so I think that would be way too noisy. :wink:

[2016-10-19 04:20] yamahabest commented on #971
Could be, yes. Just trying to find a workable solution.

[2016-10-19 22:34] ewingate commented on #1225
These issues are still in the Quixote branch.  I installed WGET for Windows (GNU version) and that got past the wget issue, but the tar and dx.bat issues are still there.

[2016-10-19 23:19] mhv-shared opened #1438 "simulator dies when receiving NMEA GPS data"
- Seen in version (release version or githash): next
- On flight controller (if applicable): simulator/flyingpi

Issue details: when configured with `GPSDataProtocol=NMEA`, the simulator silently exits almost immediately. This only occurs if the GPS is actually connected. Works fine when set to UBX.

[2016-10-20 00:26] mlyle commented on #1438
Heh this is somewhat likely to affect more than flyingpi, given that almost no one uses NMEA.

[2016-10-20 02:46] tracernz commented on #1438
I thought that too. I have an NMEA GPS on a quad, so I'll give it a try on a regular target in the next couple of days. I guess I can hook a GPS up to a serial port on my PC and use it from POSIX sim too?

[2016-10-20 04:22] mlyle commented on #1438
that might work too yes :D

[2016-10-20 08:27] robert-hoffmann opened #1440 "Update documentation"
Hi,

Docs for the hardware inverter to use smartport here:
https://github.com/d-ronin/dRonin/wiki/User-Guide:-FrSKY-S.PORT-telemetry

List certain elements, but values of q1/q2 are not listed.
It would be nice to have a complete parts list, for those of us who don't know much about electronics.

Thanks !

[2016-10-21 09:37] robert-hoffmann commented on #1090
You can get a cheap certificate here (tested myself):
https://en.sklep.certum.pl/open-source-code-signing-283.html

Not sure if anyone is doing free ones anymore..

---

They do a nice package (ssl + code signing, etc) ..but more expensive than just a code signing one
https://www.startssl.com/

[2016-10-22 09:47] robert-hoffmann commented on #1440
I just sent the documentation page for the hardware specs to the guys who make the dronekeeper mini.

They said they'll be reviewing the opportunity to bring out an adapter.

If someone could update the docs, and maybe expand the compatibility list (cause i'm pretty sure it works on CC3D, since it works on Revo, and currently cc3d is listed as non compatible with a harware inverter), there might b

[2016-10-24 13:59] mhv-shared commented on #1227
I think this happened to me - I flew an autotune without GCS connected, but when I landed and connected the prompt to apply did not come up. I restarted the simulator (without powering down the pi) and the prompt came up, but my input settings had been lost.

[2016-10-25 10:27] lolorc opened #1442 "micro scisky, no ppm"
- Seen in version (release version or githash): ALL
- On flight controller (if applicable): micro scisky v1.2

Issue details:
they've updated the micro scisky, the receiver now does DSMX and outputs PPM, there's a MPU6050, the board is seen as a REV6 naze32.

I've never managed to make it work with dR, ppm input stays at 65535.
I've tried with 20160720.1, 20160409.2, 20160409.1 and next

Before de

[2016-10-25 10:27] lolorc commented on #1442
[scisky.txt](https://github.com/d-ronin/dRonin/files/550321/scisky.txt)

[2016-10-25 18:33] mlyle commented on #1442
I don't know, like I said on IRC.  Without having the board on hand...

I don't think we'll be able to support every single clone variant of Naze.

[2016-10-25 18:33] #1442 closed, assigned to nobody

[2016-10-26 21:09] lolorc commented on #1442
I just opened the issue as a way to gather information so i can try to fix the issue myself.
i specifically bought this old F1 brushed board because it was marked as supported by dronin, otherwise I would have gone a for one of the  F3 with a frsky rx
I'll try to persevere !

[2016-10-27 04:54] tracernz opened #1444 "HwTauLink: Bad options list for ComSpeed"
- Seen in version (release version or githash): since 3fad4c6eb6d1c8b6d56e44524bb5e62d4c520d92

Missing outer `<options>` element.
https://github.com/d-ronin/dRonin/blob/next/shared/uavobjectdefinition/hwtaulink.xml#L31-L41

[2016-10-28 21:42] mlyle commented on #1428
You could also try setting DSM to force 11 bits.  Closing for inactivity.

[2016-10-28 21:42] #1428 closed, assigned to nobody

[2016-10-29 01:07] #1444 closed, assigned to mlyle

[2016-11-01 00:39] jpbarraca commented on #1384
I think I'm having a related problem when using a Sparky2 in MacOS with Quixote.
The FC reports data, sensors are received and scopes update, but:
- It never "gets link"
- The GCSTelemetryStats object is updating with strange values: Very unstable RXDataRate (highs and lows or 0), TXFailures keeps increasing. Status is Connected.
- In linux (ubuntu 16.04, Virtualbox) gcs seems to operate correctly

[2016-11-02 00:57] #1087 closed, assigned to nobody

[2016-11-02 00:57] #1088 closed, assigned to nobody

[2016-11-03 21:33] mluessi commented on #1254
Several users have reported this on release 2016-10-04.1. Disabling logging seems to fix it, so there could be a bug in the logging module that somehow only affects RE1 or logging may be overloading the CPU.

[2016-11-06 15:56] macfly1202 opened #1451 "DIY FrSky F802 Rx Sbus not working properly - frame pulse issue"
* Seen in version : last version Naze from dRonin install package
* On flight controller : Naze
* Rx used : micro F802 from banggood http://www.banggood.com/Eachine-X73-Micro-FPV-Racing-Quadcopter-Spare-Parts-DIY-Frsky-802-8CH-SBUS-Receiver-p-1093309.html?rmmds=search
* Rx firmware used : DIY FrsKy firmware Rx F802 (from Midelic : https://www.rcgroups.com/forums/showthread.php?t=2124647&highlight=

[2016-11-06 17:36] mlyle commented on #1451
It looks like it's working correctly, but that you're not following the instruction/warning to set the RSSI channel before going into the input wizard.  Thus the RSSI ends up getting set as your throttle channel since it's "moving" immediately at the beginning of setup.

http://i.imgur.com/yxNhgmZ.png

On the next video, your ranges are set wrong but it looks like the RX subsystem is working fine.

[2016-11-06 17:41] #1451 closed, assigned to nobody

[2016-11-07 07:22] #1429 closed, assigned to mlyle

[2016-11-07 07:31] tracernz opened #1454 "Flight[ChibiOS]: Clock init is ineffective since PLL is running after bootloader"
ChibiOS function `stm32_clock_init` attempts to setup the PLL, assuming that it is inactive. PLL is usually already activated by the bootloader when we jump to firmware. Writes to PLL configuration registers are ineffective when the PLL is active.

Low priority since, as long as the bootloader clock configuration matches firmware, everything will be fine.

Relates to #1448.

[2016-11-07 08:20] #1170 closed, assigned to mlyle

[2016-11-07 17:34] mlyle commented on #1454
Yes.  Arguably this is WONTFIX/SHOULDNTFIX.

Question is, is there an anticipated benefit from de-initing the PLL?  I'm not even 100% comfortable with toggling back to internal clock and then back to PLL.

[2016-11-07 17:47] tracernz commented on #1454
The best thing I think would be to properly integrate ChibiOS so it shares ALL of the same clock/PLL settings/headers as the bootloader. That will minimise the chance of anything bad happening due to this.

[2016-11-09 05:54] ufoDziner commented on #104
After having to mess with ESC settings on my latest build, I can certainly see the desire to have this done.  @mluessi Is this getting close?  Thanks!

[2016-11-10 23:17] tracernz commented on #664
[Wowowowow](http://eigen.tuxfamily.org/index.php?title=News:Eigen_3.3_released!) :open_mouth:

[2016-11-15 03:50] #664 closed, assigned to tracernz

[2016-11-16 17:23] Duanevc opened #1458 "ESC Motor imput on Naze32 Rev6 & LUX"
* Seen in version (release version or githash):
* On flight controller (if applicable): Naze32 rev6 & LUX

Issue details: Hi Guys
When i go through my setup, im selecting the ONESHOT42 for my esc's. When all is said and done i try to do test hover but my one motor keep on spinning faster and faster. I tried the Calibrate ESC function in dRonin with every possible option but it still remain to do t

[2016-11-16 18:02] dustin commented on #1458
Does this happen with regular oneshot? (125-250)  I don't see why it would, but oneshot42 isn't really advised.

[2016-11-16 18:10] Duanevc commented on #1458
Im sure ive tried  Oneshot 125... I'll just double check

[2016-11-16 19:34] jihlein commented on #1458
The maximum loop rate in Dronin on Naze32 is 500 Hz, as determined by the MPU rate setting.  For the Lux, it is 1000 Hz.  Oneshot 125 maximum pulse width of 250 uSec is capable of 4 kHz update, 4 times faster than the max loop rate you are capable of achieving.   There's no point to Oneshot 42, it's lower resolution and more susceptible to noise.

Do the motors behave normally when test motor outp

[2016-11-16 20:32] Duanevc commented on #1458
Yes the motors behave normally when armed, just when i give throttle input in goes all wrong. Cant even hover to Auto tune. The motors have a bad twitch in them when inputs are given

[2016-11-18 03:02] LitterBugs commented on #1254
Had one of these on my maiden FPV tonight with a brand new RE1.  Had done an autotune and one brief LOS flight before this flight. Logging was enabled.

DVR of FPV feed:  [https://www.youtube.com/watch?v=WN68a2EAvTI](url)

Export and Config from RE1 post incident
[LitterBugAwk210RebootExport.zip](https://github.com/d-ronin/dRonin/files/598959/LitterBugAwk210RebootExport.zip)

Log file from flight

[2016-11-18 03:12] mlyle commented on #1254
Basically these sort into two categories:
- "It resets when I flip / go fast / etc".  I've helped 3-4 people with these, and they've been power quality issues, either from defective PDB or from build issues.
- "It's related to logging".  I am not sure this is different from the other group.  I know of one person on facebook who had the issue fixed by disabling logging.

It's interesting that somet

[2016-11-18 03:12] mlyle commented on #1254
@mluessi -- it sure looks like there's something wrong with RE1 hardware or with the support code for RE1.  How do you plan to proceed?

[2016-11-18 03:24] LitterBugs commented on #1254
This was a BOOT: INDY WDOG.  Discussion on the Facebook channel suggested that ruled out power.

[2016-11-18 03:30] LitterBugs commented on #1254
I see no indication anywhere else in the DVR feed of OSD sync issues.

[2016-11-18 03:33] mlyle commented on #1254
@LitterBugs That's incorrect.  I can generate indy wdog by dipping power (but it has to be a short dip-- longer dips become brownout reset or power-on-reset).

[2016-11-18 03:37] LitterBugs commented on #1254
If there is any more information you would like, I'll happily provide it.  I used the log viewer to review the log file and did not see anything obvious.  I would imagine the logging may not have been written out at the moment the error happened and caught what happened, but it is there for everyone to review.

[2016-11-18 03:45] mlyle commented on #1254
@LitterBugs -- Yes-- you're correct-- log files are not very useful for hunting crashes and better for flight anomalies, etc.  Right now we don't even measure power quality in any way.

The sync glitch right before is interesting--- it doesn't completely rule out firmware, because an interrupt storm or similar could delay us dealing with the beginning of the frame.  But the fact that it happens fo

[2016-11-18 04:28] LitterBugs commented on #1254
I added the power monitoring fields to the screen in the log viewer.  Looks like there is power monitoring in the log to me...
![logviewwithpower](https://cloud.githubusercontent.com/assets/22078840/20418632/944b8c7c-ad1d-11e6-864b-649500361192.jpg)

[2016-11-18 04:39] mlyle commented on #1254
I'm saying we don't ADC the microcontroller's voltage etc to know if it's consistent.  (Can measure VCC indirectly-- the microcontroller has an internal 1.2V reference that we can measure what fraction of VCC it is-- but we don't do that right now).  Probably not a bad idea for a future enhancement.

[2016-11-18 14:12] LitterBugs commented on #1254
Any testing I can do that doesn't involve flight? Really hesitant to put all this shiny new gear back in the air and risk damaging it, something, or somebody. Pretty fortunate that there was no visible damage from a freefall at that height. I've thought about securely strapping it down out in the yard and doing some static testing. Any other ideas?  I can attach a scope if there is any signal in p

[2016-11-18 19:51] mluessi commented on #1254
@LitterBugs one thing you could try is to disable logging and strap the quad down. If it doesn't reset, try flying it. If no resets happen then, it would indicate that the logging module is the causing the problem.

@mlyle I will investigate. An interrupt storm of the video sync could definitely cause this. We actually had this problem with the OG Brain and added some code to prevent it from happe

[2016-11-18 19:56] mlyle commented on #1254
@mluessi one problem with the logging module theory is some boards -- with
fairly diverse configuratilns-- have dozens of flight hours with logging.
E.g. @ufodziner, mine.-- both external serial and flash logging.  Other
people's boards seem to be prone to resets.  One guy has said turning
logging off has cured it.  Other people have had resets tied to aggressive
maneuvers.

I am not blaming a vid

[2016-11-18 20:20] LitterBugs commented on #1254
I'm going to post a slo-mo starting several seconds before it happened when I get home.  There was a brief drop in amperage for several frames just before it all happened too.   Here's a different plot of the log.  Added Throttle, CPU load, and Watchdog status to the default fields.
![image](https://cloud.githubusercontent.com/assets/22078840/20445269/64f8e80e-ada2-11e6-8294-2918eef2b821.png)

[2016-11-18 20:24] LitterBugs commented on #1254
Would hooking up an external OpenLager instead of or in addition to using the internal flash memory be of any use?

[2016-11-18 20:50] mlyle commented on #1254
Can you tell based on timing... whether the last frames with the vsync
anomaly are in the time period in the log?  Perhaps the battery current
field more be most illustrative.

On Fri, Nov 18, 2016 at 12:25 PM LitterBugs notifications@github.com
wrote:

[2016-11-18 20:51] mlyle commented on #1254
(Because if vsync looks mixed up, but everything looks happy still from the
point of view of the flight log... that's interesting).

@mluessi-- it might be worth teaching the RE1 firmware how to measure the
3V3 rail.

On Fri, Nov 18, 2016 at 12:49 PM Michael Lyle mlyle@lyle.org wrote:

[2016-11-18 22:15] mluessi commented on #1254
OK, I'm pretty sure it's video sync related. Did 3 tests using settings from @LitterBugs :
1. Logging, no video connected. No reset in 30min
2. Logging, video connected. No reset in 30min
3. Logging, video connected with frequent video GND disconnects to generate spurious interrupts. Resets frequently.

I assume this can be fixed in SW. Will look into it further.

[2016-11-18 22:19] mlyle commented on #1254
Interesting.  I wonder if this will also fix some of the "resets on aggressive acro" people-- maybe conducted noise is responsible for some of this.  Thanks @mluessi.

[2016-11-18 22:21] LitterBugs commented on #1254
In the video when the clock shows 2:41-2:42, there is a current drop to 6.6A then back up to 41A that does not show in the log.  Looks like the log stops just before I dropped throttle and raised it back up.

[2016-11-18 22:21] mluessi commented on #1254
Actually, I just did one more test: 3 but with logging disabled, doesn't reset. Maybe the increased CPU utilization by logging together with the spurious interrupts is causing it.

[2016-11-18 22:21] LitterBugs commented on #1254
So is that noise on the video input causing it, or from elsewhere?

[2016-11-18 22:24] mluessi commented on #1254
@mlyle that's definitely possible. Motor noise and ground shift during aggressive maneuvers can cause sync problems

[2016-11-18 22:24] LitterBugs commented on #1254
Could the camera adjusting to changing light be contributing to this?  Notice how the brightness changes about the time it happens too in the mosaic of frames.

[2016-11-18 22:25] LitterBugs commented on #1254
On radical moves, you could be getting radical changes in video levels.

[2016-11-18 22:27] mluessi commented on #1254
@LitterBugs if you hold your camera towards a lamp and cover/uncover it with a finger, do you see the OSD jumping / tearing? If so, it can definitely cause the problem. I can reproduce it here by enabling logging and changing the sync threshold.

[2016-11-18 22:30] LitterBugs commented on #1254
Let me go take my props off, arm it with logging enabled and try moving between light and dark rooms......

[2016-11-18 22:33] mluessi commented on #1254
Using your finger to cover/uncover the camera is the easiest way to test if the sync threshold is correct. If the OSD jumps/loses sync, you need to adjust it.

[2016-11-18 22:46] LitterBugs commented on #1254
Doing the hand trick will sometimes make the screen jump.   Hard to predict when.  Maybe fire up the strobe light to really freak it out. ;)

[2016-11-18 22:49] mluessi commented on #1254
@LitterBugs change the video sync threshold so it doesn't jump. This should "solve" the problem with the current firmware. Naturally, it shouldn't cause the reset and I'm looking into fixing it.

[2016-11-18 22:56] LitterBugs commented on #1254
FYI...  Much easier to trigger in a darker room......

[2016-11-18 23:04] LitterBugs commented on #1254
Hmmm.  Actually I was bumping the antenna which was causing the RF link signal to jump....  Need to do this direct connected to my ground station monitor.

[2016-11-18 23:17] LitterBugs commented on #1254
Just triggered a reboot by adjusting it the wrong way...  I think we are on to something here.

[2016-11-18 23:18] LitterBugs commented on #1254
Got a SW reboot message not the INDY WDOG.....

[2016-11-18 23:38] LitterBugs commented on #1254
Original 120
Lowest 113
Highest 122

New value 117

I think the reboot I got was triggered by me hitting the reboot button in the configurator.

[2016-11-19 20:01] yamahabest opened #1462 "Config gadget not loading when building as Debug on Windows"
* Seen in version (release version or githash): Next
* On flight controller (if applicable): n.a.

Issue details: Low-low-low priority.
When building as Debug (default) on Windows, on startup the GCS can't load Configd.dll. It shows a dialog box with the following text: "A dynamic link library (DLL) initialization routine failed". It builds fine though.

When building as Release, it works without

[2016-11-21 00:23] sleepyfpv opened #1464 "Flight: DShot support"
* On flight controller (if applicable): brainre1 ,BrainFPV, others(?).

Issue details:

Is there anyone here that could implement dshot 150 300 600 to dronin ?

[2016-11-21 04:10] tracernz commented on #1464
No plans at this stage due to the lack of evidence of any actual improvement vs. Effort required and restrictions on other features due to hardware allocations.

[2016-11-21 21:56] LitterBugs commented on #1254
Martin,
My baro arrived today.  Looks like weather should permit me to get a pack or two in on the way home from work tomorrow.  Logging is turned off, Vsync tuned to 117, barometer on.

Cheera!
Karl
On 11/18/2016, 17:49 Martin Luessi notifications@github.com wrote:

[code]

[2016-11-22 17:11] mluessi commented on #1254
I did some debugging this morning. It seems like a UsageFault occurs during the VSYNC ISR. By default, this fault is not handled, so it will hang in `_unhandled_exception` until the watchdog resets the CPU.

The CFSR is 0x20000, which indicates and "INVSTATE: Invalid state UsageFault". The stacked PC is 0x0, which is suspicious. From what I have read, this can be caused by a stack overflow. Have t

[2016-11-22 19:00] tracernz commented on #1254
@mluessi What's the value of the usage fault status register? It's a half word at 0xE000ED2A. See http://infocenter.arm.com/help/topic/com.arm.doc.dui0553a/Cihcfefj.html#Cihgbdbi for further details.

[2016-11-22 21:25] mluessi commented on #1464
I wonder if flyduino did something similar to when they introduced OneShot, i.e., D-Shot enables some other improvement in the fw that translates to better flight performance (like when they enabled braking when OneShot was enabled).

[2016-11-23 00:15] LitterBugs commented on #1254
Got out to the field tonight at dusk and flew two packs.  No problems at all.  Locked in and really pleased with the way it flew.

[2016-11-23 06:04] jhitesma commented on #1464
Well, oneshot didn't eat resources as bad as dshot.  And the benefits of oneshot were measurable - heck Peabody's tests with autotune were the first measurements proving a benefit from oneshot.  And I then tested oneshot with and without braking to show how much bigger the benefit from braking was compared to the relatively minor (but still measurable) difference from oneshot when blheli added sup

[2016-11-23 17:38] mlyle commented on #1464
There's also just confirmation bias.  If I change something, and then go looking at a complicated system in a subjective way... odds are I'll feel like I improved something.   This happens over and over-- remember the "reversed motor direction is better" thing?

[2016-11-23 21:27] blowback commented on #1254
I have just wired in a replacement RE1 & mPB (many thanks!) and can exhibit this behaviour on the bench. I've done the video sync calibration (min=118, max=124, actual=121). On the bench, lens cap on, just arming the motors is enough to trigger an INDY WDOG.

There is weirdness when it comes back up: instead of the usual 5 ESC beeps, I only get the first 4. You get the final beep when you disarm a

[2016-11-24 06:09] mlyle commented on #1254
@blowback -- do you have logging enabled, or are you able to manifest this crash without logging?

[2016-11-24 10:06] blowback commented on #1254
Sorry, those were both with logging disabled (vanilla Dronin install on new RE1 board), camera connected, lens cap on.

This morning I have just flown two packs without a single issue (with the camera electrically disconnected).

[2016-11-24 14:36] robert-hoffmann commented on #1365
I like this idea too.

Don't forget that most noobs (me included) just buy ARF/RTF/BNF quads. Having a list of good PIDS for these should not pose a problem for the (multiple esc/motor) hardware variations.

What kiss tried here
http://kiss.flyduino.net/dwkb/user-shared-pids/
Seems way too simple to me..

You guys already have autotown, but the main problem is, it's just a big list, and you have n

[2016-11-24 17:52] tracernz commented on #1254
That's fine. Proves it's unrelated to logging or the extra CPU load it generates. 👍

[2016-11-28 06:31] mlyle opened #1471 "UAVO data storage unaligned, conflicts with callback interface"
* UAVOs have a very strange compiler attributes (alignment 4, packed)
* The UAVO manager stores them with uint8 alignment trailed onto non-multiple-of-4 structures
* The callback interface passes this buffer into calls, which can't use them super easily because of misalignment

[2016-11-29 00:25] gpthefabman commented on #1254
Hey guys, I'm running into the exact same problem. Has it been resolved? If so, please let me know. I'm completely new to Drones and flying. This has been a steep learning curve and the loss of power mid flight has been aggravating. I cant wait until I can actually start learning on this thing and not just fixing it due to mid flight power losses.

Any help would be greatly appreciated. I'm excite

[2016-11-30 14:47] yamahabest commented on #1464
More in-depth information by @mlyle: https://forum.dronin.org/forum/d/230-dshot-for-the-win/4

[2016-11-30 16:53] mluessi commented on #1254
OK, found the problem: `PIOS_Vsync_ISR` calls `dev_cfg->set_bw_levels`, which for RE1 then accesses the FPGA via SPI. When logging is active, this seems to be causing a conflict, as the SPI is also used for logging etc. Spurious video sync interrupts will cause it to call the function repeatedly (as the video system detected switches back and forth).

I propose to move the function call into the O

[2016-11-30 17:23] mlyle commented on #1254
@mluessi  --- that sounds great.  Yes, if you try and claim a SPI in an ISR, then you can block on the semaphore and blocking in an ISR is really bad.

Thanks for running this down.

[2016-11-30 22:19] jpbarraca commented on #1405
Don't know if it is related: In a Sparky2, Log on armed, Full Bore, 50, resulted in a corrupted log. Flight was OK.

[dRonin-2016-11-30_22-03-59.drlog.zip](https://github.com/d-ronin/dRonin/files/623150/dRonin-2016-11-30_22-03-59.drlog.zip)

[2016-12-02 21:36] #1254 closed, assigned to mluessi

[2016-12-04 14:57] pug398 opened #1474 "UAVO data missing from autoupdate save"
* Seen in version (release version or githash): 8ccb52cb

* On flight controller (if applicable): sparky

Issue details:
The autoupdater does not save all uavo when upgrading. Manual export does save all uavo.

[2016-12-05 22:45] PTDreamer opened #1476 "GCS not loading default configuration"
* Seen in version 3aba6cfb892348f3825bbd43cb37d19052f0acbc:

Issue details:
Self built GCS on linux 64 fails to load default configuration after message "Some configuration is missing in the imported config and will be replaced..." and ends up loading with two workspaces that crash if clicked.
To trigger the issue just delete existing config file or start the gcs with --reset-config switch

EDIT:

[2016-12-05 22:54] PTDreamer commented on #1476
@mlyle building again probably my mistake.

[2016-12-05 22:55] mlyle commented on #1476
Very strange.  On Ubuntu 16.10, from a build tree ( ./build/ground/gcs/bin/drgcs ) all 4 confs seem to work for me

[2016-12-05 22:55] mlyle commented on #1476
(Quite likely it's something with incremental builds, if I were to guess)

[2016-12-05 23:55] PTDreamer commented on #1476
Yeh my bad, wrong origin I think.
Sorry!

[2016-12-05 23:55] #1476 closed, assigned to nobody

[2016-12-06 00:25] pug398 commented on #1474
Working with this morning's release 3aba6cfb. One of those things :)

[2016-12-06 03:06] mlyle commented on #1474
Yes, it probably is the version you updated from.  If you know the build you were coming from I can check it out.

Basically there's a known issue that if the cloud service doesn't know about the githash you're coming from (like if it is a temporary one from a pull request) it will fall back to a guess as to the version and sometimes can't read all the UAVOs if this guess is bad.

We tried to make

[2016-12-06 16:30] PTDreamer commented on #1252
Wow that web interface is a killer! nice!

[2016-12-06 17:57] pug398 commented on #1474
Pretty sure it was weekend regular morning build with all the changes in it but will have to check when I get home. All good now :)

[2016-12-06 18:42] mlyle commented on #1474
\*nods\* important thing is the build you're upgrading from, not the one to.  If you still have that info it'd be helpful.

[2016-12-06 19:48] pug398 commented on #1474
Ahh I see now. It could very well have been the test version of new autotune and that would be exactly as you explained it earlier. I just didn't catch on to what you were saying.

[2016-12-06 21:50] mlyle commented on #1474
Yes, I think that fits.

I looked at the new autotune artifacts.

* the githash 9d7879fb that they were built from-- that autotune branch merged onto next -- doesn't exist anymore as github throws that stuff away.  No one had upgraded from 9d7879fb before github threw it away, so the cloud service never learned how to upgrade from it.
* the next-best-ancestor-hash exists.  But since then, ManualCo

[2016-12-06 21:50] #1474 closed, assigned to nobody

[2016-12-11 05:47] mlyle opened #1482 "Erasing internal flash at runtime on STM32F4 targets problematic"
tErase128KB is 1.3s typical, 2.6s max.  Erasing smaller pages takes a long, long time too.  During this time flash reads stall (e.g. we can't load new code to run).

This is problematic for AQ32 and Seppuku, which don't have outboard flash.

Proposed solution:

* [ ] Move interrupt handlers to SRAM on F4
* [ ] Move RTC interrupt handler to SRAM on F4---- requires infrastructure for code-in-ram
* [

[2016-12-11 06:10] mlyle commented on #1482
I thought about this more.. this may not be sufficient because we may stall on flash and I'm not sure we'll manage to escape to an interrupt handler in that circumstance.  So an alternative plan is:

* [ ] Ensure we only FLASH_EraseSector from PIOS_FLASH_Internal when disarmed and at a safe time.  Perhaps sleep and re-check to allow other tasks to run.  Disable interrupts before the last check.
*

[2016-12-11 07:29] openha opened #1483 "PPM input pin does not work if PPM+OUTPUTS+ADC is chosen"
* Seen in version (release version or githash): next
* On flight controller (if applicable): quanton

Issue details: if selecting PPM+OUTPUTS+ADC the PPM input pin does not work, with PPM+OUTPUTS the PPM input works as expected.

[2016-12-11 17:03] mlyle opened #1485 "RE1's WS2811 LED support very limited"
Right now RE1 does its own thing for '2811 LEDs, allowing you to set a static color on startup and using a periodic timer to refresh them.

#1439 and #1449 added more general / featureful LED support for other targets, but RE1's LED driver is not hooked into these nor is the OSD configuration of the LED connected to the object (instead updating a HwBrainRe1 field).

Needs a decision from @mluessi

[2016-12-11 21:33] #1483 closed, assigned to nobody

[2016-12-11 22:40] tgreer commented on #164
I can test this if someone can code it.

[2016-12-12 00:27] tracernz commented on #164
It's a bastardised version of MSP IIRC? If so could probably create a PIOS_COM interface to the I2C device and use the existing MSP library and maybe even the existing UAVOMSPBridge.

[2016-12-12 17:22] jhitesma commented on #164
I seem to remember something about it not quite being I2C just based on I2C with some extra goofiness added in.

[2016-12-14 01:08] #1485 closed, assigned to mluessi

[2016-12-20 20:38] mlyle opened #1492 "RE1 crashes immediately upon providing S.bus input"
Reported by user on next; confirmed on seppuku branch.  Don't know if it was the LED changes or what.

[2016-12-20 23:30] mluessi commented on #1492
Did some tests: I can run the setup wizard until the point at which the sticks have to be moved to the maximum extents, then the FC resets. Doesn't seem to be related to #1488, as I can also reproduce it using the version before it merged (d74c5701a).

[2016-12-20 23:45] mluessi commented on #1492
Couldn't reproduce it on sparky2

[2016-12-20 23:54] mlyle commented on #1492
Yah I've been flying next a fair bit (but not on RE1) without issue.  Can try a little to bisect later today.

[2016-12-21 00:10] mluessi commented on #1492
The ManualControl stack was overflowing by 100 bytes. Bump it by 200 bytes? Not sure what caused the stack increase.

[2016-12-21 00:23] glowtape commented on #1492
Must have happened past November 30. I have a next build of that date on my RE1-quad and am using S.Bus without any issues.

[2016-12-21 02:31] #1492 closed, assigned to mluessi

[2016-12-31 23:53] jhitesma opened #1499 "Exporting UAVOs with no board attached potentially confusing"
* Seen in version (release version or githash): d0ab1073

Issue details:
Autoupdate failed leaving me in bootloader.  Didn't notice I was in bootloader and tried to export my UAVOs - it "worked" but I got an essentially empty UAVO dump:

<uavobjects>
    <version>
        <hardware revision="9f" serial="000000000000000000000000" type="f0"/>
        <firmware date="" hash="" tag=""/>
        <gcs d

[2017-01-02 07:01] mlyle commented on #1371
Fixed in #1477  :D  Nice to hopefully not run into this anymore

[2017-01-02 07:01] #1371 closed, assigned to nobody

[2017-01-10 07:15] #1435 closed, assigned to tracernz

[2017-01-10 17:19] tracernz opened #1507 "Tools: Python 3ize version_info.py"
* Seen in version (release version or githash):
* On flight controller (if applicable):

Issue details:

[2017-01-13 07:03] mlyle opened #1510 "seppuku: Need to set mask inactive in bootloader"
So video passes unmolested.

[2017-01-13 07:03] mlyle opened #1511 "seppuku: should blink ws2811 for panics"

[2017-01-13 07:06] tracernz opened #1512 "GCS:Seppuku: Show Rx Voltage Jumpers on Connection Diagram"

[2017-01-13 19:59] mlyle commented on #70
@tracernz did this!

[2017-01-13 19:59] #70 closed

[2017-01-13 20:00] mlyle commented on #113
Done!

[2017-01-13 20:00] #113 closed

[2017-01-13 20:00] mlyle commented on #114
Taken out of autotune path entirely now!

[2017-01-13 20:00] #114 closed

[2017-01-13 20:04] mlyle commented on #621
In large part this is done :D

[2017-01-13 20:04] #621 closed, assigned to droidicus

[2017-01-13 20:08] mlyle commented on #1291
I think this has been confirmed to be particular to these Airbot AIO targets

[2017-01-13 20:09] #1291 closed, assigned to nobody

[2017-01-13 22:29] mlyle commented on #1230
@dustin -- at some point we need to work together to run this down, as I still don't have a repro (have seen it once on flyingpi, but.)

[2017-01-14 00:23] mlyle commented on #1185
Marking WONTFIX.  It looks like MultiOSD development has slowed down, and these types of OSD issues have become much less important to us.

[2017-01-14 00:23] #1185 closed, assigned to nobody

[2017-01-14 23:54] #519 closed, assigned to mlyle

[2017-01-16 06:35] dustin opened #1518 "Brain hanging on boot"
* Seen in version (release version or githash): e55cc1bb09ca16d1fad1c2733d963e2fe396705b
* On flight controller (if applicable): Brain

Issue details:

No OSD at boot.   Can arm, but automatically disarms ~1s into flight.

Note:  I bisected this which pointed to e55cc1bb09ca16d1fad1c2733d963e2fe396705b -- e55cc1bb09ca16d1fad1c2733d963e2fe396705b^ (efb7bc7) is fine.

[2017-01-16 06:40] dustin commented on #1518
I also tried reverting e55cc1bb09ca16d1fad1c2733d963e2fe396705b on b8422e1ace6b5cde4fc63914446d7f095b1e6108 and it seems fine.

[2017-01-16 13:41] mluessi commented on #1518
How can you arm if it hangs on boot? If it hangs, the easiest would probably be to use the debugger to check where it hangs.

[2017-01-16 17:44] dustin commented on #1518
No idea.  It almost works, but no osd and only one second flights.

Apparently I forgot to add that it works fine if I boot via USB before
adding battery power.  I get osd and can fly.  Weird behavior is only when
booting via battery.

On Mon, Jan 16, 2017, 05:41 Martin Luessi <notifications@github.com> wrote:

[2017-01-16 18:31] mlyle commented on #1518
I tested this exact changeset on brain but I can't say for certain that I didn't power initially by USB.  It will require some further investigation.

[2017-01-19 16:30] mluessi commented on #1518
I did some tests. The brain OSD doesn't work at all on current next and it constantly resets. I tested the version right before the seppuku branch was merged and it's working fine, so definitely some changes in that branch broke it. @mlyle any ideas?

[2017-01-19 16:36] dustin commented on #1518
It's the one change I cited.  I flew Monday with next - that change.

On Thu, Jan 19, 2017 at 8:30 AM Martin Luessi <notifications@github.com>
wrote:

[2017-01-19 16:49] jhitesma commented on #1518
I tried to test this last night...but couldn't remember which port was which on my OG Brain and the support pages are currently unavailable as the cert on them expired in early Nov and the site is configured to use HSTS so Chrome can't fall back to HTTP.  Sent a message on FB to the Brain page but figured I'd mention it here to make sure @mluessi doesn't miss it ;)

[2017-01-19 17:52] dustin commented on #1518
Good to know I didn't waste my time on this.  :)
https://github.com/d-ronin/dRonin/wiki/BrainFPV

On Thu, Jan 19, 2017 at 8:49 AM Jason Hitesman <notifications@github.com>
wrote:

[2017-01-22 23:08] #1518 closed, assigned to mlyle

[2017-01-26 00:52] mlyle opened #1526 "Altitude handling problems"
Related: #844, #443

In #864, @dustin reported that the baro altitude and rates do crummy things on the OSD.

It looks like cfvert does not adjust PositionActual.Down to equal 0 at arming.  This affects displayed OSD values in the OSD altitude nav mode (which IMO should be preferred).

May relate to @litterbug's comment at https://github.com/d-ronin/dRonin/pull/1480#issuecomment-275268641

[2017-01-26 06:07] mlyle commented on #1252
@PTDreamer Sorry I didn't notice that, but it's @tracernz's fine work--- based on your crashreporter stuff, of course.

This was fixed by #1519.

[2017-01-26 06:07] #1252 closed, assigned to nobody

[2017-01-28 02:20] #1458 closed, assigned to nobody

[2017-01-28 02:21] #1440 closed, assigned to nobody

[2017-01-30 04:52] #1510 closed, assigned to mlyle

[2017-01-30 07:39] mlyle opened #1533 "Autotune wizard auto-pop-up freezes telem session"
Doesn't appear to happen with manual entry of "adjust previous autotune"

Recovers after leaving dialog box.   Wtf.

[2017-01-30 07:40] mlyle commented on #1533
Have only seen this on network session to sim.  Needs further work to know whether happens with USB.

[2017-01-30 20:04] mlyle commented on #1414
Fixed by #1514

[2017-01-30 20:04] #1414 closed, assigned to tracernz

[2017-01-30 20:13] mlyle opened #1535 "Use QGamePad in GCS"

[2017-01-30 20:14] mlyle commented on #1065
Superseded #1535

[2017-01-30 20:14] #1065 closed, assigned to nobody

[2017-01-30 20:16] #885 closed, assigned to nobody

[2017-01-30 20:19] mlyle commented on #315
Same as (later, but more information) #1220

[2017-01-30 20:19] #315 closed

[2017-01-30 20:46] tracernz commented on #1535
Good call. :+1:

[2017-01-30 20:47] #1511 closed, assigned to mlyle

[2017-01-30 20:48] #1533 closed, assigned to mlyle

[2017-01-31 21:19] tracernz commented on #1284
Playing with different Qt OpenGL backends a bit... GLC_Lib doesn't play nice with any except the software one. Will be good to get rid of it soon (WIP) and then we can probably fix this quite easily.

[2017-01-31 21:25] tracernz commented on #859
Done already in #1480.

[2017-01-31 21:25] #859 closed, assigned to tracernz

[2017-02-01 06:42] mlyle commented on #1284
Still broked-- too bad

[2017-02-01 07:45] tracernz commented on #1284
#1540 should be interesting.

[2017-02-01 18:56] #1526 closed, assigned to mlyle

[2017-02-01 21:40] #1464 closed, assigned to nobody

[2017-02-02 19:35] mlyle commented on #863
This is the real issue with multirotors:

![image](https://cloud.githubusercontent.com/assets/90903/22564981/6aba6cf2-e93b-11e6-9316-3385ca265277.png)

(From a simulation run, where attitude was altered to gate accelerometer data for 300ms after any fast gyro moves).  The paradoxical movement due to initial acceleration on the x/y accels biases the attitude estimate before steady state is reached.

[2017-02-02 21:14] tracernz commented on #1512
Need to pick this up, likely this evening..

[2017-02-03 04:59] tracernz commented on #1284
This was fixed for @jhitesma by https://github.com/d-ronin/dRonin/pull/1540

[2017-02-04 17:40] mlyle commented on #1220
Series of objects sent to other side and save are correct.  However a stale SystemSettings is sent.  Disconnecting and connecting immediately after this sequence yields the stale data.

[code]

[2017-02-05 17:13] #1512 closed, assigned to tracernz

[2017-02-05 23:07] #1220 closed, assigned to mlyle

[2017-02-06 00:43] mlyle commented on #1482
Defer.

[2017-02-06 01:06] mlyle commented on #61
I think this shouldn't be done.  There are settings changes where moving a default in combination with user's settings that they did change that could be dangerous.

[2017-02-06 01:06] #61 closed

[2017-02-06 01:09] tracernz commented on #61
My thinking was a table with a 2-way checkbox for each thing that will/might need to change, options are "keep old value", "use new default".

[2017-02-06 01:19] mlyle commented on #61
I think I like our current practice-- changing the name of things that we should pick up new defaults for; otherwise not picking up new defaults for existing setups.

We could do something smart with a lot more UI work and explanation.. because it would be really unclear this time around, for example, whether people should pick up my derivGamma change or not.

[2017-02-06 03:12] mlyle commented on #665
Unfortunately, this is the exact opposite direction from what we're thinking-- getting a great offline tune.  Closing WONTFIX

[2017-02-06 03:12] #665 closed, assigned to nobody

[2017-02-06 04:25] tracernz commented on #136
Have a basic impl. working in the QMLViewer plugin.
Current issues:
- [ ] No way to get bounding box or otherwise scale the camera/view to model size. Plan is to scale each of the models to a uniform size.

[2017-02-06 04:31] mlyle commented on #641
Pretty much all of these issues have been dealt with in some form.  (Modal acknowledgment not fixed but the biggest offenders squashed).

The 2 other radio-related telem bugs can remain open in its stead.

[2017-02-06 04:31] #641 closed, assigned to mlyle

[2017-02-06 04:33] mlyle commented on #206
Doesn't lend itself to tracking in an issue.

[2017-02-06 04:33] #206 closed

[2017-02-06 14:46] mindnever opened #1559 "Saving settings in PlayuavOSD hangs the board."
* Seen in version (release version or githash): next
* On flight controller (if applicable): PlayuavOSD

Issue details:

Saving settings ends up in PIOS_Assert() after unsuccessful FLASH_ProgramByte() in https://github.com/d-ronin/dRonin/blob/next/flight/PiOS/STM32F4xx/pios_flash_internal.c#L175

Upon further investigation, it is not the actual flash programming that fails, but rather FLASH_WaitFo

[2017-02-06 16:40] #271 closed

[2017-02-07 08:32] tracernz opened #1561 "GCS: Crash on SIGINT"
* Seen in version (release version or githash): Last month or two, mac and linux

[Cannot figure out why this stacktrace doesn't find symbols on the server](http://dronin-autotown.appspot.com/at/crash/ahFzfmRyb25pbi1hdXRvdG93bnIWCxIJQ3Jhc2hEYXRhGICAgOC_7bQIDA) (they are definitely there/in the correct place) so posting the minidump_stackwalk output when run locally.

Crash is from https://github.c

[2017-02-07 16:47] #1559 closed, assigned to nobody

[2017-02-07 16:48] mlyle commented on #1561
This may be a key reason behind the increased perceived crashiness for me.

[2017-02-07 16:51] mlyle opened #1562 "Consider asserting/hanging on flash errors / ERRIE"
As discussed / reported by @mindnever / #1560 --- if we have a null dereference bug we access flash, with undefined behavior.

If it's a write, it just doesn't happen, but also sets the flash error flag.  This causes us to hang on future flash programming operations (e.g. saving a config item).

It would be more helpful to crash immediately, because 1) we'd spot more bugs, and 2) the actual failur

[2017-02-07 18:02] tracernz commented on #1561
Found the bug in my symbol collection code... Should only strip the extension before appending ".sym" on Windows, doh (refactored that code recently apparently while suffering a bad case of brainfade). Now I have a whole bunch of symbols from the last 3-4 weeks to relocate (I did the main ones for this crash by hand last night).

[2017-02-07 21:26] yamahabest opened #1563 "Lists on the Authors screen are empty"
* Seen in version (release version or githash): Artifice Preview
* On flight controller (if applicable):

Issue details:
GCS logs the following errors:

21:40:18[WARNING] QFSFileEngine::open: No file name specified
21:40:18[WARNING] QTextBrowser: No document for c:%5CProgram Files (x86)%5CdRonin%5Cshare%5C%5Cgcsrelauthors.html
21:40:18[WARNING] QFSFileEngine::open: No file name specified
21:40:18[

[2017-02-07 21:34] DTFUHF commented on #1563
can reproduce on windows

[2017-02-07 21:43] DTFUHF opened #1564 "OSD: Default custom text on Seppuku is 'BrainFPV'"
* Seen in version (release version or githash): artifice preview
* On flight controller (if applicable): all with OSD

Issue details:
OSD 'Custom Text' defaults to BrainFPV, which is not appropriate for Seppuku and presumably PlayUAV, even if Custom Text is disabled by default

[2017-02-07 23:07] tracernz commented on #1563
Sigh https://github.com/d-ronin/dRonin/blob/next/package/winx86/dronin.nsi#L168
Any reason that shouldn't just copy the entire share directory?

[2017-02-09 04:14] #1563 closed, assigned to nobody

[2017-02-09 07:03] yamahabest commented on #1564
Can probably be closed, since the PR is already closed: https://github.com/d-ronin/dRonin/pull/1565

[2017-02-09 07:09] mlyle commented on #1564
thx .  fixed #1565

[2017-02-09 07:09] #1564 closed, assigned to nobody

[2017-02-09 18:32] ufoDziner opened #1570 "No modelviewer on windows"
* Seen in version (release version or githash): Preview-20170207
* On flight controller (if applicable): Sparky2

Issue details:
No model displayed in model viewer on Windows 10.

![nomodel](https://cloud.githubusercontent.com/assets/7434287/22797435/0e4dcc3e-eeb3-11e6-914e-c579bb4016ce.png)

[2017-02-09 19:23] mluessi opened #1571 "GCS connects only once to powered FC"
* Seen in version (release version or githash): d93a8de4a660b352366ae303175abaceebbb1e51
* On flight controller (if applicable): Brain, BrainRE1
* OS: Linux

Issue details:
- Power FC from external 5V
- Connect USB, GCS connects to FC normally
- Disconnect USB
- Reconnect USB, GCS does not establish connection

[2017-02-09 19:32] DTFUHF commented on #1571
can repro on Seppuku, Windows, and artifice preview

[2017-02-09 19:35] DTFUHF commented on #1571
Also Linux

Changing computers or restarting GCS doesn't fix the problem, only removing and reapplying power to the FC.

[2017-02-09 21:06] tracernz commented on #1570
![image](https://cloud.githubusercontent.com/assets/9995998/22803121/8a3ee740-ef78-11e6-8d76-af23c14fd6b9.png)

[2017-02-09 21:09] tracernz commented on #1570
Background setting was empty for some reason:
![image](https://cloud.githubusercontent.com/assets/9995998/22803182/cb9633ce-ef78-11e6-9492-505f8bdbf8b7.png)

Once set all was well:
![image](https://cloud.githubusercontent.com/assets/9995998/22803212/e3ec07b4-ef78-11e6-848a-4467ee933ebc.png)

Reset my config (`drgcs -r`), and it worked fine...

[2017-02-09 21:54] ufoDziner commented on #1570
Here are my modelview settings.

![modelview](https://cloud.githubusercontent.com/assets/7434287/22804750/56c48a7c-eecf-11e6-9271-a8e544e571e8.png)

[2017-02-10 15:30] ufoDziner commented on #1570
I tried this on my other windows computer and the model showed up correctly.  I tried the current release on the problem computer, and it's no longer working either.  It has/was working in the past so it appears to be an issue with my video and not the GCS.

[2017-02-10 16:36] mlyle commented on #1570
I just want to reopen this ot see what @tracernz says -- I'm not sure why fully-qualified paths are showing up in this dialog (instead of relative ones within the installation like works).

[2017-02-10 18:16] pug398 commented on #1570
Not sure it is related but I see once you extract the working directory dronin-preview-20170207 you cant move it otherwise you break the gcs. Resetting config doesn't fix.

[2017-02-10 20:39] ufoDziner commented on #1570
Here are my GCS settings.  Not sure if it's actually what you're looking for.
[ufo_gcs_settings.zip](https://github.com/d-ronin/dRonin/files/767740/ufo_gcs_settings.zip)

[2017-02-10 22:31] tracernz commented on #1570
Downloaded the preview build (zip), placed on desktop, ran it, closed it, and moved it to another drive, ran it. Some of the QML assets still point to the old path. Some stuff did work though, e.g. github/recent tunes/links on the welcome pane but not the buttons, and PFD is all there except the background image. Modelview was fine.
[code]

[2017-02-10 22:33] tracernz commented on #1570
I have a sneaking suspicion it is these qmlc files (compiled/cached QML?).
![image](https://cloud.githubusercontent.com/assets/9995998/22846747/dd15a3de-f04d-11e6-9704-782ee82e2c69.png)

[2017-02-10 22:38] tracernz commented on #1570
When I deleted the qmlc files, all became well again.

[2017-02-11 02:27] tracernz commented on #1571
I managed to software reboot Seppuku a few times without issue. As soon as I disconnected the USB cable and then reconnected it... it connects and attempts to send session object (GCSTelemetryStats) but looks like nothing is coming back. Flight side issue by the looks? Perhaps uncovered by #1506? But I don't see how...

[2017-02-11 02:28] tracernz commented on #1571
This looks like #1384...

[2017-02-11 02:31] pug398 commented on #1570
That seems to fix the issue I brought up. I can now move the working folder and change the name of the folder it was extracted to and gcs still works proper.

[2017-02-11 02:53] tracernz commented on #1571
It's a USB issue. I see it over both HID and VCP, but not over TCP or UART.

[2017-02-11 03:07] tracernz opened #1576 "GCS: TL_DFU runs in main thread"
Blocks GUI if e.g. USB write blocks.

[2017-02-11 04:11] tracernz commented on #1571
Quanton is the only F4 board with VBUS connected to the correct pin (PA9) for hardware (USB peripheral) VBUS detection and also the only one that doesn't suffer this bug. ;)

[2017-02-11 09:21] tracernz commented on #1571
Didn't have Brain/Re1 schematics but looking at the hardware defs they should be both PA9 too? They are configured as no pull though. I assume they have external pull-downs?

[2017-02-11 10:57] tracernz commented on #1571
Can't repro success with Quanton now... :-1: When it's in the state where board isn't responding... Wireshark shows me that the USB descriptors can still be read, but the HID interrupts receive a report with status -2 (on Linux, Wireshark reports as ENOENT), whereas normally the response status is 0 (ok).

[2017-02-11 12:48] mluessi commented on #1571
RE1 doesn't have an external pull-down on PA9. I can test if enabling the internal one makes a difference.

[2017-02-11 13:01] tracernz commented on #1571
Stopped at a random time while in the bad state: EP1 == HID

OTG_FS_DOEPCTL1, EP1 control register (0x50000B20) = 0x800e8040, or:

31: EPENA: Endpoint enable: 1
30: EPDIS: Endpoint disable: 0
29: SD1PID: Set DATA1 PID: 0
28: SD0PID: Set DATA0 PID: 0
27: SNAK: Set NAK: 0
26: CNAK: Clear NAK: 0
25-22: Reserved: 0
21: STALL: STALL handshake: 0
20: SNPM: Snoop mode: 0
19,18: EPTYP: Endpoint type: 3 =

[2017-02-12 01:36] Cro2230 opened #1578 "Sparky2 WS281x Support"
* Seen in version (release version or githash):
* On flight controller (if applicable):

Issue details:
Will next release "Artifice" support WS2811 LEDs for Sparky2

[2017-02-12 05:30] yamahabest commented on #1578
Hi, it would be better to ask this on the forum: https://forum.dronin.org/forum/.

However, I don't think there is support for ws2811 leds on Sparky in the upcoming release.

I would say the following have support right now:
- Seppuku
- BrainRE1
- Quanton
- Revolution

[2017-02-12 06:34] mlyle commented on #1578
I agree this should go to the forum.

Currently no sparky2 ws2811 support.  Someone would need to step up to implement and/or test it, and what pin is correct for it would need to get figured out.

[2017-02-12 06:34] #1578 closed, assigned to nobody

[2017-02-13 01:48] mlyle commented on #1571
Very possibly this is related:

[code]

Crashes the flight controller 100%.  (Requires GCS running).

[2017-02-13 06:45] tracernz commented on #1571
This is a dup. of TauLabs/TauLabs#1663. Not a blocker for this release.

[2017-02-13 07:18] mlyle commented on #1571
Yah, sad to defer this one but starting to look necessary.

[2017-02-13 09:30] tracernz commented on #1571
Definitely at least two different bugs. In some cases, DCD_HandleInEP_ISR fires continuously (looks like Tx FIFO empty on endpoint 1), this one would cause a watchdog reboot if I didn't have a debugger connected. In other cases this doesn't happen and LEDs still flash etc. but still no bytes received on HID, DCD_HandleInEP_ISR and DCD_HandleOutEP_ISR don't get called in this case, just seem to get

[2017-02-13 17:13] mlyle commented on #1571
Sadly no choice but to defer this.  Would definitely hotfix for this issue, though.

[2017-02-16 05:16] tracernz opened #1582 "Packaging: Artifacts from each platform should have unique names"
Some of the Windows and MacOS ones overlap currently. should be `dronin-{tag}-{platform}(-{extra-info})?.(zip|tar.xz)` or similar.

[2017-02-19 14:27] glowtape commented on #1462
Same happens here. I used Process Monitor as per recommendation of @tracernz (Filemon and Regmon are deprecated) to track this down to something.

There aren't any DLL loading failures from the operating system side, all Load Image operations finish in successes, so it's not like a dependency doesn't resolve. Nothing special in regards to registry keys. However there's some odd stuff happening wit

[2017-02-19 17:52] tracernz opened #1587 "RE1: RGB LEDs broken"
* Seen in version (release version or githash): Artifice
* On flight controller (if applicable): RE1

Issue details:
From [TPhillip on the forum](https://forum.dronin.org/forum/d/295-brainfpv-re1-led-issue-seppuku):

Tested on two different machines (one Linux) with two separate USB cables
Also tested with two different RE1s, both showed similar results
Regressed back to Artifice and verified that

[2017-02-19 17:54] tracernz commented on #1587
LitterBug reports Seppuku is okay.

[2017-02-19 22:14] LitterBugs opened #1588 "Seppuku: OSD Vsync issue can cause OSD crash FC WDOG reboot"
* Seen in version (release version or githash): 4721d629
* On flight controller (if applicable): Seppuku

Issue details:
Under the right lighting conditions, OSD looses vsync with camera or switches from NTSC to PAL and disappears.  Four seconds later the FC reboots.  This looks to be similar to the issue we had with the RE1.

I can reproduce this with the sun in the upper right corner of the scre

[2017-02-20 15:24] yamahabest commented on #954
This doesn't sound that difficult, @tracernz would you have some more information/pointers?

[2017-02-22 05:05] #1587 closed, assigned to mluessi

[2017-02-22 13:25] LitterBugs commented on #1588
Just received released board.  Going to retest on the "official" board.

[2017-02-26 16:09] mlyle commented on #1588
I'm just back from vacation now and am thinking about this.

Seppuku isn't vulnerable to the same things that RE1 was in this area.

But all three of the graphic OSD boards employ the same approach-- try to clamp video to a correct DC level, compare to a (dynamic or static) threshold, and then that fires interrupts that do stuff on the FC.  If the bias level drifts from extreme levels the thresh l

[2017-02-27 13:12] xfce commented on #1420
i change the pios_flyingpio.c's cmd->receiver_protocol = HWSHARED_PORTTYPES_SBUS
to cmd->receiver_protocol = HWSHARED_PORTTYPES_PPM
then no change, still only found the throttle stick in GCS's wizard ,
try both quitoxe and atifice branch

[2017-02-27 14:40] mlyle commented on #1570
Was fixed by #1573

[2017-02-27 14:40] #1570 closed, assigned to nobody

[2017-02-27 19:32] yamahabest opened #1600 "Authors list on Authors screen still empty"
* Seen in version (release version or githash): Artifice
* On flight controller (if applicable): -

Issue details:
The html files are now included (#1563), however the gcsauthors.html file doesn't have any authors.

[2017-02-28 18:05] tracernz opened #1602 "GCS: Rfm Bind Wizard Appears Broken"
* Seen in version (release version or githash): Release 20170213
* On flight controller (if applicable): Revo

Issue details:
http://dronin-autotown.appspot.com/at/crash/ahFzfmRyb25pbi1hdXRvdG93bnIWCxIJQ3Jhc2hEYXRhGICAgJDA5JkJDA
http://dronin-autotown.appspot.com/at/crash/ahFzfmRyb25pbi1hdXRvdG93bnIWCxIJQ3Jhc2hEYXRhGICAgJDU59sKDA
http://dronin-autotown.appspot.com/at/crash/ahFzfmRyb25pbi1hdXRvdG93

[2017-02-28 18:09] mlyle commented on #1602
Yuck.  OK.

[2017-02-28 22:29] tracernz commented on #1602
Keep in mind those are all the same guy. Needs triage. :smiley:

[2017-02-28 22:53] tracernz opened #1603 "Artifice Hotfix 1"
Issue to track/discuss hotfix (@mluessi, @mlyle).

To be fixed:
- [X] RE1: RGB LEDs broken #1587
- [x] Authors list on Authors screen still empty #1600
- [ ] ~~~GCS: Rfm Bind Wizard Appears Broken #1602~~~
- [x] Failsafe issue #1612

[2017-03-01 08:09] tracernz opened #1604 "Package: Windows Installer Missing Serial Driver (#1581)"
NSIS scripting didn't work for some reason and it doesn't show up on Windows 7 (haven't tried 8/.1).

[2017-03-01 20:01] mlyle opened #1606 "Dynamically generating udev rules breaks people who download it from repo"
As our relnotes currently suggest.

[2017-03-01 21:21] tracernz commented on #1606
It's included in packages, so no need.

[2017-03-01 21:22] mlyle commented on #1606
Is it in the zip?   If nothing else the link in the relnotes for the past
release needs to change.

On Wed, Mar 1, 2017, 1:21 PM Michael Corcoran <notifications@github.com>
wrote:

[2017-03-01 21:25] tracernz commented on #1606
Yep, should be at `$(PACKAGE_DIR)/rules.udev`, wouldn't hurt to check though. Should update past rel-notes to link to the file at the correct tag (we probably should have done this anyway).

[2017-03-01 21:28] tracernz commented on #1606
Fixed Artifice.

[2017-03-01 21:39] tracernz commented on #1606
All fixed and added a TODO to https://github.com/d-ronin/dRonin/wiki/Release-process to remind us for Neat. That should be enough to close this?

[2017-03-01 21:46] mlyle commented on #1606
Sounds good :)

[2017-03-01 21:46] #1606 closed, assigned to nobody

[2017-03-04 20:44] LitterBugs commented on #1588
Grabbed some shots off the scope of the TBS ZeroZero signal with various lighting.  Have not been able to get it to reboot on the table yet.

Lens covered:
![cameraoutlenscovered](https://cloud.githubusercontent.com/assets/22078840/23582108/0e7fb014-00f1-11e7-841f-4dedad5da3ef.jpg)
Normal scene:
![cameraoutnormalscene](https://cloud.githubusercontent.com/assets/22078840/23582116/256fc96c-00f1-11e7

[2017-03-05 17:01] glowtape opened #1612 "Stabilization: Failsafe provisions don't work properly after apparent code refactor."
* Seen in version (release version or githash): Artifice

The Stabilization module is in case of a failsafe situation supposed to pull a multirotor into a level position and stop any yaw movement, and make a plane to spiral down slowly. It does this by overriding the flight modes and seting a specific attitude and yaw rate. Apparently there was some refactoring that shuffled things around, essenti

[2017-03-05 18:08] glowtape commented on #1612
Submitted #1613 as proposal. Simple code movement.

Right now, as asked in IRC and desired by @mlyle, axes with contuining control input remain functional.

However, _usually_ RPY+Thrust usually come from the same receiver, and when it goes into failsafe, all axes are gone. If we make the assumption that there aren't any significant numbers of unicorn configurations with two or more receivers to c

[2017-03-07 21:42] mlyle commented on #1612
fixed by #1613

[2017-03-07 21:42] #1612 closed, assigned to nobody

[2017-03-07 21:58] mlyle commented on #1225
@ewingate -- would you like to open a PR to correct this, since you said you've gotten a successful build?  Windows AGCS build support is not likely to be at the top of other developers' priority lists.

[2017-03-07 22:00] mlyle commented on #1226
Was fixed by cba8f6d

[2017-03-07 22:00] #1226 closed, assigned to nobody

[2017-03-07 22:25] ewingate commented on #1225
Ok, will do.  I've switched over to Linux for dRonin builds, but I can set up the build environment for Windows and get it going again.

[2017-03-07 22:27] mlyle commented on #1225
@ewingate If this isn't something you're encountering anymore, I'm glad to close the bug WONTFIX instead ;)

[2017-03-07 22:33] ewingate commented on #1225
That's definitely a more efficient way to deal with it.

[2017-03-07 22:33] mlyle commented on #1225
Thx :)

[2017-03-07 22:33] #1225 closed, assigned to nobody

[2017-03-08 17:45] tracernz commented on #1602
He managed to get this to work somehow. Would still be good to understand the failure but this can probably be punted from the hotfix so we can get RE1 fixed.

[2017-03-09 17:43] mlyle commented on #1603
@mluessi --- artifacts are going to spit out soon and I'll upload them to https://github.com/d-ronin/dRonin/releases/tag/Release-20170213.1 within the next couple of hours.  Can you please verify LEDs on RE1 and overall function with RE1 ASAP?  (It's marked pre-release but I'll push it out more generally once you OK.)

Also, your assistance with getting #1523 out of limbo would be appreciated...

[2017-03-09 19:40] mlyle commented on #1603
@mluessi -- artifacts are up-- will you be able to look at this today?

[2017-03-09 20:25] mluessi commented on #1603
@mlyle thanks. I'm travelling at the moment without access to hardware to test things. I can test it this weekend.

[2017-03-09 23:10] tracernz commented on #1582
Also should name mac artifacts macos rather than osx.

[2017-03-10 03:30] mlyle commented on #1603
Shipped

[2017-03-10 03:30] #1603 closed, assigned to mlyle

[2017-03-10 04:43] mlyle commented on #230
There's no new OG brains, and other un-covered targets.  Any objection to WONTFIX?

[2017-03-10 05:02] mlyle commented on #1377
This doesn't affect me anymore, and I don't think anyone else is screaming for it.

[2017-03-10 05:26] tracernz commented on #1377
Agree with closing this. I'm interested in working on this for iOS at some future date but not likely to be anytime soon.

AFAICT anything you do with BTLE is going to be manufacturer and/or chip specific since the BTLE standard doesn't define profiles (e.g. Serial Port Profile in original BT spec). The single characteristic that HM-10 uses for serial is documented on various blogs etc. so it at l

[2017-03-10 05:28] tracernz commented on #230
Yeah, it's unfortunate that this will likely never happen.

[2017-03-10 05:28] #230 closed

[2017-03-10 06:32] tracernz commented on #1462
Captured a stack trace of the failure I think (with Microsoft's "Debug Diagnostic Tool"):
[code]

[2017-03-10 13:43] tracernz opened #1622 "Quanton: Serial Tx Broken"
* Seen in version (release version or githash): Release-20170213.1 and next
* On flight controller (if applicable): Quanton

Issue details:
Flight controller doesn't send any bytes back on Tx pin when UART1 configured for Telemetry at 115200 or "Init HM10" (aka 115200) (didn't try any others, went to Seppuku instead which worked okay).

[2017-03-10 13:44] tracernz commented on #1377
Bringing this one back. 😉
<img width="1314" alt="ble" src="https://cloud.githubusercontent.com/assets/9995998/23797408/9906c318-0604-11e7-92f7-1e9f72230f21.png">

[2017-03-10 17:22] mlyle commented on #1622
Dumb question-- you set UART4 which defaults to Telemetry on Quanton to Disabled, right?

[2017-03-10 18:28] mlyle commented on #1622
Hmmm.. works for me (once I got rx/tx onto the right sides :P

[2017-03-10 18:40] #1462 closed, assigned to tracernz

[2017-03-10 20:08] RoadyFPV opened #1623 "Moving Horizontal Stripes on OSD layout RE1"
Issue details:
Hi i have flashd latest dronin on my BreinFPV re1. Here i have n OSD issue, moving Horizontal Stripes from up to down on OSD layout. With the vido sync detector i cant fix it.
when i flash the older firmware dRonin 2016-10-04.1 Release ("Quixote"). The OSD is fine.

[2017-03-10 20:11] mlyle commented on #1623
Do you have any screenshots so we can better understand?

Are you running dshot?

[2017-03-10 20:15] mlyle commented on #1623
(Have many users on RE1 on Artifice with no reports of this issue, so I suspect it's something unique to your configuration...)

[2017-03-10 20:19] RoadyFPV commented on #1623
I running D-Shot600.
screenshot coming tomorrow.
Thx for fast help

[2017-03-10 20:20] mlyle commented on #1230
I believe that I understand this now.  It's racy.  Relates to task switching in a signal handler--- you can't really legitimately do that anymore.  THe major failure here is FP state getting restored by the kernel on sigreturn; if there's multiple task switches in the meantime bad things happen.

[2017-03-10 20:21] mlyle commented on #1623
dshot support is preliminary and I wouldn't really recommend it for OSD targets.  It's almost certainly your problem.

[2017-03-10 20:21] #1623 closed, assigned to nobody

[2017-03-10 20:26] mlyle commented on #1600
Was finally fixed :)

[2017-03-10 20:26] #1600 closed, assigned to mlyle

[2017-03-10 22:59] #1363 closed, assigned to mlyle

[2017-03-10 23:02] #1507 closed, assigned to mlyle

[2017-03-10 23:10] tracernz commented on #1622
Ahh... WTF... that's probably it.

[2017-03-11 03:40] #1622 closed, assigned to nobody

[2017-03-11 03:41] #989 closed, assigned to nobody

[2017-03-12 17:29] mlyle commented on #48
No more discovery board firmware.  Will have to cope with sim.

[2017-03-12 17:29] #48 closed

[2017-03-12 17:33] mlyle commented on #660
No more F1; objection to closing WONTFIX?

[2017-03-12 17:37] mlyle commented on #1193
Dup #533

[2017-03-12 17:37] #1193 closed, assigned to nobody

[2017-03-12 17:40] mlyle commented on #1341
Not seen for awhile.. Closing.

[2017-03-12 17:44] mlyle commented on #1377
PR pls? :P

[2017-03-12 18:07] mlyle commented on #1588
@litterbugs -- I've passed lots of bad video to Seppuku of various forms and cannot reproduce.  Have you had any luck?

[2017-03-12 21:05] glowtape opened #1629 "Fix QT version stuff over at readme.io"
Both v20170213 and v999-dev still refer to QT 5.6.1 and MinGW 4.9.2. Not that there's people running down our door, writing code, but @yamahabest is currently having a ball with that one.

[2017-03-12 22:32] yamahabest commented on #1629
Yeah, thanks.
And while we're at it, I can't seem to solve the following compile error:

dRonin\ground\gcs\src\libs\libcrashreporter-qt\libcrashreporter-handler\Handler.cpp(33): fatal error C1083: Cannot open include file: 'client/windows/handler/exception_handler.h': No such file or directory.

The file seems to be there on that path, but the compiler can't find it, it seems.

[2017-03-13 01:30] tracernz commented on #1629
I've been working on making Windows environment setup easy (Qt SDK download and install is taken care of like on Linux and Mac) and not breaking old branches every time we upgrade a tool. Current progress is at https://github.com/tracernz/dronin/tree/mrc-win-ng (CAUTION: don't clone this, I'll be force-pushing to the branch). I think it's pretty close.

[2017-03-13 01:34] tracernz commented on #1629
Remaining work is to check for a valid MSVS installation before installing Qt etc. (if setting up an MSVC environment), and maybe look into MS Build Tools as an alternative to installing MSVS.

[2017-03-13 02:24] LitterBugs commented on #1588
Mike,
Just gave it another shot with a flashlight on the bench and was able to
duplicate a reboot unarmed.

Karl

On 3/12/2017 2:07 PM, Michael Lyle wrote:

[2017-03-13 02:31] LitterBugs commented on #1588
Seems to happen when there is a vertical line lens flare and it crosses the right edge of the screen.  Here are some screengrabs from the 2nd video I posted at the time of the reboot.  I was able to duplicate this scenario with a flashlight close to the camera.  I'll try to get it on DVR, and also see if I can rig my scope up to capture the raw video.

![crashb01](https://cloud.githubusercontent.c

[2017-03-13 03:02] LitterBugs commented on #1588
Was able to duplicate on table again.  This time lens flare in center of the screen was able to trigger.

https://youtu.be/hkfNiIBXTcU

[2017-03-13 12:43] LitterBugs commented on #1588
Single stepping through the frames just before the OSD droppout, I noticed that this time there was a "Sensors" alarm this time that did not happen on the previous times.  One other thought, could it be possible that something on the FC is photo sensitive?

![crashc01](https://cloud.githubusercontent.com/assets/22078840/23854740/22ad80be-07c9-11e7-9bc0-2c272532fdea.jpg)
![crashc02](https://cloud.g

[2017-03-13 14:18] LitterBugs commented on #1588
I am going to going to try exposing the FC to light and see if it can be triggered.  Also will wire up my "released" Seppuku tonight and move this camera over to it to try to duplicate it on another controller.

[2017-03-13 16:51] tracernz commented on #1588
Thanks for your effort @LitterBugs 👍 .

[2017-03-13 18:43] mlyle commented on #1588
Yes-- thank you @LitterBugs.

I think you may have hit the nail on the head here-- very very clever.  It can't really be a sync issue if the OSD is still displaying up to the moment of reset and is even able to communicate an alarm-- if sync was garbage the OSD would be tearing or missing.

cc/ @DTFUHF

The baro definitely is-- the holes on the package open up to the die and it's on the same bus a

[2017-03-13 19:26] LitterBugs commented on #1588
I will also enclose the FC and see if it can still be duplicated just with light hitting the camera....

[2017-03-13 19:28] LitterBugs commented on #1588
Both times when it happened in the air,  The quad was still completely controllable for about 4 seconds after the OSD disappeared.  That makes me think this is an OSD crash....

[2017-03-13 20:47] LitterBugs commented on #1588
Tried shining light on FC only.  Did get chanages on the Baro, but no crashses.  As soon as I started back on the camera, I was able to get it to reset several times almost on command.  Going to try grabbing the raw camera signal stream with my scope and work on wiring up my other Seppuku later tonight.  In theory, can play back the stream from my scope for testing too.  Will give that a shot too.

[2017-03-13 21:34] mkroehnert opened #1631 "AndroidGCS not robust to different locales, unexpected characters"
* Seen in androidgcs version Artifice on a Moto G3 running Android 6.0.1

Issue details:

* open androidgcs
* open left drawer
* tap on `Tuning`
* androidgcs crashes independent of being connected to a flight controller or not

The crashlog can be downloaded [here](https://drive.google.com/open?id=0B-EyIKkOzbhyaW1pdWFFeHBBeGc). Unfortunately GitHub didn't let me upload the log or a zipped version

[2017-03-13 23:01] pug398 commented on #1588
Just disable the osd module and repeat what you know will cause reset as a test. My early revision board also had sensor issues and resets under the right conditions. I just got the new seppuku soldered up and hope to test it shortly.

[2017-03-14 00:00] LitterBugs commented on #1588
I was able to duplicate this with a fresh Seppuku FC, clean install of Artifice, and the same camera.  Shining light on the FC does not trigger it.  I can make the Baro readings vary by 100+ meters, but it does not crash/reboot.  Will be much easier to get the scope on it without a frame and excess wiring in the way.   Going to throw a couple different cameras at it too.

@pug398 Disabling the OSD

[2017-03-14 00:10] pug398 commented on #1588
If you connect the test setup to the gcs and wave the flashlight in front of camera does the sensor warning go red? If it does then go to OSD tab and untick enable OSD. Reboot and try again and see if sensor still goes red.

[2017-03-14 00:18] tracernz commented on #1588
Good idea @pug398. If it still crashes without OSD module running...

[2017-03-14 00:19] LitterBugs commented on #1588
Not sure the sensor warning was cause or effect but really leaning twords effect based on what actually triggers the problem.   I just tried a Runcam Swift in place of the TBS ZeroZero and can not duplicate it with the settings it has.   I'll hook up the Runcam OSD cable and crank the contrast to see if it will do the same thing.  It's quite obvious the ZEROZERO contrast is too high.  It is curren

[2017-03-14 00:33] LitterBugs commented on #1588
The GCS link drops when the reboot happens.  I'll be able to test with OSD disabled as well.  Working on that now.

[2017-03-14 00:34] mlyle commented on #1588
This does look more like OSD-- I looked at the video and there are sync artifacts.

One other thing that could be related-- if the camera in question is AC coupled (has a big capacitor on its output), the relatively large capacitor we have on video input could perhaps be a problem with level drift.

We have a relatively large ceramic (2.2uF) capacitor on the input because it's good for video quali

[2017-03-14 00:36] LitterBugs commented on #1588
Disabled the OSD and no reboot.

Changing contrast on Runcam swift did not cause it to be problematic.

[2017-03-14 00:43] LitterBugs commented on #1588
Looking through my box o parts for other cameras to test with.

[2017-03-14 01:27] LitterBugs commented on #1588
So far none of the other cameras I've tried will result in this problem.  Going to work on capturing video with the scope to see if playing it back through my scope will duplicate the issue.  If it will, I can attach the capture file.  If not, I can at least get a sample screengrab of what the signal looks like that is triggering it.

[2017-03-14 01:29] LitterBugs commented on #1588
Would hooking up an OpenLager be of any use?

[2017-03-14 02:10] LitterBugs commented on #1588
Harder to duplicate with the scope attached, but still possible.  Is the signal level supposed to drop down to  sync level in the middle of a line?
![badvideo](https://cloud.githubusercontent.com/assets/22078840/23882863/cd11fbdc-0839-11e7-8edc-b1ba3be31297.jpg)

[2017-03-14 02:29] mluessi commented on #1588
It definitely shouldn't drop down to sync level. Maybe try scoping the HSYNC and VSYNC signals coming from the sync detector on seppuku; it may detect spurious hsyncs when the level drops low.

[2017-03-14 02:32] LitterBugs commented on #1588
This must be some of the special sauce that is baked into the ZeroZero.  It is on my $#!t list for this and lack of adjustability.

[2017-03-14 03:26] mlyle commented on #1588
@LitterBugs -- no, it definitely should not.

Where were you scoping this?  The video test point on the bottom of seppuku, or straight from the camera?

If it's straight from the camera that's definitely no good.

We do need some kind of fix for too-quick-interrupts.

@mluessi -- does RE1 do anything other than thresholding?  It looks like to me this has to be vsync (since hsync doesn't fire an in

[2017-03-14 03:48] LitterBugs commented on #1588
This was scoped directly from the camera at the input to the Seppuku.    Anything else you want me to check?

[2017-03-14 11:47] mluessi commented on #1588
@mlyle yeah, the sync detector in RE1 needs the signal to be low for at least 1us for hysnc to be detected, so it may get rid of some spurious detections.

One way to fix this could be to disable the hsync interrupt until the DMA SPI transfer is complete, but it would need a 2nd interrupt for line to re-enable it, which is not ideal.

[2017-03-14 11:55] LitterBugs commented on #1588
I guess the good news in all of this is it takes some really bad non-spec video to trip it up.  I'll throw it on a RE1 tonight and see how it handles it.

[2017-03-14 19:30] mlyle commented on #1588
@litterbugs -- yes, I think that about says it.  I do think we need protection against lines toggling too quickly.  People have crashed FCs before by hooking up frsky high frequency pwm (90KHz) to serial or pwm decode lines, or there's this kind of issue.  It's just tricky to do in a general way.

[2017-03-14 23:33] #1582 closed, assigned to mlyle

[2017-03-15 03:44] LitterBugs commented on #1588
Tested RE1 with same camera for over 5 minutes and could not get it to trip up. On a side note, Trappy put out a hack for the ZeroZero to enable the settings menu, so I may be able to adjust the bloom out of it and use it on the build this RE1 is going in.   I'll keep it on hand for future testing.   Just received a couple runcam Minis that can go into my beater Seppuku Test mule and my Seppuku cl

[2017-03-15 23:45] mlyle commented on #869
I think we should just leave this as a bit of yucky legacy.  Really verifying this to be correct is too hard.

[2017-03-15 23:45] #869 closed, assigned to nobody

[2017-03-16 13:14] LitterBugs commented on #1588
I've tested a handful of other cameras on the Seppuku other than my ZeroZero and have not been able to duplicate the problem.  I put a support ticket in with TBS.  Will be getting a V2 version of the camera which I will test when it arrives.  Will also try enabling the config of the V1 camera to see if changing the settings can "fix" the camera output.  This camera has some really good low light p

[2017-03-16 21:44] pug398 commented on #1588
The only thing I can add to this is the composite sync pulse can be scoped coming off the sync detector (pin1) and when there is a sharp contrast change you can see the horizontal pulse distorting coming up off of low level maybe a 100-150mv and then going back to low again. Without any hysteresis I could easily see this detected as 2 horizontal pulses instead of 1.

[2017-03-16 22:08] mlyle commented on #1588
@pug398 I don't think extra hsync should be a problem, because all it does is starts a counter for when clocking out the line should actually begin (and this is hardware, no interrupt, etc).

Extra, frequent vsyncs could be very, very bad though-- which the timing of this at the end of the line as happens to @LitterBugs is about worst case.

The scoped artifact seems to be "very colorful black"--

[2017-03-16 22:10] mlyle commented on #1343
Proposal-- detect activity during first step of wizard, offer to set that channel as an RSSI channel.  If no activity is detected do nil.

[2017-03-16 22:13] LitterBugs commented on #1588
I'll scope the H&V sync at the LM1881.  Should be able to get both at same time since this is a dual channel scope.  Would you like it added to this thread, or #1340 ?

[2017-03-16 22:16] mlyle commented on #1588
Here is fine, #1340 will refer to it.  (And this can be a useful place to note for hardware revisions, though this bug tracker isn't relaly hardware focused).

(You might want to compare video & csync, to see if it's easier to catch the anomaly.. and then if so video & vsync).

@LitterBugs I really appreciate all your help and patience with this.  I know it's been a pain.  All in all, a very stran

[2017-03-16 22:17] mlyle commented on #1312
Obviated by #1599, which doesn't do exactly this, but does something very good to the same effect.

[2017-03-16 22:17] #1312 closed, assigned to nobody

[2017-03-16 22:19] mlyle commented on #1340
Other areas of concern---

OSD interrupts (as mentioned in #1588).  Serial stuff.

[2017-03-16 22:25] pug398 commented on #1588
A few vertical sync pulses are dropped but don't really see any added ones.

[2017-03-16 22:26] mlyle commented on #1588
@pug398 -- do you have a repro of the crash from overpeaked video?

[2017-03-16 22:28] LitterBugs commented on #1588
@mlyle Really not a pain and very glad to help.  I'm getting a better understanding on how it all works and eventually I'd like to get into some light coding.  Helping find problems and diagnose them has been a big part of my life.

[2017-03-16 22:33] mlyle commented on #1588
@litterbugs We'd love the help :D

[2017-03-16 22:34] mlyle commented on #905
Read the code again.  It all looks sane and is consistent with OpenLRS.  May just need to punt on this.

[2017-03-16 22:40] LitterBugs commented on #1588
My coding skills are very outdated....  Better at reading, tracing, and debugging than developing.  Still trying to get a good mental map of how it is all layed out and linked together.  Started putting together a dev environment once.   Need to get back to that after I get all my builds done.

Yeah, I should have said C/V sync.  If those are logic rather than analog, I can actually capture them a

[2017-03-16 22:43] mlyle commented on #1499
May be best to grey/ungrey menu item.  Of course, it'll be possible to export as you disconnect or something.. but building a full set of interlocks for this seems excessive.

[2017-03-16 22:52] jhitesma commented on #1499
I was thinking either greying out the option like you suggest, or warning the user after the export if there was no data in it.  Wasn't sure which approach would be easier to implement.

[2017-03-16 22:57] mlyle commented on #1588
@LitterBugs they're "logic"-- though @pug398 sees a slight movement on one of the signals with no pulse.

re: dev-- It's a big codebase and it's a bit arcane.  We're steadily removing code that does nothing and reorganizing ;).  When you get around it, if you have any particular area of interest I'd be glad to show you around that part of the code.

[2017-03-17 00:34] LitterBugs commented on #1588
So here's a quick sample of good video with the lens cap on.   Video on input A (top),  Csync on input 0, and Vsync on input 1.  Set trigger on Vsync and it works like a charm.
![mixedscope](https://cloud.githubusercontent.com/assets/22078840/24024186/bb57c368-0a87-11e7-90ab-e95726df58ca.jpg)

[2017-03-17 00:51] tracernz commented on #1499
Just disable the menu option when telemetry session is not connected?

[2017-03-17 00:51] LitterBugs commented on #1588
VSync seems to be normal even during an incident.  Going to zoom in on Csync to see if anything shows there.
![bigsampleglitched](https://cloud.githubusercontent.com/assets/22078840/24024510/60d7c07a-0a8a-11e7-906b-1aa3fb815a56.jpg)

[2017-03-17 00:54] tracernz commented on #660
I still think this is a good idea and make ModuleSettings less of a dogs breakfast. The UI is another issue.

[2017-03-17 01:01] mlyle commented on #1588
I've never used bitscope, but is the sampling rate high enough to capture csync correctly?  It looks like lots of csync edges are missing / jittered out.

(I also wonder if we could be missing similar, short edges on vsync)

[2017-03-17 01:06] mlyle commented on #1499
@tracernz yes

[2017-03-17 01:09] mlyle commented on #660
Yah, there's a lot of refactor of settings uavos possible, though it will break existing configurations (unless we explicitly build migration code for, which there's not a great framework).  At the same time, priorities, you know?  If we open issues for things we're not actively tripping over, we could have a pretty-close-to-infinite set of cleanup issues open.

I think the bug database is most us

[2017-03-17 01:10] LitterBugs commented on #1588
Yes, but my display isn't big enough so the screen shows aliasing.  Need to get my bigger monitor hooked up to my laptop.

[2017-03-17 01:12] LitterBugs commented on #1588
I'm also trying a couple other tools to see if I can get a better sample.

[2017-03-17 01:16] tracernz commented on #660
Indeed. It's harder to keep track of what is actually done and what isn't though when things are closed/not-done. :wink:

[2017-03-17 01:40] LitterBugs commented on #1588
It's a balancing act trying to get the most on the screen and being able to look at what is going on.  Not the best software but the hardware is plenty capable.
![zoomedin](https://cloud.githubusercontent.com/assets/22078840/24025504/2f640cc2-0a91-11e7-9961-f9bdefdb5d5e.jpg)

[2017-03-17 02:19] mlyle commented on #1588
Is purple csync?  That indeed looks bad.  -mpl

On Thu, Mar 16, 2017 at 6:40 PM LitterBugs <notifications@github.com> wrote:

[2017-03-17 02:53] mlyle commented on #1588
I am away from my test environment right now-- but I committed some things in #1640 that may be helpful.  If all goes well, artifacts may spit out there in an hour or so.

[2017-03-17 02:57] LitterBugs commented on #1588
I'm not really finding anything odd on Csync either.  Are there any other points to check?   I'm open to shipping this camera to you @mlyle if you want to give it a look.

[2017-03-17 03:01] mlyle commented on #1588
@litterbugs --- Is purple Csync-- because it looks to be toggling a lot in that screenshot you sent earlier...

Or is white/grey.  They both look like csync signals, but the purple one looks bad :P

In auditing the old brain OSD code that we're using, I definitely see deficiencies in hsync (csync) handling.  I tried to fix that in #1640 but just realized I got it subtly wrong.  I might have a buil

[2017-03-17 03:36] LitterBugs commented on #1588
I tried turning off all fields but leaving the OSD enabled.   Still resets.

[2017-03-17 03:43] LitterBugs commented on #1588
Odd/even and backdoor look good as well....

[2017-03-17 03:44] LitterBugs commented on #1588
Purple above was the digital equivalent to the Video signal.  Csync is bottom.  Logic 0

[2017-03-17 03:49] LitterBugs commented on #1588
How and when is NTSC/PAL being determined?  What would happen if the signal changed from one to the other or if the detection algorithm thought it changed?

[2017-03-17 03:55] LitterBugs commented on #1588
One thing I notice in _all three_ examples above, is the frame just before the OSD drops out, the size of the OSD screen shrinks inwards from both sides....  It's almost like the OSD is expecting more pixels and/or rows and gets stuck when the Vsync comes too early....

[2017-03-17 06:12] mlyle commented on #1588
@litterbugs re: NTSC/PAL-- on RE1 it talks to an FPGA and reprograms some registers to make it do different things.  On original Brain and Seppuku, we just load the registers for the current mode at the start of each frame.  Current mode is chosen by seeing how many lines were counted in the previous frame.

Found a deficiency in the old Brain code that Seppuku also runs, though-- if that line cou

[2017-03-17 12:36] LitterBugs commented on #1588
Evil camera?   It is the "Black Sheep" after all.   Will test tonight.

[2017-03-17 15:42] glowtape opened #1641 "I-term accumulator gets reset every loop in stabilization.c"
I only noticed this while debugging my predictor code, because values kept getting reset, that shouldn't be (because said function was only supposed to be called when an axis mode changes). Then I started tracking number of calls to the function and noticed it went sky high and kept rising no matter what.

Turns out the previous_mode array in stab.c, used to determine whether a mode on an axis was

[2017-03-17 16:27] mlyle commented on #1641
??

[code]

[2017-03-17 16:39] glowtape commented on #1641
On the quad itself, FlightStatus.Armed stays Disarmed, for whatever reason whatsoever. Any way I can derby this on the controller without special hardware?

On Fri, Mar 17, 2017 at 5:27 PM +0100, "Michael Lyle" <notifications@github.com> wrote:

??
(gdb) b stabilization.c:360
Breakpoint 1 at 0x56572308: file /home/mlyle/dRonin/flight/Modules/Stabilization/stabilization.c, line 360.
(gdb) cont
Cont

[2017-03-17 16:41] mlyle commented on #1641
So when I hook my quad up to GCS, and flip the arming switch, I see a little gear ("arming") and then the checkbox ("armed").  Those correspond to flightstatus values 1 and 2.

[2017-03-17 16:42] mlyle commented on #1641
No chance that arming got set to "always disarmed" or something is there?  Or a regression in your branch?

 i term definitely does things.. even undesired things (had a fun windup-related transient on takeoff during tests yesterday) -- in flight in current code.

[2017-03-17 16:44] mlyle commented on #1641
(also note that if I is disabled almost all quadrotors will spin freely in yaw).

[2017-03-17 18:00] glowtape commented on #1641
It's my regular quad configuration that always worked (in some fashion anyway). The branch is basically Artifice with just my Crossfire+Telemetry code and the predictor stuff that only touches the new raw_input fields. I haven't touched anything in regards to arming, manual control or related. 
When I'm back home later today, I'm gonna configure SBus n.i. to exclude the RX and check stock Artifice

[2017-03-17 18:06] mlyle commented on #1641
Does motors spin while armed work?  It also uses flightstatus.armed.

Does gyro-zeroing at arming work?  It also uses flightstatus.armed...

P term is never sufficient to remove a bias...

I strongly suspect a methodology problem...

[2017-03-17 18:37] glowtape commented on #1641
User error. Battery monitoring created a critical alarm, so benchtesting don't work :[

[2017-03-17 18:37] #1641 closed, assigned to nobody

[2017-03-17 20:13] jhitesma commented on #1369
Just ran into this again this week.  I didn't actually connect to anything, just opened the app then hit back until I was out of it...then saw the "attempting USB HID" message popping up so I pulled up recent tasks and closed it from there...but still saw the attempting USB HID messages until I finally rebooted my phone.

[2017-03-18 00:17] LitterBugs commented on #1588
Just tested the artifacts.  The screen jumps around a bunch more than it did previously and when the glitch gets triggered, it locks up and never comes back.  LED quits flashing on the FC too.

[2017-03-18 00:21] LitterBugs commented on #1588
Curious what you would use to capture and play back raw video.  I may have some other gear laying around to provide test files.  Pretty sure I have an old tuner dongle that I could use to record with, but can't remember if it did composite or component input.  (maybe both)

Also, would it be of any value to attach an OpenLager?

[2017-03-18 01:06] pug398 commented on #1588
@LitterBugs with my "bad" 12v camera I get vertical sync loss with repeated high contrast change but have yet to get sensor warning or crash since loading new artifacts. My test setup is a little different now but I felt things were better. Still have more testing to do.

[2017-03-18 01:21] pug398 commented on #1588
@LitterBugs ok I take that back. A few flicks of the light in front of the camera just now caused severe vertical sync loss and osd crashed with status led freezing on. Came back on after a long delay. Still no sensor warning or gcs disconnection which I had on previous releases.

[2017-03-18 01:35] LitterBugs commented on #1588
It appears the the LED stays in the state it was in when the OSD crashes.  It does not disconnect from GCS on my setup either.  It takes roughly 40 seconds for the OSD to come back.  Barometer is still light sensitive and reactive on GCS.  Wonder if adding a LED strip if the LED strip would hang at the same time.   Looks like the status LED output feeds the LED out from the board.

Going to add LE

[2017-03-18 01:45] pug398 commented on #1588
![newfile1](https://cloud.githubusercontent.com/assets/3682100/24068006/a6a2eb9a-0b5a-11e7-884b-2fecb036493c.png)

Shows video and vertical sync as contrast changes sharply.

[2017-03-18 01:47] LitterBugs commented on #1588
@pug398 I think your setup may be behaving different than mine.  I never loose Vsync.

[2017-03-18 01:49] pug398 commented on #1588
when you said your picture was more "jumpy" it wasn't jumping up and down?

[2017-03-18 01:52] LitterBugs commented on #1588
It is more of a format change.  Up/down yest, but the OSD is squeeded too.  Always shifts up when the sides squeeze in.

[2017-03-18 01:54] LitterBugs commented on #1588
![crashc17](https://cloud.githubusercontent.com/assets/22078840/24068070/5143ae76-0b5c-11e7-9dfd-92f280958f2c.jpg)
![crashc18](https://cloud.githubusercontent.com/assets/22078840/24068069/514201a2-0b5c-11e7-8541-6e6d80bd1ff6.jpg)

[2017-03-18 01:55] LitterBugs commented on #1588
Nuts.... just triggered a migraine.....  Going to have to stop for the night.

[2017-03-18 02:10] pug398 commented on #1588
A good friend of mine has those...I feel for you. Rest up.

In the pic above each of the 3 bias changes is when the light is waved in front of the camera and results in a missing sync pulse. Still trying to determine whether the sync pulses are truly doubled up like some of them appear to be or whether that is something caused by the software of the DSO.

[2017-03-18 02:32] LitterBugs commented on #1588
It takes quite a bright light (700 lumens) to get my camera to easily trigger the OSD issue.  Unfortunately, bright enough that it can also trigger an Ocular Aura which is a precursor to a migraine.  Between the Status LED which is very bright, and my bike headlight, It set it off.  Think I stopped just in time.  Vision is coming back and no headache.  Should be able to sleep it off.

[2017-03-18 06:21] mlyle commented on #1588
:( @LitterBugs

So, interesting all in all.  Will give it some thought.

@pug398 -- where was that video scoped?  Test point or before entry to board?

[2017-03-18 13:26] LitterBugs commented on #1588
@mlyle Where are these test points that you mention?  I've been clipping on to the LM1881 for the sync signals and the video signal wire where it is connected to the FC.  Are there any other points we should try scoping?

Also, I've noticed that the default config for seppuku analog inputs is reversed for V and I.  V defaults to ADC1 and I to ADC0.  I'm always having to flip those after clearing a

[2017-03-18 16:53] mlyle commented on #1588
@litterbugs Unfortunately the default-analog-ticket thing I can't really fix for historical reasons.  Heads up is better.

There is one test point of the buffered, clamped video on the bottom of the board.

[2017-03-18 19:38] pug398 commented on #1588
@mlyle where video enters the board. I will take the fc off the carrier plate and try to get to the test point.
vsync compared to video at test point when light passes in front of camera.
![newfile3](https://cloud.githubusercontent.com/assets/3682100/24075390/d38158b8-0bf0-11e7-85cf-6cf6e4fe94a0.png)

![newfile4](https://cloud.githubusercontent.com/assets/3682100/24076601/3e245e1c-0c0b-11e7-83d5-9

[2017-03-18 21:05] LitterBugs commented on #1588
Got an LED strip and an RX hooked up because I wanted to make sure nothing else was going bad even though the GCS was not disconnecting.   The LED strip does hang during the time the OSD is gone just as I expected.  The RX appears to be working correctly along with the gyro, baro and acc.  I was able to arm, disarm, and verify the RX inputs were responsive on the inputs tab.  I have not wired up a

[2017-03-18 21:24] mlyle commented on #1588
Oh, how long of a delay without LEDs?  We usually update the LEDs during vsync, but if vsync is missing, after 400ms will resume doing it in the system task.

[2017-03-18 21:35] LitterBugs commented on #1588
40 seconds, just like the OSD.  They stay at the same color/brightness they were when the OSD disappears until the OSD comes back.

[2017-03-18 23:44] mlyle commented on #1588
OK, I found two more issues--

first, that if we're in PAL mode (which-- assuming the issue is many extra csync pulses, seems likely-- though missing vsync could also do it) and out of video sync, while receiving NTSC video it could take a long time to go back to NTSC.  I can't really explain 40s-- 10s seems possible.

second, if we're in PAL mode receiving NTSC video we wouldn't update the LEDs s

[2017-03-19 01:14] LitterBugs commented on #1588
With the "evil camera":
The LEDs are working now even when the OSD is hung.   The OSD does not always start, and when it does, It will still hang under the right lighting.  When the OSD hangs, it never comes back.  Rebooting controller from GCS will make the OSD come back.  When changing settings in the GCS OSD screen, clicking apply, and clicking save can hang the OSD.  The OSD will sometimes han

[2017-03-19 01:29] mlyle commented on #1588
Urgh.  I should just rewrite all of this stuff.

[2017-03-19 01:30] LitterBugs commented on #1588
With a formerly "good camera",  Unplugging evil cam and plugging in good cam will hang OSD.  Making changes in GCS to OSD screen can hang OSD.  Still looks like even/odd issue with Y offset.

[2017-03-19 01:31] LitterBugs commented on #1588
LEDs are fixed!  You got that right!  :+1:

[2017-03-19 01:34] LitterBugs commented on #1588
Unplugging and replugging good cam will hang OSD...

[2017-03-19 01:43] mlyle commented on #1588
I'm just going to pull out the code that's been sitting for 3 months waiting to get merged..  as it's pretty much a rewrite and of much higher quality than what's been in the OSD before.

[2017-03-19 02:53] LitterBugs commented on #1588
Initial testing with the artifacts posted on #1640 at 10:37 look very good.  Continuing to test......

[2017-03-19 03:01] LitterBugs commented on #1588
8 minutes of intense trying and unbale to get the problem to occur.  I've seen some very light artifacting but it is localized and there is no format shift or OSD hangs happening any more.   Unplugging and replugging camera causes no issues.  Changing cameras while FC is up causes no issues.

MOST EXCELLENT JOB @mlyle !!! :+1:

[2017-03-19 03:04] pug398 commented on #1588
Yeah I don't care what others say @mlyle is the man! :)
Looks good here also.

[2017-03-19 03:09] mlyle commented on #1588
Heh, thank you both for your patience and test time..

and sorry for my frustration/being a bit short above.  Will work to get the fix landed.

[2017-03-19 03:17] LitterBugs commented on #1588
No worries!  Glad we are making solid progress!

[2017-03-20 01:06] mlyle commented on #954
@tracernz -- is this so important now that cloud stuff speaks XML?

[2017-03-20 01:12] tracernz commented on #954
Not really important, just more convenient in python/JavaScript/c++/etc. 😜 And of course less verbose and more human readable.

[2017-03-20 07:23] mlyle commented on #292
Doesn't manifest on Linux in current GCS.  need to try on mac again.

[2017-03-20 07:26] tracernz commented on #292
I have seen this in the last few months on mac IIRC. Worth checking it since we went to Qt 5.8.

[2017-03-20 07:26] mlyle commented on #76
We could add a property on UAVO fields "requiresReboot", that when changed and stored a reboot is flagged required.  hardware settings, modules, and RGB LED count are definitely some.

[2017-03-20 07:42] tracernz commented on #76
Yes, that could work. Maybe a messagebox when you hit save asking if you want to reboot.. or just set an icon on the reboot button if we want less intrusive/annoying. I think I prefer the latter.

[2017-03-20 07:47] mlyle commented on #76
I was kinda thinking something down next to the telemetry widget, so it "follows you".

[2017-03-20 14:26] LitterBugs commented on #1378
Is there still any active development going on around DSM binding?   I have several targets to test with.  Several targets will successfully put the RX into bind mode, but will not complete bind with TX.  Think the issue may be startup delay related.  Can scope with triggering to get timing and pulse counts.

[2017-03-20 16:27] mlyle commented on #1378
If you can get them into bind mode, but bind doesn't complete-- you're meting tmiing, but the number of pulses is wrong.  Note you may need to subtract one or two pulses from what's expected.

[2017-03-20 17:03] tracernz commented on #1378
Newer Spektrum receivers can be bound over UART so it'd be nice to have that but I don't have any new enough hardware currently (and I doubt many do).

[2017-03-20 17:32] LitterBugs commented on #1378
RMRC has the new telemetry RXes in stock. [SPEKTRUM SPM4649T](https://www.readymaderc.com/store/index.php?main_page=product_info&products_id=5931) I've thought about picking one up for LOS telemetry.  Usually the OSD has everything I need.

[2017-03-22 17:44] LitterBugs commented on #1378
I picked up a Spektrum SPM9645 satellite and one of the SPM4649 Telemetry units to test with.  Been using the LemonRX LM0037 and LM0007 and it is possible they have a tighter timing window.  I've also been using the Spektrum SPM4648 with autobind that does not need bind pulses.  The SPM4649 telemetry RX needs higher voltage (ie 5V) and can also use a bind plug.

[2017-03-22 23:48] mlyle opened #1650 "Review: interrupts that can cause wakeups need chibios epilogue"
F1 USB?  F1 UART?  Very possibly others.

Continuation work from #1649

[2017-03-23 00:07] mlyle commented on #1631
I can't repro this on my Nexus 5X on android 7.1.1 or my ancient tablet running 4.4.  I was on 6.0 for awhile and had no issues with this either :/

[2017-03-23 08:31] tracernz opened #1651 "GCS: Aborted Upgrade Leaves Uploader in Indeterminate State"
Can't boot or flash etc. Either have to kill gcs or the board.

Ran into this because unfortunately https://github.com/d-ronin/dRonin/commit/74da4f005db0a1056f5b0a33c09b03e92183b365 made us silently auto-load the system/installed firmware when running out of dev environment if you forgot to build firmware in the dev environment, so I noticed halfway through downloading settings that the loaded fir

[2017-03-23 21:25] tracernz commented on #1562
Kind of annoying that ST choose 0x0 as the program memory remap. :/ I guess it would actually write (over your code!) if you were running from RAM rather than flash?

[2017-03-23 21:26] #1588 closed, assigned to nobody

[2017-03-23 22:43] mlyle commented on #1562
@tracernz It's ARM's fault, since the initial vector table is at address 0.  A common choice, really, that happens to be super bad for c.  You could make the choice to mask writes to the remapped addresses, though.

And yes, it even risks writing to flash if we've happened to unlock programming, etc.

[2017-03-23 23:13] mlyle opened #1654 "Crossfire apparently sets flash error bit?"
Heard on IRC talking to @Glowtape.  Issue opened so we don't lose track.

[2017-03-23 23:15] mlyle commented on #1654
Blocks #1592 landing

[2017-03-24 00:23] #174 closed

[2017-03-24 18:31] glowtape commented on #1654
Resolved, related to #1657.

[2017-03-24 18:33] #1654 closed, assigned to nobody

[2017-03-24 18:41] mlyle commented on #1631
@mkroehnert Theory-- could this be a locale issue?  Are you in a locale that uses , for a decimal separator?  I know androidgcs crashes when something that isn't 0-9 or . is put into a tuning field.

[2017-03-24 19:14] mkroehnert commented on #1631
@mlyle thanks for looking into this issue. It could be a locale issue, since my phone uses German localization.

[2017-03-24 19:35] mkroehnert commented on #1631
@mlyle let me know if I can do some beta testing before a new version gets released.

[2017-03-24 19:40] mlyle commented on #1631
@mkroehnert I will try to look at this soon.  Thanks for the report.   I have some other things I'm working on that will need to take priority though.

[2017-03-24 23:29] mlyle commented on #1631
@mkroehnert OK i got a chance sooner than I thought I would ;)

http://jar.lyle.org/~mlyle/agcs.apk   Note you'll need to remove the one from the store before installing this, as it's unsigned.

[2017-03-25 00:14] #169 closed

[2017-03-25 00:14] #1230 closed, assigned to mlyle

[2017-03-25 04:37] #1631 closed, assigned to mlyle

[2017-03-25 04:38] #953 closed, assigned to tracernz

[2017-03-25 11:38] tracernz opened #1663 "Flight:Sim: clock_gettime not available on macOS & Windows"
c.f. #1649 I assume.

[code]
[code]

[2017-03-25 11:45] tracernz opened #1664 "PikoBLX: Missed cleanups in #1656"
First doc build since #1656 and it's already regressed. :cry:

Fixing would clash with #1660.

[2017-03-25 12:16] tracernz commented on #1663
Indentation is wrong in that code too (spaces).

[2017-03-25 14:24] mkroehnert commented on #1631
@mlyle sure, no problem. This is also not a high-priority issue on my side.

[2017-03-25 14:30] mkroehnert commented on #1631
@mlyle thanks for the fast response. I can confirm that androidgcs does not crash anymore with the version provided by you.

Next week I will check what happens when I connect to a flightcontroller.

[2017-03-25 23:48] tracernz commented on #1535
It really is just Q __Gamepad__. Cannot get half the axes and buttons of my joystick out through it even through the undocumented parts of the API so it wasn't capable of controlling GCSControl.

[2017-03-26 00:20] #1663 closed, assigned to nobody

[2017-03-26 01:04] tracernz commented on #1663
Indentation is still broken in this bit (8 spaces so it looks okay on GH, but not if you have your editor set to 4-space tabs ;)) https://github.com/d-ronin/dRonin/blob/next/flight/PiOS/posix/pios_semaphore.c#L77-L103

[2017-03-27 07:58] tracernz opened #1671 "GCS: UAVBrowser Spinbox Zeros Values > 2^31-1"
Ideally need this fixed to make a reasonable SpinBox64 impl. :( https://bugreports.qt.io/browse/QTBUG-45627

[2017-03-27 21:42] mlyle opened #1674 "No such signal Core::ConnectionManager::deviceConnected"
[code]

[2017-03-27 21:47] tracernz commented on #1674
Oops. QtCreator didn't see those and I didn't notice them through the spam from uploader etc. :( Scope gadget should definitely be connected to TelemetryManager instead!

[2017-03-27 22:01] mlyle commented on #1674
I think this prevents connection to the FC.  trying revert to make sure we're clean/OK

[2017-03-27 22:15] #1674 closed, assigned to mlyle

[2017-03-29 11:00] glowtape opened #1678 "GCS: User inteface design discussion (RFC)"
(I'm gonna close this issue once everything's discussed/clarified.)

There's a bunch of things I'd like an yay, nay and/or opinion on, when it comes to overhauling/streamlining the UI eventually:

- I'd like to enforce a color scheme, likely light/web-like (what it ends up being I'm not sure yet, that'll happen organically while trying things). When trying to apply some more graphical design eleme

[2017-03-29 15:12] mlyle commented on #1678
Yah, I'm mostly OK with this.  It may not be able to be **strictly** uniform though-- different platforms may still want different colors; do you think we can work with this?  (I want to avoid us becoming too un-native looking if possible)

Yes, kill this IMO.

I am not a fan of this except in specific cases.   Probably most importantly, I'm skeptical of rewrites-- they're a great chance to introd

[2017-03-29 17:51] tracernz commented on #1678
This is SUPER handy for development as you don't need to rebuild GCS to see changes. What do we gain by removing it?

[2017-03-29 20:51] glowtape commented on #1678
QML is out for the big stuff then. Can live with that. The idea behind this was, if some parts of the UI are subject to large rearranging, maybe just rewrite it in the more modern stuff (which I understand what QML is). Alas, skipping the QMLing is probably less work for me after all.

As far as the colors go, all three supported operating systems feature some shade of light grey by default, and i

[2017-03-29 21:02] tracernz commented on #1678
Again, what is the advantage of removing the configuration functionality? Removing all but one configuration in the default configs I'm fine with, but seems silly to pull out the code which hasn't required any maintenance and doesn't look like it will anytime soon. Removing the possibility will make life harder for developers (I use multiple configurations regularly).

The only difference between

[2017-03-29 21:14] glowtape commented on #1678
To clarify, I don't want to scrap the configurations themselves. I want this to be away from the user:

![svgconf](https://cloud.githubusercontent.com/assets/4010813/24476895/5e154e34-14d5-11e7-974c-3623ebcb28c7.png)

[2017-03-29 21:20] tracernz commented on #1678
Yeah I want that because I use it. I don't see that removing it will help anyone, but it will be a pain for me.

[2017-03-29 21:24] tracernz commented on #1678
This kind of configuribility and the generality of it is one of the things I like most about GCS..

[2017-03-29 21:25] glowtape commented on #1678
Hmmm. OK, here's maybe an alternative that might work and let us keep that field while allowing to clean up the SVGs: Adding some code in the section that loads the SVGs in the respective widgets, that checks whether a file exists, and if not, it'll rewrite the path to look into specific subdirectory (say "dronin" instead of default, deluxe or whatever). This wouldn't break the dials and whatever

[2017-03-29 21:28] tracernz commented on #1678
Can you explain what you think the issue is and how it manifests? Deleting the resource folder will break existing configurations whether the path pointing to it is fixed or configured through the XML config.

[2017-03-29 21:36] mlyle opened #1679 "VCP Oddities"
* [ ] If you read with a long timeout (e.g. PIOS_QUEUE_TIMEOUT_MAX), the port locks up for at least Linux users.
* [ ] The port is unusable for several seconds after connection when using Liunx
* [ ] VCP to BLHeliSuite doesn't seem to work (cabled serial does).

All experienced on F4 on Seppuku

[2017-03-29 21:46] tracernz commented on #1679
Hmmm, I think I was doing the 4w-if stuff over VCP with BLHelisuite. Although I do tend to use a hardware serial for Dev work because USB ports dissappear when the firmware stops so can't be sure.

[2017-03-29 22:08] glowtape commented on #1678
So, with the updated Flight Data screen, I've updated some SVGs. But they're updated in place. I've updated them in place because it's probably not a wrong assumption that most users run a default configuration, and ideally I'd like them to see the updated dials, so that the "new" Flight Data screen looks kinda consistent.

However, they're spread across the default/ and deluxe/ folders*, because

[2017-03-29 22:14] tracernz commented on #1678
Right. I would suggest we just delete whichever set are not the defaults and don't worry about what happens to users not running defaults.

[2017-03-29 22:37] glowtape commented on #1678
Ditching the redundant SVGs is definitely good. Trying to consolidate the containing folders is probably too much of a bother in retrospect.

So, in regards to colors and configurability thereof (as per comments in #1669)...

I can change things back so that the Flight Data screen fully respects the User Interface Color in the options screen. It'd just need changing some things to transparent in t

[2017-03-29 22:47] mlyle commented on #1679
I get "SetCommState function failed"   With Windows Message : "System Error.  Code: 31.A device attached to the system is not functioning"

Probably some nuances of VCP implementation that need work..

[2017-03-29 23:45] tracernz commented on #1679
I ran under WINE which probably explains why it would work for me. :wink:

[2017-03-29 23:52] mlyle commented on #1679
Looks like when opening with blhelisuite, URB requests 33 (GET_LINE_CODING) is sent twice unanswered pertaining to the IN endpoint, and 32 (SET_LINE_CODING) is sent once, and SET_CONTROL_LINE_STATE is sent once.

[2017-03-30 00:03] tracernz opened #1680 "RFC: clang-format GCS"
Rather than fighting issues with formatting in PRs etc. let's just get the pain out of the way and clang-format the whole thing in one massive conflicts-with-everything pull. And also a pre-commit hook to check it so we don't regress. Looks like Chromium have been doing this in most of their code for some time and are currently rolling it across the whole repo https://groups.google.com/a/chromium.

[2017-03-30 00:11] mlyle commented on #1679
![image](https://cloud.githubusercontent.com/assets/90903/24481940/c02ed0be-14a2-11e7-8410-28132cd5613e.png)

[2017-03-30 02:10] mlyle opened #1681 "Report from IRC that seppuku on current next gets sensor errors with NTSC"
user Verris.  Doesn't happen with Artifice, happens with current next.

PAL is fine for him and me.

[2017-03-30 07:22] mlyle commented on #1680
Let's land glowtape's stuff when it's ready, and then do it **once**  (no precommit-checks, yet) as a first step.  Can get fancier with precommit checks etc (need to be sure we have a good process for both frequent and sporadic developers to get "clean" / commitable).

We can't regress **too** badly in the next few months while we figure it out (most of the truly awful formatting is very old).

[2017-03-30 07:36] mlyle commented on #1680
Command would be something like:

[code]

I've put together a crude .clang-format, which results in:

``` 393 files changed, 20108 insertions(+), 20199 deletions(-)```

[2017-03-30 10:11] tracernz commented on #1680
We should figure out what settings Qt Creator uses and match that, thus making it simple for everybody. Without a pre-commit check there will be nothing stopping it regressing.

[2017-03-30 17:16] mlyle commented on #1680
That's true, but we'll take the biggest conflict hit (and get the biggest benefit) the first time.  I'm risk adverse and like taking baby steps :P

Also for the same big "conflict with everything" increment-- remove executable bits from tree files.

[2017-03-30 17:26] mlyle commented on #1680
[code]

[2017-03-30 18:50] mkroehnert commented on #1680
Hi, I want to share an insight from a robot framework I contribute to (https://gitlab.com/ArmarX/armarx).

The project uses a CMake-based build system and to keep the formatting of the source files clean in this project we added a specific target which runs a code formatter on all files which are marked as modified in Git.
This target is executed automatically before any source files are compiled

[2017-03-30 18:54] mlyle commented on #1680
@mkroehnert that's a good idea / way to go at first.

@tracernz -- what do you think of, as a first-step, something like that?  Best-effort-- only runs if you have the tool and aren't doing a release build.  It should slow down the rate of us accumulating regression in formatting significantly.  (I prefer things like this to precommit checks).

What I think I care most about is not losing your dox

[2017-03-30 19:03] mkroehnert commented on #1680
@mlyle if you are interested in how we did it, I can provide you with more details or the links to the relevant parts of the build system.

In addition to what I said above, we did not want to use pre-commit hooks. The problem with those hooks is, that they can not be activated by default. Each contributor would be required to install them or run a specific script to set them up.

[2017-03-30 21:46] mkroehnert commented on #1631
I can confirm that the androidgcs version provided in this PR works also, when attached to a powered flight controller.

[2017-03-30 22:04] mlyle commented on #1631
@mkroehnert excellent, thank you for the confirmation :D

[2017-03-31 21:04] utoedter commented on #1602
I can confirm that crash too, happens for me on Windows 7/64 Bit. If you need more information let me know.

[2017-04-01 08:18] mlyle opened #1687 "Opmap [Magic] waypoint stuff is all gakked."
1. There's code to keep the magic waypoint within a safe distance of home, which doesn't usually do anything.
2. The safe distance is defined as a radius, but is displayed in opmap as a box.
3. Displayed distance/bearing to magic waypoint is off by a factor of 1000 (displays kilometers, with meter legend).
4. Dragging the magic waypoint around is supposed to drive positiondesired in waypoint mode,

[2017-04-02 16:34] henn1001 opened #1689 "bootloader-updater not working for revolution target"
* Seen in version (Noticed on Artifice - quixote and onwards?):
* On flight controller (revolution):

Issue details:
I was trying to update the bootloader on a airbot f4 because i reconfigured the alarm led to buzzer (to make  it shut up while booting or flashing :p). I noticed that the bu-updater didn't work. After flashing & pressing boot, it just boots into apparently nothing - no heartbeat, no

[2017-04-02 21:31] mlyle commented on #1681
I've purchased the camera in question--- http://www.banggood.com/Eachine-OKKAN-EK1119-1100TVL-13-CMOS-Sensor-150-Degree-2_3mm-M8-Lens-Tiny-FPV-Cam-p-1085641.html?rmmds=myorder  so I can scope it.

[2017-04-02 21:31] mlyle commented on #1681
Blocker removed because it doesn't affect other NTSC users.

[2017-04-03 01:01] LitterBugs commented on #1588
Interesting problem today out at the field.  Went to fly my pre-release FC based quad with the "evil NTSC camera" and the OSD hung up on boot.  OSD detected it as PAL and just sat there with the initial logo screen.  Quad flew fine LOS other than that.
![hungosdboot](https://cloud.githubusercontent.com/assets/22078840/24592604/641f5a08-17e7-11e7-8bc6-f156b2757cf9.jpg)
Will try a different camera..

[2017-04-03 01:18] mlyle commented on #1588
@LitterBugs -- with what build?  Did this just happen once or was reproducible?

[2017-04-03 03:44] LitterBugs commented on #1588
This was the build that was working on the bench previously.  I tried another camera and it is doing the same thing.
20170319 01:46
GIT Hash 35bec65e
I'm going to go back to stock artifice and see if it still does it.  Maybe something else is going on with this board.

[2017-04-03 04:12] LitterBugs commented on #1588
I re flashed the test image and cleared all settings and it is working OK at the moment.   I backed up the settings before re-flashing.  Will try restoring settings to see if it comes back and do some other testing tomorrow.

[2017-04-04 01:38] LitterBugs commented on #1588
I was able to reproduce this pretty easy by restoring the pre-flash settings.  Narrowed it down to the "Y Offset" of the initial OSD settings page.  Can easily duplicate it even with complete default settings by changing the Y offset to a value > 4 and power cycling the board.

[2017-04-04 01:41] LitterBugs commented on #1588
FWIW,  changing the Y offset from GCS > 4 will not hang the OSD until the next cold boot of the board.  OSD hangs at the PAL/NTSC detection shown in the picture above.

[2017-04-04 01:48] LitterBugs commented on #1588
Could it be because the text at the bottom of the boot screen gets pushed off the bottom for an NTSC signal with the Y offset > 4 causing a line count overflow

[2017-04-04 02:31] mlyle commented on #1588
@litterbugs-- good find.  will not be able to look at the code just now but that shouldn't be too hard to fix.

[2017-04-05 22:20] pug398 opened #1693 "After upgrade from quixote to current next tx passthrough not working"
* Seen in version (release version or githash): 0f0f1ee6 20170404

* On flight controller (if applicable): Quanton

Issue details: Tx passthrough not working after upgrade from Quixote. Accessory0 is assigned to sbus channel6 and is working range 172uS - 1811uS. Output7 is set to 1000uS - 2000uS and correctly works gimbal when slider is moved in output test. In mixersettings mixer7 is set to acces

[2017-04-06 07:02] yamahabest opened #1697 "Handling of upgrade of unitialized FC could be improved"
Issue details:
When saving the "upgraded" settings, the GCS complains that it has no settings.
Only way to get out of the wizard is to abort.

If there are no settings, the last step of saving the "upgraded" settings can be omitted probably.

[2017-04-06 07:22] yamahabest opened #1698 "Strange size of textbox on System tab"
* Seen in version (release version or githash): a08a62cd

Issue details:
It seems to be overlapping some text?

![image](https://cloud.githubusercontent.com/assets/17543838/24742409/667a51b6-1aaa-11e7-8672-7de9d5fd5aad.png)

[2017-04-06 12:40] yamahabest commented on #1571
Seems https://github.com/d-ronin/dRonin/issues/1360 was the same issue.

[2017-04-06 19:07] mlyle commented on #1698
This is fixed in #1686.

[2017-04-06 19:13] yamahabest commented on #1698
Ok, great!

[2017-04-06 19:20] mlyle opened #1700 "Design discussion: linear algebra, actuators"
Will close this issue in a couple days after any discussion.

I want to make actuators do fancier things.  There's basically 3 considerations:

1. Right now the limited mixer matrices don't cover all control axes (e.g. accessorydesired) and it would be nice to be able to do more.
2. There's things we know about actuators that it'd be nice to react to before the delay of the delay loop.  We know if

[2017-04-06 19:21] mlyle commented on #1700
@jihlein , @peabody124 , @tracernz --- suggestions and advice wanted.

Option 4 is "write our own smaller linear algebra code" --- which is arguably the best option but I don't really want to do it.

[2017-04-06 19:25] mlyle commented on #1700
One last comment..  the "real" system parameter is the effect that actuators have on the system.  (e.g. how much motor a moves the left side up vs. motor b etc).  In effect, we currently ask the user to configure the inverse of that.  Now this will use the inverse operator to get back to the real physical parameter.

[2017-04-06 19:40] mlyle commented on #1698
When #1686 is closed this will auto-close. ;)

[2017-04-06 20:03] yamahabest commented on #1698
Whoops :-)

[2017-04-07 03:37] #1693 closed, assigned to mlyle

[2017-04-07 03:51] tracernz commented on #1697
I thought there was already a bug for this but I can't find one. Have encountered it many times but it's a little messy to fix.

[2017-04-07 04:01] #1698 closed, assigned to nobody

[2017-04-07 04:13] tracernz commented on #1535
Played with this some more, with the Qt 5.9 docs (https://doc-snapshots.qt.io/qt5-5.9/qtgamepad-index.html) and reading the source code (https://github.com/qt/qtgamepad/tree/dev/src). I _can_ get all the axes on my joystick to work with the libevdev backend. :grin: I'll hack things into a workable state and then see how it will work on macOS (GCController) and maybe Windows (Xinput).

[2017-04-07 06:56] mlyle commented on #1700
On the linalg thing, I've found an interative approximation algorithm that works well, and can live with arm-math plus a few small linalg routines written.

@jihlein-- the question remains-- can you foresee moving towards much of triflight being glued in at this kind of layer?  (working a little differently than before).  It provides a clean interface for it...

[2017-04-07 06:59] mlyle commented on #1678
Any further discussion needed here?

[2017-04-07 07:25] glowtape commented on #1678
Nope. Gotta spend some time trying a bunch of things practically first, so there's not much to discuss for now.

[2017-04-07 07:25] #1678 closed, assigned to nobody

[2017-04-07 13:13] jihlein commented on #1700
@mlyle, I think the triflight concept could work with this.  What would be good is a high level system block diagram.  It would not only help the current developers with understanding the concept, it would be a  roadmap for new developers.  I do like the idea of one large mix matrix that can handle all inputs and all outputs.

I used the DSP lib for some simple matrix math in a different project.

[2017-04-07 19:35] pug398 commented on #1689
@henn1001 I have a revolution I can check it on but was wondering if you have flashed ef_revolution.hex to the board (working?) and then flashed bu_revolution.tlfw to the board (still working?) both from the current build? (I take it you mean the bootloader is corrupt and you cannot rescue)

[2017-04-07 20:32] mlyle commented on #1700
Things like this make me nervous because the two systems can "fight".  Especially for things like matrix pseudoinverse, it's not necessarily a continuous operation-- especially as axes are added.

What I think I'd prefer is to have separate mechanisms for A) control reprojection and B) changing/blending the mixer matrix at runtime.  That way, for a tiltrotor, you could pick between A) hovering wit

[2017-04-07 20:33] mlyle commented on #1700
You're right, block diagrams would be helpful I think.

This is what we have now, give or take:

![image](https://cloud.githubusercontent.com/assets/90903/24818780/ae5c23e6-1b96-11e7-9e10-28497a90d536.png)

This is what I'd like:

![image](https://cloud.githubusercontent.com/assets/90903/24818796/bd5903c8-1b96-11e7-9923-bbb465f38ab8.png)

[2017-04-07 20:34] mlyle commented on #1700
Initial actuator model for multirotor would be a 3 control-cycle delay (filter delays are on this order) + a lowpass filter with a time constant of like, 4ms or so.  All in all, better to be optimistic and under-correct down here than to over-correct.

[2017-04-07 20:45] mlyle commented on #1700
A couple more thoughts:

For tricopters, F(S) and a portion of the inverse multiply will be replaced with a tricopter specific model.

Thought experiment to see one of the benefits: assume F(s) is unity.  If an actuator clips-- say on a hexcopter, we have 3 motors that can go "right", and the leftmost one clips causing an error in yaw and roll commands.  Next cycle we will request more yaw and rol

[2017-04-08 08:53] henn1001 commented on #1689
I flashed the ef_revolution.hex, yes. The bootloader on that combination is running fine. I can rescue and update firmware just fine and everything is working. It´s just the bu_revolution that is not working.

The bu_ does nothing. After i flash the bu_ and reboot it just boots into an empty loop or something alike.
I can still rescue though and flash a normal firmware - the bootloader is not gett

[2017-04-08 13:58] pug398 commented on #1689
Ok so yes I have had to flash the main code back after flashing bu updater on revolution. My understanding was bu updater loads into main memory and extracts and writes the bootloader from there. I assume it is overwriting key part of main code. Whether that is a bug or just the process I am not sure.

[2017-04-08 16:16] henn1001 commented on #1689
Yes that is expected. That bu_ code basically replaces the "main code" i.e. flight firmware. So after you flash the bu_, you reboot the controller. From there the old bootloader jumps into the new application, in this case the bootloaderUpdater. The updater overwrites the old bootloader and replaces it with the new one. After this you need to reflash a normal flight fw_

So did it work for you? Yo

[2017-04-08 19:46] mlyle opened #1711 "Couple of small UAVO-related niggles"
1. RGBLEDSettings isn't marked optional in modules so you get a warning on saving modules on non-LED targets.
1. I've seen this, but have no repro at this second (perhaps fixed, perhaps my sim case doesn't work)-- attempting to save one of input settings or output settings fails because it can't persist the data object providing the values/positions.

[2017-04-08 20:31] pug398 commented on #1689
Yes it worked for test in that I flash the bu_revolution.tlfw and then boot. I then disconnect, "rescue" and flash fw_revolution.tlfw. Reboot and all is well. Bootloader version is at 87 after flash. I have always had to write main flight firmware back after updating bootloader and have never had an issue. Except on seldom occasion when flashing goes wrong and I have to write entire bin back to it

[2017-04-08 20:49] mlyle commented on #1689
Direct-flashing bl_... from gcs shouldn't work to upgrade bootloader.

Direct-flashing bu_... from gcs updates the bootloader and replaces FW.  There's been a lot of reports it doesn't work right on revolution lately.  I need to bisect and track it down, but haven't had time.

[2017-04-08 20:52] pug398 commented on #1689
Meant bu_xxx.tlfw :)

I think it is the extra rescue step that is catching peoples attention since other platforms don't require it. It is same bl version 85 but changed between samsara.1 and quixote.

20160723 build ok  20160926 not ok

[2017-04-09 00:58] mlyle commented on #1680
First piece done (initial reformat, styling file) in #1712.  Next step, I think, would be to have makefile ability to force reformat, like we do with uncrustify.

[2017-04-09 01:00] mlyle commented on #1700
@jihlein -- does the block diagram help?  Does this seem sane/simple enough?  I'm hoping to go to implementation soon.

[2017-04-09 01:21] tracernz commented on #1680
For checking code formatting, a Travis-CI job that runs clang-format on the diff and reports a commit status to Github might be a good solution. The failed status would be treated as a "use caution" when merging rather than an error (it's a shame Github status API doesn't allow any differentiation).

The problem with the Doxygen stuff is that the main source of regression is bad grouping etc. whic

[2017-04-09 01:27] mlyle commented on #1680
Running it on the diff-- something like "does this PR's tree have more lines of diff-from-reference-formatting than its base?"  (not next, etc)?

Running on the files touched IMO will quickly degrade because you can't touch a file without completely fixing any formatting regressions.

I think before taking any more steps, we need to make it easy for end-users to run the formatter (and perhaps prov

[2017-04-09 01:32] tracernz commented on #1680
One thing I liked about the Qt Creator plugin was that you can set it to reformat on save. Agree that any automated checking should only check diff. I have a tab open on my desktop machine with git/clang magic to do just that.

[2017-04-09 01:40] jihlein commented on #1700
@mlyle,

Yes, it seems sane.

What do you have in mind for the actuator feedback?

The inverse mixer matrix, calculated on the fly, or once during setup?  It could be calculated in the GCS and uploaded as a UAVO during setup to save the effort of calculating it on the target board.

[2017-04-09 02:10] mlyle commented on #1700
@jihlein-- thx

Initially just a model for motors and a model for servos.  It will serve to delay-compensate (well, undercompensate) the rate PID loop and snatch a little bit more bandwidth/gain out.

Tricopters can "switch in" real feedback to combine with the model instead of the model alone.

Inbetween-- at startup we'll do enough steps of the iterative-inversion process to converge.  Later, if

[2017-04-09 15:44] pug398 commented on #1602
If you get the time could you revisit the RF Bind wizard. It works for me in 78241e0d 20170317
but appears broken in 1a2c64cc 20170330 and later. The latter is the first build I have after 20170317 but does not mean that is when problem started. Does not detect pipxtreme and uavo does not populate.

[2017-04-10 17:25] mlyle opened #1713 "Does oneshot blit out one-cycle old data?"
@tracernz ----

We have the preload enable flags set on the timer in pios_servo.c, which is good to prevent glitches in continuous mode.

Does triggering a timer generate an immediate update event?  I don't think so.  Which means that we may be programming the register for what we want to send out this time, but it only gets loaded into the capture/compare register after this update is done.

Am I

[2017-04-11 02:19] mlyle opened #1716 "mismatched delete[]/malloc in glc_lib"
[code]

[2017-04-11 02:21] mlyle opened #1717 "CrashDumpReporter does invalid memory accesses"
[code]

[2017-04-11 05:27] mlyle commented on #1717
No repro after correcting breakpad dependency issue

[2017-04-11 05:27] #1717 closed, assigned to nobody

[2017-04-11 18:38] mlyle commented on #1713
Confirmed the right thing happens-- preload must get flushed on trigger, too.

[2017-04-11 18:38] #1713 closed, assigned to nobody

[2017-04-17 05:50] mlyle commented on #1700
Work underway / design discussion done

[2017-04-17 05:50] #1700 closed, assigned to nobody

[2017-04-18 04:17] mlyle opened #1737 "GCS needs to funnel unconfigured vehicles through setup wizard"
Like the upgrade check- spot no mixer / output configuration and prompt to run the vehicle setup wizard, which in turn will take them to input wizard and then arming settings.

[2017-04-18 04:18] mlyle commented on #1737
(There's a class of user who shows up to support channels having read no doc and with no output / vehicle configuration wondering why things don't arm.  They are still likely to have a bad experience with this, not knowing how to get through autotune / rates / etc..... but this at least gets them a step further).

[2017-04-19 00:19] RossMay opened #1740 "Decrease brightness of 2812 LED while powered via USB"
The 2812 LED is incredibly bright, a fact Englishman is very proud of. This is great except over USB where it is very blinding.

[2017-04-19 01:34] mlyle commented on #1740
Also will reduce power requirements if we dial this down some.

[2017-04-23 23:20] fotis400 opened #1746 "Wrong implementation of axis-lock"
* Seen in version (release version or githash):
Possibly all, tested with firmware #190852f3.

* On flight controller (if applicable):
OpenPilot Revolution

Issue details:
The current implementation of axis lock is wrong. It is not true axis-lock, it is unusable for helis, where it is very necessary.

I am currently setting up a Trex 450 Pro (helicopter), with an OpenPilot Revolution board. For he

[2017-04-23 23:52] mlyle commented on #1746
I agree our axis lock implementation is not good, but I don't agree completely with this.

It's also bad to just integrate a rate command and come up with desired attitude.   Because if the axis underperforms for whatever reason, it may "catch up" to the command later and be a big surprise.

Note that there's been quite a few people flying on helicopters with this exact concept of axis lock across

[2017-04-24 08:22] fotis400 commented on #1746
Well I understand your points, but this are only theoretical concerns, not actual.

Yes this is normal. This is how it has been for the last 20 years or so in the helicopter world. And this is how it is implemented in the "high-end" flybarless controllers. You will see warnings about this all over the place, in all manuals and forums. Pilots are aware of this.

On the one hand this is the desired

[2017-04-24 08:27] fotis400 commented on #1746
Oh and another thing. In attitude mode the flight computer decides the fastest path to the desired attitude. Requesting for self-level, while rolled right, will result in a left roll, etc.

In axis-lock, the direction of the stick input has to be maintained. For example if I request a super fast 340 degree right pirouette, the heli may not have have the time to perform the maneuver yet. It has to

[2017-04-24 13:57] mlyle commented on #1746
There are large sets of flight regimes of aircraft where an axis becomes saturated and completely unresponsive.  Fewer on helicopters, but definitely on multirotors and fixed wing.  It is really bad if rudder gets stuck right and there's not anything a pilot can do about it.

Hmm.. I flew a helicopter with just a rate gyro (P) a decade ago; and then built a controller that did what was effectively

[2017-04-24 18:05] fotis400 commented on #1746
Well yes definitely, I also have used rate gyros for helis. But again only with a revo mix, and surely is by far inferior to an axis lock system. The PI is improvement against the P only controller, but only regarding the rate of turn. Not the aircrafts actual attitude.

I was thinking however your concerns today. I came up with the following idea, that it will solve any such issues.

The implemen

[2017-04-24 19:51] mlyle commented on #1746
You've basically described how the loiter controller works--  if you move the stick while in a loiter/position hold mode, the position setpoint is integrated, but it also decays back towards the current position to prevent it from getting unsafely ahead.  I've planned to do this for a variant of axis lock, but it's not a very high priority.

[2017-04-24 19:51] #1746 closed, assigned to nobody

[2017-04-27 01:09] tracernz opened #1748 "GCS:Wizard: Destruction order problems"
OutputCalibrationUtil seems to have problems:
http://dronin-autotown.appspot.com/at/crash/ahFzfmRyb25pbi1hdXRvdG93bnIWCxIJQ3Jhc2hEYXRhGICAgND5sooJDA
http://dronin-autotown.appspot.com/at/crash/ahFzfmRyb25pbi1hdXRvdG93bnIWCxIJQ3Jhc2hEYXRhGICAgJCltM0LDA

[2017-04-28 18:46] yamahabest opened #1751 "Mention of Tau Labs in the Options dialog"
Issue details:

Shouldn't this be dRonin by now? Or Tau Labs/dRonin?

![image](https://cloud.githubusercontent.com/assets/17543838/25542632/a7b037ee-2c53-11e7-9f96-97ab8bf8cbfb.png)

[2017-04-28 19:37] tracernz commented on #1751
Or just "Automatically connect recognised USB devices".

[2017-04-28 20:53] #1751 closed, assigned to yamahabest

[2017-04-28 22:25] yamahabest commented on #1272
This has improved in the build I just tried: http://jar.lyle.org:8080/job/dronin/1078/

Accessory 1 and 2 now do show movement. 👍
However, Accessory 2 duplicates the movement of Accessory 1. This is only in the Wizard, in the RC Input tab it is still ok.

[2017-04-29 19:56] ekaszubski commented on #1746
Sorry to show up late, but yaw control has been great for all my helis, 325mm - 515mm.

Edit: I primarily fly AxisLock for yaw, but I've flown Rate mode too and it does a decent job with a big enough Ilimit.

[2017-04-29 20:33] mluessi opened #1756 "Elevon mix is wrong"
* Seen in version (release version or githash): b48a5b5227fb57e6584cda18e68e446c6dc4dcdb
* On flight controller (if applicable): RE1

Issue details:

Trying to configure a flying wing with eleon mix. Using a elevon mix with 100% for pitch and roll, results in the correct mixer (servo 1: pitch 127, roll: 127, servo 2: pitch 127, roll -127), but the servos act on the wrong axis, i.e., the servos act

[2017-04-29 20:41] mluessi commented on #1756
Silly me.. one of the servo directions had to be reversed :)

[2017-04-29 20:41] #1756 closed, assigned to nobody

[2017-04-30 04:48] tracernz commented on #1602
With a freshly booted PipX, it will not reply to an HwTauLink request. If you send the object from GCS it will work after that. The bind wizard relies on getting a reply to the HwTauLink request to identify the board. Need to look into firmware to set why it doesn't work anymore.

[2017-04-30 06:24] tracernz commented on #1602
@pug398 https://github.com/d-ronin/dRonin/pull/1758 should fix your issue.

[2017-04-30 11:38] tracernz commented on #1711
1. Ah, should do that.
2. Yah, UAVO relations in ConfigTaskWidget are two-way binding, no way to make them one-way currently.

[2017-04-30 14:05] pug398 commented on #1602
@tracernz both taulink and oplink modules are operational again. Excellent work! Thanks :)

[2017-05-06 05:10] mlyle opened #1763 "Check: Hexa-X motor mixing."
I'm not mr. check for correct signs, but it sure seemed like it was wrong before...

[2017-05-08 15:54] jhitesma commented on #1763
Not sure what you mean by "Hex-H"  I only see "Hexa" and "Hexa-X" - though X does look kind of like an H in our drawing.  I've been flying the X on my hex since day one without any issues.  Well, other than having to remember that our motor rotations are reversed from what *flight used so I always have to click the reverse all motors box since this build originally had *flight on it since I can't

[2017-05-09 02:34] mlyle opened #1767 "angry build output on OSX (even on successful builds)"
[code]

[2017-05-12 17:12] mlyle commented on #1767
Issue is the old git version that comes with mac os x.  I've done brew install git to get a newer version, but for whatever reason the jenkins slave does not prefer it like the baseline path on the user it runs under.

This is likely why things are marked dirty, too, right?

[2017-05-16 20:49] mlyle opened #1775 "Highlights in UAV browser broken"
My fix in the static analysis PR, and subsequently sucked.  Need to look at, but can't now.

[2017-05-16 22:22] tracernz commented on #1775
Added a comment on the PR (#1774).

[2017-05-17 05:48] mlyle opened #1776 "sim: config check races with task startup"
So e.g. I have an altitude hold error because the config check happens too early before task startup has completed.   If I save the object prompting a recheck all is happy.

[2017-05-17 12:57] jihlein commented on #1775
I don't know if it's the proper fix but in treeitem.cpp changing:

*m_currentTime = *currentTime;

back to:

m_currentTime = currentTime;

restores correct operation.   Can put together PR if it helps.

[2017-05-17 16:54] mlyle commented on #1775
No.. will get something together in the next couple of days.. this code is not good and will require something systemic to fix.

[2017-05-23 18:48] #1679 closed, assigned to nobody

[2017-05-25 16:05] LitterBugs commented on #1763
I'm working on a F550 Hex with a DTFc and can give it a check.

[2017-05-31 00:16] #1775 closed, assigned to mlyle

[2017-06-02 00:28] LitterBugs commented on #1763
Tested on Flamewheel F550 Hex with DTFc.  No issues flying.

[2017-06-02 00:34] mlyle commented on #1763
Nice, thanks.  I must have had map wrong or something.

[2017-06-02 00:34] #1763 closed, assigned to nobody

[2017-06-02 07:59] mlyle opened #1792 "RFC: Shared memory UAV object repository implementation [LICENSING IMPLICATIONS]"
Hey everyone----

I've been looking at some new SOCs that are coming out, that have shared memory between microcontroller resources and primary ARM cores.  These would seem to be very well suited for advanced use cases of dR.

Thoughts / requirements:

1. It would be nice to be able to split up tasks between fast cores (to do fancy stuff) and microcontroller cores (to do hard realtime things).  Ho

[2017-06-02 19:15] mlyle commented on #1602
Fixed by #1758

[2017-06-02 19:15] #1602 closed, assigned to nobody

[2017-06-02 19:17] mlyle commented on #1227
The flush operations introduced fixed this.

[2017-06-02 19:17] #1227 closed, assigned to nobody

[2017-06-03 06:06] tracernz commented on #1767
Quite likely. Introduced in Git 2.7 by the looks.

[2017-06-03 17:49] tracernz opened #1799 "GCS: Telemetry status bar overlaps tab controls"
Regression from #1669. The main problem is it shadows almost all of the click area for the scroll button, and also it covers a lesser amount visually.
![image](https://cloud.githubusercontent.com/assets/9995998/26755790/323e35da-48e9-11e7-8a6d-ed7fce2e59a1.png)

Would be nice if we dropped that box altogether when space is really tight I think.

[2017-06-07 07:17] garrinkimmell opened #1807 "RC Configuration Wizard settings fail to save with a timeout"
* Seen in version (release version or githash): Release-20170213.1: 20170309-190852f3
* On flight controller (if applicable): Release-20170213.1   (git hash 190852f3) (Seppuku FC)

Issue details:

I ran the GCS RC Input "Configuration Wizard" to completion, but the settings failed to save at the end. The portion of the system log indicating the failure appears to be the following. Full log is at [

[2017-06-07 16:07] mlyle commented on #1807
@garrinkimmell --- I'm not sure what you're encountering as I've not seen it before.  Since you have a config dump already, can you try resetting the configuration partition to see if things change?

Go into the firmware uploader, click 'rescue', plug in seppuku.  Right click on "settings" in the partition browser at right, and select "Erase" from the menu.  After booting and importing your config

[2017-06-07 17:03] garrinkimmell commented on #1807
@mlyle I had actually done a settings partition erase immediately before running the config wizard -- you've been helpful to me in a variety of forums lately :) As it is now, I _am_ able to import the config and that config is persisted across reboots. When I get a chance tonight I'll try another partition erase followed by an import of that config and let you know.

One thing I did notice was tha

[2017-06-07 17:48] mlyle commented on #1807
Strange.

Do you have any unusual modules running or unusual configuration?

One oddity we've encountered in the past, is that if someone tries to write to a NULL pointer, it puts the STM32's flash controller into an error state and we can't program config successfully.  I'm not aware of any bugs like this, but if you have something unusual turned on (mavlink? etc) it could be a factor.

[2017-06-08 04:06] garrinkimmell commented on #1807
Just tried the following:

1. Erase settings partition, reboot, load configuration in gist above, saved (on `System` tab), reboot. Settings were persisted.

2. Manually edited the configuration file to set Uart3 to "Disabled" from "GPS"  (the only module checked in the `Modules` tab), saved, and exported configuration.

3. Re-ran the steps in #1 above, except using the sans-GPS configuration from

[2017-06-08 05:52] mlyle commented on #1807
@garrinkimmell Can you please attach your configuration or email to mlyle@lyle.org to see if i can save it to a seppuku and then make further changes?

[2017-06-08 16:17] mlyle commented on #1807
Investigated-- unfortunately this was #1657

[2017-06-08 16:17] #1807 closed, assigned to nobody

[2017-06-08 22:21] tracernz commented on #104
Closing this since we can now do this through BLHeliSuite. I don't think we ever want to take on the maintenance burden of BLHeli configuration ourselves.

[2017-06-08 22:21] #104 closed

[2017-06-08 22:23] tracernz commented on #136
Works okay inside a QTabWidget + QSplitter in a minimal demo app, but breaks GCS when inside a UAVGadget. Will need to look at UAVGadget stuff to see if it's doing something wrong/deprecated.

[2017-06-13 18:17] yds opened #1812 "Radio Configuration Wizard Accessory2 taking input from Accessory1"
* Seen in version (release version or githash):  908e5eed
* On flight controller (if applicable):

Issue details:  When going through the Radio Configuration Wizard I get the following correct mapping:

Accessory0: Chan 7
Accessory1: Chan 9
Accessory2: Chan 10

However the on-screen representation toggles **both** _Accessory1_ and _Accessory2_ when the _Chan 9_ switch is toggled and does not toggl

[2017-06-13 19:01] yamahabest commented on #1812
Sounds similar to this: https://github.com/d-ronin/dRonin/issues/1272

[2017-06-13 21:35] mlyle commented on #1812
Dup #1272, thx

[2017-06-13 22:01] yds commented on #1689
To replicate install the [LibrePilot bu_revolution.opfw](https://librepilot.atlassian.net/wiki/download/attachments/4128780/bu_revolution.opfw?version=2&modificationDate=1444083434338&cacheVersion=1&api=v2) then install the dRonin bu_revolution.tlfw and the booloader stays at the LibrePilot version 6.  The only way to get the dRonin bootloader ver 87 installed is via a [DFU method](https://forum.d

[2017-06-14 01:18] tracernz commented on #1689
Chances are it's this: https://github.com/tracernz/dronin/blob/next/flight/targets/bu/common/main.c#L67

I'd rather not remove the only check that stops you flashing the wrong bootloader to the wrong board. Perhaps we could do the check in GCS instead before it even lets you flash the bu... and gives you an option to continue anyway if you know what you're doing.

[2017-06-14 05:18] mlyle commented on #1689
@tracernz So the actual values should be the same-- checked the board types, revisions, etc between LP and our trees.  And the structure is the same and should be at the same offset.  Every time I've looked at this I've been puzzled, but I've not dumped memory or debugged to compare.

[2017-06-14 22:39] tracernz commented on #1689
Can confirm the same. I'm struggling to see where it could error out without at least erasing the existing BL.. Needs debugger.

[2017-06-15 05:55] #1812 closed, assigned to nobody

[2017-06-15 09:22] tracernz commented on #1689
Hmmm... something off here...:
[code]
We have a PC in .rodata (pios_flash_chip_internal)...

[2017-06-15 09:26] tracernz commented on #1689
Single-stepping it, things go bad at:
[code]

[2017-06-15 16:06] mlyle commented on #1689
Oh shit, librepilot leaves usb interrupts running when it branches to us.

[2017-06-15 16:13] #1671 closed, assigned to nobody

[2017-06-15 19:23] mlyle commented on #1681
Cannot repro with the camera in limited testing

[2017-06-15 19:41] mlyle commented on #1689
oh maybe that's not the cause-- just what i eyeballed.  yes, rodata doesn't seem awesome.

[2017-06-15 20:45] yds commented on #1689
FWIW, the dRonin bu_revolution.tlfw fails with the [bu_RevoMini_TauLabs_v85.opfw](https://drive.google.com/file/d/0B8C4VLhY7oSQS1NKSmhZWlZWX2M/view) from the [forum thread](https://Forum.dRonin.org/forum/d/311-revolution-bootloader-update-issues/6) the same as it does with the [LibrePilot bu_revolution.opfw](https://LibrePilot.Atlassian.net/wiki/download/attachments/4128780/bu_revolution.opfw?vers

[2017-06-17 06:59] #1711 closed, assigned to nobody

[2017-06-17 13:56] tracernz commented on #1561
This crash moves around to all sorts of unrelated widgets if you change code etc. indicating a problem with destruction order. Bisected it down to d0583431cb7075097264c7b70dccfe0f377fea7e which makes a lot of sense. I'll revert that PR and see if I can come up with an alternative (I think I have one).

[2017-06-18 04:52] #1561 closed, assigned to nobody

[2017-06-18 22:49] tracernz opened #1828 "Flight: Integrate MSP library into UAVOMSPBridge"
Library and MSPUAVOBridge were written in a hurry for a release, with the intent that the library would be common between the two bridges, but I never got back to refactoring UAVOMSPBridge. It's a little bit bigger now since the ESC programming stuff came in (it uses the some of the same words with different meanings e.g. handler).

[2017-06-18 22:54] tracernz commented on #1828
Good opportunity to refactor and clean the module up a bit (it's rather a mess ATM).

[2017-06-19 02:23] tracernz commented on #1828
#674 is the original issue.

[2017-06-20 04:38] tracernz commented on #739
I wonder how this goes now.

[2017-06-20 04:39] tracernz commented on #292
Anybody seen this in the last few months?

[2017-06-20 04:42] mlyle commented on #292
It only happened to me on Mac OS X which I've not used in awhile.  Can retest

[2017-06-20 04:44] tracernz commented on #236
I can't find any reports of this from other Qt users. That + my issues with Qt OpenGL stuff within GCS  main window/uavgadget vs in standalone apps makes me quite suspicious of our main window + uav gadget stuff...

[2017-06-20 05:06] tracernz opened #1830 "Test macOS 10.13 High Sierra beta"
Before we release, make sure there are no show-stoppers.

[2017-06-20 08:25] CopterFail commented on #1689
Does this mean it is actually not recommended to change to dRonin for a RevoMini, running an older LibrePilot (incl BL)?

[2017-06-20 16:18] dustin commented on #863
I've been struggling with this on fixed wing lately.  Roll is OK.  I'm able to fly fine with roll in auto-leveling.  Pitch doesn't work well at all.  With default accel gains, I get something that looks like this (ST1 is leveling on roll, rate on pitch):

![image](https://user-images.githubusercontent.com/1779/27343719-9ee78c98-5598-11e7-9650-e847c115d333.png)

Which leads to a position hold attem

[2017-06-20 16:20] mlyle commented on #1689
@CopterFail -- no, it just means one can't use the bootupdater to run the dRonin bootloader which has a few different features.  We don't usually recommend switching bootloaders unless one has to, anyway.

[2017-06-20 16:22] yds commented on #1689
@CopterFail no, not at all.  dRonin works fine with the [LibrePilot bu_revolution.opfw](https://librepilot.atlassian.net/wiki/download/attachments/4128780/bu_revolution.opfw?version=2&modificationDate=1444083434338&cacheVersion=1&api=v2) and even better with the [ bu_RevoMini_TauLabs_v85.opfw](https://drive.google.com/file/d/0B8C4VLhY7oSQS1NKSmhZWlZWX2M/view) bootloaders.

[2017-06-20 23:53] jhitesma commented on #236
I'm not even sure if I can repo this anymore...the linux notebook I was using it on where this was happening is 32bit so I abandoned it awhile back.  I haven't seen it happen on MacOS or Windows - and don't have a newer system running Linux to test on right now.

[2017-06-21 00:00] jhitesma commented on #292
Just tried it on MacOS with a build from May 8th (most recent I had on hand) and wasn't able to repo.  Can try again later with a newer build to re-confirm.

[2017-06-21 00:23] tracernz commented on #236
I've seen it recently but never found a reliable repro like the original issue.

[2017-06-21 03:51] pug398 opened #1832 "GCS: System>Settings>VtolPathFollowerSettings>HorzVelMax"
* Seen in version (release version or githash): fee710d1 20170618 and current next
* On flight controller (if applicable): Quanton

Issue details: Clicking on default 10 m/s value causes GCS to crash. Win10.

[2017-06-21 05:04] tracernz commented on #1832
Sorry, that's my bad.

[2017-06-21 05:23] #1832 closed, assigned to nobody

[2017-06-22 03:57] mlyle commented on #1681
Cannot repro with more extensive testing.

[2017-06-22 03:57] #1681 closed, assigned to nobody

[2017-06-22 04:04] mlyle commented on #1689
Sparky2 bu fails too, so this is a fundamental regression in f4 bu.

[2017-06-22 19:47] mlyle opened #1838 "Make sure DC gain of lowpass filter is unity"
cc @glowtape

Since there's a copy of the same code in GCS used for autotune, it could perhaps explain gains being too high with the 1.3 noise-sens that was validated before.

[2017-06-22 22:23] glowtape commented on #1838
As per IRC, I've done that feeding million of 10s resulting in 10 thing, does it just fine. As per various documentation on the web, the DC gain of a BW filter is supposedly always 1.

What lowpass filter was used in an earlier neotune prototype, before the new lowpass filter stuff went in, that resulted in an 1.3 noise sensitivity?