[2017-06-23 00:56] mlyle commented on #1838
Was a false alarm, it seems.  In the future we should have unit test for similar changes.

[2017-06-23 00:56] #1838 closed, assigned to nobody

[2017-06-23 09:40] tracernz opened #1842 "GCS: Refactor Uploader"
Backend stuff and upgrader needs to move out of UAVGadget as there can be many instances of this. The gadget should be simply a UI displaying the current state of the backend, and allowing the user to send commands to the backend when appropriate. The plugin should keep track of state etc. The plugin should provide some additional public functions such as reboot to ConfigTaskWidget and DefaultHwSe

[2017-06-23 09:46] #1776 closed, assigned to nobody

[2017-06-23 10:28] tracernz opened #1843 "GCS: Core version constants don't cause files to recompile"
So incremental builds end up with different revisions in different plugins etc. I'm thinking about just making a small library in gcs/src/libs/gcsversion that only does this so it requires minimal recompilation + linking time, and everybody should link to it and fetch revisions through it's member functions.

[2017-06-23 11:03] tracernz commented on #1799
I could fix the visual issue but not the mouse click area overlap, deferring.

[2017-06-24 04:42] tracernz commented on #1748
Just bashed the hell out of the output calibration page, plugging/unplugging board at various stages etc. and can't repro this at all on Linux. Looked over the code and saw nothing wrong.

[2017-06-24 16:04] glowtape opened #1846 "GCS: Doesn't load properly on Windows"
Something must have happened recently, that affects the Windows builds. Older builds of mine start up fine, but I compiled a next build from scratch and it complained about missing dependencies all over the place. Downloaded a build from Jenkins, same story.

![drama](https://user-images.githubusercontent.com/4010813/27509943-9bb858a0-5907-11e7-9d1f-db66e1b2cb03.png)

[2017-06-24 16:45] #1846 closed, assigned to nobody

[2017-06-24 20:29] glowtape opened #1848 "revolution: SPIPeripheral to MAX7456 bootloops"
Per this thread on the forums:

https://forum.dronin.org/forum/d/56-led-strip/8

Trying to track down an issue that suddenly stopped being reproducible, it appears that my Revo clone doesn't like SPIPeripheral set to MAX7456 at all. Configuration erased on bootloader, boot, set that option, reboot, and voila, it's stuck in a bootloop. Even with a dummy quad configuration, it goes haywire, once set

[2017-06-25 04:13] tracernz commented on #1499
Broken by #1847

[2017-06-27 22:56] mlyle opened #1853 "GCS does not start on 10.12.5"
Seen since last night's nightly.

[2017-06-27 22:57] mlyle commented on #1853
[code]

[2017-06-27 23:01] mlyle commented on #1853
[code]

[2017-06-28 00:32] tracernz commented on #1853
https://github.com/d-ronin/dRonin/blob/b323ecce4bc16b80aa638fdff07793a872d2e3f7/ground/gcs/src/rpath.pri#L2

[2017-06-28 00:33] tracernz commented on #1853
Actually plugins get it from here... https://github.com/d-ronin/dRonin/blob/b323ecce4bc16b80aa638fdff07793a872d2e3f7/ground/gcs/src/gcsplugin.pri#L44

[2017-06-28 00:48] nanodude opened #1854 "Temperature compensation without a sufficient temperature swing can make NaNs"
* Seen in version (release version or githash): Release-20170213.1
* On flight controller (if applicable): BrainFPV RE1

Issue details:

After performing Temperature Compensation, it is no longer possible to perform an Automatic Level Detection. Looking at the Sensor Settings on the browser on the RHS, a few of the values are NANs. After these NANs are changed to zero, Automatic Level Detection wo

[2017-06-28 01:24] mlyle commented on #1853
Last time this #1331 was mysteriously cured, perhaps relating to a mac os x builder reboot...

so uh, I'm going to do that..

[2017-06-28 02:49] mlyle commented on #1853
Rebooted it, fixed ... suspect this is really #1341.

[2017-06-28 02:49] #1853 closed, assigned to nobody

[2017-06-28 02:52] mlyle commented on #461
Needs to move to use file transfer infrastructure... that said I bet this is **way** better. :P

[2017-06-28 02:54] mlyle commented on #1384
I think I plan to close this in favor of #1571, as it's the core obvious repro case.

[2017-06-28 02:54] #1384 closed, assigned to nobody

[2017-06-28 03:01] mlyle commented on #292
I can't repro either!  Woot.

[2017-06-28 03:01] #292 closed

[2017-06-28 03:47] tracernz commented on #1384
It's a different issue (USB peripheral on flight side vs. session management handshake on ? side for this one)?

[2017-06-28 04:01] mlyle commented on #1384
I think/thought session management is correct, and this glitch happens when USB falls apart (e.g. it's OS/version dependent, seems to relate to hotplug, etc).  That is, this seems to be a more general description of  #1571 --- am I wrong?

[2017-06-28 04:57] mlyle commented on #1854
For now I suggest you avoid temperature compensation

[2017-06-28 05:19] tracernz commented on #1384
No this is when we're talking and sending objects back and forth but the session handshake gets "stuck".

[2017-06-28 05:22] mlyle commented on #1384
OK, I've not seen that.  Can it be repro'd?

[2017-06-28 05:23] tracernz commented on #1384
I've not found a reliable repro (I have tried a little bit), just seen it happen very occasionally.

[2017-06-28 05:30] nanodude commented on #1854
Thank you, Michael. The NANs don't appear on any of the polynomial coefficients, though. As far as I can tell, the coefs are legit after a 45C temp ramp. If I remember correctly, the NANs appeared on AccelBias, AccelScale and ZAccelOffset, but not all components.

[2017-06-28 05:43] tracernz commented on #1854
I tried without changing the temp, then was able to do one automatic level detection, then a second attempt caused the firmware to crash. Attitude solution was obviously going crazy the whole time due to temperature noise + bogus coeffs. Simple solution seems to be just disable the "Accept Temperature Calibration" button until we've actually seen the temperature change by at least "Temperature ran

[2017-06-28 05:51] mlyle commented on #598
Current next: 100kbps and 192kbps both work on "attitude" pane.  192kbps works in vehicle setup wizard (the timeout there is dumber).

[2017-06-28 05:55] mlyle commented on #1854
The temp calibration is pretty .. finnicky from what I remember, and it's easy to get values in the polynomial that result in crazy oscillation etc.  I think it really needs a thorough examination.

But it's not really worth the effort, because even multirotor nav works pretty well without gyro tempcal?  🤷‍♂️

[2017-06-28 06:03] mlyle commented on #739
Doesn't work-- multi-instance ACK doesn't make it back from the FC to ground.  Need to investigate why.

[2017-06-28 06:33] mlyle commented on #1830
@tracernz -- are you a developer program member?  I am not, and am not sure it's worth $99 to test this.  Public beta is in "late June"

[2017-06-28 06:43] tracernz commented on #1830
Yup, had trouble installing it on my VM though. :( Might upgrade my laptop.

[2017-06-28 07:54] #598 closed, assigned to nobody

[2017-06-28 21:12] #1499 closed, assigned to nobody

[2017-06-28 22:31] nanodude commented on #1854
Thanks for your work, guys!  The funny thing is that tempcal worked perfectly, with very reasonable coefs (essentially a line for the three axes). For some reason, tempcal wrote some garbage values into AccelBias, AccelScale and ZAccelOffset even though I was under the impression that only the gyro stuff was affected. The only reason I like tempcal is due to chip self-heating. I can easily see a 1

[2017-06-28 22:47] mlyle commented on #1854
@nanodude-- is the ongoing calibration we do with the accelKI term ineffective?  it has always worked OK for me.

[2017-06-29 17:24] nanodude commented on #1854
@mlyle I forget exactly which variables where affected. I'm going to repeat the calibration tonight, time permitting, and will post the results. Thanks!

[2017-06-30 17:42] tracernz commented on #1535
Depends Qt 5.9.1 (for deploy support).

[2017-06-30 23:20] auturgy opened #1866 "libjasper1 not available for Ubuntu 17.04 and higher"
* Seen in version (release version or githash): all
* On flight controller (if applicable): GCS

Issue details: libjasper1 is a dependancy for DroninGCS in linux.  This library is not available via standard archives on newer releases, as it is not a maintained package. It can be downloaded from here http://launchpadlibrarian.net/245417065/libjasper1_1.900.1-debian1-2.4ubuntu1_amd64.deb and install

[2017-07-01 00:26] mlyle commented on #1866
Hey, sorry-- unfortunately this is an upstream issue with Qt---

[code]

Whenever they fix it, we'll pick it up.  It looks like Debian unilaterally deleted the package because of lack of a maintainer a couple of months ago.

[2017-07-01 00:26] #1866 closed, assigned to nobody

[2017-07-01 01:21] auturgy commented on #1866
No worries: I'm guessing not many DRonin users are on Linux. Might be worth putting a note in your installation docs though.

Regards,

James

[2017-07-01 01:50] tracernz commented on #1866
Couldn't find any mention of this in Qt Jira, so likely they don't know about it. I see it in [Zesty Zapus (17.04)](https://launchpad.net/ubuntu/zesty/+package/libjasper1) but not in [Artful Aardvark (17.10)](https://launchpad.net/ubuntu/artful/+package/libjasper1)?

[2017-07-01 01:58] tracernz commented on #1866
Looks like it's still maintained? https://github.com/mdadams/jasper/commits/master

[2017-07-01 02:51] auturgy commented on #1866
Might be one of those silly examples where the source is maintained but no one wants to be the package manager (at least for Debian based distros).

Regards,

James

[2017-07-01 03:05] mlyle commented on #1866
@tracenrz https://launchpad.net/ubuntu/zesty/amd64/libjasper1/1.900.1-debian1-2.4+deb8u1

status: deleted :(

[2017-07-01 04:48] #1482 closed, assigned to nobody

[2017-07-01 15:14] #1737 closed, assigned to tracernz

[2017-07-01 19:06] mlyle opened #1871 "After upgrade/uavo import, before reset: UI panes consider themselves unsaved"
You're supposed to reboot anyways-- but if you don't, you get wonky results.

[2017-07-01 19:08] mlyle opened #1872 "Neat test issue"
Rolling up results from light test.

[2017-07-01 19:14] mlyle commented on #1872
* Lux / 180 lasered frame: lost mixer during upgrade(but was on weird intermediate build).  Default PIDs wobbled; autotune worked despite constant wobble
* original brain on blade 150: worked great
* TBS Vendetta (Lux/Colibri Race): flight was great. '2811 LEDs worked-- but blinked 'I' or similar during flight for undetermined reasons.  Could not repro on bench.
* Seppuku small quad: all great.  T

[2017-07-02 02:15] tracernz commented on #1871
The wizard should reboot at the end IMO, that would also result in automatically bringing up the setup wizard if you don't have actuator settings (although the upgrader still doesn't handle no settings properly either so that won't be perfect).

[2017-07-02 03:01] mlyle commented on #1871
Yes, but caution needs to be used here-- I think that reboot could race with commits if done naively currently

[2017-07-02 03:17] tracernz commented on #1689
@mlyle and myself independently bisected the original break to (although other stuff subsequently caused separate issues):
[code]

[2017-07-02 03:17] tracernz commented on #1871
Yeah, would be safe with a 5 second timer or something?

[2017-07-02 08:17] tracernz commented on #1830
Tested GCS with TCP and HID telemetry on High Sierra developer beta 2. A couple of minor graphical issues but nothing bad (and possibly they aren't specific to High Sierra anyway). Will keep this open for now to test with whatever is the latest release right before we release.

[2017-07-02 08:20] tracernz commented on #1866
@auturgy GCS tends to work best on Linux because it gets the most dev time (and I think that's true of upstream Qt too). :)

[2017-07-02 08:44] auturgy commented on #1866
Cool.
I've only just started looking at dronin - been using Ardupilot recently but found a brainfpv in an old racer I thought which I've put in a new frame, and taulabs seems to have gone stale (James Cotton has gone very quiet in general actually).
I look forward to seeing where you guys keep taking things - much more sophisticated than beta flight, not quite as complex as Ardupilot. An interesti

[2017-07-02 09:49] tracernz commented on #1830
Xcode 8.3.3 complains about sim build a bit, but it does still work.
[code]

[2017-07-02 12:00] nightflasher commented on #369
a few weeks ago i was looking for some new FC to replace all of my CC3D and found dRonin and loved it, but now i'm getting "low memory" error but haven't let autotune do it's job done. i've recently seen bad behavoirs with my attached DSMX satellite receiver which could go beside the memory error: the receiver stops working, CC3D goes into failsafe-mode (not configured => motor stop!) and the rece

[2017-07-03 07:19] tracernz commented on #1689
In the bootloader we have:
[code]
At the start of BU firmware we have:
[code]
And there we have it.. everything that uses stack (so memcpy initially), clobbers the start of the partition table.

[2017-07-03 08:33] tracernz commented on #1689
That code just looks like garbage. Why pop those regs off the stack, including lr, so if firmware returned it'd never get to the second pop/return anyway?

[2017-07-03 10:07] tracernz commented on #1689
Librepilot bootloader v6 messes up the stack pointer before branching to firmware too:
[code]

[2017-07-03 10:10] tracernz commented on #1689
And our 20160720.1:
[code]

[2017-07-03 15:35] #1689 closed, assigned to nobody

[2017-07-03 22:16] tracernz commented on #1415
Probably could. Currently these UAVOs don't reflect the runtime state of the modules if you modify them so I don't see any issues there (TaskInfo is your friend if you need real state of modules).

[2017-07-04 04:30] tracernz opened #1875 "ChibiOS: Invalid MSP from bootloader causes main stack to overlap process stack"
Follow-up from https://github.com/d-ronin/dRonin/pull/1874

Some bootloaders, due to unintended code generation, end up incrementing (positive) the main stack pointer by a number of bytes (8 for LibrePilot v6, 16 for dRonin recent releases). This causes the first few entries in the main stack to step on whatever happened to follow it in memory. In the bootloader updater this happened to be the fla

[2017-07-04 04:38] tracernz opened #1876 "GCS/Autotown: Record tune sample data in Autotown"
Would be nice to grab at very least the raw tune data (a few kb binary blob) and stick it in autotown as a blob (cloud storage, linked to the datastore entries we already do?). @dustin

[2017-07-04 07:39] tracernz commented on #1876
@dustin I wonder if `handleStoredTune` could return some kind of key in body and GCS could then send a PUT request with the big blob to /storeTuneBlob/<secretkey>. storeTuneBlob would store the blob in cloud storage, then decode the key and attach the blob to the tune record already in datastore?

[2017-07-04 15:18] mlyle commented on #1876
Is it unacceptable to just put the tune data base64 encoded in a json field?  would be about 44kbyte

[2017-07-04 15:21] mlyle commented on #1875
Does that initial stack survive to later run, or is it just used to kickstart chibios and get the init task running?

(Does chibios just blindly reuse the initial stack as an irq stack?)

[2017-07-05 00:02] mlyle commented on #1689
That's a tail call optimization--- fix up the stack as if we're returning, leave the linkage register alone, so that when the called party returns they return to our caller.  Can be fixed with a while (1); afterwards.

[2017-07-05 00:27] tracernz commented on #1689
`__builtin_unreachable();` might do it too (and hopefully not even generate the code to pop callee regs)?

[2017-07-05 00:37] tracernz commented on #1689
Yup, it does;
-e- add __set_msp https://godbolt.org/g/QMezph
And arm-none-eabi-g++ with just Os actually generates okay code in all cases. :stuck_out_tongue:

[2017-07-05 04:44] mlyle commented on #1872
It's been a long time coming--- but we're pleased to announce the new "Neat" release of the dRonin flight controller firmware and ground control station.<br/>

A lot has changed, so please read the release notes carefully. <br/>

Please see the documentation at: [http://dronin.readme.io](https://dronin.readme.io/v20170213)<br/>

@jhitesma has produced an excellent [upgrading video](https://www.you

[2017-07-05 05:32] tracernz commented on #1876
It seems undesirable to mix binary and JSON data, and especially to make it bigger by base64 encoding. Whatever is easiest for @dustin works for me though.

[2017-07-05 05:43] mlyle commented on #1876
Yah, it's yucky.. but it involves no new work and no new indirection, and the total size isn't something completely ridiculous-- datastore is 18 cents per gigabyte * month, so about 100 user tunes for a penny per year.  (Blob storage is 1/10th the price, but our time is worth something).

[2017-07-09 01:52] #1876 closed, assigned to dustin, tracernz

[2017-07-09 22:27] tracernz commented on #1875
That is the IRQ stack:
https://github.com/d-ronin/dRonin/blob/next/flight/PiOS/Common/Libraries/ChibiOS/os/ports/GCC/ARMCMx/crt0.c#L280-L359

[2017-07-09 22:49] tracernz opened #1879 "Flight: Reclaim Init Task Stack"
Memory is a bit tight on some targets. We could gain back 1 kiB by locating the init task stack adjacent to the end of the heap (would do this in linker script rather than mallocing it at runtime) and adding it to the heap when the init task deletes itself.

Questionable whether we could actually make use of it since modules would have started by then.

[2017-07-10 00:23] mlyle commented on #1879
System task could be taught to start the rest of the modules tasks--- which would also have the effect of providing stronger ordering so we don't do config checks prematurely etc.

[2017-07-10 00:51] tracernz commented on #1879
The only problem I see with that is that System is no longer a module, but an integral part of PiOS..

[2017-07-10 01:32] mlyle commented on #1879
Yah, it's slightly unfortunate.  OTOH, main.c (and module start) just got factored out of targets in Neat.. having system call something to complete startup doesn't seem **too** unclean.

System task also does stuff like checks the malloc failed stuff during startup to do the boot fault things, and connects to object persistence-- which really should have a defined order with all the rest of "stuf

[2017-07-10 05:48] tracernz commented on #1879
It's not all that different to CorePlugin in GCS :stuck_out_tongue: (although the PluginManager does load and start all the plugins).

[2017-07-10 08:06] tracernz opened #1880 "Tools: Setup our own qbs config/profiles"
Rather than running `qbs setup-toolchains --detect` and messing with the global system config.

[2017-07-10 22:02] mlyle commented on #79
Electing to close this.  I reviewed the double usage in the OSD, and it is reasonable.  Mostly it relates to sprintf, which doesn't offer a whole lot of choice.

[2017-07-10 22:02] #79 closed

[2017-07-10 22:03] mlyle commented on #1415
Less important after death of F1.

[2017-07-10 22:04] mlyle commented on #1415
Relates #1879.

[2017-07-10 22:15] #852 closed, assigned to nobody

[2017-07-10 22:15] #905 closed, assigned to nobody

[2017-07-10 22:51] tracernz opened #1881 "Flight: KISS ESC Passthrough"
Would be super nice/useful.

[2017-07-13 00:33] #1272 closed, assigned to nobody

[2017-07-13 09:07] tracernz commented on #1872
Preview build runs okay on macOS 10.13 beta 3. Restoring my laptop to 10.12 because beta 2 and 3 were too unstable for normal use so can't test anymore.

[2017-07-13 09:07] tracernz commented on #1830
Preview build runs okay on macOS 10.13 beta 3. Restoring my laptop to 10.12 because beta 2 and 3 were too unstable for normal use so can't test anymore.

[2017-07-13 09:07] #1830 closed, assigned to nobody

[2017-07-13 09:40] tracernz commented on #1875
Did a little digging. The main thread (i.e. main), uses the "process stack" (switches to it at https://github.com/d-ronin/dRonin/blob/next/flight/PiOS/Common/Libraries/ChibiOS/os/ports/GCC/ARMCMx/crt0.c#L308), while interrupts use the "main stack". So the OS is running in the process stack... I guess it never gets too close to full.

Incidentally, this doesn't look correct (and should be a functio

[2017-07-14 01:22] tracernz commented on #1875
Deferring because there is plenty of unused area at the bottom of the process stack so nothing bad happens.

[2017-07-14 03:08] tracernz opened #1887 "GCS: Autotune apply/save buttons not at right side"
Small usability nit. __All__ the other config widgets have the apply/save buttons at the right except Autotune.

[2017-07-15 00:18] #1887 closed, assigned to nobody

[2017-07-17 16:59] mlyle opened #1896 "BrainRE1 calibrate mag doesn't work"
This is the only nav-capable target that doesn't have an onboard mag, so BOARD_HAS_MAGNETOMETER is false.  Multiple users are disappointed that they can't calibrate the mag.

Any solution needs to properly deal with existing non-nav capable boards (e.g. Lux), and have a sane default for RE1 (e.g. don't just turn on calibrate magnetometer by default).

A forum thread: https://forum.dronin.org/forum

[2017-07-17 18:46] #1872 closed, assigned to nobody

[2017-07-18 20:20] mlyle commented on #1629
superseded d-ronin/d-ronin.github.io#47

[2017-07-18 20:20] #1629 closed, assigned to nobody

[2017-07-27 03:45] #1880 closed, assigned to tracernz

[2017-08-01 22:29] expipiplus1 opened #1907 "Tooltip for attitude algorithm doesn't match options"
The tooltip for the attitude algorithm lists "Simple" and "INSGPS" however the actual options are "Complementary", "INSIndoor" and "INSOutdoor".

https://github.com/d-ronin/dRonin/blob/9663d62eb6723f8fd2d906ce438184b57cd9b7d8/ground/gcs/src/plugins/config/attitude.ui#L518-L519

![image](https://gist.githubusercontent.com/expipiplus1/ad32b285c9def77af75c39129616f02e/raw/bfe49854588f629fc73c4a2a3038

[2017-08-02 00:33] tracernz commented on #1907
Thanks.

Best fix would be to delete the tooltip from the .ui file, and add a description element under the field in https://github.com/d-ronin/dRonin/blob/next/shared/uavobjectdefinition/stateestimation.xml#L5.

[2017-08-02 06:14] tracernz opened #1909 "GCS: Compile 3rd-party libs during toolchain installation"
Rather than every time GCS is built. Qwt, GLC_LIB etc. are a large portion of GCS compile time. Should help a _lot_ with CI.

[2017-08-07 10:07] Siytek commented on #164
Did the BST implementation every get completed? Last time I checked perhaps 9 months ago and it was still only sending the minimal messages. Glancing over bst.cpp it looks to be the same.

Would be good to have this support to free up the USART on the xFire receiver for SBUS.

[2017-08-08 12:08] rlesac opened #1911 "dR setup wizard shows serial ports"
* Seen in version (release version or githash):  Release-20170717: 20170715-1283f272
* On flight controller (if applicable): SR F3

Issue details:
Upon starting the wizard, all the available ports are grayed out and can't be chosen.

![dronin-wizard-err](https://user-images.githubusercontent.com/10945003/29071234-ec980bf4-7c42-11e7-8b78-db7084b74a2e.png)

[2017-08-08 17:10] mlyle commented on #1911
We should probably filter out serial from here--- only USB attached (autoconnected) flight controllers are supported by the wizard, I think.

[2017-08-08 22:22] tracernz commented on #1911
https://github.com/TauLabs/TauLabs/issues/1861 would be nice, may look at it one day.

[2017-08-10 11:45] nmaggioni opened #1913 "Wrong flight mode reported by FrSKY telemetry"
* Seen in version:
  * FC: _Release-20170717_ (1283f272)
  * GCS: _20170715_ (1283f272)
* On flight controller: BrainFPV RE1

##### Issue details:

As per [dRonin's FrSKY S.PORT Telemetry docs](https://github.com/d-ronin/dRonin/wiki/User-Guide:-FrSKY-S.PORT-telemetry#data-sent-by-module), the RPM sensor reflects arming state and current flight mode number.

Arming state is reported correctly (left

[2017-08-10 13:07] mlyle commented on #1913
The mode number is not the switch index, but actually the order of flight modes as provided in the drop-down, that is:

Manual,Acro,Leveling,Horizon,AxisLock,VirtualBar,Stabilized1,Stabilized2,Stabilized3,Autotune,AltitudeHold,PositionHold,ReturnToHome,PathPlanner,TabletControl,AcroPlus,Acrodyne,Failsafe

So manual is 0, acro is 1, leveling is 2, horizon is 3, etc...

Updated the wiki page to make

[2017-08-10 13:07] #1913 closed, assigned to nobody

[2017-08-10 13:09] mlyle commented on #1911
@tracernz -- flyingpi/sim would benefit.

[2017-08-18 00:41] mlyle opened #1919 "Metadata "modes" in uavo browser invalid"
Something has regressed here.

[2017-08-19 21:25] #1919 closed, assigned to nobody

[2017-08-22 17:57] mlyle opened #1924 "chip_id in struct pios_flash_chip is indirect for no reason"
Doing other work here, and don't want to clutter up my diff with **too** many unrelated fixes.

[2017-08-27 03:30] mlyle commented on #1924
Nvm.  I see the choices made here, and while I don't like them,... meh they're OK.

[2017-08-27 03:30] #1924 closed, assigned to nobody

[2017-08-29 06:04] andro46 opened #1931 "brainfpv re1 v2 fc voltage problem"
Hello.
I have problems with voltage output on betaflight and osd. It show 3,2V max when go to voltage scale and make it to max 255.. if i have lower numbers the voltage is even lower. Have some one any idea
 what to do?
![ref12](https://user-images.githubusercontent.com/24637180/29806601-8e0f34aa-8c90-11e7-80c7-23610791950d.jpg)
![re1 fc](https://user-images.githubusercontent.com/24637180/29806603

[2017-08-29 06:38] tracernz commented on #1931
This is the repo for the dRonin software. Try https://github.com/betaflight/betaflight for BetaFlight issues. :wink:

[2017-08-29 06:38] #1931 closed, assigned to nobody

[2017-09-07 12:53] LitterBugs opened #1940 "Boot loop on SPR F3 EVO if mag is set to disabled"
* Seen in version (Neat Release-20170717):
* On flight controller (Sprf3e):

Issue details:
I have verified this on two different FCs.  Originally found it with an EMAX Femto SPRF3E clone that does not have an internal mag.  Was trying to get rid of the sensor error that was being thrown for the missing mag.  As soon as I disabled the mag and rebooted, the board would go into a boot loop.  Had to

[2017-09-07 13:38] LitterBugs commented on #1940
Acutally, it has the Magnetometer, it is missing the Baro.  But if the mag is disabled, it will get stuck in a boot loop.  Disabling the Baro does not cause a boot loop.

[2017-09-09 03:00] tracernz commented on #1940
Can confirm, 2x flashes repeated 3 times == gyro (http://dronin.org/docs/initial-setup/blink-beep-codes/)... I wonder if we should make these beeps happen for a bit longer so it's more distinguishable from a watchdog @mlyle?

[2017-09-09 05:20] tracernz commented on #1377
Rebased this recently, kind of works on mac but it seems to not have enough throughput for the session to come up gracefully/reliably (the update-on-change uavos dominate everything else even before the session is established, eww). Crashes on Linux. https://github.com/tracernz/dronin/commits/mrc-blueteeth

[2017-09-09 16:06] #1907 closed, assigned to nobody

[2017-09-21 11:55] tracernz opened #1947 "GCS: Breakpad headers not compatible with glibc >= 2.26"
https://sourceware.org/glibc/wiki/Release/2.26#Removal_of_.27struct_ucontext.27
[code]

[Fixed upstream](https://github.com/google/breakpad/commit/bddcc58860f522a0d4cbaa7e9d04058caee0db9d) so I'll have to roll us forward at some point.

[2017-09-21 11:58] tracernz opened #1948 "flight: *_t is reserved by POSIX"
It has been used a bit recently in flight code. We should probably avoid it to keep away from potential clashes in future. Should be fine with pios_ prefix though (even if not strictly ok).

Relates #1947

[2017-09-21 21:42] mlyle commented on #1948
:/ this is one of those things that's technically true, but every project and coding standard violates--  I just grepped a dozen source trees including Linux, GCC, flightgear, Eigen, etc, and found it used as a preferred suffix for type names in each  Can't we live with it?

[2017-09-21 21:57] tracernz commented on #1948
I think we can live with it but should avoid it without `pios_` prefix? IOW `<relatively generic name>_t` is a recipe for problems, but `pios_<whatever>_t` is quite safe.

[2017-09-23 03:23] #1947 closed, assigned to nobody

[2017-09-25 08:14] tracernz opened #1951 "GCS: Crash on mac when using a proxy server (pac only I think)"
* Seen in version (release version or githash): Release-20170717 (neat)

Issue details:
Upstream Qt bug can cause a crash when attempting to obtain the system proxy settings. Looks like it's fixed in Qt 5.9 (https://github.com/qt/qtbase/commit/20f7cfcbdab795b1730e3d1d14fc3833a7f5e705).

See https://forum.dronin.org/forum/d/393-dronin-neat-release-2017-07-17/26 for original report by user geoffmunn

[2017-09-25 22:21] tracernz commented on #1951
And 5.9.2 not far away now: http://lists.qt-project.org/pipermail/development/2017-September/030954.html

[2017-09-29 07:08] #943 closed, assigned to nobody

[2017-09-29 07:08] #1236 closed, assigned to nobody

[2017-10-02 03:51] mlyle opened #1956 "GCS: settings exports are blank?"
Reported on the forum, seems to be true.

@tracernz -- any chance this relates to recent GCS uav infrastructure changes?  @pug398 says upgrade/import may be broken too but I haven't tried this.

[2017-10-02 04:38] tracernz commented on #1956
Not sure. Can't really remember anything changing around this?

[2017-10-02 04:41] mlyle commented on #1956
I'll bisect sometime soon.

[2017-10-02 06:11] mlyle commented on #1956
Mostly fixed by #1958, but UAVOs still don't import

[2017-10-02 07:08] #1956 closed, assigned to nobody

[2017-10-03 22:17] mlyle opened #1960 "Reverse on output pane breokn for motors"

[2017-10-03 23:13] tracernz commented on #1960
Hmmm, looks simple enough: https://github.com/d-ronin/dRonin/blob/next/ground/gcs/src/plugins/config/outputchannelform.cpp#L270

[2017-10-03 23:15] tracernz commented on #1960
breokn how?

[2017-10-04 01:17] mlyle commented on #1960
The neutral ended up on one side.  Haven't looked at it.

[2017-10-04 06:38] mlyle opened #1962 "Corner arming appears broken"
Both in neat and new code.  Unfortunate that it uses the same arming/disarming command.

[2017-10-04 06:42] tracernz commented on #1962
Hmmm, it worked last time I tested it. I remember thinking why the hell would you want to have the same command for arm and disarm... and non-neutral controls at least for a short time after arming... so I don't like stick arming at all anyway. :stuck_out_tongue:

[2017-10-04 06:46] #1960 closed, assigned to nobody

[2017-10-04 20:22] mlyle opened #1965 "Hangtime no longer applies to failsafe"
stabilization.c is gettin' to be a mess.

[2017-10-04 21:42] tracernz commented on #1965
I'm ok with that tbh, I want my motor(s) to stop when I'm not in control. :/

[2017-10-04 22:21] mlyle commented on #1965
It is -really nice- for it to spend a very short time snapping to upright on a control problem.

[2017-10-08 21:18] cweiland opened #1967 "Bootloop on OPLM with last release"
* Seen in version (release version or githash): 20170717
* On flight controller (if applicable): OPLinkMini

Issue details:
Bootloop after flashing
No issue with LibrePilot or Taulabs firmwares

[2017-10-08 21:19] cweiland commented on #1967
Log extract :
23:19:04[debug] Removing  8352 16976 2 "55FF6A067087505543312067+FW" "PipXtreme" "OpenPilot"
23:19:07[debug] usbmonitor detection cycle complete.
23:19:07[debug] Adding  8352 16732 769 "55FF6A067087505543312067+BL" "OPLinkMini" "openpilot.org"
23:19:07[debug] usbmonitor detection cycle complete.
23:19:07[WARNING] [RawHID] Error writing to device
23:19:07[debug] "Telemetry disconnecte

[2017-10-08 22:26] mlyle opened #1968 "Output channel form is baroque"
Seen on current next.  "save" doesn't seem to commit changes.

Witnessed this with instrumentation on current build.  Clicking "Save"--
[code]

But sim didn't record objectpersistence as changing.  Changing actuator settings and clicking save in uavo browser did persist properly.

Watching in UAVO browser, it looks like ActuatorSettings changes during the click, but not ObjectPersistence.  On othe

[2017-10-08 22:33] mlyle commented on #1968
Reverted a bunch of UI changes and it seems to work:

*    This reverts commit 0b03e1ec97b8242ff6957e9fe6f5eb42a4086f0f.
*    This reverts commit ea7ac6cbac4e3aba7cd4fdb497d3017bfb806a23.
*    This reverts commit 907bed57084af978f378567785f97f6ef77af25a.
*    This reverts commit 4e1fe3f390fd5bf84d1792e30113a31dfcff4552.
*    This reverts commit d97fee238c9a1faa9e91f3b70d7e7e2beae8456e.
*    This r

[2017-10-08 22:48] tracernz commented on #1968
Just https://github.com/d-ronin/dRonin/commit/4e1fe3f390fd5bf84d1792e30113a31dfcff4552 ? (note TODOs)

[2017-10-08 22:50] tracernz commented on #1968
Will look at it some time this week. Can't really revert that cleanly without breaking other stuff.

[2017-10-09 06:18] #1968 closed, assigned to nobody

[2017-10-10 23:36] cweiland commented on #1967
Don't know but...self resolved o.Ô

[2017-10-10 23:36] #1967 closed, assigned to nobody

[2017-10-11 05:43] #1951 closed, assigned to nobody

[2017-10-13 07:29] tracernz commented on #345
1 and 3 are covered AFAIK, 2 could be done trivially (add `<gcs exe> -t all` to all_ut_run recipe).

[2017-10-13 07:52] mlyle opened #1974 "smoothcontrol: fixes needed"
* operates on failsafe
* incorrect bounds for non-rate modes
* bounds aren't used

[2017-10-20 17:51] mlyle opened #1978 "Attitude mode stick limits"
1. We simultaneously have RollMax/PitchMax/YawMax and MaxLevelAngle[Roll,Pitch,Yaw].
2. The latter is used for stick scaling, the former is used for bounding of angle [including for nav modes etc]
3. The UI can only set the latter.
4. OSD can only set the former.

[2017-10-20 17:55] mlyle commented on #1978
Horizon uses the RollMax/PitchMax/YawMax for stick scaling...

[2017-10-20 17:57] mlyle commented on #1978
YawMax is pretty much unused.

[2017-10-27 09:57] tracernz opened #1985 "RFC: Python 3"
Can we drop Python 2? It's history and annoying to support. If not for the libs yet (who doesn't have 3 though, seriously??), at least for the scripts in the build/packaging system?

[2017-10-27 09:59] tracernz commented on #1368
Done in #1912.

[2017-10-27 09:59] #1368 closed, assigned to nobody

[2017-10-27 21:19] mlyle commented on #1985
Is there any standard way to guarantee a python3 invocation? :/

[2017-10-28 01:18] tracernz commented on #1985
Call python3 instead of python/python2 like we currently do. That works on win/mac/linux for me.

For scripts outside the build system, `#!/usr/bin/env python3` should work, including windows (python launcher on Windows was fixed to handle shebang properly years ago afaik?).

[2017-10-28 01:51] mlyle commented on #1985
I believe arch helpfully does not have /usr/bin/python3, and /usr/bin/python is python3.  :P   That's why I've made both work so far and have it pointing to python2 on most things.

Would love to just support 3; it's been a huge cause of regressions.  (Though I have some things to relearn).

[2017-10-28 03:15] tracernz commented on #1985
Maybe historically? Fortunately historical isn't something you ever need to worry about with Arch. :grin:
[code]

[2017-10-28 05:10] mlyle commented on #1985
Nice, let's do it then.  Build tools first.  Will have to check / possibly install on windows builder.

[2017-10-28 10:10] tracernz commented on #1985
Yeah, Windows is as usual the one I'm worried about.

[2017-11-28 01:35] keithws opened #1998 "Trying to program BLHeli32 ESCs with passthrough"
* Seen in version: 1.3.1
* On flight controller: BrainFPV RE1
* With Spedix GS30 BLHeli_32 ESCs

Issue details:

When trying to [program ESCs with passthrough](http://dronin.org/docs/advanced-configurations/programming-escs-with-passthrough/), I get the following warning from BLHeliSuite32.

If I understand this correctly (which is a big if), then the interface provided by dRonin in the FC softwar

[2017-11-28 03:34] tracernz commented on #1998
Unfortunately this seems to be the way in that ecosystem. :roll_eyes: Change the version on our end and you break existing setups.

[2017-11-28 03:44] mlyle commented on #1998
It's already changed, since a week after release.  They bumped it with no other code change.  Was a super-confused move on their part :P

Nightlies etc work with current blheli_32, with all the caveats of prerelease software.

[2017-11-28 18:52] keithws commented on #1998
Thanks for the quick response. So ignore the warning or use a nightly. Hmm... ⚖️

[2017-12-08 06:42] ufoDziner opened #2008 "Can't see apply/save buttons on hardware screen"
* Seen in version (release version or githash): 6b208f+
* On flight controller (if applicable): Seppuku

Issue details:
 Apply/Save buttons at the bottom of the Hardware screen are not visible.

![screenshot](https://user-images.githubusercontent.com/7434287/33754166-d7ee2bf4-db9f-11e7-82df-09f19bd09ec2.png)

[2017-12-08 06:48] tracernz commented on #2008
Does it scroll?

[2017-12-08 06:48] ufoDziner commented on #2008
Not that I can see.

[2017-12-08 06:50] tracernz commented on #2008
Did you try mouse wheel? Not sure if the buttons are missing or just the scrollbar has visibility issues.

[2017-12-08 07:08] ufoDziner commented on #2008
Just verified.  No scrolling available via mousewheel.

[2017-12-08 07:26] tracernz commented on #2008
Kinda repros in Linux/X11. The scrollbar is there, and mousewheel works, but the buttons are only half-visible when scrolled all the way down. Looks like the widget encompassing the config form extends to the bottom of the window underneath the tab bar.

[2017-12-08 10:35] tracernz opened #2010 "GCS: Need to run QMake if headers change"
To cause moc to run. Causes missing vtable at link time if Q_OBJECT is added to a class since qmake was last run (where the class previously had no virtual members). What about if classes are defined in cpp source...? Alternative is to build everywhere with clang and use the moc plugin for it.

[2017-12-08 18:51] #2008 closed, assigned to nobody

[2017-12-09 01:46] tracernz commented on #1985
Ubuntu are now building a 17.10 image _without_ python 2: https://lists.ubuntu.com/archives/ubuntu-devel-announce/2017-December/001234.html.

[2017-12-12 02:20] ufoDziner opened #2016 "Multiple Rate Mode Stick Scaling and Expo settings"
* Seen in version (release version or githash):
* On flight controller (if applicable):

Issue details:
It would be great to have multiple/selectable Rate Mode Stick Scaling and Expo sets for fixed wing aircraft.  They could be programmed into the FC as an alternative to handling it on the transmitter.

[2017-12-12 02:50] tracernz commented on #2016
This is kind of a subset of an extension of #18, and has the same root problem (no support for multiple instances in LogFS/UAVSettings subsystems).

[2017-12-12 05:50] mlyle commented on #2016
I agree it's really #18.   Though you could say just about anything to be a subset of an extension of something else ;)

[2017-12-15 06:43] #1740 closed, assigned to nobody

[2017-12-23 17:55] ufoDziner opened #2017 "RGB LED count"
* Seen in version (release version or githash):
* On flight controller (if applicable): Seppuku

Issue details:
When there are no additional LEDs, the  Total LEDs listed are 0 on the RGB LEDs tab of the Modules section.  However, when additional LEDs are added (say 10 external), the Total LEDs listed must be set to 11 (I'm told to account for the one on the board).  If this box does include the on

[2017-12-23 18:41] mlyle commented on #2017
Unfortunately this isn't so easily done-- we don't have a mechanism to have different defaults for different boards.  And setting the value to a number higher than 0 has the effect of enabling RGB LEDs.  We just have some special code on seppuku to force the LED value to 1 if it's zero to ensure the onboard LED always works.

[2017-12-23 19:22] ufoDziner commented on #2017
Can a note be added below the Total LEDs line that states:
(For Seppuku FC add 1 to the number of _external_ LEDs installed.)
?

[2017-12-26 15:18] yamahabest commented on #2017
Isn’t it possible to just always do plus one in the software, for the Seppuku boards?

[2017-12-26 17:47] tracernz commented on #2017
All of this code is totally generic. You could drop a Seppuku specific adjustment in there somewhere but it'd be a bit ugly. Maybe can do something better on the flight side...

[2017-12-27 00:24] tracernz opened #2020 "Flight: Rename example.module to example.loadable"
s/module/loadable/ throughout it. We already have an incompatible definition of "[module](https://github.com/d-ronin/dRonin/tree/next/flight/Modules)" which will only result in pain.

[2017-12-31 15:27] droney opened #2022 "not displaying floats on OSD"
* Seen in version (release version or githash): 79dbcf6f
* On flight controller (if applicable): seppuku

Issue details: all floats are not being displayed on the OSD. Instead, '[digit]f' is being displayed. This was observed on build 1558 in both the linux and windows builds. I did not try earlier builds.

[2017-12-31 16:30] droney commented on #2022
I removed 'SRC += printf-stdarg.c' from flight/PiOS/pios_flight_library.mk and was able to successfully compile code for seppuku and floats are now being displayed correctly on the OSD.

I did not look at the impact to code space however.

[2018-01-01 02:14] tracernz commented on #2022
Thanks for tracking it down! I wonder if we can use newlib-nano printf. I'm not sure we have implemented the re-entrant stubs so we may want to do that.

[2018-01-01 02:46] mlyle commented on #2022
We used that before-- this is a regression from factoring makefiles common-- OSD targets don't want printf-stdarg.c because of its limitations.

[2018-01-01 02:51] droney commented on #2022
I thought linker flag c_nano invoked newlib-nano?? I noticed c_nano is now being used during linking, which is different from the neat release.

[2018-01-01 02:55] tracernz commented on #2022
Ah, that makes sense. 👍

I think the newlib symbols are overriden by anything else you bring in.

[2018-01-01 05:13] #2022 closed, assigned to nobody

[2018-01-01 09:02] tracernz commented on #1871
I prepared a fix for this (https://github.com/tracernz/dronin/commit/df0f7635510082259fbe42a2b1c3ac2f255c2297)... but I can't actually repro this with an import or an upgrade on current next (be3307d). Can you please try next, and if you can still repro, try that branch?

[2018-01-09 04:03] glowtape commented on #1974
Oh hey, I ought to check the issues more often. Gonna look into this when I get up later today after my shift.

[2018-01-09 04:26] glowtape commented on #1879
Any particular reason why we shouldn't just do it in main() and skip initTask? IIRC, from what I have seen with the ChibiOS patch, because we allow an idle thread, main() gets turned into a thread after chSysInit(). There's 1KB stack reserved for the main thread, anyway.

[2018-01-09 06:43] glowtape commented on #1799
I shifted the tab-bar a couple of pixels to the right for visual reasons. It renders it as such, but doesn't adapt the layouting to the shift. I spend a short moment trying to fix it while keeping the visual, but apparently the tab-bar doesn't give a shit about the box model. Gonna give it another go later on.

[2018-01-09 16:32] glowtape commented on #1881
AFAIK KISS ESC passthrough is just hail-mary send over serial. Means when the PWM line is high when the ESC boots up, it goes into serial/flashing mode, and then writes whatever comes over the wire. There isn't any bidirectional communication a la BLHeli. At least that's how it went with my KISS24A, which I flashed with a FTDI, but it doesn't sound like this changed.

[2018-01-09 16:38] glowtape commented on #1940
My proper SPRF3e doesn't complain with disabled mag. If @LitterBugs verifies it working on his variant, I guess this could be closed to make @mlyle happy. Issue count and what not. :P

[2018-01-09 16:42] LitterBugs commented on #1940
I believe this was fixed a while back.  OK to close.

[2018-01-09 17:07] mlyle commented on #1940
Thx

[2018-01-09 17:07] #1940 closed, assigned to nobody

[2018-01-10 03:45] tracernz commented on #1879
There would be no way to get that memory back (it would need to be quite a bit more than 1 k iirc). Afaik the os requires that thread to always exist. This only seems important on F3 (only 40 k) and PipX (20 k).

[2018-01-10 03:55] tracernz commented on #1799
Remember you're operating within the QWidget layout model. W3C CSS box model doesn't apply, and QSS box model I imagine is subject to constraints of the widget layout. The real problem is trying to force fixed sizes into a fluid layout (which QWidgets are by design).

[2018-01-10 06:06] glowtape commented on #1879
Hm, what do you mean get memory back? The process stack that gets used for the main thread is statically allocated in the linker script currently. So it's gone anyway.

The patch referred above skips the initTask thread and runs the stuff directly on main. My Seppuku quad fires up battery monitoring, logging, altitude hold, MSP bridge and Crossfire telemetry next to the necessary flight modules. T

[2018-01-10 06:31] glowtape commented on #1879
Hmmm, if we move the idle loop into main(), too, we could get rid of the idle thread and save that thread working area (--edit: a whopping 272 bytes :P ). Gotta test it when I'm up later today.

[2018-01-10 07:11] tracernz commented on #1879
Init task needs more than 1 k of stack for at least some of the modules IIRC. So you'd have to make the process stack bigger, with no hope of being able to free any of that memory and add it to the heap after module init/start is done.

[2018-01-10 13:34] glowtape commented on #1879
Do you happen to remember which modules? initTask only allocates 1KB currently.

--edit: I've enabled all modules I can on my Revo, including things like both FrSky Sensor Hub and S.Port, OpenLRS and whatever else I could fit, it doesn't drop below 432 bytes there, either.

[2018-01-18 00:47] #1304 closed, assigned to nobody

[2018-01-18 18:27] ufoDziner opened #2033 "Set Reprojection Camera Tilt on OSD"
* Seen in version (release version or githash):
* On flight controller (if applicable):

Issue details:
Please add the ability to set Reprojection Camera Tilt to the OSD menu.

[2018-01-20 23:31] #1896 closed, assigned to mluessi

[2018-01-24 08:20] tracernz opened #2041 "OSD: Menu doesn't work on PlayUAVOSD"
Appears overlaid on (frozen) previous page. Problem with double buffering?

https://gfycat.com/MellowAbleDorado

[2018-01-24 10:34] #2033 closed, assigned to tracernz

[2018-01-24 23:35] tracernz commented on #1998
So to confirm, we're happy with this for Wired release?

[2018-01-24 23:38] tracernz commented on #2010
Or https://woboq.com/blog/verdigris-qt-without-moc.html

[2018-01-25 02:55] mlyle commented on #1998
Yes

[2018-01-25 02:55] #1998 closed, assigned to nobody

[2018-01-30 23:32] tracernz commented on #211
Done in #1953

[2018-01-30 23:32] #211 closed

[2018-01-30 23:33] tracernz commented on #345
Done I believe?

[2018-02-03 16:40] jihlein commented on #1420
I've been looking into this and here's what I've found so far:
1)Made the changes in #2043 to correct RTC frequency.  Verified the RTC frequency with a Logic Analyzer to be 625 Hz.  PPM still does not work correctly.
2)Made a new time base definition TIM14 with the TIM period = 0xFFFF.  PPM still does not work correctly.
3)Changed the processor clock from 40 MHz to 48 MHz.  PPM still does not work

[2018-02-03 22:36] mlyle opened #2047 "Lux seems to not show hardware pane"
Saying "Board detected, but of unknown type."

[2018-02-04 03:28] tracernz commented on #2047
That happens semi-regularly on all boards for me, disconnect/reconnect gets it right most times. For whatever reason the object that determines the board type fails 3 times in the initial telemetry rush AFAICT.

[2018-02-04 06:18] mlyle commented on #345
Yes thx

[2018-02-04 06:18] #345 closed

[2018-02-04 06:21] mlyle commented on #1341
Not seen again for an extended time... :P

[2018-02-04 06:21] #1341 closed, assigned to nobody

[2018-02-04 06:24] mlyle commented on #1604
Win10 is 44% and still climbing by more than a percent per month.  Do we just say this is WONTFIX rather than deferring

[2018-02-04 06:37] mlyle commented on #1848
Per forum thread, it was actually WS2811?  And we fixed it, maybe?

[2018-02-04 06:39] mlyle commented on #2047
This seems consistently reproducible on lux, which is strange.

[2018-02-04 06:43] tracernz commented on #1604
I'll take another quick look and if that fails let's WONTFIX it.

[2018-02-04 06:49] mlyle commented on #1604
parfait, thx

[2018-02-04 07:08] mlyle commented on #1664
Is this fixed now, did #1660 take care of it?  lux doesn't seem particularly worse than other targets looking at the doxygen stderr  (from here https://travis-ci.org/d-ronin/doxygen )

[2018-02-04 08:35] tracernz commented on #1664
Yeah I think so.

[2018-02-04 08:35] #1664 closed, assigned to nobody

[2018-02-04 09:03] mlyle commented on #2047
Confirmed on dtfc.  No errors on firmwareiapobject, and when i re-download it I get all 0's.. how strange.

[2018-02-04 10:17] #2047 closed, assigned to mlyle

[2018-02-04 10:18] #2020 closed, assigned to nobody

[2018-02-04 15:19] glowtape commented on #1848
Wow that's an old thread. Yeah, it's fixed.

[2018-02-04 15:19] #1848 closed, assigned to nobody

[2018-02-04 21:20] mlyle commented on #461
Both this is used much less, and it's much more reliable.  So the incentive to move it to "good" infrastructure is lessening.  closin'

[2018-02-04 21:20] #461 closed

[2018-02-04 21:23] mlyle commented on #1284
Not seen in 5ever

[2018-02-04 21:23] #1284 closed, assigned to nobody

[2018-02-04 21:24] mlyle commented on #1405
I cannot repro this

[2018-02-09 12:12] tracernz commented on #1767
Really want to fix this for wired. Stops the tag from being attached to crash reports.

[2018-02-09 12:17] tracernz commented on #1767
What version of macOS are you running on the builder? I've got git 2.14.3 (Apple Git-98) on my machine and it doesn't suffer this.

[2018-02-09 20:10] #2041 closed, assigned to tracernz

[2018-02-10 00:40] #1767 closed, assigned to nobody

[2018-02-11 02:01] mlyle commented on #905
Beacon is sane when measured for deviation.  The nastiness is the periodic sleep we do.

[2018-02-11 21:22] #1962 closed, assigned to mlyle

[2018-02-12 13:47] yds opened #2065 "AcroDyne shows as INIT on the CharOSD"
* Seen in version (release version or githash): Wired
* On flight controller (if applicable):  Omnibus F3 and F4

Issue details: When flipping through flight modes, all the ones I use put something sensible on the CharOSD (e.g. LVL, HRZN, ACRO, ACR+), but when I select AcroDyne the OSD shows INIT. Perhaps DYNE or ACDN or somesuch would be more apropos..

[2018-02-12 17:04] mlyle commented on #2065
Thx for report.

[2018-02-12 17:27] #2017 closed, assigned to tracernz

[2018-02-12 17:41] #2065 closed, assigned to mlyle, tracernz

[2018-02-13 00:06] mlyle opened #2069 "Wired OSX Artifacts don't work"
Unknown cause-- seems to be an intermittent issue with the OSX Builder.  Rebooted and re-launched build to see if clean bits come out.

[2018-02-13 03:06] mlyle commented on #2069
Probably fixed by #2071

[2018-02-13 07:03] mlyle commented on #2069
Fixed/worked around.  I don't like nondeterminism, but "both kinds" of artifacts work.

[2018-02-13 07:03] #2069 closed, assigned to nobody

[2018-02-13 07:41] tracernz commented on #2069
Will set up some automatic builds and to see if I can repro this in a different env. We definitely haven't fixed it.

[2018-02-13 08:00] tracernz commented on #2069
Mac packing script that runs macdeployqt, touches rpath etc. runs twice in the first release attempt, haven't checked any others but that doesn't seem good.
[code]

Also, this bug was closed in Qt 5.5, and it makes me nervous...
[code]

[2018-02-19 23:24] humanoid2050 opened #2075 "Tiny error"
* Seen in version (release version or githash): branch next
* On flight controller (if applicable):

Issue details:
I think there is a problem with shared/uavobjectdefinition/stabilizationsettings.xml line 52.

limits="%BE:0:0.2,%BE:0:0.2:%BE:0:0.2"  should be
limits="%BE:0:0.2,%BE:0:0.2,%BE:0:0.2"

[2018-02-20 00:33] humanoid2050 opened #2076 "UAVTalk: Need to accept instance IDs on single-inst objects because of LP impl drift"
* Seen in version (release version or githash): all
* On flight controller (if applicable):

Issue details:
This code base has been forked from other similar code bases. However, the uavtalk protocol here is not the same as some of the others (i.e. Librepilot https://librepilot.atlassian.net/wiki/spaces/LPDOC/pages/8552471/UAVTalk). Since this code base is under actual development, I suggest incre

[2018-02-20 00:39] tracernz commented on #2076
See previous conversation on this issue https://github.com/d-ronin/dRonin/pull/1741#discussion_r114068747

[2018-02-20 00:40] tracernz commented on #2075
Good spotting. :+1:  Do you want to submit a fix yourself?

[2018-02-20 00:51] humanoid2050 commented on #2076
All fair points. As it happens, trying to write code compatible with both dRonin and LibrePilot implementations of Uavtalk "version 2" cannot be done in a robust fashion. I can tell my code which to use at runtime, but that means it's up to a human to remember. At the end of the day, do what makes sense for your code base, this is just my 2 cents.

[2018-02-20 00:56] humanoid2050 commented on #2075
Didn't mean to make a new issue... but there it is.

[2018-02-20 02:06] tracernz commented on #2076
Thanks for the report. I had worried that might be the case.

Out of curiosity, can you reveal what you are working on?

[2018-02-20 02:41] humanoid2050 commented on #2076
It's still sort of vague and only in my head, but the end goal is going to have a ROS node (light weight, can run on a raspberry pi zero) that connects directly to a cc3d-family flight controller (I've already got the usb-hid interface working) and controls the quadcopter using uavtalk. To make it accessible, I'm looking to support dRonin since it's under active development and librepilot since it

[2018-02-20 03:57] tracernz commented on #2076
Sounds fun! @peabody124 (of Tau Labs) has also talked about ROS support.

dRonin also runs directly on a full-size Raspberry Pi with the FlyingPIO hat (https://github.com/d-ronin/dronin-hw/blob/master/flyingpio/revB/mfg_files/flyingpi.PDF) for sensors/IO. Your ROS layer would likely work well there too.

[2018-02-20 04:31] peabody124 commented on #2076
@humanoid2050 @tracernz yeah i ended up writing a ROS interface back in the day. i definitely wrote a full node that ran on the flight controller and then spoke over serial (whatever the ros serial transport layer is). i also wrote some code for the desktop  that took the packets from the FSK telemetry code and then created various ROS properties. it was useful for visualization of data (e.g. http

[2018-02-20 12:25] humanoid2050 commented on #2076
@tracernz @peabody124 After some thought, maybe the real question I should be asking is whether or not the STM32F4 family of flight controllers can support a full Mavlink interface. Is there enough computational and memory overhead available for this?

I put together a simple Uavtalk/ROS bridge already, and something about having ~100 publishers and ~100 subscribers on a single node didn't seem th

[2018-02-20 13:12] peabody124 commented on #2076
Yeah if you want to give ROS the ability to control there are a lot of things that have to happen, and it's a lot more detailed than just the protocol layer. The approach I would favor is some degree of authoritative control on the flight control that can toggle back to a transmitter for safety (hence why I went to writing a full ROS node on the F4). However, yeah, it seemed easy to go into an alp

[2018-02-20 16:35] mlyle commented on #2076
Hey all--- I am travelling and mostly out of touch, but a few thoughts.

First, what's the biggest interop difference between LP and DR?  I tried to
make it so that the consistently defined portions of the protocol would
stay the same with the past impl but must have screwed up somewhere. I
would like to keep interop if possible.

Second, I don't like Mavlink so much and really like uavtalk--- I l

[2018-02-20 17:01] humanoid2050 commented on #2076
The big difference is that LP requires an instance id for all objects, set to 0 if it's a single instance object. The field is optional in DR (TL too). The net result is that single instance objects are 2 bytes too big/small when you go between uavtalk implementations.

I definitely agree that there is power in exposing and controlling the FC internal state the way uavtalk does. My thing is that i

[2018-02-20 17:50] mlyle commented on #2076
@tracernz-- turns out LP diverged from the original and not us ;)

IMO it would be a mistake to bump the version number to represent an
earlier version of the protocol.

I will work on tolerating in the receive path in the flight side zero
instids on single instance objects.  We will still not send them because
it's a density difference (and the length field can be used to
discriminate).

@humanoi

[2018-02-20 18:02] tracernz commented on #2076
@mlyle Ahhh, that is really annoying :disappointed: https://github.com/librepilot/LibrePilot/commit/2f0974fda942f28b09b866991121aef9cb939cce#diff-77fe0b567b7f0352a55dc1da63892a73

[2018-02-20 18:24] humanoid2050 commented on #2076
If LP changed, I'm happy to close this as "not our problem".

@mlyle I'd be interested to know more of your thoughts on the subject of mission control as it relates to uavtalk. Probably for now I will be making a ROS node on an embedded computer that speaks uavtalk on one side, mavlink on the other, and does translation/control operations in the middle.

[2018-02-21 02:21] mlyle commented on #2076
Right now the actual control path is a bit of a mess.  There's
ManualControl which mostly does nothing; the ManualControl task either
drives StabilizationDesired, AltitudeHoldDesired, LoiterDesired, or just
the flight mode and lets other tasks drive stabdesired.  The actual inner
Stabilization modes sometimes do stick scaling themselves, or sometimes
ManualControl does it first.

The actual archit

[2018-02-21 02:38] humanoid2050 commented on #2076
Hmmm... I think we may have a similar picture in mind. The high level stuff is managed externally from the FC. Control is executed by manipulating the Uavobject states to pick the appropriate stabilization mode and set the relevant parameters. Advanced things like waiting for some event or state is achieved by watching objects containing the relevant information, at which point the external missio

[2018-02-21 03:32] mlyle commented on #2076
Yes, for now.  But I'm hoping the controller can take higher level goals
eventually--- stay within these bounds, search for a solution that
optimizes these cost functions.  Then mission planning is just about
crafting these cost functions and flipping between them on very rare state
changes.

What you describe is possible now but messy because of the complexity of
the dataflow.  I think simplifyin

[2018-02-22 22:43] #2075 closed, assigned to nobody

[2018-02-25 01:54] ufoDziner opened #2080 "Raceband 2 not selectable"
* Seen in version (release version or githash): Wired
* On flight controller (if applicable):

Issue details:
1. Frequency Raceband 2 is off by one digit on the OSD (shows 5696, but should be 5695).
2. Raceband 2 can not be set to active.

[2018-02-25 13:09] mlyle commented on #2076
Reopening so I can look at feasibility of accepting 0 instid

[2018-02-25 13:13] humanoid2050 commented on #2076
Sorry about that. I figured since this one wasn't the one that diverged, it shouldn't be the one that has to change.

[2018-02-25 17:46] mlyle commented on #2076
No worries.  I think it's a good robustness change to accept 0 instids on
single instance objects (and in accordance with the robustness principle---
be conservative in what you send, be liberal in what you accept)

The only cost is the risk of accepting an errant object--- right now we
depend on uniqueness of a 31 bit identifier plus the length of the object,
and now there will be two different l

[2018-02-25 19:09] ufoDziner commented on #2080
Seems to work for me with #2081.  Had no issues switching to it.  Thanks!

[2018-02-25 20:19] #2080 closed, assigned to glowtape

[2018-02-25 20:46] mlyle commented on #2076
Can you easily try #2082 --- it should receive frames for single-instance objects with instance ids (though we will never send them-- no inst len means instid 0).

[2018-02-25 21:17] mlyle commented on #857
need to adjust verbiage, too-- right now it implies dR will only do multirotors when it's really just the setup wizard which is multirotor only.

[2018-02-25 21:18] mlyle commented on #783
Can we consider this fixed with #1888 and #1890 (are the rest third party things we'll never fix?)

[2018-02-25 21:39] humanoid2050 commented on #2076
I was about to say I will test it, but then I started thinking....
To activate your proposed code path, that would require compiling a version of the LP GCS against the DR message set. Doable. However, I have a suspicion that there will be problems resulting from the differences in the GCSTelemetryObject between the two projects (there are some). Then there is the problem that from the perspective

[2018-02-25 21:43] mlyle commented on #2076
I think the primary test would be whether *your* code can be made to easily work with both--- e.g. you doing a similar thing to cope with missing/present instance id; you adjusting to always send instance id yourself, and seeing whether you can talk.

[2018-02-25 22:53] humanoid2050 commented on #2076
Derp. I got the new version compiled and installed, ran it against my existing (LP derived) code base and got bidirectional comms as indicated by the gcs and flight states transitioning to "connected". I still have to tweak a couple things on the receiving side of my code base, but the outbound side that always sends an instance ID seems to play well with the modified DR FC code.

[2018-02-25 23:17] tracernz commented on #783
No, we still have plenty of our own
[code]

[2018-02-26 02:40] jhitesma opened #2084 "New Yaw autotune returns bad values on hexacopter"
* Seen in version (release version or githash): wired
* On flight controller (if applicable): seppuku (pre-production green pcb)

Issue details:
I'm getting invalid yaw values from autotune on my hex after upgrading to wired and any artifacts build since wired.  I'm guessing this is due to #2019 but am not sure as I was busy and didn't have a chance to test that PR before it merged.

The last thre

[2018-02-26 02:43] mlyle commented on #2076
@humanoid2050 Awesome!  Thanks for the report and the test.

[2018-03-01 01:06] jhitesma commented on #2084
Ok, after talking to @mlyle in irc I tried actually flying the high PID's....and....it seemed fine.

I only flew LOS with no logging (need to wire up a lager on the hex one of these days) but it looked good, yaw was responsive and didn't seem to have any overshoot or bad tendencies.  Motors were cool after a short test so flew a full pack fairly hard and only thing warm when I landed was the pack.

[2018-03-01 19:23] mlyle opened #2088 "Quanton: Inport: Outputs+ADC boot loops"
Crashes on quanton / boot loops

[code]

reported here;

https://forum.dronin.org/forum/d/501-bootloop-after-update-to-wired/7

[2018-03-01 19:25] mlyle commented on #2088
Just "OUTPUTS" does it too.

[2018-03-01 19:42] mlyle commented on #2088
It breaks when there are 14 or more outputs.

[2018-03-01 19:56] mlyle commented on #2088
Cute.  Long standing stack overflow, but it's been changed from "benign" to fatal.

[2018-03-03 18:31] humanoid2050 commented on #2076
@mlyle just to keep you up to date, I went over to the librepilot group (they seem to do most of their work in a different website) and made a nuisance of myself. I think they will be incrementing their version number since they changed the protocol implementation. I will keep you posted.

[2018-03-03 19:46] humanoid2050 commented on #2076
@mlyle @tracernz I had a thought. I'm proposing to the LP group that bit 4 of the message type byte be used to indicate the presence of the instanceID field in the uavtalk stream for uavtalk protocol version 3.

https://librepilot.atlassian.net/browse/LP-583

How does that sound to you?

[2018-03-04 05:37] mlyle commented on #2076
:/ why bump the version, though, if we had an acceptable workaround here?

[2018-03-04 07:57] tracernz commented on #2076
There are a few other implementations out there that would be broken by LP. Why have a version if you're not going to use it? :/ Admittedly it's probably too late on this case unfortunately.

[2018-03-04 12:18] humanoid2050 commented on #2076
@mlyle I fear I may have gotten too clever for my own good. It's perfectly reasonable for DR to keep with its implementation of the original version 2 spec. I think my point was more along the lines of making a version that both ideologies (optional or mandatory instance ID) could use and the protocol would simply self-describe the contents.

@tracernz I think LP will increment their version. I've

[2018-03-04 16:52] mlyle commented on #2076
@humanoid2050 I think the solution we have here works (cope with an instance id being missing on a single-inst object) and would head towards interop... bumping versions will prevent wrong-versions of GCS talking without a whole lot of workaround, etc.

I would rather LP did nothing.  Why exactly did you ask them to bump the version--- doesn't the solution here for interop work?

[2018-03-04 17:32] jpbarraca opened #2094 "GCS/Sparky2: Six point data collection timed out"
* Seen in version (release version or githash): Release-20180212.2: 20180213-020e58fb
* On flight controller (if applicable): Sparky2

Issue details:
Using OSX, six point calibration always times out after the clicking Save Position for the first time.
Tested with a USB cable and Telemetry through a BT.

The message is: Six point data collection timed out.

[2018-03-04 18:44] humanoid2050 commented on #2076
I talked to LP because at the end of the day, they changed the protocol and didn't increment the version. That's just bad configuration management.  Your solution of interoperation allows you to receive LP patterned uavtalk, but they still can't receive what DR sends back.

[2018-03-04 23:58] #2076 closed, assigned to mlyle

[2018-03-05 00:01] #1697 closed, assigned to mlyle

[2018-03-07 06:59] mlyle opened #2095 "F3/F4 ADC: Should left-adjust results"
Right now, we basically return values from 0 to 4095, which matches the resolution of the internal ADC.  However, we have oversampling and averaging.

We should have the ADC left align the result (return values from 0 to 65535) so that our averaging can increase the resolution beyond the 12 bits that the native ADC provides.  In turn, we can reduce the per-volt value by a factor of 16.

This would

[2018-03-07 22:07] ufoDziner opened #2098 "Display hover % throttle next to hangtime info"
* Seen in version (release version or githash):
* On flight controller (if applicable):

Issue details:
Would be great to have the craft's hover % throttle displayed near the Max Power Add portion of the GCS, and include a tooltip that suggests the recommended Max Power Add.

[2018-03-07 22:21] mlyle opened #2099 "Missing sensors is broken??"
When TolerateMissingSensors is true, good_run is still nailed to false, and as a result the startup SENSORS alarm never gets cleared...  This got regressed at some point.

[2018-03-07 23:11] tracernz commented on #2098
What about just having autotune tune the max power add to suggested value, or at least offer to?

[2018-03-07 23:24] ufoDziner commented on #2098
That would be cool to have it offer, and have the user be able to accept/reject.  Would still be nice to have it displayed as well for further incremental changes.

[2018-03-07 23:28] #2088 closed, assigned to mlyle

[2018-03-08 18:19] jhitesma commented on #2098
I was going to suggest what @tracernz said - have it set this automatically.  This would probably cut down on a good bit of confusion and make sure users get a reasonably sane value to start with.

But...I also agree with @ufoDziner that we should still display it to help guide users when/if they change that setting manually.

[2018-03-08 23:26] mlyle opened #2101 "Need a warning or something for "Collective" on multirotor"
At least two people have tripped over this so far.

[2018-03-08 23:44] tracernz commented on #2101
Collective selected somewhere, or?

[2018-03-09 00:12] mlyle commented on #2101
As an input channel-- it prevents throttle control.

[2018-03-09 01:49] tracernz commented on #2101
That's rather a peculiar thing to select unless you actually have collective pitch (e.g. Curtis Youngblood quads).

[2018-03-09 03:36] mlyle commented on #2101
Lots of people set e.g. all the channels to sbus and then map them, and we behave in a pretty unintuitive way then.

[2018-03-10 03:02] #2095 closed, assigned to mlyle

[2018-03-10 14:49] yds opened #2104 "OmnibusF4SD(Revolution) bootloops"
* Seen in version (release version or githash): Release-20180212.2
* On flight controller (if applicable): OmnibusF4SD a.k.a. V2 and above

Issue details: v89 of the bootloader works as far as booting into the Rescue mode with the GCS but goes into a bootloop with the _Wired_ Revolution target.

Tested with three different variants of OmnibusF4SD, one with the built in current sensor and two witho

[2018-03-10 16:38] yds commented on #2101
how about disabling **Collective** in **RC Inputs** if **Vehicle Type:** _Multirotor_ in **Mixer Settings**

[2018-03-10 18:55] mlyle commented on #2104
Isn't it documented that we don't support this?

[2018-03-10 18:55] mlyle commented on #2104
(e.g. it's a different target in BF than revolution/omnibusf4)

[2018-03-10 18:58] mlyle commented on #2101
No, because there are multirotors with collective.

[2018-03-11 00:24] yds commented on #2104
Wishful thinking on my part. I thought I read somewhere this was being worked on for the _Wired_ release.

Never mind. I might give this a shot once I get a dev environment set up.

[2018-03-11 00:26] mlyle commented on #2104
Sorry-- if a PR shows up with support, or I get bored and do it one day, it may happen.  But for now...

[2018-03-11 00:26] #2104 closed, assigned to nobody

[2018-03-11 16:43] mlyle opened #2110 "windows build changes to python: document, announce"
* [x] Docs:Install anaconda3
* [x] Docs:Add a python.exe -> python3.exe symlink on windows (so f'n unfortunate)
* [x] Docs: announce that a change is necessary

[2018-03-11 16:59] #1985 closed, assigned to mlyle

[2018-03-11 23:52] #2084 closed, assigned to mlyle

[2018-03-13 07:19] mlyle commented on #864
Idea: don't pass DC on accelerometer on cfvert.

[2018-03-13 07:22] mlyle opened #2114 "Should compute mixer adjustment as part of autotune"
A) observe cross-axis coupling
B) compute a mixer that eliminates, say, half of that coupling (because we don't know causation and because phase margin, etc)

[2018-03-13 07:23] mlyle commented on #207
Upon looking at the data, this isn't practical.. and we're doing way better with regards to this anyways. opening a follow-on issue-- superseded #2114

[2018-03-13 07:23] #207 closed

[2018-03-13 07:26] mlyle commented on #54
We've normalized this, now... can't quite remove it until we don't want to interoperate with old uavos from those vers.

[2018-03-13 07:27] mlyle commented on #69
We don't have many targets like this anymore.  I'm inclined to WONTFIX.  Any objections?

[2018-03-13 07:29] mlyle commented on #87
[code]

70% done.. siiiigh.

[2018-03-13 07:52] mlyle commented on #550
Dup #1843 (this is the older issue, but closing in favor of the better-described issue).

[2018-03-13 07:53] #550 closed, assigned to nobody

[2018-03-13 07:55] mlyle commented on #954
Cloud stuff now imports XML too-- recommend we close this.  Bad for end-users to have multiple formats.

[2018-03-13 08:02] mlyle commented on #1150
Fixed by #2073 (and possibly other stuff).... except that targets that are low on space (various F3 targets_ overflow.

[2018-03-13 08:05] mlyle commented on #1604
Too hard, diminishing returns (w10 is big now)

[2018-03-13 08:05] #1604 closed, assigned to tracernz

[2018-03-13 09:35] tracernz commented on #1604
Windows 8.1 is now out of mainstream support so Windows 10 is the only real option.

[2018-03-13 09:40] tracernz commented on #1150
Previously fixed by https://github.com/d-ronin/dRonin/pull/1977

[2018-03-13 09:42] tracernz commented on #954
It's a shame that it's XML but agree yes.

[2018-03-13 09:42] #954 closed, assigned to nobody

[2018-03-13 16:24] mlyle commented on #1150
Huh, that's true.  (But #1977 doesn't fix the main thing cited in this issue ;)

Anyways --- we're not going to fix this, right?  Nothing realistic to do about debug not fitting...

[2018-03-13 16:28] mlyle commented on #2016
Dup #18

[2018-03-13 16:28] #2016 closed, assigned to nobody

[2018-03-13 17:50] tracernz commented on #1150
Yup

[2018-03-13 17:50] #1150 closed, assigned to nobody

[2018-03-15 01:12] mlyle commented on #2104
Bought this: http://www.readytoflyquads.com/flip-32-f4-omnibus-v2-pro  it works.  What gives? :P

[2018-03-15 14:14] yds commented on #2104
I bought that same one when it first came out and I have a clone of it that looks identical. As I type this I had them both bootloop when flashed with _Wired.2_ :(  I also have the [OmnibusF4SD](http://www.readytoflyquads.com/flip-32-f4-omnibus-v2-1020) without Current sensor -- same thing - v89 fixed the bootloader, but instantly bootloops right after the bootloader.

I have an ST-Link.. could yo

[2018-03-15 15:51] jhitesma commented on #69
I've swapped the hex to using a seppuku...still have the OG brain but undecided what it will go in...so...I'm at least not experiencing the issue anymore.

Seems unlikely enough to bite others that it's probably not worth the time to hassle with.

[2018-03-15 17:00] #69 closed

[2018-03-15 17:05] mlyle commented on #2104
haha that's not necessary.

It really seems to work for me, though I've not gone back to wired (but we've not changed anything that would "help" to my knowledge).  Of course, I expect output pin map will be wrong.

Using ST-Link on a random clone board isn't likely to work because they probably don't expose the pins / they may conflict with other uses.  The best thing to do is to look at pios_boar

[2018-03-16 00:13] mlyle commented on #1365
No

[2018-03-16 00:13] #1365 closed, assigned to nobody

[2018-03-16 00:14] mlyle commented on #748
Been thinkin' -- is this telemetry?

[2018-03-16 01:07] tracernz commented on #748
Things like manualcontrol etc. set to onchange generate more updates than the link can handle I think? Should have a throttled onchange, but it's a little tricky because you always want the last state to go through.

[2018-03-16 02:03] mlyle commented on #748
we have a throttled onchange.

[2018-03-16 02:26] tracernz commented on #748
How does it handle the tricky bit (i.e. when there's a flurry of events then static value)? If it always sends the last state in all cases then we could replace some onchange with throttled.

[2018-03-16 02:52] mlyle commented on #748
It doesn't send the last event in al lcases, but everything high frequency has a throttle value.

We don't know that this is telemetry.  It doesn't entirely make sense that it is (e.g. we used to see EVENT on screen in the OSD in flight before we masked it)

[2018-03-16 04:41] tracernz commented on #748
So, it puts a pointer in a UAVO somewhere with who triggered it, but IIRC that pointer changes a bit.

[2018-03-16 04:43] #1716 closed, assigned to mlyle

[2018-03-16 04:53] #2099 closed, assigned to mlyle

[2018-03-16 04:57] #2098 closed, assigned to nobody

[2018-03-16 05:03] mlyle commented on #748
It puts the uavo id.  I'll check it out ;)  Just wanted to remind myself here to look at telemetry again.

[2018-03-16 05:04] #1562 closed, assigned to mlyle

[2018-03-16 05:06] #1978 closed, assigned to mlyle

[2018-03-17 07:07] mlyle commented on #1871
I have a recent repro clicking through input stuff ---- will try to repro and check out your fix.

[2018-03-17 07:09] mlyle commented on #1871
Actually it's output stuff.

[2018-03-17 07:14] mlyle commented on #1871
I can still repro with the fix.  Procedure: import a UAV file that changes actuatorsettings from defaults->nondefaults or vice versa.  (Importing the same one doesn't trigger it!)  Then click to output pane, then somewhere else.

[2018-03-17 07:16] mlyle commented on #1974
Need to audit this myself to close (with #1950 merged it has a chance of being OK)

[2018-03-17 21:04] mlyle opened #2128 "remove six from python stuff"
Now that we don't support python2, transitional libraries don't make sense.

[2018-03-18 00:24] mlyle commented on #1133
https://github.com/google/breakpad/blob/67649c61853108eb0c29703f6ff0db42e9d69f10/src/client/mac/handler/exception_handler.cc#L120

[2018-03-18 00:34] mlyle commented on #1948
What do you think, add to style guide to generally avoid-- pios_whatever_t or in libraries subsystem_whatever_t ... and close this out?  (And add no new violators)

[2018-03-18 00:34] mlyle commented on #1909
CI's like 3 minutes now on a typical build where we hit the cache.  Artifact builds are a bit worse.  Can we close?

[2018-03-18 00:36] mlyle commented on #76
How about instead of uavo fields in UI, something that the uavogen understands?  Easy to add a tag <applyingRequiresReset/>

[2018-03-18 00:38] mlyle commented on #236
I haven't seen this, but here's one you can consistently repro:  if you have setup wizard open, and plug in a FC that needs upgrade or wants to spawn setup wizard, it opens in front of the main window but behind setup wizard, modal, and setup wizard freezes (and must be moved out of the way)

[2018-03-18 01:29] glowtape commented on #1948
I like subsystem_whatever_t.

[2018-03-18 04:10] tracernz commented on #1948
Why do we need the _t suffix? Doesn't add any useful information AFAICT? It just exists to allow stdint.h etc. to avoid collisions with user types that existed first?

[2018-03-18 04:12] tracernz commented on #236
Can you open an issue for that? It's very different to this.

[2018-03-18 04:13] tracernz commented on #76
Yes, that is the right place to add "requires_reboot" information.

[2018-03-18 04:15] tracernz commented on #1909
My machine isn't nearly as fast as CI then. Release builds can now be done with ccache though so that helps. With ccache I still spend about half of a clean build spinning through Qwt + glc_lib.

[2018-03-18 04:17] tracernz commented on #1133
So I want to just disable (or rather, not enable) crash reporter when a debugger is connected. There is some good Apple sample code in their docs but I could not find what license it came under. Any ideas where to find that info?

[2018-03-18 04:25] #1911 closed, assigned to mlyle

[2018-03-18 04:47] #706 closed, assigned to mlyle

[2018-03-18 04:48] mlyle commented on #1133
https://developer.apple.com/library/content/qa/qa1361/_index.html   is the sample code in question.

You can't really copyright "how to invoke an API" so it's OK to use that as a reference IMO.

[2018-03-18 04:50] mlyle commented on #1133
Other sources:
https://books.google.com/books?id=K8vUkpOXhN4C&pg=PA734&lpg=PA734&dq=get+kp_proc+mac+os+x&source=bl&ots=OMjgSWZuYD&sig=FpyioyFpOxWumh55WvMDivCCo80&hl=en&sa=X&ved=0ahUKEwj9mPv-iPXZAhUIi1QKHVmfBLIQ6AEIUDAJ#v=onepage&q=get%20kp_proc%20mac%20os%20x&f=false

https://gist.github.com/s4y/1173880/9ea0ed9b8a55c23f10ecb67ce288e09f08d9d1e5

[2018-03-18 04:53] tracernz commented on #1133
Yup, this is one I can quite easily handle if you like (and one that's been a regular annoyance for me!).

[2018-03-18 05:00] mlyle commented on #1133
I love it when you handle things :D

[2018-03-18 05:06] #1454 closed, assigned to mlyle

[2018-03-18 05:10] mlyle commented on #1948
No, _t predates stdint, etc.  It meant "type"-- it puts things into a different namespace from identifiers, makes things easy to grep for, etc.  Now the OS is kinda claiming it and some people agree, some people don't.

[2018-03-18 05:12] mlyle commented on #236
I think it's #1285 actually ;)   We have a lot of modal dialogs with no clear parent; we have a lot of things that can spawn modal dialogs at any time.

[2018-03-18 05:54] jhitesma commented on #236
Confirmed I still can't repo this on mac and windows.  But still can't confirm or deny on linux because I still haven't setup a linux machine with a GUI to test on :(  If no one else has noticed and you guys can't repo I'm willing to assume it's no longer an issue.  ( I kind of wonder if it went away when we dropped support for 32bit since that was when I quit using my linux notebooks since they w

[2018-03-19 15:34] #1133 closed, assigned to tracernz

[2018-03-21 18:19] ufoDziner opened #2137 "Hide OSD menu items"
* Seen in version (release version or githash):
* On flight controller (if applicable):

Issue details:
Not everybody needs or uses all of the available items on the OSD menu.  It would be really nice to be able to show only specified items or groups of items.

[2018-03-21 18:34] mlyle commented on #2137
Like, how?  Have configuration for which subsets?  Break things into more screens?

IMO it's better to have things there and available than be surprised you can't reach them.

[2018-03-21 18:41] ufoDziner commented on #2137
What I'm currently imagining is on the OSD portion of the GCS is a tree style menu with checkboxes that determine which menus are visible on the OSD.  Just a 1 for 1 list of the line items/groups that are currently there.  So for like the VTx portion, it could be a group that enables power and channel, or they could just have channel available if they never change the power output.

All items coul

[2018-03-21 18:44] ufoDziner commented on #2137
So, if the person never uses TxPID, they could hide that entire portion.  I don't even know what other items are there, but I do know the list is long.  It makes sense to me to only show the relevant items for that pilot on the OSD menu rather than every item.

[2018-03-21 19:09] tracernz commented on #2137
I've thought about making a UAVO browser in the OSD before. It'd take a good amount of flash to store all the strings. The problems are what limits to apply if there are none specified in the field def, what increments to step in, and others I haven't thought of yet. :stuck_out_tongue:

[2018-03-21 19:45] mlyle commented on #2137
Yah, uavo browser would be cool.

I think this is WONTFIX, because it's difficult to do with the current OSD architecture, and a limited gain (makes the menu work slightly better if you invest some effort upfront).

[2018-03-21 23:24] #2137 closed, assigned to nobody

[2018-03-24 03:04] mlyle commented on #1438
No repro on bench testing in flightd/sim, though I found a lot of minor things to fix.

[2018-03-24 05:09] tracernz commented on #1438
Repro with MTK3329:
[code]

The com_dev pointer is invalid, looks exactly like somebody tried to shove it into uint32.

[2018-03-24 05:20] mlyle commented on #1438
Right.. that's the issue I just fixed in the PR on amd64, but it wouldn't affect rpi which is 32bit.

[2018-03-24 05:56] tracernz commented on #1438
Ahhh, right. Same problem on aarch64 (which runs fine on Pi 3 with mainline kernel). But now re-reading OP, this is NMEA specific which is weird.

[2018-03-24 06:00] mlyle commented on #1438
Yah, it's pretty weird.  Probably should close this, though, since it works (and we don't build a sim bin currently for aarch64 / would really not encourage someone to fly that until we've audited a lot more 64 bit path stuff).

[2018-03-24 06:13] mlyle commented on #1420
Confirmed working in #2140

[2018-03-24 06:13] #1420 closed, assigned to nobody

[2018-03-30 07:17] mlyle opened #2143 "SessionManaging rework proposal"
1. GCS stores tristate for each object IsPresentOnHardware -- DONTKNOW, True, False.
2. At SessionManaging transition to connected, all are set DONTKNOW
3. FC SessionManaging enumeration only enumerates multi-instance objs, ignores other objs.
4. Receiving SessionManaging enumeration for obj sets isPresentOnHardware True.
5. Receiving any object sets isPresentOnHardware True
6. Receiving NAK for a

[2018-03-31 01:26] mlyle commented on #2143
@tracernz, @glowtape, Any "oh shit don't do this" reasons?

[2018-03-31 03:55] tracernz commented on #2143
No. Matches my thoughts, and seems like the right approach. :+1: Am away for the next few days, but I will have some time to look over anything. 😀

[2018-03-31 18:31] glowtape commented on #2143
Sounds sane. I suppose reducing the round-tripping will reduce traffic on the connection and increase the chances of things making it through, improving things a lot for the flakier targets.

[2018-03-31 19:45] tracernz commented on #2143
Exactly 👍

[2018-04-02 03:59] ufoDziner opened #2145 "TBS Unify Pro Nano support"
* Seen in version (release version or githash):
* On flight controller (if applicable): Seppuku at least.

Issue details:
Looking for support for the TBS Unify Pro Nano.  The following is from the manual.

SmartAudio LITE is used on the tiny Unify PRO nano. The software protocol is the exact same as on
Smartaudio V2.
However there are two limitations/caveats:
● It requires 3.3V level. The standard

[2018-04-05 00:59] mlyle commented on #2145
Works already ;)

[2018-04-05 00:59] #2145 closed, assigned to nobody

[2018-04-06 21:55] ufoDziner opened #2153 "Custom Stabilization Mode names in OSD"
* Seen in version (release version or githash):
* On flight controller (if applicable): All with OSD

Issue details:  Would be really great to have the ability to assign custom names for ST1-ST3.  I'm constantly in ST3, which is LQG, LQG, LQG, CameraAngle, Direct.  Would be nice to rename it LQG-RPRO, so I can read it clearly in the OSD and don't have to rely on memory.

[2018-04-11 01:22] #2128 closed, assigned to mlyle

[2018-04-13 08:39] tracernz opened #2159 "GCS: Board upgrade dialog pops up once for every Uploader gadget"
If you can more than one uploader in your GCS config, you will get multiple pop-ups when you plug in a board with different firmware version to GCS. This is really a symptom of #1842.

[2018-04-13 23:40] #1879 closed, assigned to mlyle

[2018-04-16 07:50] tracernz commented on #2101
Is this still valid with #2117? Seems you can't really accidentally configure it now.

[2018-04-16 07:53] tracernz commented on #1875
This needs to either be fixed in #2025, or after that merges.

[2018-04-16 13:57] mlyle commented on #2101
#2117 helps mitigate it.  some people put the whole left column "sbus" and left it none, some people configured channels for everything because "why not".  But I think we should still consider doing more.

[2018-04-16 19:34] glowtape commented on #1875
Hmmm ChibiOS 17.x crt0 can specifically set the MSP. Would that do it?

https://github.com/glowtape/dRonin/blob/glowtape-chibios17/flight/PiOS/Common/Libraries/ChibiOS/os/common/startup/ARMCMx/compilers/GCC/crt0_v7m.S#L183

[2018-04-16 21:29] tracernz commented on #1875
Yes, that's perfect. :+1:

[2018-04-17 11:44] glowtape commented on #2101
Move the collective channel to the bottom of the list, followed by a warning about helis and such?

[2018-04-17 14:58] ufoDziner opened #2165 "Fixed wing must have motor"
* Seen in version (release version or githash): Wired
* On flight controller (if applicable): Brain RE1

Issue details:
I'm trying to set up a glider, which has no motor.  The GCS does not allow "None" for the motor entry.

![glider](https://user-images.githubusercontent.com/7434287/38878160-27f53ce2-4215-11e8-8f2f-8ec3d067c9ef.png)

[2018-04-17 15:56] mlyle commented on #1143
Also related, there's legal aircraft configurations with output channels missing that we too harshly warn about.

[2018-04-17 15:57] mlyle commented on #2165
Set it up like normally, then pick custom mixer type.  Note it will also expect you to have throttle etc input channels.

Will call this dup #1143 (added a related comment there).

[2018-04-17 15:57] #2165 closed, assigned to nobody

[2018-04-17 15:58] mlyle opened #2166 "SetupWizard not currently loading on Windows"
Probably a DLL circdep thing.

[2018-04-17 18:46] tracernz commented on #2166
Got Windows VM up, confirmed rev cd7a75d8 is good, rev 7e1292ad is bad (as reported by @yamahabest, thanks!). Tried the dumb thing first and copied SetupWizard + Core plugins from good rev to bad rev, didn't help. Started setting up a dev environment with msys2 to bisect. Will continue after work.

[2018-04-18 13:37] #47 closed

[2018-04-18 20:18] mlyle commented on #1405
Attempted, still no repro.  Time to close this out.

[2018-04-18 20:18] #1405 closed, assigned to nobody

[2018-04-18 20:18] mlyle commented on #1438
No repro, no objections, closing.

[2018-04-18 20:18] #1438 closed, assigned to nobody

[2018-04-18 20:26] mlyle commented on #2143
A more thorough version of this was done in #2148.

[2018-04-18 20:26] #2143 closed, assigned to nobody

[2018-04-18 23:18] mlyle commented on #1974
OK

[2018-04-18 23:18] #1974 closed, assigned to mlyle

[2018-04-19 04:59] mlyle commented on #1871
So, to note: the output pane is one of the few that doesn't auto-build relations.

[2018-04-19 05:34] mlyle commented on #1337
So this is really interesting.

1. the lat and long are really close, e.g. not a trivial flipping of bits from true position
2. UBX protocol has checksumming...
3. 536939800 = 0x20010D18, 536682500 = 0x1FFD2004  They're very close to each other in value, but not in bit values.
4. NOGPS?

[2018-04-20 05:27] mlyle commented on #2094
After touching checkboxes, it works.  Before it fails.

[2018-04-20 05:34] mlyle commented on #2110
@glowtape or another windows expert, pretty pretty please?

[2018-04-20 05:37] tracernz commented on #2110
Let's go to msys2 proper instead (rather than the gimped copy shipped with git for windows), and we can install git, python etc. with just `pacman -S python3 git`, and `/usr/bin/env python3` JustWorks™. Should be able to get openssl dlls we need from it to (installer is currently broken and I don't know how to fix it).

[2018-04-20 05:38] mlyle commented on #2110
That sounds nice but whatever we instruct people on should match the CI server-- and I am hesitant to fix the CI server now because it feels like we're getting into shipping cadence (main remaining things that are a must are the windows regression and whatever I can fit in for openlrs-ness).

[2018-04-20 05:39] tracernz opened #2176 "Windows: openssl installer doesn't auto-install anymore"
We pick up the latest version automaigcally since https://github.com/d-ronin/dRonin/commit/9064d5303616106a1d6db0448237cace0a5230ed... but the latest installer will not accept any flags to set install path and silent install. It's InnoSetup based. I'm not sure how to proceed other than sourcing from an alternate source (msys2 repo?).

[2018-04-20 05:40] tracernz commented on #2166
Almost done bisecting this... one or two builds left to do.

[2018-04-20 05:52] mlyle commented on #2176
IMO it's not the end of the world if a user has to click through it for now.

[2018-04-20 05:57] tracernz commented on #2176
Well, we don't tell them the path to install to ;)

[2018-04-20 06:01] #2094 closed, assigned to mlyle

[2018-04-20 06:29] tracernz commented on #2166
[code]

[2018-04-20 09:55] #2166 closed, assigned to tracernz

[2018-04-20 15:54] mlyle commented on #645
I think the data is represented in GCS well enough-- it's unfortunate it needs to be duplicated from flight but probably not worth having a central build mechanism for it.

[2018-04-20 15:54] #645 closed, assigned to nobody

[2018-04-20 16:37] mlyle commented on #164
Is there any strong reason to do this now that we support Crossfire Telem?

[2018-04-20 17:58] glowtape commented on #164
Sends exactly the same things over BST, AFAIK. If the use case is solely Crossfire, instead of other stuff using BST (what is there, anyway? just their GPS?), it seems pointless to implement it.

[2018-04-20 18:29] #1650 closed, assigned to mlyle

[2018-04-20 18:31] mlyle commented on #164
I think you can change VTX channels over BST, but we prefer smartaudio to that.

Closin'.

[2018-04-20 18:31] #164 closed

[2018-04-21 03:04] tracernz commented on #164
BST was never a good protocol to begin with. We already have better alternatives. :+1:

[2018-04-21 03:16] #1105 closed, assigned to nobody

[2018-04-21 09:43] #1228 closed, assigned to mlyle

[2018-04-23 08:09] #1285 closed, assigned to mlyle

[2018-04-23 08:09] #236 closed

[2018-04-27 04:33] lrvick opened #2185 "Buzzer inverted on HGLRC Zeus"
* Seen in version (release version or githash): 0548c4791
* On flight controller (if applicable): HGLRC F4 Zeus

Issue details:

Buzzer is inverted. If everything in annuciator config is set to "haironfire" then buzzer is on no matter what. When I set it to other modes like "OK" it does different beep codes depending on if radio is on or off, etc, however they are always directly opposite to the o

[2018-04-27 04:45] mlyle commented on #2185
How'd you wire the buzzer?

[2018-04-27 15:56] mlyle commented on #2185
I've confirmed that this works as expected on other OmniBus F4 targets.  I've also confirmed that, properly wired, switching active_high in the buzzer declaration reverses when the beeper is on.

I don't have that specific board, but there's no documentation to suggest that the buzzer is inverted from other OmniBus targets.  My best guess is that you've got things miswired somehow.

The forum, and

[2018-04-27 16:59] lrvick commented on #2185
I have + to 5v and - to "BB" on this board.

I brought this up on IRC first and it was suggested I file this issue:
[code]

[2018-04-27 17:12] mlyle commented on #2185
Well, if you flipped the active_high in the code and still have an issue, there's something fundamentally wrong.  Possibly hardware, possibly wiring.

[2018-04-27 17:12] #2185 closed, assigned to nobody

[2018-04-27 20:01] mlyle opened #2186 "UI responsiveness tied to "Open File" in loader"
Whole UI tends to lock to mouse input, for unknown reasons.  Hitting ESC makes it come back.

[2018-04-28 04:13] mlyle commented on #2186
Uh... this isn't reproing for me anymore...

[2018-04-28 05:53] mlyle opened #2188 "Python API: Move to asyncio, async, await, etc."
Since we're on python 3, use the new syntactic sugar, sugar.

[2018-04-28 07:45] lrvick commented on #2185
@mlyle I was positive I had my wiring correct per labeled pins, but not positive the label/code mappings agree.

After some more trial and error changing annuciator options individually it turns out the pin labeled Buzzer/BB actually maps to "Alarm LED".

This would explain why flipping active_high had no impact.

I was able to get everything working by setting active_high=true on PIOS_LED_ALARM h

[2018-04-28 10:00] tracernz commented on #2185
Yeah, I think the pinout came up in the IRC conversation.
@mlyle I think this is yet another board with a slightly different combo. Has mem chip, but with omnibus-ish pinout.

[2018-04-28 15:09] mlyle commented on #2185
Can we detect it in any way to do so?

[2018-04-30 08:59] lrvick commented on #2185
Not sure. Any suggestions on probing the device for unique features or identifiers?

[2018-05-04 18:41] mlyle opened #2192 "DSM unit test duplicates the DSM code"
Which kinda undoes the whole point.

[2018-05-09 00:43] mlyle commented on #1871
Another one: stabilization acts "unsaved" on connection of pipxtreme.  My guess, the backing objects are missing and it calculates new values and seems unsaved.

[2018-05-09 00:46] mlyle commented on #748
I am seeing this much less lately....

[2018-05-09 19:37] #513 closed, assigned to nobody

[2018-05-15 12:31] #2192 closed, assigned to nobody

[2018-05-15 17:59] mlyle commented on #739
This works over openlrs :D  Still worst UI ever, but no issues specific to pipx.

[2018-05-15 17:59] #739 closed, assigned to nobody

[2018-05-15 18:02] mlyle commented on #2186
No repro again, trying a wide variety of things.  Must have had a bad build, only saw it once on an incremental.

[2018-05-15 18:02] #2186 closed, assigned to nobody

[2018-05-15 18:24] glowtape opened #2200 "F3/F4 targets have higher CPU usage, likely related to telemetry changes."
Several users have been mentioning higher CPU usage on the F3 targets lately. Most recent reporter Maquiabelo, where it seems to be causing a critical CPU alarm, and also claims to be unable to arm (presumably due to critical CPU). Two quads using a micro F3, running the Omnibus F3 target.

The UAVOs are attached to this issue, but I haven't looked into it yet. [spc95.zip](https://github.com/d-ron

[2018-05-15 18:42] glowtape commented on #2200
Eh, I spot this only now, https://github.com/d-ronin/dRonin/commit/5388fe3e5a86f43d75de4d264dc63c2df8e2308c is a small patch applying to https://github.com/d-ronin/dRonin/commit/b0b70c5b79feb6fa09a271bcbe21006cb4d64425 .

[2018-05-16 03:09] tracernz commented on #2188
And use exceptions more for error handling? :stuck_out_tongue:

[2018-05-16 23:00] mlyle commented on #2110
w/e

[2018-05-16 23:00] #2110 closed, assigned to nobody

[2018-05-18 06:03] tracernz opened #2205 "GCS: Build broken on GCC 8.1 (qsciencespinbox)"
Bad code in ~~~qsciencespinbox~~~ -e- actually in Qt... according to our source file:
[code]

-e- Fixed in https://github.com/qt/qtbase/commit/342bb5b03a76d1428fafb8e1532d66e172bd1c0b
So, either need to wait for Qt 5.9.5, or go to Qt 5.10/11... or I need to build my own patched Qt 5.9.2. :cry:

[code]

[2018-05-18 06:29] mlyle commented on #2205
Bumped to Ludicrous-- can't do tools changes this late in inconceivable cycle (want to ship)

[2018-05-18 17:39] mlyle commented on #2205
It looks like we have a few dubious memcpy's too but should wait for upstream tools to be ready for 8.1 to hunt 'em.

[2018-05-18 17:52] mlyle commented on #2188
Hmmmm.  This is looking like a pain.

Using `yield from` looks like it requires way too much of a complexity/performance tax for the factoring improvements it can provide in uavtalk.

It looks like moving to an event loop with asyncio would provide some small factoring improvements.

[2018-05-18 18:03] #1002 closed, assigned to mlyle

[2018-05-18 23:24] glowtape commented on #2200
Yeah I don't get it. Right now on latest next, it idles at 77% with no config at all. When I revert the recent change 263720787679d638bc3257be998a5ae16f877497, which gives back 3%, and the other two changes above, I drop to 70%. I've been looking and prodding at it, and I don't get it.

[2018-05-18 23:27] tracernz commented on #2205
I can still build with clang (6.0.0) without any hax (luckily we don't do -Werror there).

[2018-05-18 23:51] glowtape commented on #2200
OK, what I've noticed is that per TaskInfo (reverted vs next):

Actuator 12% -> 13%
Attitude 26% -> 29%
Stabilization 28% -> 30%
ManualControl "0%" -> 1%

The interesting thing is that the job these tasks do is very definite and on a timer. The amount of UAVO accesses should not vary per tick, neither do the changes look like they'd do more work. If at all, they'd do less, because throttled queues

[2018-05-20 14:31] glowtape commented on #2200
Ugh, it has an effect on F4, too. I went to do some logging with some lean custom logging profile, the sort that didn't use to flash the CPU warning (at 166hz), but now it does (at 100hz).

So I've installed the LQG test build from the forums, the CPU usage on my Seppuku was this, logging disabled though:

1) Only board powered, no receiver: 50%
2) Only board powered, receiver on, armed in LQG rat

[2018-05-20 15:42] #2101 closed, assigned to nobody

[2018-05-20 17:22] glowtape commented on #2200
So next with #2210 brings some slight improvements, the CPU usage got slightly lower.

1) 55%
2) 61%
3) 76-77%

[2018-05-20 17:52] glowtape commented on #2200
#2210 doesn't seem to have an effect on SPRF3e idle CPU usage, which stays at 76-77% regardless.

[2018-05-20 18:23] glowtape commented on #2200
Latest changes in #2210 bring F3 idle down to 71-72%, whereas with the reverts, it's 70-71%. So that definitely did something.

As for the Seppuku:
1) 51%
2) 56-57%
3) 72%

It's practically fixed, but it appears we're optimizing other things to make up for it, since PIOS_Thread_Systime() was always in use. Later today I'm starting with next and am going to knock out things in the commits above on

[2018-05-20 18:51] glowtape commented on #2200
Nevermind, PIOS_Thread_Period_Elapsed() is new.

[2018-05-20 19:06] glowtape commented on #2200
OK, I think I've tracked it down. I've knocked out everything by commenting out, CPU usage stayed high.

The mere commenting of this line dropped the CPU from 77% to 72%, even though that pointer wasn't in use anymore, because of having commented out other things using it beforehand.
https://github.com/d-ronin/dRonin/blob/next/flight/UAVObjects/inc/uavobjectmanager.h#L120

[2018-05-20 19:27] glowtape commented on #2200
With #2210 and #2211, SPRF3e idle CPU usage went to 68-69%. It used to be 67% a few weeks back, but more stuff went into stab.c meanwhile.

As for Seppuku:
1) 50%
2) 55%
3) 69-71%

[2018-05-28 12:59] reubenfirmin opened #2212 "Ubuntu install broken on 18.04 - requires unavailable dependency (libjasper1)"
* Seen in version (release version or githash): Release-20180212.2

Issue details:
The Ubuntu packaged deb requires libjasper1, which is not available in the Ubuntu 18.04 repos. Downloading it manually from 17.10 repos & installing works (for now). Unclear why libjasper1 isn't available in 18.04, but build deps should likely be changed.

[2018-05-28 19:14] tracernz commented on #2212
Thanks for the report. That dep is from Qt's support for JPEG2000 (https://github.com/qt/qtimageformats/blob/5.9/src/plugins/imageformats/jp2/qjp2handler.pri). Not sure if we can disable that. Maybe we can just delete the jp2 imageformat plugin from our package.

[2018-05-28 23:25] tracernz commented on #2212
Previous report: https://github.com/d-ronin/dRonin/issues/1866. It's more serious now that 18.04 LTS is out. :/

[2018-05-28 23:35] tracernz commented on #2212
The relevant Ubuntu Qt packages:
https://packages.ubuntu.com/xenial/qt5-image-formats-plugins
https://packages.ubuntu.com/bionic/qt5-image-formats-plugins
They removed the jasper dep https://salsa.debian.org/qt-kde-team/qt/qtimageformats/commit/217ae80e8b6a650f2aa9147b105b1d81e1e53d1e

[2018-05-29 04:51] mlyle commented on #2212
Any easy way to fudge / remove the dependency at deb-build-time?

[2018-05-29 10:06] tracernz commented on #2212
@reubenfirmin Can you please test the deb in http://jar.lyle.org:8080/job/dronin/1798/Nodes=master/ ? Thanks.

[2018-05-29 11:49] reubenfirmin commented on #2212
That worked fine, and all appears functional. Thanks!

[2018-05-29 13:52] #2212 closed, assigned to nobody

[2018-05-29 18:57] tracernz commented on #2212
Thanks for checking back, appreciate it. :+1:

[2018-06-02 04:45] LitterBugs opened #2214 "Enabling FrSKY sPort Non Inverted on seppuku causes bootloop when battery monitoring is not enabled"
* Seen in version (release version or githash):  Pre-Inconceivable 4a4727f2
          http://jar.lyle.org:8080/job/dronin/1800/Nodes=master/
* On flight controller (if applicable): Seppuku

Issue details:
Bootloop occurs when enabling "FrSKY sPort Non Inverted" on uart 1 or 4.  When enabled, and R-XSR RX telemetry is plugged into uart1/4, Seppuku will bootloop.  Unplugging telemetry pin stops the

[2018-06-02 12:56] LitterBugs commented on #2214
Upgraded Screech build, and it works fine.  Exported Screech settings and imported into the F450 build and that build now works.  Reset F450 back to defaults, and reconfigured, does not work again.  I've also tried all UARTs now, and it affects them all

Trying to isolate difference in UAVO between defaults and Screech settings that cause the bootloop when enabling sPort Non Inverted.

[2018-06-02 13:38] LitterBugs commented on #2214
Simplified testing down to
1) Flash Wired.2, enable s.bus and sPort un-inverted.
2) Upgraded to pre-inconceivable.
3) still works
4) deleted settings partition
5) enabled s.bus and sPort un-inverted.
6) doesn't work
Comparing uavo exports from both....

[2018-06-02 13:41] LitterBugs commented on #2214
Hmmm...  not quite working either....

[2018-06-02 16:52] yds commented on #2214
Reproduced on the [FrSky XSRF4O](https://www.FrSky-RC.com/product/xsrf4o/) -- an OmnibusF4SD clone with integrated XSR internally wired like so:

- **MainPort**: _S.Bus_
- **RxPortUsart**: _FrSky SPort Non Inverted_

on _Wired.2_ both of the above settings work.

setting _FrSky SPort Non Inverted_ results in a bootloop on the _Pre-Inconceivable_ 4a4727f http://jar.lyle.org:8080/job/dronin/1800/Nod

[2018-06-02 17:25] glowtape commented on #2214
@LitterBugs Can you upload both UAVOs? This kind of smells like an ID mismatch somewhere.

[2018-06-02 21:34] LitterBugs commented on #2214
So narrowed it down to having battery monitoring enabled or not.  If FrSKY telem is enabled without battery monitoring enabled, the bootloop occurs.

[2018-06-04 22:49] LitterBugs opened #2216 "AltitudeHold flight mode inoperative"
* Seen in version (release version or githash):  Pre-Inconcievable and #2215
* On flight controller (if applicable): Seppuku

Issue details:
Selecting Altitude hold mode causes motors to drop to Neutral, Throttle is ineffective, And beeper sounds .-. "R" code.

Also noticed that there is still an ALT.H indicator on the Flight Data screen in GCS although there is no longer an AltitudeHold Module.

[2018-06-05 12:41] glowtape commented on #2216
When I define a Stab1/2/3 with AltitudeHold as thrust mode, it seems to work fine. When I specify AltHold as flight mode, it goes into failsafe. Gonna look into it, must be a slight snafu with the flight mode config.

[2018-06-05 22:17] tracernz commented on #2216
Thanks for tracking this down @glowtape :+1: .

[2018-06-06 03:55] mlyle commented on #2216
Introduced by me in 3dc6eb0ad9 when I removed duplicated code (but a little too much) added in 7ca566633d.  Sorry :/

[2018-06-06 05:35] #2216 closed, assigned to nobody

[2018-06-06 05:36] tracernz commented on #2216
No prob :wink:

[2018-06-07 02:11] LitterBugs commented on #443
Been using GPS modes on my A450 with a Seppuku recently.  I agree that Home position should be set to inital arm location rather than where 3D lock is first achieved.  Maybe make a UAVO that allows  to choose how Home is set.

[2018-06-07 03:51] tracernz commented on #443
We sort of have that, but just with only two options, either preset position, or GPS lock position.
[code]
Could extend that to an ENUM with a 3rd option to use position at arm if we implement that.

[2018-06-09 02:12] tracernz commented on #2214
Fixed in #2215

[2018-06-09 02:12] #2214 closed, assigned to nobody

[2018-07-04 09:08] ResinSmoker opened #2219 "dRonine flags"
Everytime i attempt to download or install dRonin it flags with Google (Chrome), Malwarebytes and Avast. I've attempted several times to contact the vendors to submit an exception but after several months still no luck. Would it be possible to contact the vendors on your end to see if they'll hear your voice?

![dronine blocked by malwarebytes](https://user-images.githubusercontent.com/10391485/42

[2018-07-04 23:54] glowtape commented on #2219
I wonder if the RunGuard stuff and its shared memory antics is tripping AV scanners.

[2018-07-05 00:09] tracernz commented on #2219
The other thing I think it could be is the breakpad handler hooking all the signals.

[2018-07-05 00:12] tracernz commented on #2219
Interesting chrome comments on that: https://codereview.chromium.org/1416133003/patch/1160001/1170033

-e- They embed the handler app in chrome.exe and the decision to run it, or the normal chrome exe comes from argv https://codereview.chromium.org/1416133003/patch/1160001/1170017

[2018-07-05 10:37] glowtape commented on #2219
Hmmm that'd be annoying.

It's the drgcs.exe resulting that trips everything. I'm gonna look into it tomorrow, uploading a stock build to VirusTotal.com and see if it does the same (or whether I need a Jenkins build), and then replace the sharedmem stuff with a global mutex as barrier on Windows and see if it still happens. Should exclude that possibility.

[2018-07-05 21:20] glowtape commented on #2219
Must be some weird ass codegen stuff. A debug build of drgcs.exe of next triggers only one AV out of 67 over on VirusTotal.com, called Cylance, which is supposed to be some AI shit. A release build triggers 15 of them, which is an improvement over Wired, which triggers a whopping 35. Replacing the shared mem stuff with a global mutex still triggers 15 of them.

[2018-07-05 22:00] glowtape commented on #2219
Ain't the crash reporting nor the Runguard stuff in general. Excluding them still triggers stuff. Dafuq?

[2018-07-05 22:37] tracernz commented on #2219
Maybe they really are just trolling us.

[2018-07-05 23:25] glowtape opened #2221 "Windows installer .exe for Wired is blocked by Chrome"
Seems we need to file a security issues report at Google, on their stupid Search Console.

https://support.google.com/webmasters/answer/3258249

~Is dronin.org set up on that?~

I suppose being hosted on Github is an issue?

[2018-07-06 00:54] tracernz commented on #2221
Is it the uncommonly downloaded warning, or the malware warning?

[2018-07-06 00:57] tracernz commented on #2221
We may want to investigate an alternative installer if it's NSIS itself.

[2018-07-06 11:47] glowtape commented on #2221
Malware.

The installer scans clean over at VirusTotal (which Google recommends using for checks). I figure a deep scan triggered on drgcs.exe and declared everything bad.

The annoying part is that Chrome doesn't allow you bypassing the alert without disabling it completely. Which is idiotic, considering they know about false positives, as per what you posted in the other discussion.

[2018-07-12 20:58] yds opened #2223 "disambiguating LQGA and LQGR labels in CharOSD"
* Seen in version (release version or githash): Next
* On flight controller (if applicable):  Omnibus

Issue details:

In CharOSD the labels `LQGA` _LQG Leveling_ and `LQGR` _LQG Acro_ are not consistent with the GCS labels.

Adding to the confusion, uppercase `A` and `R` in in the default CharOSD font are almost indistinguishable.

How about changing the CharOSD labels to `LQGL` _LQG Leveling_ an

[2018-07-14 05:06] tracernz commented on #2221
I just installed Chrome on a Windows 10 machine, downloaded the latest nightly installer from https://dronin.org/nightlies and ran it. Chrome had no issues, Windows "SmartScreen" "protected" my PC, but of course if you click through their nagware dialog you can still run it. Windows Defender itself had no problem after I installed dR and ran a scan. Basically, I cannot repro any of the issues exce

[2018-07-14 05:09] tracernz commented on #2221
Ah, grabbed Wired and indeed Chrome did block it. That's very strange.

-e- Neat and nightlies are fine. Firefox also blocks Wired installer...

[2018-07-19 07:34] ioprev opened #2226 "Support for DJI GPS"
DJI Naza GPS module contain both GPS and MAG and communicate over serial. Support already exist in librepilot, so probably this is a porting effort.

[2018-07-21 18:47] mlyle commented on #2223
Fixed by #2224

[2018-07-21 18:47] #2223 closed, assigned to nobody

[2018-07-21 18:48] mlyle commented on #2219
gonna call this duplicate of #2221

[2018-07-21 18:48] #2219 closed, assigned to nobody

[2018-11-30 08:28] error414 opened #2235 "SmartAudio for non graphical OSD"
* all versions
* HGLRCF4 mini

It would be nice to add support for smartaudio to non graphical OSD. And settings over OSD menu or better, over LUA script and frsky telemetry like in BF.

Lot of people are used to use LUA script or OSD menu for settings FC, it is very common in kiss/F1/BF world.

[2018-12-21 05:57] tracernz opened #2236 "UI: Improve Output test widget"
Moving the neutral slider is a bit unintuitive to start the motors. Add a button or other suitable control, or rework the UI in a more substantial way.

Ref https://forum.dronin.org/forum/d/572-hglrc-f4v6-pro-can-t-remap-motor-channels-ppm/3

[2018-12-21 12:02] raemin opened #2237 "GCS: Save Log to File error"
* Seen in Inconceivable build #1975:
* On flight controller : Seppuku and PikoBLX

Issue details:  GCS successfully logs the setting objects, but constant stream of errors while trying to log the data objects.

https://forum.dronin.org/forum/d/578-gcs-logging-issue

[2018-12-23 05:31] tracernz commented on #2237
https://github.com/d-ronin/dRonin/blob/d654e8831499ca74ae5bd24dd739033873a72d22/ground/gcs/src/plugins/uavtalk/uavtalk.cpp#L579

TX_BACKLOG_SIZE (2 * 1024) seems to be smaller than the QFileDevice buffer/chunk size, so it starts failing and never recovers after the first few objects. We should probably only do that check for non file devices.

[2018-12-23 14:28] raemin commented on #2237
Tested build 2238 on Seppuku, bug fixed.

[2018-12-23 14:28] #2237 closed, assigned to nobody

[2019-01-11 09:19] raemin opened #2239 "Python API: unable to read new logs (error in telemetry.py)"
* Seen in Main Branch Scripts as of 21/12/2018
* Logs produced by firmware 2038 night build
* On flight controller Seppuku

Issue details: Can log older logs (presumably wired), but Inconceivable logs crash the logviewer.

Telemetry.py , error line 1017, no header signature

[Logs.zip](https://github.com/d-ronin/dRonin/files/2748898/Logs.zip)
(edit : discard these, as I made a "better" test later,

[2019-03-12 14:39] LitterBugs opened #2241 "GCS: Welcome tab "GitHub Activity" and Flight Data "MAP" not displaying on Ubuntu 18.04"
* Seen in version (release version or githash): ALL
* On flight controller (if applicable): ALL

Issue details:
When using the latest Ubuntu 18.04 LTR release, no data is displaying in the Welcome Tab "GitHub Ativity" area.  The Map tiles on the Flight Data tab are also not displaying when using the  standard Google Sat maps.  They display fine when switching to "default"
![MissingGitStuff](https:

[2019-03-12 17:45] tracernz commented on #2241
I see the no GH activity with Qt 5.9.2 builds, and it is fixed with Qt 5.12.1 builds. The Map works either way for me on Arch. Will need to investigate that one.

[2019-03-13 01:15] glowtape commented on #2241
An unscientific look at the progress bar in the lower right corner, considering the time it needs to fill up, and what the system monitor says in regards to network traffic, the tiles appear to be downloaded. Something's upsetting the map control, maybe something about the image format (--edit: specifically the sat imagery, because the street map imagery works)?

It works over here on Windows, but

[2019-03-17 03:23] fxbisto opened #2242 "GCS Input - RSSI: Can we / how could I add "iBus" option?"
All current versions, all flight controllers
Issue details:
As the issue states, could we make this happen?
I am using the 'FlyPlus' firmware for my FS-i6 transmitter which allows sending RSSI over an aux channel of your choice. Normally I have this set to channel 12 / aux 8 but there's no ibus option for this (presumably because it didn't support it in 2016)

A little background on me:
 I'm a bit

[2019-03-17 03:40] fxbisto commented on #2235
I would like to see this also.
I've got a bunch of time at the moment but my coding isn't necessarily the best :)
beta/clean/butter/XYZflight uses a stick command to enter an OSD character menu which is navigated by pitch/roll stick inputs. It works very well.
The ability to manipulate video transmission channel and output power over UART is very desirable in a modern flight control firmware.

[2019-03-17 07:18] tracernz commented on #2242
I saw your messages on IRC, but you had quit already. I'm a little hazy on how that works, it's been a while since I worked on RSSI or wrote the IBus driver.

Places that definitely need additions:
https://github.com/d-ronin/dRonin/blob/3a866925d6148e33e0620c94c5940413574a7247/flight/Modules/ManualControl/transmitter_control.c#L119
https://github.com/d-ronin/dRonin/blob/3a866925d6148e33e0620c94c59

[2019-03-17 13:16] rgorosito opened #2244 "Build with "-Werror" on all platforms"
* Seen in version 20180729:

The flag **-Werror** only was enabled on Linux, but it broken the build with modern versions of gcc. To solve this issue, is required to update de Qt version an fix all warnings

[2019-03-17 15:32] fxbisto commented on #2242
Thanks for your reply.

Great work on the driver by the way, it works perfectly :) I don't think we'll need to delve into that code specifically because the controller does the hard work for you.

Once the brilliant FlyPlus firmware has been flashed to the Tx it enables you (amongst other benefits - timers, alarms, etc) to simply select 'ERROR' as a source for the aux channels of your choice. Exac

[2019-03-17 18:10] tracernz commented on #2244
Yes. I think the best course would be to move to Qt 5.12.2 (current LTS). There is a bit of background work that needs to happen for that to occur though. Maybe it's better to disable Werror for now?

[2019-03-17 18:12] tracernz commented on #2242
Ahh, it probably needs added to a switch statement or two in GCS. I'll take a look tonight.

[2019-03-18 07:30] tracernz commented on #2242
Does this patch do the job?
[code]

I suspect there is still something to be done on the flight side too.

[2019-03-18 08:30] tracernz opened #2245 "GCS: macOS Dark Mode Not Supported"
Works fine when built with Qt 5.12.2.

[2019-03-18 13:04] fxbisto commented on #2242
I've just got back home so I'll fire up the machine, patch and report back.
This should require recompiling of the target as well shouldn't it - or am
I incorrect in thinking that the UAVOs are being updated to enable this?

Cheers

On Mon, 18 Mar 2019, 07:30 Michael Corcoran, <notifications@github.com>
wrote:

[2019-03-18 16:51] tracernz commented on #2242
That's correct. You'll need to add a case here first, at a minimum: https://github.com/d-ronin/dRonin/blob/3a866925d6148e33e0620c94c5940413574a7247/flight/Modules/ManualControl/transmitter_control.c#L119

[2019-03-18 19:39] fxbisto commented on #2242
Success! I've added the relevant information where you suggested and a new case for ibus in dRonin/flight/Modules/ManualControl/transmitter_control.c and we are in business. Do you have the time to create a PR or should I have a go?

[2019-03-19 06:34] tracernz commented on #2242
Great work. Have a go! 😁 GitHub docs: https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

[2019-03-20 02:19] fxbisto commented on #2242
Thanks for all your help. I may be suggesting a few other minor changes for consideration in the near future as I've been playing with CharacterOSD.
So far I've managed to work out how to call the temperature data from barometer (someone wrote placeholder for Temp but it displayed nothing), shift some formatting about, cheer up the boot screen a little with some simple personalisation, and add a n

[2019-03-20 06:23] glowtape commented on #2242
More people flying dR and flaunting the LQG mode. Pressure to finally implement the ESC autotelemetry for torque is rising.

[2019-03-21 17:38] fxbisto commented on #2242
Not so much 'flaunting' per sei, but I was intrigued to try out an alternative control system for sure.
Quad was a 'little' too noisy for good performance so I haven't had much to shout about ;)
/offtopic

PR created. Thanks @tracernz
https://github.com/d-ronin/dRonin/pull/2246

[2019-03-21 17:38] #2242 closed, assigned to nobody

[2019-03-27 23:29] tracernz opened #2247 "MSPUAVOBridge: MSP error message differs from *flight"
This was raised in a BLHeli issue: https://github.com/bitdump/BLHeli/issues/324#issuecomment-477249163. The MSP code sends a message with `|` in the case of an unknown message type[1]. That is consistent with the Multiwii protocol spec[2], but differs from the actual multiwii/baseflight/betaflight implementations, which send `!`[3][4][5]. Since we're on our own here, I think we need to disregard t

[2019-03-28 00:15] mikeller commented on #2247
I would agree with your approach to disregard the original protocol specification (I had searched for the original MSP specification before, but not found it, so this is the first time I've seen this).
Most of the currently used MSP implementations (in particular when counted by installed base) seem to be using '!' to indicate error / unknown command. I think trying to change this for every client

[2019-04-02 20:38] #2247 closed, assigned to nobody

[2019-04-09 20:02] raemin commented on #2239
I've reverted back to wired, made a clean install, formated the openlagger sdcard, generated the log and could read them with the "pip installed" logviewer. No crash, nice graphs.

From then on I upgraded the firmware to inconceivable (2126), made another log and attempted to read it with the python scripts hosted on github (branch next as of april 8th). The viewer does not crash anymore, but all

[2019-04-10 08:48] raemin commented on #2239
Commenting again this issue ...
The problem seems to be related to the latest python source! In fact I was attempting to read wired logs with wired scripts and inconceivable logs with inconceivable scripts. It seems wired python scripts are capable to read both wired/inconceivable logs, but inconceivable scripts do only produce blank graphs.

If you take the samples provided in my previous post, a

[2019-04-10 09:54] raemin commented on #2239
Last but not least on my original post, it was firmware 2038 night build (not 2238 sorry for the typo). Latest investigations made on a clean wired install and inconceivable 2126 night build. By clean install I mean: dump the settings, edit the xml file, to keep only the relevant PIDs / inputs / actuators, / etc... wipe the flight controller partition and reload. This was to get rid of my custom m

[2019-04-11 05:58] tracernz commented on #2239
Thanks for the report, and your work to narrow it down. When time permits I can have a look at this.

[2019-04-11 06:00] tracernz commented on #2247
BLHeliSuite now supports our old behaviour: https://github.com/bitdump/BLHeli/issues/324#issuecomment-481812307

[2019-04-12 05:19] ufoDziner opened #2253 "Output max resets center"
* Seen in version (release version or githash):  Current
* On flight controller (if applicable):

Issue details:
I noticed that when changing the min and max values on the output tab, changing the max settings resets the center position to the min number.  However, changing the min does not affect the center value.

It would be great to have the center number stay for a few seconds or so when chan

[2019-04-12 07:00] fxbisto commented on #2253
I've noticed this too, my fix is to either use cut/paste or arrow keys.
Your suggestion would certainly make things more user-friendly though, it took me a while to come to that idea. The whole thing could do with an overhaul really, all this update rate nonsense should be servo-specfic in my opinion, or at very least be named in line with protocols and defaults applied, same as the choices availa

[2019-04-12 07:30] fxbisto commented on #2253
PR submitted to fix the slider resets :)

[2019-04-12 07:59] tracernz commented on #2253
This is when you're typing in max, because while you are typing the value is smaller... we should connect the slot responsible for limiting the neutral to the [editingFinished signal](https://doc.qt.io/qt-5/qlineedit.html#editingFinished), whereas currently I suspect it's connected to [textChanged](https://doc.qt.io/qt-5/qlineedit.html#textChanged).

Your suggestion would certainly make things mor

[2019-04-12 08:05] tracernz commented on #2253
The offending line: https://github.com/d-ronin/dRonin/blob/next/ground/gcs/src/plugins/config/outputchannelform.cpp#L367

[2019-04-12 09:05] fxbisto commented on #2253
yes of course, I appreciate that completely - what I meant was making it more user-friendly like how the DSHOT options are in there, adding 125,42,MS too and relegating the more custom refresh rates to only show on an output channel assigned to a servo. Standard and fast PWM would surely cover 99.9% of dinosaur ESCs people are likely to be using?

Doesn't this method stop the arrow buttons & keybo

[2019-05-07 05:47] LitterBugs commented on #2241
Interesting discovery tonight while trying to get GCS running on an fresh Windows7 box tonight.  Almost exact same situation occurred when getting MSVCR120.dll errors.  No Github activity or Map tiles.  That was remedied by installing the MS C++ 2013 runtime "vcredist_x86.exe".  Wonder if there is a similar library missing in the latest ubuntu.

[2021-04-09 01:52] sfjuocekr opened #2258 "OpenPilot Revolution"
This is not really an issue, but more of a viability check.

Would it be possible to port over the RFM22b code to BetaFlight as a receiver provider?

The OPLM could then be used as a transmitter with some basic telemetry.

[2021-04-26 13:20] #2235 closed, assigned to nobody

[2021-07-22 03:42] KimHyungSub opened #2260 "Checking valid ranges of parameters"
* Seen in version (release version or githash):
Current master (adbada45fb42dc8dc83cc7984ae4fbb2153b01fa)

Issue details:

Dear all,

While I tested some configuration parameters, I noticed that dRonin GCS does not enforces the valid ranges of parameters (e.g., VelocityKp, VelocityKi, AccKp, AccKi, etc.). Is there any place get the valid ranges of the parameters? Also, It would be awesome if the G

[2021-07-22 04:07] tracernz commented on #2260
It's been a few years so I'm very rusty, but... The UAVObjects are defined in XML. Each field can have a `limits` attribute that specifies the acceptable limits, and I _think_ the UAV Object Browser will either stop, or highlight the value if you try to go outside the limits. Unfortunately the limits for the AltititudeHoldSettings UAV object were never specified by anyone: https://github.com/d-ron

[2021-07-22 22:04] KimHyungSub commented on #2260
@tracernz Thanks for the feedback.
I just checked the xml files. This is nice!
Yes, I agree that limiting PID gains is not obvious.
I mean that it will be great if assigning abnormal values (e.g., -999999999) can be prohibited by both users and the GCS. FYI, This was my bad. But, I unintentionally assigned such a strange value to a parameter and spent much time to figure out what was the problem.

[2021-07-23 02:58] tracernz commented on #2260
You could make the limits "BI-bigger" than 0 e.g. `limits="%BI:0"`, for each of the gains in https://github.com/d-ronin/dRonin/blob/next/shared/uavobjectdefinition/altitudeholdsettings.xml